{% twig_js name="PackageLog" %}
<div id="package-confirm-msg">
    {{ 'package_install_confirm'|trans({'bundle': bundle, 'version': version}, 'platform') }}
</div>
<div id="log-container" class="row">
  <pre id="log-content" class="executable"
       style="max-height: 150px; overflow: auto; display: none;"
       href="../../../../web/upgrade/refresh.php"
  >
  </pre>
</div>
