/*********************************************************************************/
/* This less file contains only global layout rules (mainly for navbar, grid and */
/* footer positionning). It is included at the end of "common.less". Keep it     */
/* short and design-neutral.                                                     */
/*********************************************************************************/

html, body {
    height: 100%;
}

body {
    padding:@navbar-height 0 (@navbar-height + 10px) 0;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -@navbar-height;
}

#push {
    height: 100%;
}

/************/
/*  Footer  */
/************/

#footer {

    width: 100%;
    position: relative;
    margin-top: @navbar-height + 10px;
    min-height: @navbar-height;
    background-color: @gray-lighter;
    color: lighten(@gray, 20%);

    .container p {
        margin: 15px;
        text-align: center;
        max-height: 100%;
    }
}

/************/
/*  menu    */
/************/

.list-group{

    .border-top-radius(@list-group-border-radius);
    .border-bottom-radius(@list-group-border-radius);

    .list-group-item.disabled {

        padding: 8px 15px !important;
        font-size: (@font-size-base * 1.125);
        background:@panel-default-heading-bg;
    }
}

.content-element {

    > .list-group {

        > div.list-group-item {
            padding:0;
        }

        > a.list-group-item {
            cursor:pointer;
        }

        > .list-group-item  {
            > a {
                display:block;
                padding:10px 15px;
                color:@gray;
            }

            > a:hover {
                text-decoration: none;
                background:@panel-default-heading-bg;
            }
        }

        > .list-group-item.active > a,
        > .list-group-item.active > a:hover {
            color:#fff;
            background:@link-color;
        }
    }
}

/***********/
/* WIDGETS */
/***********/

.panel-group > .panel .panel-heading .btn
{
    position:absolute;
    right:3px;
    top:3px
}

.notification-date {
    text-decoration: underline;
    font-style: italic;
}

/*********************/
/* RESOURCES MANAGER */
/*********************/
@media (max-width: 767px)
{
    .resource-manager
    {
        .navbar {

            > ul > li > a {
                float:left;
            }

            > .navbar-nav, > .navbar-form
            {
                margin:0;
            }
        }
    }
}

.resource-manager
{
    position: relative;

    .breadcrumb {
        margin:0;
        .border-bottom-radius(0);
    }

    .navbar{
        margin:0;
    }

    .navbar a.disabled, .navbar a.disabled:hover {
        color:lighten(@gray-light, 20%);
    }

    .actions .btn,
    .actions select {
        height: 30px;
        margin: 0;
    }

    .navbar .nav.navbar-nav > li > a {
        cursor:pointer;
    }

    .navbar a.disabled .caret {
        visibility:hidden;
    }

    .filters {
        background:#fff;
        border:1px solid @gray-lighter;
        .box-shadow(0 1px 3px rgba(0,0,0,.25));
        margin:5px;
        padding:5px;
        .border-top-radius(@border-radius-base);
        .border-bottom-radius(@border-radius-base);

        .row {
            position:relative;
        }

        label {
            float:left;
            padding:0 5px 0 0;
            display:block;
        }
    }

    .resources
    {
        margin: 0;
        padding: 0 0 10px 0;
    }

    .results {
        padding-left: 20px;

        table {
            margin-top: 20px;
        }

        .checkbox-column {
            width: 18px;
        }
    }

    .resources.dropzone {
        padding-bottom: 50px;
    }
}

.filters-arrow-border
{
    border-color: transparent transparent @gray-lighter transparent;
    border-style: solid;
    border-width: 10px;
    height:0;
    width:0;
    position:absolute;
    top:-24px;
    right:20px;
}

.filters-arrow
{
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 10px;
    height:0;
    width:0;
    position:absolute;
    top:-23px;
    right:20px;
}

.node-thumbnail
{
    display:inline-block;
    margin: 10px 0 0 10px;
    padding:0;
    vertical-align: top;
    position:relative;
}

.pointer-hand
{
    cursor:pointer;
    cursor:hand;
}

/************/
/**  ZOOM  **/
/************/

/** In this case is not posible to use css3 scale property **/

@resourceElementWidth: 71;
@resourceElementHeight: 80;
@resourceThumbnailWidth: 100;
@resourceThumbnailHeight: 150;

.nodes{
    padding:5px;

    .node-zoom(@width, @height, @percent)
    {
        width:unit(round((@width * @percent)/ 100), px);
        height:unit(round((@height * @percent) / 100), px);
    }

    .node-zoom-rules(@size, @font-size, @line-height)
    {
        .node-thumbnail.zoom@{size}
        {
            .node-zoom(@resourceThumbnailWidth, @resourceThumbnailHeight, @size);

            .node-element {
                .node-zoom(@resourceElementWidth, @resourceElementHeight, @size);
            }

            .node-name {
                font-size:@font-size;
                line-height:@font-height;
            }
        }
    }

    .node-zoom-rules(50, 7px, 10px);
    .node-zoom-rules(75, 10px, 15px);
    .node-zoom-rules(100, 12px, 18px);
    .node-zoom-rules(125, 16px, 18px);
    .node-zoom-rules(150, 18px, 20px);
    .node-zoom-rules(200, 20px, 28px);

    .node-thumbnail {

        .node-element {
            background-position: center center;
            background-size:auto 100% ;
            background-repeat:no-repeat;

            padding:0px;
            margin:5px 0 5px 15%;
            cursor:pointer;
        }

        .checkbox {
            float:left;
        }

        input[type=checkbox] {
            vertical-align: top;
        }

        .node-name {
            display: block;
            text-align: center;
            overflow:hidden;
            word-wrap: break-word;
        }

        .dropdown-toggle {
            color: #000;
        }
    }

    .node-rights-form
    {
        margin:0 10px 10px 10px;

        input.pull-right
        {
            margin-bottom:10px;
        }
    }
}

.dropzone {
    border-style: dotted;
    min-height: 100px;
}

.dropzone-text {
    font-size: 15px;
    font-weight: bold;
    font-family: "Helvetica Neue";
    text-align: center;
    margin-top: -30px;
    line-height: 30px;
}

.resources-progress-bar {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.resources-progress-bar > div {
    font-weight: bold;
    margin: auto;
    position: relative;
    width: 80%;
    top: 50%;
}

/**********/
/*  Tabs  */
/**********/

.tabs.nav.nav-tabs
{
    margin-bottom:20px;
}

/****************/
/*  Pagination  */
/****************/

div.pagination
{
    margin:0;

    ul {
        .pagination
    }
}

/********/
/* MISC */
/********/

.please-wait {
    width:100%;
    position: fixed;
    z-index: @zindex-modal;
    top: 5px;
    display: none;
    text-align:center;
}

.loading {
    background: transparent url("../../bundles/clarolinecore/images/loading.gif") no-repeat;
    width: 16px;
    height: 16px;
    margin: 0 0 10px 0;
}

.panel > table tr td,
.panel > table tr th
{
    padding-right:14px !important;
    padding-left:14px !important;
}

/**********************/
/***      HOME      ***/
/**********************/

/* special grid sistem for content in home page*/
@media (min-width: 767px)
{
	@content-iteration: 8;
    @content-margin: 1.6;

    .content-size (@index) when (@index >= 1) {

        .content-@{index} {
            width:unit(((@index * 100 / @content-iteration) - (@content-margin * 2)), "%");
            margin-left: unit(@content-margin, "%");
		    margin-right: unit(@content-margin, "%");
            float:left;
        }

        .content-offset@{index} {
            margin-left:unit(((@index * 100 / @content-iteration)), "%");
        }

        .content-size(@index - 1);
    }

    .content-size(@content-iteration);
}

@media (max-width: 767px)
{
	@content-iteration: 8;

    .content-size (@index) when (@index >= 1) {

        .content-@{index} {
            margin-left: 15px;
		    margin-right: 15px;
        }

        .content-offset@{index} {
            margin-left:0;
        }

        .content-size(@index - 1);
    }

    .content-size(@content-iteration);
}

.content-element {
    .dropdown-menu a {
        cursor:pointer;
    }

    .text-muted {
        position:absolute;
        bottom: 10px;
    }

    p {
        padding-bottom:10px;
    }

    .content-menu button {
        position:relative; top: -1px; right: -1px
    }

    .generated .generated-content
    {
        margin:0;
        padding:0 0 10px 0;
    }
}

.float-right-top
{
    position:absolute;
    right:5px;
    top:5px
}

.relative
{
    position:relative;
}

.creator {
    .panel {
        padding:0;
    }

    .panel .form-control {
        .border-bottom-radius(0);
        border:none;
    }

    .navbar.navbar-static-top {
        border-top:1px solid @input-border;
        .border-bottom-radius(@border-radius-base);
        margin:0;
    }

    textarea {
        overflow:hidden;
        resize: none;
        .transition(all .2s linear);
    }

    .creator-collapse {
        border:1px solid @list-group-border;
        padding:10px 10px 0 10px;
    }

    .generated {
        background: lighten(@state-success-bg, 5%);
        padding:0;
        margin:0;
    }
}

#sizes .panel, #regions .panel
{
    cursor:pointer;
    padding:5px;
}

#regions .panel
{
    text-align:center;
    padding:20px 5px 20px 5px;
}

#sizes .panel:hover, #sizes .panel.active,
#regions .panel:hover, #regions .panel.active {
    background:@link-color;
    color:#fff;
}

.align-right {
    text-align:right;
}

.generated {
    height:auto;

    .close {
        margin:10px;
    }

    .generated-content {
        margin:0;
        padding:0 10px 0 10px;
        overflow:auto;
        height:auto;

        p {
            margin:5px 0 5px 0;
        }
    }
}

/**********************/
/** Theme Generator  **/
/**********************/
/*

Colors no longer valid in bootstrap 3

.theme-generator .theme-value input
{
    margin:0px;
}

.theme-generator .theme-swatch span {
    display: inline-block;
    width: 30px;
    height: 20px;
    margin: -6px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
*/
