{% twig_js name="move_resource_form" %}
<form id='move_resource_form'>
<input id='resource_name_value' type='text' placeholder='"+"name"+"'/><br>
<input type='radio' name='options' value='copy'>copy<br>
<input type='radio' name='options' value='ref' checked>ref<br>
<input type='radio' name='options' value='move' checked>move<br>
<input type='submit' id='move_resource_form_submit'>
</form>
