{% twig_js name="resource_filter" %}
<div id ='ct_content'>
    <div id='ct_form'></div><br>
    <button id='ct_switch_mode'>switch mode</button><br>
    <div id = 'rf_left_div' style='float:left;'>
        <select id = 'select_root' style='width:125px' class='rf_input' multiple = 'multiple'>
            {% for workspaceroot in workspaceroots %}
                <option value = {{ workspaceroot.workspaceId }}> {{ workspaceroot.title }} </option>
            {% endfor %}
        </select><br>
        <select id = 'select_type' style='width:125px' class='rf_input' multiple = 'multiple'>
            {% for resourceType in resourceTypes %}
                    <option value = {{ resourceType.type }}> {{ resourceType.type }} </option>
            {% endfor %}
        </select><br>
        <input type='text' style='width:120px' class='rf_input' placeholder='text'></input><br>
        <input id='rf_date_from' type='text' style='width:120px' class='rf_input' placeholder='date début'></input><br>
        <input id='rf_date_to' type='text' style='width:120px' class='rf_input' placeholder='date fin'></input><br>
        <button id='ct_download'>download</button><br>
        <button id='ct_filter'>filter</button><br>
    </div>
    <div id ='rf_right_div' style='float:left;'>
        <div id='source_tree'></div>
    </div>
</div>
<script>
    $( "#rf_date_from" ).datepicker();
    $( "#rf_date_to" ).datepicker();
</script>


