doctrine:
    dbal:
        server_version: "%database_version%"
        driver:         "%database_driver%"
        host:           "%database_host%"
        dbname:         "%database_name%"
        user:           "%database_user%"
        password:       "%database_password%"
        port:           "%database_port%"
        charset:        UTF8
        options:
            1002: 'SET sql_mode=(SELECT REPLACE(@@sql_mode, "ONLY_FULL_GROUP_BY", ""))'

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        auto_mapping: true
        mappings:
            StofDoctrineExtensionsBundle: false
