monolog:
    handlers:
        main:
            type:         fingers_crossed
            action_level: error
            handler:      nested
            excluded_http_codes: [403, 404, 405, 422]

        nested:
            type:  stream
            path:  "%kernel.logs_dir%/%kernel.environment%.log"
            level: error
            channels: ["!messenger"]

        console:
            type: console
            process_psr_3_messages: false
            channels: [ "!php", "!event", "!doctrine" ]

        messenger:
            type: stream
            path: "%kernel.logs_dir%/messenger.log"
            level: error
            channels: ["messenger"]
