<div class="form-group row">
    <div ng-switch="fic.field[1]">
        <form-text ng-switch-when="text" field="fic.field" ng-model="fic.ngModel"></form-text>
        <form-rich-text ng-switch-when="rich_text" field="fic.field" ng-model="fic.ngModel"></form-rich-text>
        <form-select ng-switch-when="select" field="fic.field" ng-model="fic.ngModel"></form-select>
        <form-checkbox ng-switch-when="checkbox" field="fic.field" ng-model="fic.ngModel"></form-checkbox>
        <form-radio ng-switch-when="radio" field="fic.field" ng-model="fic.ngModel"></form-radio>
        <form-number ng-switch-when="number" field="fic.field" ng-model="fic.ngModel"></form-number>
        <form-country ng-switch-when="country" field="fic.field" ng-model="fic.ngModel"></form-country>
        <form-checkboxes ng-switch-when="checkboxes" field="fic.field" ng-model="fic.ngModel"></form-checkboxes>
        <form-date ng-switch-when="date" field="fic.field" ng-model="fic.ngModel"></form-date>
        <form-file ng-switch-when="file" field="fic.field" ng-model="fic.ngModel"></form-file>
        <form-lang ng-switch-when="lang" field="fic.field" ng-model="fic.ngModel"></form-lang>
        <form-email ng-switch-when="email" field="fic.field" ng-model="fic.ngModel"></form-email>
        <form-cascade-select ng-switch-when="cascade_select" field="fic.field" ng-model="fic.ngModel"></form-cascade-select>
    </div>
</div>
