<video id="{{ video.getResourceNode().getId() }}" class="video-js vjs-default-skin"
    controls preload="auto" width="640" height="264"
>
 <source src="{{ source }}" type="{{ video.getResourceNode().getMimeType() }}" />

 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
</video>