jsplayer
<video id="video-js-to-play" class="video-js vjs-default-skin">
	 <source src="{{ source }}" type="{{ video.getResourceNode().getMimeType() }}" />

	 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that 
	 	<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
	 </p>
</video>