{# If you want to keep the workspace layout, extends this template #}

{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block section_content %}
    <div class="row-fluid">
        <div class="margin">
            <div class="span6">
                <div class="row-fluid">
                    <h3>{{ 'paths'|trans({},'tools') }}</h3>
                </div>

                <div class="row-fluid">
                    <div class="well abstractWorkspaceList">
                    <button id="save" class="btn btn-primary pull-right">{{ 'submit'|trans({},'tools') }}</button>
                    <span id="save_callback" class="notifications top-left"></span>
                    <ul>
                        <li class="abstractWorkspace">Parcours 1</li>
                    </ul>
                <div id="left_tree">
                    
                </div>
            </div>
                </div>               

            </div>
            
            <div id="abstract-resources-list" class="span6">
                <h3>{{ 'abstract_resources'|trans({},'tools') }}</h3>

                <div class="well">
                   <ul>
                    <li>Test</li>
                    <li>Test</li>
                    <li>Test</li>
                </ul> 
                </div>
                
            </div>
                
        </div> 
    </div>
{% endblock %}