{% if notification.details.workspace.id is defined %}
    {% set workspace = '<a href="' ~ path('claro_workspace_open', {'workspaceId': notification.details.workspace.id}) ~ '">' ~ notification.details.workspace.name ~ '</a>' %}
    {# old notifications do not store the workspace id in their details field #}
{% else %}
    {% set workspace = notification.details.workspace.name %}
{% endif %}

{{ notification.actionKey|trans({'%role%' : notification.details.role.name|trans({},'platform'), '%workspace%' : notification.details.workspace.name}, 'notification') }}