{% if supportToken is empty %}
    <div class="alert alert-info">
        <a data-dismiss="alert" class="close" href="#" aria-hidden="true">&times;</a>
        {{ 'official_support_no_support_msg'|trans({}, 'support') }}
        {% if app.request.locale == 'fr' %}
            <a href="https://www.claroline.com/offre_support.html">
                https://www.claroline.com/offre_support.html
            </a>
        {% elseif app.request.locale == 'en' %}
            <a href="https://www.claroline.com/EN/offre.html#support">
                https://www.claroline.com/EN/offre.html#support
            </a>
        {% else %}
            <a href="https://www.claroline.com/offre_support.html">
                https://www.claroline.com/offre_support.html
            </a>
        {% endif %}
        <br/>
        <br/>
        <div class="text-center">
            <a class="btn btn-primary"
               href="{{ path('formalibre_admin_support_official_support_management') }}"
            >
                {{ 'official_support'|trans({}, 'support') }}
            </a>
        </div>
    </div>
{% endif %}