{% include "UJMExoBundle:Partial:correction/interaction.html.twig" %}

<p><h3 class="panel-title">{{ 'your answer' | trans }}</h3></p>
<div id="yAnswer">{{ inter.html|raw }}</div>

<p><h3 class="panel-title">{{ 'expected_answer' | trans }}</h3></p>
<div id="eAnswer">{{ inter.html|raw }}</div>