{% if p is defined %}
    <h3 class="panel-title">{{ 'n_question' | trans({}, 'ujm_exo') }}{{p + 1}} : {{ inter.question.title }}</h3>
    <hr/>
{% endif %}

{{ inter.question.description|raw }}
<hr/>
