{% include "UJMExoBundle:Partial:correction/interaction.html.twig" %}

<p><h3 class="panel-title">{{ 'response' | trans }}</h3></p>
<div class="panel-body">
    {% if response is not defined %}
        {% set response = responses[p].response %}
    {% endif %}
    {% if inter.typeopenquestion == 'long' %}
        {{ response|raw}}
    {% endif %}
</div>