// Max width of content for large screens
#wrap {
    max-width: 1250px;
}

#footer {
    //background-color: #F3F3F3; /* because the new background color is the old footer color */
}

h3, .h3 {
    font-size: 22px;
}

// Simplifies default style of breadcrumbs to gain space
.breadcrumb {
    /*padding: 0;
    background: none;*/
    /*box-shadow: none;*/
    //border-radius: 0;
    //margin-bottom: 5px;
    //font-size: 12px; /* slightly smaller than the regular text */
}

// Gray btn-link for aesthetic purpose
/*.btn-link {
    color: #777;
    font-weight: 600;

    &:hover,
    &:focus {
        text-decoration: none;
        color: #333;
    }
}*/
