.icon-set-item-thumbnail {
  margin-bottom: 1em;
  .icon-set-item-buttons {
    margin-top: 5px;
  }
  .icon-set-item-img {
    max-width: 71px;
    max-height: 80px;
    img{
      width: 71px;
      height: 80px;
    }
  }
  &.icon-set-item-default {
    .icon-set-item-img img {
      /* Grayscale filter */
      -webkit-filter: grayscale(100%);
      filter: gray;
      filter: grayscale(100%);
      /* Opacity */
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; // IE8
      filter: alpha(opacity=70); // IE 5-7
      opacity: 0.7;
    }
  }
}

.no-padding {
  padding : 0 !important;
}