// We use classes for `html` and `body` tags
// to avoid adding unwanted styles in iframe or tinyMCE
html.app-main,
body.app-container {
    height: 100%;
}

// Moves the app scroll bar after the fixed header
html.app-main {
    overflow-y: hidden;
    padding-top: @top-bar-height;
}

body.app-container {
    position: relative;
    padding-top: floor(@grid-gutter-width / 2);
    overflow-y: auto; // Get the scroll bar
}

/* CHROME HACK FOR OUTLINED BUTTON WHEN FOCUSED */
.btn:focus {
    outline: none;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    /* Negative indent footer by it's height : this do not work */
    margin: 0 auto;
}

#push {
    height: 100%;
}
