// We use classes for `html` and `body` tags
// to avoid adding unwanted styles in iframe or tinyMCE

// Moves the app scroll bar after the fixed header
html.claroline-app-container {
    height: 100%;
    /*overflow-y: hidden;*/
    /*padding-top: @top-bar-height;*/
}

body {
    background: transparent; // removes bootstrap default

    &.claroline-app {
        height: 100%;
        overflow-y: hidden;
        padding-top: @top-bar-height;

        // only put body bg for claroline apps (avoids modifying TinyMCE content bg)
        background: @body-bg;

        position: relative; // to constrain sidebar
    }
}

.app-toolbar {
    //z-index: 1;
    + .app-content {
        margin-left: @toolbar-size;
    }
}

.app-content {
    position: relative;
    //z-index: 2;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;

    box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);

    // Get the scroll bar
    // Using `scroll` is not really aesthetic because it adds an empty one if no scroll
    // but this is the only way to avoid content to move when the scroll appears in `auto` mode
    // todo : try https://aykevl.nl/2014/09/fix-jumping-scrollbar
    overflow-y: scroll;

    .page-container {
        flex: 1 0 auto; // only specifying flex property here make the item fill the remaining space in its parent

        max-width: @app-max-width;
        width: 100%;
        margin: 0 auto;
    }

    .breadcrumb { // temp : should be moved inside page-container
        max-width: @app-max-width;
        width: 100%;
        margin: 0 auto;
    }

    &.app-content-full {
        max-width: 100% !important; // make sure it overrides default max-width
    }
}

.component-container {
    margin-bottom: @component-margin-bottom;
}
