// We use classes for `html` and `body` tags
// to avoid adding unwanted styles in iframe or tinyMCE

// Moves the app scroll bar after the fixed header
html.claroline-app-container {
    height: 100%;
    overflow-y: hidden;
    padding-top: @top-bar-height;
}

body.claroline-app {
    height: 100%;

    // Get the scroll bar
    // Using `scroll` is not really aesthetic because it adds an empty one if no scroll
    // but this is the only way to avoid content to move when the scroll appears in `auto` mode
    // todo : try https://aykevl.nl/2014/09/fix-jumping-scrollbar
    overflow-y: scroll;
}

.app-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: @app-max-width;
    margin: 0 auto;
    padding: floor(@grid-gutter-width / 2);

    // Hack to force the display of footer at the bottom of the page if no scroll
    // todo : find a better way to do it. expose content padding as a var
    padding-bottom: @footer-height + 1 + floor(@grid-gutter-width / 2); // + 1 for the border of the footer

    .page-container {
        flex: 1 0 auto; // only specifying flex property here make the item fill the remaining space in its parent
    }
}
