// Position
.center-text { // todo : Duplicate with bootstrap `text-center`
    text-align: center;
}

.align-right { // todo : Duplicate with bootstrap `text-right`
    text-align: right;
}

.float-right-top {
    position: absolute;
    right: 3px;
    top: 3px
}

.user-select-disabled {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.relative {
    position: relative;
}

// Text
.bold {
    font-weight: bold;
}

.strike, *:hover.strike {
    text-decoration: line-through !important;
}

// Cursors
.move, .move a {
    cursor: move !important;
}

.pointer-hand {
    cursor: pointer;
    cursor: hand;
}

.pointer {
    cursor: pointer;
}

.unclickable {
    pointer-events: none;
    cursor: default;
}

.drag-handle {
    cursor: move;
}

.cursor-help {
    cursor: help;
}

// Margins
.margin {
    &-none { margin: 0 0 0 0 }
    &-md { margin: 15px 15px 15px 15px }
    &-sm { margin: 10px 10px 10px 10px}
    &-top {
        &-none { margin-top: 0 }
        &-md { margin-top: 15px }
        &-sm { margin-top: 10px }
    }
    &-right {
        &-none { margin-right: 0 }
        &-md { margin-right: 15px }
        &-sm { margin-right: 10px }
    }
    &-bottom {
        &-none { margin-bottom: 0 }
        &-md { margin-bottom: 15px }
        &-sm { margin-bottom: 10px }
    }
    &-left {
        &-none { margin-left: 0 }
        &-md { margin-left: 15px }
        &-sm { margin-left: 10px }
    }
}

.padding {
    &-none { padding: 0 0 0 0 }
    &-md { padding: 15px 15px 15px 15px }
    &-sm { padding: 10px 10px 10px 10px}
    &-top {
        &-none { padding-top: 0 }
        &-md { padding-top: 15px }
        &-sm { padding-top: 10px }
    }
    &-right {
        &-none { padding-right: 0 }
        &-md { padding-right: 15px }
        &-sm { padding-right: 10px }
    }
    &-bottom {
        &-none { padding-bottom: 0 }
        &-md { padding-bottom: 15px }
        &-sm { padding-bottom: 10px }
    }
    &-left {
        &-none { padding-left: 0 }
        &-md { padding-left: 15px }
        &-sm { padding-left: 10px }
    }
}

// Display
.parent-hide {
    opacity: 0 !important;
    z-index: -1000;
}

.tooltip-inner {
    min-width: 180px;
    max-width: none !important;
}

.white-space {
    vertical-align: top;
    white-space: nowrap;
}