// TODO : clean me

.component-container {
    margin-bottom: @component-margin-bottom !important;
}

.user-select-disabled {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// Cursors
.move, .move a {
    cursor: move !important;
}

.pointer-hand {
    cursor: pointer;
    cursor: hand;
}

.pointer {
    cursor: pointer;
}

.drag-handle {
    cursor: move;
}

.cursor-help {
    cursor: help;
}
