{% extends 'HeVinciCompetencyBundle::modal.html.twig' %}

{% block title %}{{ 'competency.activities'|trans({}, 'competency') }}{% endblock %}

{% block body %}
    <ul>
        {% for activity in ability.getActivities() %}
            <li>{{ activity.getResourceNode().getPathForDisplay() }}</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block footer %}
    <button type="button" class="btn btn-primary"  data-dismiss="modal">
        {{ 'close'|trans({}, 'platform') }}
    </button>
{% endblock %}