{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'LTI' }}
{% endblock %}

{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{ macros.breadcrumbs([
        {
            'name': 'administration'|trans({}, 'platform'),
            'href': path('claro_admin_index')
        },
        {
            'name': 'LTI',
            'href': ''
        }
    ]) }}
{% endblock %}

{% block content %}
    <div class="page-container lti-container">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ hotAsset('claroline-distribution-plugin-lti-management') }}"></script>
{% endblock %}
