@use "sass:math";

@import "variables";

.auth-page-brand {
  max-width: 8rem;
  max-height: 8rem;
}

.auth-page-meta {
  color: color-contrast($primary);
  background-color: $primary;

  // styles for bg image
  background-image: url($login-bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.auth-page-content {
  overflow-y: auto;
  height: 100%;
}

.modal {
  .auth-page-content {
    scrollbar-width: thin;
  }
}

@media (max-width: map-get($grid-breakpoints, 'lg')) {
  .auth-page {
    overflow: auto;
  }

  .auth-page-brand {
    max-width: 4rem;
    max-height: 4rem;
  }

  .auth-page-content {
    height: auto;
    overflow-y: visible;
  }
}
