
@mixin sso-connect-btn($primary-color, $secondary-color) {
  background-color: $primary-color !important;

  &:hover,
  &:focus {
    background-color: $secondary-color !important;
  }
}

@mixin external-app-variant($color, $secondary-color) {
  .external-app-icon {
    background-color: $color;
  }
}
