<p>%message%</p>
<p>Posté par %author% le %date%.</p>
<br/>
<a href="%subject_url%">Voir le sujet</a>
<br/>
<a href="%forum_url%">Voir le forum</a>
<br/><br/>
<a href="%workspace_url%">Voir l'espace d'activités</a>
