<p>%message%</p>
<p>Posted by %author% on %date%</p>
<br/>
<a href="%subject_url%">Voir le sujet</a>
<br/>
<a href="%forum_url%">Voir le forum</a>
<br/><br/>
<a href="%workspace_url%">Voir l'espace d'activités</a>
