{% extends "ClarolineScormBundle:Export:layout.html.twig" %}

{% block content %}
    <div data-ng-app="PdfViewer">
        <pdf-viewer
                data-id="{{ _resource.resourceNode.id }}"
                data-name="'{{ _resource.resourceNode.name }}'"
                data-url="'{{ '../files/file_' ~ _resource.resourceNode.id }}'"
                data-download="false">
        </pdf-viewer>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="../commons/translator.js"></script>
    <script src="../translations/platform.js"></script>
    <script src="../translations/widget.js"></script>

    <script src="../commons/router.js"></script>
    <script src="../commons/routes.js"></script>
    <script src="../assets/claroline-distribution-plugin-pdf-player-pdf-viewer.js" ></script>
{% endblock %}
