{% extends 'ClarolineCoreBundle:Tool\\workspace\\home:workspaceHomeLayout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block homeTab %}
    <div class="welcome-home">
        {% render controller(
            "ClarolineCoreBundle:Workspace:widgets",
            {'workspaceId': workspace.getId(), 'homeTabId': tabId})
        %}
    </div>
{% endblock %}
