/*
 * Widgets barrel.
 */


.widget-container {
    text-align: right;
}

.widget {
    text-align: left;
    padding: 15px 30px;
    margin-bottom: 20px;
}

.widget-layout-preview {
    display: block;
    min-width: 100%;
    margin-bottom: @component-margin-bottom;

    .widget-col-preview {
        background: #f5f5f5;
        border-radius: @border-radius-base;
        height: 60px;
        width: 100%;
    }
}

button.widget-layout-preview {
    &:hover {
        .widget-col-preview {
            background: @state-info-bg;
        }
    }

    &:focus,
    &:active {
        .widget-col-preview {
            background: @state-info-bg;
        }
    }
}
