/*
 * Widgets barrel.
 */


.widget-container {
    text-align: right;
}

.widget {
    text-align: left;
    padding: 15px 30px;
    margin-bottom: 20px;
    background-size: cover !important;
}

.widget-col-configure {
  text-align: left;
}

button.widget-insert-content {
    padding: 10px 15px;
    border-width: 2px;
    border-radius: 6px;
    border-style: dashed;
    background-color: #f0f0f0 !important;
}

.widget-layout-preview {
    display: block;
    min-width: 100%;
    margin-bottom: @component-margin-bottom;

    .widget-col-preview {
        background: #f5f5f5;
        border-radius: @border-radius-base;
        height: 60px;
        width: 100%;
    }
}

button.widget-layout-preview {
    &:hover {
        .widget-col-preview {
            background: @state-info-bg;
        }
    }

    &:focus,
    &:active {
        .widget-col-preview {
            background: @state-info-bg;
        }
    }
}
