/*
 * Widgets barrel.
 */

/*@import "common";
@import "simple-text";
@import "slideshow";*/

.widget-container {
    text-align: right;
}

.widget {
    text-align: left;
    background: white;
    padding: 15px 30px;
    margin-bottom: 20px;
}

/*.widgets-preview {
    margin: 0;
    list-style: none;
}*/

.widget-preview {

}