/*
 * Styles for slideshow widgets.
 */

.widget-slideshow {
    position: relative;
    display: flex;

    .carousel-inner {
        position: absolute; // required because of a bug in Safari: children don't fill height when parent 100%
        left: 0;
        right: 0;
        height: 100%; // fill the widget content
        width: 100% - (@carousel-control-width * 2); // avoid having the controls hover the cards
        margin: 0 auto;
    }

    .item {
        &.prev,
        &.next,
        &.active {
            display: flex;
            height: 100%;
            flex-direction: row;

            // add padding to make space for the carousel-indicators
            // 40px because indicators are hard-coded to bottom: 20px in bootstrap
            // we let the same space on top of it
            padding-bottom: 40px + @carousel-indicator-active-size;
        }
    }

    .carousel-control {
        background: none;
        width: @widget-sideshow-control-width;
    }

    .carousel-card {
        flex: 1;
        display: flex;
        flex-direction: column;
        background: @widget-card-bg;
        border: 1px solid @widget-card-border;
        box-shadow: @widget-card-box-shadow;
        border-radius: @widget-card-border-radius;
        margin: @widget-card-margin;

        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
        }
    }

    .carousel-card-empty {
        flex: 1;
        margin: @widget-card-margin;
    }

    .carousel-card-header {
        position: relative; // to contain path progression gauge
        padding: @widget-card-header-padding;
        height: @widget-card-header-height;
    }

    .carousel-card-content {
        font-size: @widget-card-content-font-size;
        padding: @widget-card-content-padding;
        //max-height: 40%; // Avoid long content pushing the buttons outside the card

        // hide content that doesn't fit the box
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .carousel-card-btns {
        margin-top: auto; // this makes the btns to always appear at the bottom of the card
    }
}
