{% extends 'ClarolineCoreBundle:Tool\\workspace\\home:workspaceHomeLayoutWithConfig.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block homeTab %}
    <div class="welcome-home">
        {% render controller(
            "ClarolineCoreBundle:Workspace:widgetsWithConfig",
            {'workspaceId': workspace.getId(), 'homeTabId': tabId}
        ) %}
    </div>
{% endblock %}
