{# Secondary resources #}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#panel-secondary-resources">
                {{ 'secondary_resources'|trans({}, 'path_editor') }}
            </a>
            <span class="badge pull-right">5</span>
        </h4>
    </div>
    <div id="panel-secondary-resources" class="panel-collapse collapse">
        <div class="panel-body">

        </div>
    </div>
</div>