{# This template is only used in debug environments (dev, test) #}
{# The error template for production is still "error.html.twig" from TwigBundle #}
{# In dev environment, the final template is -- almost -- the same as Symfony one #}
{# In test environment, a simpler template in text format is used to ease reading in the console #}

{% if app.environment == 'dev' %}
    <html>
        <head>
            <link href="{{ asset('bundles/framework/css/exception_layout.css') }}" rel="stylesheet" type="text/css" media="all" />
            <link href="{{ asset('bundles/framework/css/exception.css') }}" rel="stylesheet" type="text/css" media="all" />
        </head>
        <body>
            {% include 'TwigBundle:Exception:exception.html.twig' %}
        </body>
    </html>
{% else %}
    {% include 'TwigBundle:Exception:exception_test.txt.twig' %}
{% endif %}