<div class="modal-content">
    <div class="modal-header">
        <button class="close" ng-click="sctmc.closeModal()">x</button>
        <h4 class="modal-title">
            {{ 'select_session'|trans:{}:'cursus' }}
        </h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" ng-if="sctmc.errorMessage !== ''">
            <i class="close fa fa-times" ng-click="sctmc.deleteErrorMessage()"></i>
            {{ sctmc.errorMessage }}
        </div>
        <dtable options="sctmc.dataTableOptions"
                rows="sctmc.sessions" 
                class="material"
                ng-if="sctmc.sessions.length > 0"
        >
        </dtable>
        <div class="alert alert-warning" ng-if="sctmc.sessions.length === 0">
            {{ 'no_session'|trans:{}:'cursus' }}
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="sctmc.closeModal()">
            {{ 'cancel'|trans:{}:'platform' }}
        </button>
        <button class="btn btn-primary" ng-click="sctmc.confirmModal()" ng-disabled="sctmc.selectedSession === null">
            {{ 'ok'|trans:{}:'platform' }}
        </button>
    </div>
</div>