<div class="duration-field">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="input-group">
            <!-- Label -->
            <span class="input-group-addon">h</span>

            <!-- Input -->
            <input type="text" class="form-control text-right" data-ng-model="hours" data-ng-change="correctDuration('hour')" size="1" />

            <!-- Increment / Decrement buttons -->
            <div class="btn-group-vertical">
                <button type="button" data-ng-click="incrementDuration('hour')" class="btn btn-xs btn-default">
                    <span class="fa fa-chevron-up"></span>
                </button>
                <button type="button" data-ng-click="decrementDuration('hour')" class="btn btn-xs btn-default">
                    <span class="fa fa-chevron-down"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="input-group">
            <!-- Label -->
            <span class="input-group-addon">min</span>

            <!-- Input -->
            <input type="text" class="form-control text-right" data-ng-model="minutes" data-ng-change="correctDuration('minute')" size="1" />

            <!-- Increment / Decrement buttons -->
            <div class="btn-group-vertical">
                <button type="button" data-ng-click="incrementDuration('minute')" class="btn btn-xs btn-default">
                    <span class="fa fa-chevron-up"></span>
                </button>
                <button type="button" data-ng-click="decrementDuration('minute')" class="btn btn-xs btn-default">
                    <span class="fa fa-chevron-down"></span>
                </button>
            </div>
        </div>
    </div>
</div>
