<div class="path-show">
    <!-- Summary of the Path-->
    <path-summary-show data-opened="pathShowCtrl.summaryOpened"></path-summary-show>

    <!-- Breadcrumbs -->
    <path-breadcrumbs-show data-ng-if="pathShowCtrl.path.breadcrumbs"></path-breadcrumbs-show>

    <button type="button" class="btn btn-primary btn-path-edit pull-right" data-ng-if="pathShowCtrl.editEnabled" data-ng-click="pathShowCtrl.edit()">
        <span class="fa fa-pencil"></span>
        {{ 'edit'|trans:{}:'path_wizards' }}
    </button>

    <!-- Current step -->
    <div data-ng-view=""></div>
</div>