<div class="path-show">
    <!-- Summary of the Path-->
    <path-summary-show data-title="pathShowCtrl.path.name" data-ng-if="pathShowCtrl.path.steps.length !== 0"></path-summary-show>

    <div class="path-header">
        <h1 class="h2" style="margin-top: 0;">
            <!-- Toggle summary button -->
            <button type="button" role="button" style="margin-right: 5px;" class="btn btn-sm btn-default" data-ng-click="pathShowCtrl.toggleSummary()" data-placement="top" data-toggle="tooltip" data-original-title="{{ 'toggle_summary'|trans:{}:'path_wizards' }}" data-ng-class="{ 'active': pathShowCtrl.summaryState.opened }">
                <span class="fa fa-sitemap"></span>
                <span class="sr-only">{{ 'toggle_summary'|trans:{}:'path_wizards' }}</span>
            </button>

            {{ pathShowCtrl.path.name }}

            <div class="pull-right">
                <button type="button" role="button" class="btn btn-sm btn-primary btn-path-edit" data-ng-if="pathShowCtrl.path.steps.length !== 0 && pathShowCtrl.editEnabled" data-ng-click="pathShowCtrl.edit()">
                    <span class="fa fa-fw fa-pencil"></span>
                    {{ 'edit'|trans:{}:'path_wizards' }}
                </button>
            </div>
        </h1>

        <!-- Breadcrumbs -->
        <path-navigation data-ng-if="pathShowCtrl.path.breadcrumbs && pathShowCtrl.path.steps.length !== 0"></path-navigation>
    </div>

    <!-- Current step -->
    <div data-ng-view="" data-ng-if="pathShowCtrl.path.steps.length !== 0"></div>

    <!-- Empty path alert -->
    <div class="row" data-ng-if="pathShowCtrl.path.steps.length == 0">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-info text-center">
                <span class="fa fa-fw fa-warning"></span>

                <!-- Message for Users who can only read the Path -->
                <span data-ng-if="!pathShowCtrl.editEnabled">{{ 'path_empty_user_read_only'|trans:{}:'path_wizards' }}</span>

                <!-- Message for Users who can edit the Path -->
                <span data-ng-if="pathShowCtrl.editEnabled">{{ 'path_empty_user_can_edit'|trans:{}:'path_wizards' }}</span>
            </div>

            <!-- Display a big button for those who can edit Paths -->
            <button class="btn btn-block btn-primary btn-lg" data-ng-if="pathShowCtrl.editEnabled" data-ng-click="pathShowCtrl.edit()">
                <span class="fa fa-pencil"></span>
                {{ 'edit'|trans:{}:'path_wizards' }}
            </button>
        </div>
    </div>
</div>