# Use this template to create a 'parameters.yml' config file (same directory).
# Currently only the db parameters are required.

parameters:

# database

    database_driver: pdo_mysql
    database_host: localhost
    database_port: ~
    database_name: claroline_prod
    database_user: root
    database_password: ~

    test_database_driver: pdo_mysql
    test_database_host: localhost
    test_database_port: ~
    test_database_name: claroline_test
    test_database_user: root
    test_database_password: ~

# mail

    mailer_transport: smtp
    mailer_encryption: ~
    mailer_auth_mode: ~
    mailer_host: ~
    mailer_user: ~
    mailer_password: ~

# others

    locale: en
    secret: ThisTokenIsNotSoSecretChangeIt
