<li> Etape 1 : Configuration requise </li>
<li> Etape 2 : Configuration de la base de donnée</li>
<li>  Etape 3 : Paramètres de l'administration</li>
<li>  Etape 5 : Verificaction avant l'execution</li>