{% extends "IcapDropzoneBundle::layout.html.twig" %}
{% block resourceBreadcrumb %}
    <li class="active"><span class="glyphicon icon-file"></span> {{ dropzone.resourceNode.name }}</li>
{% endblock %}
{% block dropzone_content %}
    {% include "IcapDropzoneBundle:Correction:reportCorrectionForm.html.twig" %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}