{% extends 'ClarolineCoreBundle::content_layout.html.twig' %}

{% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}

{% block content %}

<h4>{{ 'register'|trans({}, 'platformTranslation') }}</h4>

<form id="user_registration_form" action="{{ path('claro_user_registration_form_submit') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" />
</form>

{% endblock %}