/**
 * SSO login buttons
 */

@use "sass:math";

.btn-third-party-login {
  text-align: left;
  //border-radius: $sso-btn-border-radius;
  color: $sso-btn-color !important;
  font-size: $sso-btn-font-size;
  //box-shadow: none;

  &:hover,
  &:focus {
    color: $sso-btn-color !important;
  }

  @include sso-connect-btn($sso-default-primary, $sso-default-secondary);
}
