<div>
    <label class="control-label col-sm-2"> {{ sc.label|trans:{}:sc.translationDomain }} </label>
    <!-- http://www.gurustop.net/blog/2014/01/28/common-problems-and-solutions-when-using-select-elements-with-angular-js-ng-options-initial-selection/ -->
    <div class="col-sm-10">
        <select
            class="form-control"
            name="{{ sc.name }}"
            ng-model="sc._ngModel"
            ng-options="option.label|trans:{}:sc.translationDomain for option in sc.field[2].values track by option.value"
            ng-init="sc._ngModel = {value: sc.ngModel}"
            ng-change="sc.ngModel= sc._ngModel.value"
            ng-disabled="sc.field[2].disabled"
        >
        </select>
        <help-block ng-model="sc.ngModel" field="sc.field"></help-block>
    </div>
</div>
