<div id="chat-room-video" ng-controller="ChatRoomAudioCtrl">
    <chat-room chat-room-xmpp-host="{{ server }}"
               chat-room-xmpp-muc-host="{{ mucServer }}"
               chat-room-bosh-port="{{ boshPort }}"
               chat-room-id="{{ roomId }}"
               chat-room-name="{{ roomName }}"
               chat-room-user-username="{{ username }}"
               chat-room-user-password="{{ password }}"
               chat-room-user-first-name="{{ firstName }}"
               chat-room-user-last-name="{{ lastName }}"
               chat-room-user-color="{{ color }}"
    >
    </chat-room>
</div>