<div id="chat-room-main" ng-controller="ChatRoomVideoCtrl">
    <div id="chat-room-video-row" class="row">
        <div class="col-md-8">
            <div id="main-video-container">
                <video id="main-video" autoplay="autoplay"></video>
            </div>
        </div>
        <div class="col-md-4">
            <chat-room-messages></chat-room-messages>
            <chat-room-input></chat-room-input>
        </div>
    </div>
    <hr>
    <div class="row">
        <div id='participants-video-container'>
            <div id='my-video-container' class="participant-stream">
                <div class="panel panel-default participant-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ 'me'|trans:{}:'chat' }}
                            <span class="pull-right">
                                <i class="fa fa-microphone pointer-hand"></i>
                                <i class="fa fa-video-camera pointer-hand"></i>
                            </span>
                        </h3>
                    </div>
                    <div class="panel-body participant-video-panel" ng-click="updateMainVideoSrc('my-video')">
                        <video id="my-video" autoplay="autoplay" class="participant-video"></video>
                        <div id="ownvolume"></div>
                    </div>
                </div>
            </div>
            <div ng-repeat="stream in streams" id="participant-stream-{{ stream['sid'] }}" class="participant-stream">
                <div class="panel panel-default participant-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ stream['name'] }}
                            <span class="pull-right">
                                <i class="fa fa-microphone pointer-hand" ng-click="manageMicrophone(stream['sid'])"></i>
                                <i class="fa fa-video-camera pointer-hand"></i>
                            </span>
                        </h3>
                    </div>
                    <div class="panel-body participant-video-panel" ng-click="updateMainVideoSrc('participant-video-' + stream['sid'])">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden">
        <chat-room-users></chat-room-users>
    </div>
</div>