<div id="chat-room-video" ng-controller="ChatRoomVideoCtrl">
    <div id='participants-video-container'>
        <div ng-repeat="stream in streams" id="participant-stream-{{ stream }}">
        </div>
    </div>
    <div id='my-video-container'>
        <video id='my-video' autoplay='autoplay'></video>
        <div id='ownvolume'></div>
    </div>
    <chat-room chat-room-xmpp-host="{{ server }}"
               chat-room-xmpp-muc-host="{{ mucServer }}"
               chat-room-bosh-port="{{ boshPort }}"
               chat-room-id="{{ roomId }}"
               chat-room-name="{{ roomName }}"
               chat-room-user-username="{{ username }}"
               chat-room-user-password="{{ password }}"
               chat-room-user-first-name="{{ firstName }}"
               chat-room-user-last-name="{{ lastName }}"
               chat-room-user-color="{{ color }}"
    >
    </chat-room>
</div>