@zindexDropdown: 1000;
@zindexPopover: 1010;
@zindexTooltip: 1030;
@zindexFixedNavbar: 1030;
@zindexModalBackdrop: 1040;
@zindexModal: 1050;
@placeholderText: @grayLight;
@hrBorder: @grayLighter;
@horizontalComponentOffset: 180px;
@wellBackground: #f5f5f5;
