@fontSizeLarge: @baseFontSize * 1.25;
@fontSizeSmall: @baseFontSize * 0.85;
@fontSizeMini: @baseFontSize * 0.75;
@paddingLarge: 11px 19px;
@paddingSmall: 2px 10px;
@paddingMini: 0 6px;
@baseBorderRadius: 4px;
@borderRadiusLarge: 6px;
@borderRadiusSmall: 3px;
