@sansFontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@serifFontFamily: Georgia, 'Times New Roman', Times, serif;
@monoFontFamily: Monaco, Menlo, Consolas, 'Courier New', monospace;
@baseFontSize: 14px;
@baseFontFamily: @sansFontFamily;
@baseLineHeight: 20px;
@altFontFamily: @serifFontFamily;
@headingsFontFamily: inherit;
@headingsFontWeight: bold;
@headingsColor: inherit;
