<div style="background-color: #f2ede7; padding: 20px;">
    <div style="text-align: left;"><strong>%issuer_name%</strong></div>
    <br /><hr /><br />
    <h1 style="text-align: center;">%badge_image% %badge_name%</h1>
    <div style="text-align: center;">%badge_description%</div>
    <br /><hr /><br />
    <div style="text-align: center;">Ce badge a été attribué à</div>
    <h2 style="text-align: center;">%first_name% %last_name%</h2>
</div>
