/*
 * Buttons styles
 */

// removes default button styles everywhere
// appears as a <a>
button,
input[type=button],
input[type=submit],
input[type=reset] {
    font-weight: $font-weight-base;
    background-color: transparent;
    border: none;
    text-decoration: none;
    box-shadow: none;
    padding: 0;

    &:hover,
    &:focus {
        box-shadow: none;
    }
}

.toolbar-separator {
    display: inline-block;
    margin: map-get($spacers, 2);
}


// Button text variants

@each $color, $value in $theme-colors {
    .btn-text-#{$color} {
        @include button-text-variant($value);
    }
}

.btn-text-body {
    @include button-text-variant(
        var(--#{$prefix}secondary-color),
        var(--#{$prefix}body-color),
        var(--#{$prefix}body-color)
    );
}

.btn-text-subtitles {
    @include button-text-variant($white, $white, $white);
    @include text-movie-subtitles();
}

.btn-body {
    --#{$prefix}btn-color: var(--#{$prefix}body-color);
    --#{$prefix}btn-bg: var(--#{$prefix}body-bg);
    --#{$prefix}btn-border-color: var(--#{$prefix}border-color-translucent);

    --#{$prefix}btn-hover-color: var(--#{$prefix}body-color);
    --#{$prefix}btn-hover-bg: var(--#{$prefix}tertiary-bg);
    --#{$prefix}btn-hover-border-color: var(--#{$prefix}border-color-translucent);

    --#{$prefix}btn-active-color: var(--#{$prefix}body-color);
    --#{$prefix}btn-active-bg: var(--#{$prefix}secondary-bg);
    --#{$prefix}btn-active-border-color: var(--#{$prefix}border-color-translucent);

    --#{$prefix}btn-disabled-color: var(--#{$prefix}tertiary-color-color);
    --#{$prefix}btn-disabled-bg: var(--#{$prefix}body-bg);
    --#{$prefix}btn-disabled-border-color: var(--#{$prefix}border-color-translucent);
}

//-
// Button effects
// ----

.btn-wave {
    position: relative;
    overflow: hidden;

    &:before {
        content: " ";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(130deg, fade-out($white, 1) 35%, fade-out($white, .75) 50%, fade-out($white, .75) 60%, fade-out($white, 1) 75%);
        animation: btn-wave 3s ease-in-out infinite;
    }

    &:hover,
    &:focus {
        &:before {
            animation: none;
        }
    }
}

@keyframes btn-wave {
    // only starts animation at the end of animation-time to create a delay between each "wave"
    // animation ends early to create a delay between each "wave"
    25%  { left: 100%; }
    100% { left: 100%; }
}
