/*
 * Details.
 */

.data-details {
    flex: 1 0 auto; // to fill page if needed
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.data-details-flush {
    > .details-primary-section {
        padding: $accordion-body-padding-y $accordion-body-padding-x;

        + .details-primary-section  {
            border-top: 1px solid $accordion-border-width solid $accordion-border-color;
        }

        + .sections {
            border-top: 1px solid $accordion-border-width solid $accordion-border-color;
        }
    }
}
