.dropdown-header {
  text-transform: var(--#{$prefix}label-text-transform);
  font-size: $label-font-size;
  font-weight: var(--#{$prefix}body-font-weight);
}

.dropdown-divider {
  margin-left: $dropdown-item-padding-x;
  margin-right: $dropdown-item-padding-x;
}

.dropdown-item {
  .form-check-input {
    margin-right: map-get($spacers, 3);
  }

  .action-icon {
    opacity: .25;
  }

  &:hover,
  &:focus,
  &.active {
    .action-icon {
      opacity: 1;
    }
  }
}

.dropdown-menu {
  &.show {
    animation-name: zoomIn;
    animation-duration: .12s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;

    transition: opacity .12s ease-out;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(.3,.3,.3);
  }
  50% {
    opacity: 1;
  }
}
