/*
 * Forms.
 */

.data-form-flush {
    .form-primary-section {
        + .data-form-sections {
            border-top: 1px solid $accordion-border-width solid $accordion-border-color;
        }
    }

    .modal-body .data-form-sections {
        border-bottom: 1px solid $accordion-border-width solid $accordion-border-color;
    }

    .accordion {
        margin-bottom: map-get($spacers, 4) * -1;
        margin-left: map-get($spacers, 4) * -1;
        margin-right: map-get($spacers, 4) * -1;
    }
}

.data-form .accordion-body,
.data-form-section,
.data-form-section > .collapse.show,
.sub-fields {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: $form-group-spacer;
}


// -
// Labels
// ---

.form-label,
.col-form-label {
    text-transform: var(--#{$prefix}label-text-transform);
}


// -
// Errors & messages
// ---

@each $state, $data in $form-validation-states {
    @include custom-form-validation-state($state, $data...);
}

.valid-feedback,
.invalid-feedback {
    // because bootstrap only display it if it's placed just after a .form-control.is-invalid
    // which is not always possible with our advanced form types
    display: block;
    // this cannot be customized in pure bootstrap and it may blend the messages with .form-text.
    font-weight: $form-feedback-font-weight;
}


// -
// Fieldset
// ---

.sub-fields {
    padding-left: calc(2.5rem - 3px);
    border-left: 3px solid $input-border-color;
}


// -
// Inputs
// ---

// force buttons to have the same rounding than form-control
.input-group > .btn,
.input-group .dropdown > .btn {
    @include border-radius($input-border-radius);
}

.form-check-input {
    cursor: $form-check-label-cursor;
}

// restrictive selector to override bootstrap
// bottom margin is to add space for vertical display, but is not removed in inline mode,
// and it can create inconsistent margin.
.form-check.form-check-inline {
    margin-bottom: 0;
}


// -
// Buttons
// ---

.form-pending-changes {
    bottom: map-get($spacers, 3);
    z-index: $zindex-dropdown - 1;

    @include box-shadow($box-shadow);
    @include border-radius($border-radius);

    .btn {
        line-height: calc($line-height-base * 1rem);
    }
}

.validation-status {
    background-color: $body-bg;
    border-radius: 50rem;
    cursor: help;

    @include box-shadow($box-shadow-sm);
}

/*!
 * three-dots - v0.3.2
 * CSS loading animations made with single element
 * https://nzbin.github.io/three-dots/
 *
 * Copyright (c) 2018 nzbin
 * Released under MIT License
 */
.dot-elastic{position:relative;width:10px;height:10px;border-radius:5px;background-color:currentColor;color:currentColor;animation:dot-elastic 1s infinite linear}
.dot-elastic::before,.dot-elastic::after{content:"";display:inline-block;position:absolute;top:0}
.dot-elastic::before{left:-15px;width:10px;height:10px;border-radius:5px;background-color:currentColor;color:currentColor;animation:dot-elastic-before 1s infinite linear}
.dot-elastic::after{left:15px;width:10px;height:10px;border-radius:5px;background-color:currentColor;color:currentColor;animation:dot-elastic-after 1s infinite linear}
@keyframes dot-elastic-before{0%{transform:scale(1, 1)}25%{transform:scale(1, 1.5)}50%{transform:scale(1, 0.67)}75%{transform:scale(1, 1)}100%{transform:scale(1, 1)}}
@keyframes dot-elastic{0%{transform:scale(1, 1)}25%{transform:scale(1, 1)}50%{transform:scale(1, 1.5)}75%{transform:scale(1, 1)}100%{transform:scale(1, 1)}}
@keyframes dot-elastic-after{0%{transform:scale(1, 1)}25%{transform:scale(1, 1)}50%{transform:scale(1, 0.67)}75%{transform:scale(1, 1.5)}100%{transform:scale(1, 1)}}

.dot-pulse{position:relative;left:-9999px;width:10px;height:10px;border-radius:5px;background-color:currentColor;color:currentColor;box-shadow:9999px 0 0 -5px;animation:dot-pulse 1.5s infinite linear;animation-delay:.25s}
.dot-pulse::before,.dot-pulse::after{content:"";display:inline-block;position:absolute;top:0;width:10px;height:10px;border-radius:5px;background-color:currentColor;color:currentColor}
.dot-pulse::before{box-shadow:9984px 0 0 -5px;animation:dot-pulse-before 1.5s infinite linear;animation-delay:0s}
.dot-pulse::after{box-shadow:10014px 0 0 -5px;animation:dot-pulse-after 1.5s infinite linear;animation-delay:.5s}
@keyframes dot-pulse-before{0%{box-shadow:9984px 0 0 -5px}30%{box-shadow:9984px 0 0 2px}60%,100%{box-shadow:9984px 0 0 -5px}}
@keyframes dot-pulse{0%{box-shadow:9999px 0 0 -5px}30%{box-shadow:9999px 0 0 2px}60%,100%{box-shadow:9999px 0 0 -5px}}
@keyframes dot-pulse-after{0%{box-shadow:10014px 0 0 -5px}30%{box-shadow:10014px 0 0 2px}60%,100%{box-shadow:10014px 0 0 -5px}}
