/*
 * Icons styles
 */

@use "sass:math";

.icon-with-text-left {
    margin-left: $icon-text-spacer;
}

.icon-with-text-right {
    margin-right: $icon-text-spacer;
}

.thumbnail {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;
    font-weight: $font-weight-bold !important;
    color: var(--#{$prefix}primary);

    background-color: color-mix(in srgb, currentColor 15%, transparent);
    background-size: cover;
    background-position: center;

    > * {
        text-align: center;
        position: relative;
    }
}

.thumbnail-icon {
    border-radius: 50% !important;
    overflow: hidden;
    flex-shrink: 0 !important;
}

.theme-icon {
    font-size: 0 !important;
    display: inline-block;

    // declare color vars to make it available in SVG
    --primary-color: #{$icon-primary-color};
    --secondary-color: #{$icon-secondary-color};
}

@each $size, $value in $icon-sizes {
    .theme-icon-#{$size} {
        width: $value;
        height: $value;
    }

    .thumbnail-#{$size} {
        // for .fa when no picture
        font-size: $value;
    }

    .thumbnail-icon-#{$size} {
        // for picture
        width: $value;
        height: $value;
        // for .fa when no picture
        font-size: $value * .5;
    }
}

// TODO : should be merged with date picker and color picker
.icon-collection-container {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    color: $color-chart-color;
    max-width: 420px; // to have approx same sizing than calendar

    .current-container {
        flex: 1; // ratio : 1/3
        max-width: math.div(420px, 3); // to have approx same sizing than calendar
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        padding: $color-chart-padding;
        color: $datepicker-alt-color;
        background: $datepicker-alt-bg;

        .current-icon {
            font-size: $h1-font-size;
        }
    }

    .icons-container {
        flex: 2; // ratio : 2/3
        max-width: 100%;
        padding: $color-chart-padding;
        display: flex;
        flex-direction: column;

        // temp to have approx same sizing than calendar
        width: math.div(420px, 3) * 2;
        height: 260px;
    }

    .icons-library {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        overflow-y: auto;
        scrollbar-width: thin;

        .icon {
            padding: 5px;
            font-size: $font-size-lg;
        }

        .selected {

        }
    }
}

.dropdown-menu .icon-collection-container {
    margin: -5px 0;
}

// vertical layout for XS screens
@media (max-width: map-get($grid-breakpoints, 'sm')) {
    .icon-collection-container {
        flex-direction: column;

        .current-container {
            max-width: 100%;
        }

        .current-container,
        .icons-container {
            flex: auto; // otherwise it breaks on IE
        }
    }
}
