/*
 * Layout components barrel.
 */

@import "alerts";
@import "buttons";
@import "calendars";
@import "carousel";
@import "color-charts";
@import "charts";
@import "details";
@import "drag-n-drop";
@import "dropdowns";
@import "evaluation";
@import "forms";
@import "gauges";
@import "icons";
@import "iframes";
@import "images";
@import "list-groups";
@import "messages";
@import "modals";
@import "navs";
@import "pages";
@import "pagination";
@import "placeholders";
@import "progress-bars";
@import "scores";
@import "summaries";
@import "search";
@import "sliders";
@import "tables";
@import "tags";
@import "timer";
@import "tinymce";
