/*
 * Modals.
 */

.modal-poster {
    @include border-top-radius(var(--#{$prefix}modal-inner-border-radius));

    --#{$prefix}aspect-ratio: 25%;
}

.btn-modal {
    box-sizing: content-box;
    padding: calc(var(--#{$prefix}modal-header-padding-y) * .5) calc(var(--#{$prefix}modal-header-padding-x) * .5);
    width: $btn-close-width;
    height: $btn-close-height;
}

.modal-toolbar {
    margin: calc(-.5 * var(--#{$prefix}modal-header-padding-y)) calc(-.5 * var(--#{$prefix}modal-header-padding-x)) calc(-.5 * var(--#{$prefix}modal-header-padding-y)) auto;
    .btn-close {
        margin: 0;
    }
}

.modal-icon {
    align-self: flex-start;
    margin-right: $modal-header-padding-x;
    line-height: $modal-title-line-height;
}

.modal-body {
    scrollbar-width: thin;
}

.modal-btn {
    display: block;
    width: 100%;
    padding: var(--#{$prefix}modal-padding);

    @include border-top-radius(0);
    @include border-bottom-radius(var(--#{$prefix}modal-inner-border-radius));
}


// customize meta
.modal-content .content-meta {
    padding: 10px $modal-inner-padding;
    border-bottom: 1px solid $modal-header-border-color;
    margin-bottom: 0;
}
