.search-full {
    display: flex;
    flex-direction: row;
    align-items: center;

    .data-filter {
        margin: 8px;
    }

    .btn-search {
        margin: 8px 8px 8px auto;
    }
}

.search-unified {
    .search-control {
        min-height: auto;
        border: none;
        box-shadow: none;
        background: transparent;
        text-overflow: ellipsis;
        border-radius: 0;
    }

    .search-form {
        padding: 0 $grid-gutter-width*.5;

        .form-group {
            padding: map-get($spacers, 2) map-get($spacers, 3);

            + .form-group {
                border-top: var(--#{$prefix}border-width) solid var(--#{$prefix}border-color);
            }

            &:nth-of-type(odd) {
                background: $table-striped-bg;
            }

            &:first-child {
                @include border-top-radius($dropdown-border-radius);
            }
        }
    }

    .search-submit {
        @include border-radius($dropdown-border-radius);
        @include border-top-radius(0);
    }
}
