<div class="modal-header">
    <h4 class="modal-title"><i class="icon-pencil"></i> Editing {{ resourceType }} : &lt;<strong>{{ formResource.name }}</strong>&gt;</h4>
</div>

<div class="modal-body">
    <form novalidate name="resourceForm">
        <fieldset class="row">
            <div class="form-group col-md-6">
                <label for="resource-name">Name</label>
                <input type="text" class="form-control" name="resource-name" ng-model="formResource.name" required value="{{ formResource.name }}" placeholder="{{ resourceType }} name"/>
            </div>
            
            <div class="form-group col-md-6">
                <label for="resource-type">Type</label>
                <select name="resource-type" id="resource-type" class="form-control" ng-model="formResource.subType" ng-options="subType.key as subType.label for subType in resourceSubTypes">
                    <option value="">-- select {{ resourceType }} type --</option>
                </select>
            </div>
        </fieldset>
        
        <fieldset class="row">
            <div class="form-group col-md-12">
                <label class="checkbox"> 
                    <input type="checkbox" name="is-digital" id="is-digital" ng-model="formResource.isDigital" />
                    Is digital ?
                </label>
            </div>
            
            <!-- No selected resource -->
            <div ng-show="formResource.isDigital && (formResource.resourceId == null || formResource.resourceId.length == 0)">
<!--                 <div class="form-group col-md-12"> -->
<!--                     <label for="resource-url">Tip document URL</label> -->
<!--                     <input type="text" name="resource-url" id="resource-url" ng-model="formResource.url" value="" class="form-control" /> -->
<!--                 </div> -->
                
                <div class="form-group col-md-12">
<!--                     <label>OR select a resource in database</label> -->
                    <button class="btn btn-default" ng-click="pickResource()"><i class="icon-search"></i> Browse resources</button>
                </div>
            </div>
            
            <!-- Selected resource -->
            <div ng-show="formResource.isDigital && (formResource.resourceId != null && formResource.resourceId.length != 0)">
                <div class="form-group col-md-12">
                    <button class="btn btn-default" ng-click="pickResource(formResource.resourceId)"><i class="icon-search"></i> Change seletected resource</button>
                </div>
            </div>
            
        </fieldset>
        
        <fieldset class="row">
            <div class="form-group col-md-12">
                <label class="checkbox">
                    <input type="checkbox" name="propagate-to-children" id="propagate-to-children" ng-model="formResource.propagateToChildren" />
                    Is available for children ?
                </label>
            </div>
        </fieldset>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
    <button class="btn btn-primary" ng-click="save(formResource)" ng-disabled="!resourceForm.$valid">Save {{ resourceType }}</button>
</div>