<div class="modal-header">
    <h4>Add resource</h4>
</div>

<div class="modal-body">
    <form novalidate name="resourceForm">

            <div class="form-group">
                <label for="filter-resources">Filtre</label>
                <input type="search" class="form-control" id="filter-resources" ng-model="q" placeholder="filter resources" />
            </div>
            <div class="form-group" ng-repeat="resource in resources | filter: q ">
                <label class="radio" > 
                 <input ng-model="$parent.resourcePicked" name="resourcePicked" type="radio" value="{{ resource.id }}"/>
                {{ resource.name }}              
               </label>
         
            </div>
    </form>



</div>

<div class="modal-footer">
    <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
    <button class="btn btn-primary" ng-click="save(resourcePicked)" ng-disabled="!resourceForm.$valid">Select resource</button>
</div>

