<div class="modal-header">
    <h4 class="modal-title">Add resource</h4>
</div>

<div class="modal-body">
    <form novalidate name="resourceForm">
        <div class="form-group">
            <label for="filter-resources">Filter resources</label>
            <input type="search" class="form-control" id="filter-resources" ng-model="q" placeholder="filter resources" />
        </div>
        <div class="list-group">
            <a href="" class="list-group-item" ng-repeat="resource in resources | filter: q" ng-click="save(resource)" ng-class="{active: currentResourceId == resource.id}">
                {{ resource.name }} - <em>({{ resource.type }})</em>
            </a>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
</div>