<div gridster="dhmc.gridsterOptions">
    <ul>
        <li gridster-item="widget"
            class="widget gridster-item-content"
            data-ng-repeat="widget in dhmc.widgets"
            data-ng-style="{
                'border-color': '{{ widget['color'] }}',
                'background-color': '{{ widget['color'] }}'
            }"
        >
            <div class="widget-header">
                <h3
                    class="widget-title"
                    data-ng-bind-html="widget['instanceName']"
                    data-ng-style="{
                        'color': '{{ widget['textTitleColor'] }}'
                    }"
                >
                </h3>

                <div class="widget-header-buttons" data-ng-if="dhmc.widgetsOptions['canEdit'] && !widget['locked']">
                    <!-- Edit widget button -->
                    <button
                        type="button"
                        class="btn btn-link"
                        data-ng-if="widget['type'] === 'desktop'"
                        data-ng-click="dhmc.editUserWidget($event, widget['instanceId'], widget['displayId'], widget['configurable'])"
                    >
                        <span class="fa fa-fw fa-pencil"></span>
                    </button>

                    <!-- Remove widget button -->
                    <button
                        type="button"
                        class="btn btn-link"
                        data-ng-click="widget['type'] === 'desktop' ?
                            dhmc.deleteUserWidget($event, widget['configId']) :
                            dhmc.hideAdminWidget($event, widget['configId'])
                        "
                    >
                        <span class="fa fa-fw fa-times"></span>
                    </button>
                </div>
            </div>

            <div class="widget-content panel-body" data-ng-bind-html="widget['content']"></div>
        </li>
    </ul>
</div>
