<div gridster="dhmc.gridsterOptions">
    <ul>
        <li gridster-item="widget"
            class="widget gridster-item-content"
            data-ng-repeat="widget in dhmc.widgets"
            data-ng-style="{
                'border-color': '{{ widget['color'] }}',
                'background-color': '{{ widget['color'] }}'
            }"
        >
            <div class="widget-header">
                <h3 class="widget-title"
                    data-ng-style="{
                        'color': '{{ widget['textTitleColor'] }}'
                    }"
                >
                    <span class="pull-right widget-header-control-box" ng-if="dhmc.widgetsOptions['canEdit'] && !widget['locked']">
                        <span ng-if="widget['type'] === 'desktop'">
                            <i class="fa fa-times close"
                               ng-if="widget['type'] === 'desktop'"
                               ng-click="dhmc.deleteUserWidget($event, widget['configId'])"
                            >
                            </i>
                            <span class="close">&nbsp;</span>
                            <i class="fa fa-pencil close"
                               ng-if="widget['type'] === 'desktop'"
                               ng-click="dhmc.editUserWidget($event, widget['instanceId'], widget['displayId'], widget['configurable'])"
                            >
                            </i>
                        </span>
                        <i class="fa fa-times close"
                           ng-if="widget['type'] !== 'desktop'"
                           ng-click="dhmc.hideAdminWidget($event, widget['configId'])"
                        >
                        </i>
                        <span class="close" ng-if="widget['type'] !== 'desktop'">&nbsp;</span>
                    </span>
                    <span class="widget-header-content"
                          title="{{ widget['instanceName'] }}"
                          ng-bind-html="widget['instanceName']"
                    >
                    </span>
                </h3>
            </div>

            <div class="widget-content" data-ng-bind-html="widget['content']"></div>
        </li>
    </ul>
</div>
