<div gridster="whc.gridsterOptions">
    <ul>
        <li gridster-item="widget"
            class="widget gridster-item-content"
            data-ng-repeat="widget in whc.widgets"
            data-ng-style="{
                'border-color': '{{ widget['color'] }}',
                'background-color': '{{ widget['color'] }}'
            }"
        >
            <div class="widget-header">
                <h3
                    class="widget-title"
                    data-ng-class="whc.widgetsOptions['canEdit'] && !widget['visible'] ? 'strike' : ''"
                    data-ng-bind-html="widget['instanceName']"
                    data-ng-style="{
                        'color': '{{ widget['textTitleColor'] }}'
                    }"
                >
                </h3>

                <div class="widget-header-buttons" data-ng-if="whc.widgetsOptions['canEdit']">
                    <!-- Edit widget button -->
                    <button
                        type="button"
                        class="btn btn-link"
                        data-ng-click="whc.editWorkspaceWidget($event, widget['instanceId'], widget['configId'], widget['displayId'], widget['configurable'])"
                    >
                        <span class="fa fa-fw fa-pencil"></span>
                    </button>

                    <!-- Remove widget button -->
                    <button
                        type="button"
                        class="btn btn-link"
                        data-ng-click="whc.deleteWorkspaceWidget($event, widget['configId'])"
                    >
                        <span class="fa fa-fw fa-times"></span>
                    </button>
                </div>
            </div>

            <div class="widget-content panel-body" ng-bind-html="widget['content']"></div>
        </li>
    </ul>
</div>
