{% extends 'ClarolineCoreBundle:desktop:layout.html.twig' %}

{% block title %}{{ 'messaging' | trans({}, 'tools') | striptags | raw }}{% endblock %}

{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{
        macros.desktopBreadcrumbs([
            {
                'name': 'messaging' | trans({}, 'tools'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block content %}
    <div class="page-container messaging-container"></div>
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}

    <script src="{{ hotAsset('claroline-distribution-plugin-message-messaging') }}"></script>
{% endblock %}
