ENV=dev
APP_URL=claroline.loc
DB_ROOT_PASSWORD=root
DB_NAME=claroline
DB_USER=claroline
DB_PASSWORD=pass
SECRET=changeme
PLATFORM_NAME=claroline.loc
PLATFORM_SUPPORT_EMAIL=support@claroline.com
ADMIN_FIRSTNAME=Jhon
ADMIN_LASTNAME=Doe
ADMIN_USERNAME=admin
ADMIN_PASSWORD=pass
ADMIN_EMAIL=admin@claroline.com
