[submodule "src/plugin/UJM/ExoBundle"]
	path = src/plugin/UJM/ExoBundle
	url = https://github.com/UJM-dev/ExoBundle.git
[submodule "src/plugin/Imavia/FacetProfileBundle"]
	path = src/plugin/Imavia/FacetProfileBundle
	url = https://github.com/Imavia-dev/FacetProfileBundle.git
[submodule "src/plugin/ICAP/ReferenceBundle"]
	path = src/plugin/ICAP/ReferenceBundle
	url = https://github.com/iCAPLyon1/ReferenceBundle.git
[submodule "src/plugin/ICAP/BlogBundle"]
	path = src/plugin/ICAP/BlogBundle
	url = https://github.com/iCAPLyon1/BlogBundle.git
[submodule "src/plugin/Innova/DirectoryBundle"]
	path = src/plugin/Innova/DirectoryBundle
	url = https://github.com/InnovaLangues/DirectoryBundle.git
[submodule "src/plugin/Claroline/AnnouncementBundle"]
	path = src/plugin/Claroline/AnnouncementBundle
	url = https://github.com/claroline/AnnouncementBundle.git
