nbproject/*
app/config/local/parameters.yml
app/config/local/plugin/*
app/cache/*
app/logs/*
app/build/api
app/build/code-browser
app/build/coverage
app/build/logs
app/build/pdepend
app/build/tools/phpunit.xml
vendor/*
web/bundles
!placeholder
catalog.xml
