nbproject/*
!.gitempty
!placeholder
*~
app/SymfonyRequirements.php
app/bootstrap*
app/build/api
app/build/code-browser
app/build/coverage
app/build/logs
app/build/pdepend
app/build/tools/phpunit.xml
app/cache/*
app/config/bundles.ini
app/config/parameters.yml
app/logs/*
bin/*
catalog.xml
composer.json
composer.lock
files/*
files/tmp/*
templates/*
test/files/*
test/files/tmp/*
test/templates/*
test/thumbnails/*
vendor/*
web/HTMLPage/*
web/bundles/*
web/css/*
web/js/*
web/themes/*
web/thumbnails/*
web/vendor/*
web/uploads/*
