nbproject/*
!.gitempty
!placeholder
*~
app/SymfonyRequirements.php
app/bootstrap*
app/build/api
app/build/code-browser
app/build/coverage
app/build/logs
app/build/pdepend
app/build/tools/phpunit.xml
app/cache/*
app/config/local/install.yml
app/config/local/parameters.yml
app/config/local/plugin/*
app/logs/*
bin/*
catalog.xml
files/*
files/tmp/*
src/core/Claroline/CoreBundle/Resources/views/less-generated/*
templates/*
test/files/*
test/files/tmp/*
test/templates/*
test/thumbnails/*
vendor/*
web/HTMLPage/*
web/bundles/*
web/css/*
web/js/*
web/themes/*
web/thumbnails/*
web/vendor/*
