[submodule "src/plugin/Claroline/ForumBundle"]
	path = src/plugin/Claroline/ForumBundle
	url = https://github.com/claroline/ForumBundle.git
[submodule "src/plugin/Claroline/ExampleBundle"]
	path = src/plugin/Claroline/ExampleBundle
	url = https://github.com/claroline/ExampleBundle.git
[submodule "src/plugin/Claroline/ImagePlayerBundle"]
	path = src/plugin/Claroline/ImagePlayerBundle
	url = https://github.com/claroline/ImagePlayerBundle.git
[submodule "src/plugin/Claroline/PdfPlayerBundle"]
	path = src/plugin/Claroline/PdfPlayerBundle
	url = https://github.com/claroline/PdfPlayerBundle.git
[submodule "src/plugin/Claroline/RssReaderBundle"]
	path = src/plugin/Claroline/RssReaderBundle
	url = https://github.com/claroline/RssReaderBundle.git
[submodule "src/plugin/Claroline/SiteBundle"]
	path = src/plugin/Claroline/SiteBundle
	url = https://github.com/claroline/SiteBundle.git
[submodule "src/plugin/Claroline/VideoPlayerBundle"]
	path = src/plugin/Claroline/VideoPlayerBundle
	url = http://github.com/claroline/VideoPlayerBundle.git
[submodule "src/plugin/UJM/ExoBundle"]
	path = src/plugin/UJM/ExoBundle
	url = https://github.com/UJM-dev/ExoBundle.git
[submodule "src/plugin/Imavia/FacetProfileBundle"]
	path = src/plugin/Imavia/FacetProfileBundle
	url = https://github.com/Imavia-dev/FacetProfileBundle.git
[submodule "src/plugin/ICAP/ReferenceBundle"]
	path = src/plugin/ICAP/ReferenceBundle
	url = https://github.com/iCAPLyon1/ReferenceBundle.git
[submodule "src/plugin/Claroline/ScormBundle"]
	path = src/plugin/Claroline/ScormBundle
	url = https://github.com/claroline/ScormBundle.git
