default:
    context:
        class: Claroline\CoreBundle\Tests\Integration\Context\FeatureContext
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http:/path/to/web/app_test.php
            files_path: /path/to/vendor/directory
            default_session: goutte
            javascript_session: selenium2
            show_cmd: firefox %s
            selenium2: ~
            goutte:
                guzzle_parameters:
                    request.options:
                        headers:
                            Accept-Language: en
        Behat\Symfony2Extension\Extension:
            mink_driver: true
            kernel:
                env: test
                debug: true