version: "3.8"
services:
  web:
    container_name: claroline-web
    build: .docker/web
    ports:
      - "80:80"
    volumes:
      - ./claroline:/var/www/html/claroline # This is where the symfony files are stored
      # - /var/www/html/claroline
      # - ./config:/var/www/html/claroline/config
      # - ./files:/var/www/html/claroline/files
      # - ./public:/var/www/html/claroline/public
      # - ./var:/var/www/html/claroline/var
      # - composer_cache:/root/.composer
      # - npm_cache:/root/.npm
    depends_on:
      - db
    environment:
      - APP_URL=claroline.example.com
      - ENV=PROD
      - APP_ENV=prod
      - APP_DEBUG=0
      - DB_HOST=claroline-db
      - DB_NAME=claroline
      - DB_USER=claroline
      - DB_PASSWORD=claroline
      - SECRET="secret-claroline"
      - ADMIN_FIRSTNAME=John
      - ADMIN_LASTNAME=Doe
      - ADMIN_USERNAME=root
      - ADMIN_PASSWORD=claroline
      - ADMIN_EMAIL=claroline@example.com
      - PLATFORM_NAME=ClarolineConnect
      - PLATFORM_SUPPORT_EMAIL=claroline@example.com
    networks:
      claroline_network:
        ipv4_address: 172.22.9.6

  db:
    container_name: claroline-db
    environment:
      MYSQL_ROOT_PASSWORD: claroline
      MYSQL_USER: claroline
      MYSQL_PASSWORD: claroline
      MYSQL_DATABASE: claroline
    image: mysql:8.0
    command: --sql_mode="" --default_authentication_plugin="mysql_native_password"
    ports:
      - "3306:3306"
    volumes:
      - ./mysql:/var/lib/mysql
      - ./.docker/mysql:/etc/mysql/conf.d # TODO check why is world-writable config file ignored, shall we make it read-only? When and how?
    networks:
      claroline_network:
        ipv4_address: 172.22.9.5

networks:
  claroline_network:
    ipam:
      config:
        - subnet: 172.22.9.0/24
