<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "false"
    bootstrap                   = "../../../app/bootstrap.php.cache" >

    <php>
        <server name="KERNEL_DIR" value="../../../app/" />
    </php>

    <testsuites>
        <testsuite name="Claroline distribution test suite">
            <!-- Use the two following elements only when tests from all packages are fixed -->

            <!--
            <directory>main/*/Tests/</directory>
            <directory>plugin/*/Tests/</directory>
            <directory>main/core/Tests/API/Admin</directory>
            -->
            <!-- Uncomment the following elements individually in the meantime -->

            <directory>main/core/Tests/API/</directory>
            <directory>main/core/Tests/Security/</directory>
            <directory>main/migration/Tests/</directory>
            <!-- <directory>plugin/activity-tool/Tests/</directory> -->
            <!-- <directory>plugin/announcement/Tests/</directory> -->
            <!-- <directory>plugin/badge/Tests/</directory> -->
            <directory>plugin/collecticiel/Tests/</directory>
            <directory>plugin/message/Tests/</directory>
            <directory>plugin/notification/Tests/</directory>
            <directory>plugin/competency/Tests/</directory>
            <directory>plugin/cursus/Tests/</directory>
            <directory>plugin/dropzone/Tests/</directory>
            <directory>plugin/favourite/Tests/</directory>
            <directory>plugin/forum/Tests/</directory>
            <directory>plugin/website/Tests/</directory>
            <directory>plugin/video-player/Tests/</directory>
            <!-- <directory>plugin/portfolio/Tests/</directory> -->
            <directory>plugin/result/Tests/</directory>
            <directory>plugin/rss-reader/Tests/</directory>
            <directory>plugin/url/Tests/</directory>
            <directory>plugin/exo/Tests/</directory>
            <directory>plugin/chat/Tests/</directory>

            <!-- Unit tests: uncomment when ready -->
            <directory>main/core/Tests/Unit/Converter/</directory>
            <directory>main/core/Tests/Unit/Entity/</directory>
            <directory>main/core/Tests/Unit/Event/</directory>
            <directory>main/core/Tests/Unit/Form/</directory>
            <directory>main/core/Tests/Unit/Library/Configuration/</directory>
            <directory>main/core/Tests/Unit/Library/HttpFoundation/</directory>
            <directory>main/core/Tests/Unit/Library/Installation/</directory>
            <!-- <directory>main/core/Tests/Unit/Form/Library/Security/</directory> -->
            <!-- <directory>main/core/Tests/Unit/Form/Library/Transfert/</directory> -->
            <directory>main/core/Tests/Unit/Library/Utilities/</directory>
            <!-- <directory>main/core/Tests/Unit/Form/Manager/</directory> -->
            <directory>main/core/Tests/Unit/Persistence/</directory>
            <directory>plugin/badge/Tests/Unit/Rule/Constraints</directory>

            <!-- Database tests: uncomment when ready -->
            <!-- uncomment this when everything is working and remove the rest -->
            <!-- <directory>main/core/Tests/Database/</directory> -->

            <file>main/core/Tests/Database/Repository/GroupRepositoryTest.php</file>
            <file>main/core/Tests/Database/Repository/HomeTabConfigRepositoryTest.php</file>
            <file>main/core/Tests/Database/Repository/MessageRepositoryTest.php</file>
            <file>main/core/Tests/Database/Repository/OrderedToolRepositoryTest.php</file>
            <file>main/core/Tests/Database/Repository/PluginRepositoryTest.php</file>
            <file>main/core/Tests/Database/Repository/RelWorkspaceTagRepositoryTest.php</file>
            <file>main/core/Tests/Database/Repository/ResourceNodeRepositoryTest.php</file>
            <!-- <file>main/core/Tests/Database/Repository/ResourceQueryBuilderTest.php</file> -->
            <!-- <file>main/core/Tests/Database/Repository/ResourceRightsRepositoryTest.php</file> -->
            <file>main/core/Tests/Database/Repository/ResourceTypeRepositoryTest.php</file>
            <!-- <file>main/core/Tests/Database/Repository/RevisionRepositoryTest.php</file> -->
            <file>main/core/Tests/Database/Repository/RoleRepositoryTest.php</file>
            <!-- <file>main/core/Tests/Database/Repository/ToolRepositoryTest.php</file> -->
            <file>main/core/Tests/Database/Repository/UserMessageRepositoryTest.php</file>
            <file>main/core/Tests/Database/Repository/UserRepositoryTest.php</file>
            <!-- <file>main/core/Tests/Database/Repository/WorkspaceRepositoryTest.php</file> -->
            <file>main/core/Tests/Database/Repository/WorkspaceTagHierarchyRepositoryTest.php</file>
            <file>main/core/Tests/Database/Repository/WorkspaceTagRepositoryTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./main</directory>
            <directory>./plugin</directory>
            <exclude>
                <directory>./*/*/Migrations</directory>
                <directory>./*/*/Resources</directory>
                <directory>./*/*/Tests</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
