<div id="list_user_window" title="user_list">
		<div id="list_user_window_handle">			
			{{ 'list_users'|trans({}, 'platformTranslation') }}
            <a href="#" id="close">[x]</a>
		</div>
        <div id="list_user_window_content">
        <form id="list_user_form" >
           {% for userWindow in usersWindow %}
               <input class="checkbox_user" name="toto" type="checkbox" value="{{userWindow.getId()}}" id="checkbox_user_{{userWindow.getId()}}">
           {% endfor %}
                <br>
        <input type="submit" id="submit_button" value="submit"> 
        </form>
        </div>
        <div class="loading">load...</div>
</div>