<div class="exercise-container">
    <div class="panel panel-default">
        <!-- Display exercise general information -->
        <table class="table table-striped table-bordered">
            <tbody>
                <!-- Title of the Exercise -->
                <tr>
                    <th class="text-right" scope="row">{{ 'title'|trans:{}:'ujm_exo' }}</th>
                    <td class="text-center">{{ exerciseCtrl.exercise.meta.title }}</td>
                </tr>

                <!-- Description of the Exercise -->
                <tr>
                    <th class="text-right" scope="row">{{ 'description'|trans:{}:'ujm_exo' }}</th>
                    <td class="text-center">{{ exerciseCtrl.exercise.meta.description || '-' }}</td>
                </tr>

                <!-- Start date -->
                <tr>
                    <th class="text-right" scope="row">{{ 'start_date' | trans:{}:'ujm_exo' }}</th>
                    <td class="text-center"></td>
                </tr>

                <!-- End date -->
                <tr>
                    <th class="text-right" scope="row">{{ 'end_date' | trans:{}:'ujm_exo' }}</th>
                    <td class="text-center"></td>
                </tr>

                <!--  -->
            </tbody>
        </table>

        <!-- Display exercise advanced information (for those who can administrate the Exercise) -->

    </div>
</div>
