<div class="exercise-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><b>{{ 'exercise'|trans:{}:'ujm_exo' }} :</b> {{ exerciseCtrl.exercise.meta.title }}</h3>
        </div>

        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#exercise-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="exercise-navbar">
                    <!-- Administration links -->
                    <ul class="nav navbar-nav" data-ng-if="exerciseCtrl.editEnabled">
                        <!-- Informations about the Exercise -->
                        <li class="active">
                            <a href="#/">
                                <span class="fa fa-info"></span> {{ 'overview' | trans:{}:'ujm_exo' }}
                            </a>
                        </li>

                        <!-- Edit Exercise parameters -->
                        <li>
                            <a href="#/edit">
                                <span class="fa fa-pencil"></span> {{ 'parameters' | trans:{}:'ujm_exo' }}
                            </a>
                        </li>

                        <!-- Edit Questions -->
                        <li>
                            <a href="#/questions">
                                <span class="fa fa-question"></span> {{ 'questions' | trans:{}:'ujm_exo' }}
                            </a>
                        </li>

                        <!-- Publish Exercise -->
                        <li data-ng-if="!exerciseCtrl.published">
                            <a href="" role="button" data-ng-click="exerciseCtrl.publish()">
                                <span class="fa fa-check"></span> {{ 'publish' | trans:{}:'ujm_exo' }}
                            </a>
                        </li>

                        <!-- Unpublish Exercise (Only if there is no submitted paper on it) -->
                        <li data-ng-if="exerciseCtrl.published && 0 == exerciseCtrl.nbPapers">
                            <a href="" role="button" data-ng-click="exerciseCtrl.unpublish()">
                                <span class="fa fa-times"></span> {{ 'unpublish' | trans:{}:'ujm_exo' }}
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <!-- Display results of the Exercise -->
                        <li>
                            <a href="#">
                                <span class="fa fa-list"></span> {{ 'result' | trans:{}:'ujm_exo' }}
                            </a>
                        </li>

                        <!-- Play the Exercise -->
                        <li>
                            <button type="button" class="btn btn-primary navbar-btn">
                                <span class="fa fa-check-square-o"></span> {{ 'compose' | trans:{}:'ujm_exo' }}
                            </button>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div data-ng-view=""></div>
    </div>
</div>
