
<div class="panel panel-default">
    <div class="panel-heading clearfix">
       
        <h3 class="panel-title pull-left">
            {{ 'paper_details_correction_label'|trans:{}:'ujm_sequence'}} - {{sequencePlayCtrl.sequence.meta.title}} - {{ 'sequence_nb_attempts'|trans:{"1" : sequencePlayCtrl.paper.number}:'ujm_sequence'}}
        </h3>
    </div>
    <div class="panel-body"> 
        <correction-details data-paper="sequencePlayCtrl.paper" data-user="sequencePlayCtrl.user" data-questions="" data-sequence="sequencePlayCtrl.sequence" data-from="from-player"></correction-details>
    </div>
    <!-- NAVIGATE THROUGH STEPS / END SEQUENCE -->
    <div class="panel-footer">
       
    </div>
</div>
