<div class="overview">
    <table class="table table-striped table-bordered">
        <!-- Display exercise general information -->
        <tbody>
        <!-- Title of the Exercise -->
        <tr>
            <th class="text-right" scope="row">{{ 'title'|trans:{}:'ujm_exo' }}</th>
            <td class="text-center">{{ exerciseOverviewCtrl.exercise.meta.title }}</td>
        </tr>

        <!-- Description of the Exercise -->
        <tr>
            <th class="text-right" scope="row">{{ 'description'|trans:{}:'ujm_exo' }}</th>
            <td class="text-center">{{ exerciseOverviewCtrl.exercise.meta.description || '-' }}</td>
        </tr>

        <!-- Start date -->
        <tr>
            <th class="text-right" scope="row">{{ 'start_date' | trans:{}:'ujm_exo' }}</th>
            <td class="text-center">{{ exerciseOverviewCtrl.exercise.meta.startDate | date:'dd/MM/yyyy \\- HH\\hmm\\mss\\s' }}</td>
        </tr>

        <!-- End date -->
        <tr>
            <th class="text-right" scope="row">{{ 'end_date' | trans:{}:'ujm_exo' }}</th>
            <td class="text-center">{{ exerciseOverviewCtrl.exercise.meta.endDate | date:'dd/MM/yyyy HH:mm:ss' }}</td>
        </tr>
        </tbody>

        <!-- Display exercise advanced information (for those who can administrate the Exercise) -->
        <tbody data-ng-hide="!exerciseOverviewCtrl.editEnabled || !exerciseOverviewCtrl.additionalInfo">
        <!-- Type of the Exercise (summative, evaluative, formative) -->
        <tr>
            <th class="text-right" scope="row">{{ 'type' | trans:{}:'ujm_exo' }}</th>
            <td class="text-center" data-ng-switch="exerciseOverviewCtrl.exercise.meta.type">
                <ANY ng-switch-when="1">{{ 'summative' | trans:{}:'ujm_exo' }}</ANY>
                <ANY ng-switch-when="2">{{ 'evaluative' | trans:{}:'ujm_exo' }}</ANY>
                <ANY ng-switch-when="3">{{ 'formative' | trans:{}:'ujm_exo' }}</ANY>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Toggle additional information (displayed only for administrators) -->
    <div class="panel-footer text-center toggle-exercise-info" data-ng-if="exerciseOverviewCtrl.editEnabled" data-ng-click="exerciseOverviewCtrl.additionalInfo = !exerciseOverviewCtrl.additionalInfo" role="button">
        <span class="fa fa-fw" data-ng-class="{ 'fa-angle-double-down': !exerciseOverviewCtrl.additionalInfo, 'fa-angle-double-up': exerciseOverviewCtrl.additionalInfo }"></span>
        <span data-ng-if="!exerciseOverviewCtrl.additionalInfo">{{ 'show_additional_info'|trans:{}:'ujm_exo' }}</span>
        <span data-ng-if="exerciseOverviewCtrl.additionalInfo">{{ 'hide_additional_info'|trans:{}:'ujm_exo' }}</span>
        <span class="fa fa-fw" data-ng-class="{ 'fa-angle-double-down': !exerciseOverviewCtrl.additionalInfo, 'fa-angle-double-up': exerciseOverviewCtrl.additionalInfo }"></span>
    </div>
</div>