{# Bloc "Rappel des instructions ..." #}
{% if not adminInnova %}
    {% if dropzone.instruction != null %}
        {% include 'InnovaCollecticielBundle:dropzone:recall_instruction.html.twig' %}
    {% endif %}
{% else %}
    {# Bloc "Rappel des instructions ..." #}
    {% if dropzone.instruction != null %}
        {% include 'InnovaCollecticielBundle:dropzone:recall_instruction_share_spaces.html.twig' %}
    {% endif %}
{% endif %}
<br/>

{# Bloc "Instructions aux correcteurs ..." #}
{% if dropzone.correctionInstruction|default
  and dropzone.correctionInstruction != ''
  and dropzone.correctionInstruction != '<p></p>' %}
    {% include 'InnovaCollecticielBundle:correction:correction_instructions.html.twig' %}
    <br/>
{% endif %}
