{# to keep the workspace layout, extends this template #}
{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}
{# use the section_content block to display yor html #}
{% block section_content %}

    <!-- editeur wysiwyg -->
        <script src='{{ asset('bundles/frontend/jquery/plugin/tinymce/jscripts/tiny_mce/tiny_mce.js') }}' type='text/javascript'></script>
        <script type="text/javascript">
    tinyMCE.init({
        // General options
        mode : "textareas"
    });
    </script>
    <form novalidate="validate" method="post" action="{{ path('claro_text_edit', {'textId':textId}) }}" id="edit_form">
        <textarea name="content" cols="50" rows="15">{{ text|raw }}</textarea>
        <button type="submit" formnovalidate="formnovalidate" />
    </form>
{% endblock %}