{% extends "ClarolineCoreBundle:Administration:administration.html.twig" %}
{% block content %}
<!-- editeur wysiwyg -->
    <script src='{{asset('bundles/clarolinecore/js/jquery/plugin/tinymce/jscripts/tiny_mce/tiny_mce.js')}}' type='text/javascript'></script>
    <script type="text/javascript">
tinyMCE.init({
    // General options
    mode : "textareas"
});
</script> 
<form method="post" action="somepage">
        <textarea name="content" style="width:100%"></textarea>
</form>

{% endblock %}