{# to keep the workspace layout, extends this template #}
{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}
{# use the section_content block to display yor html #}
{% block section_content %}

    <div id="text_content">
        {{ text|raw }}
        <a href="{{ _path('claro_text_history', {'textId': _resource.getId()}) }}">history</a>
        <a href="{{ _path('claro_text_edit_form', {'textId': _resource.getId()}) }}">edit</a>
    </div>
{% endblock %}