{% extends "ClarolineCoreBundle:Administration:index.html.twig" %}

{% block content %}
{{ text|raw }}

<a href="{{path('claro_text_history', {'textId':textId})}}">history</a>
<a href="{{path('claro_text_edit_form', {'textId':textId})}}">edit</a>
{% endblock %}