{# to keep the workspace layout, extends this template #}
{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}
{# use the section_content block to display yor html #}
{% block section_content %}

    <div id="text_content">
        {{ text|raw }}
        <a href="{{ path('claro_text_history', {'textId':textId}) }}">history</a>
        <a href="{{ path('claro_text_edit_form', {'textId':textId}) }}">edit</a>
    </div>
{% endblock %}