{% if hasActiveNotifications is empty %}
    <a href="{{ path('icap_notification_resource_enable', {'resourceId': resourceId, 'resourceClass': resourceClass}) }}" class="btn btn-primary">{{ "enable_notifications"|trans({},'notification') }}</a>
{% else %}
    <a href="{{ path('icap_notification_resource_disable', {'resourceId': resourceId, 'resourceClass': resourceClass}) }}" class="btn btn-default">{{ "disable_notifications"|trans({},'notification') }}</a>
{% endif %}