<div data-collection-form="{'id': ''}" data-editable="false">
    <p>
        <button type="button" class="btn btn-sm btn-success" data-ui-badge-picker="badgePickerConfig">{{ 'badges_add_badge'|trans({}, 'icap_portfolio') }}</button>
    </p>
    <ul class="list-unstyled">
        <li data-ng-repeat="badge in collection">
            <div data-ng-class="{'input-group': isAdded(badge)}">
                {% verbatim %}
                <input type="text" readonly="readonly" data-ng-disabled="badge.toDelete" class="input-sm form-control"
                       name="userBadge" value="{{ badge.name }}" />
                {% endverbatim %}
                <span class="input-group-btn" data-ng-if="isAdded(badge)">
                    <button aria-label="{{ 'badges_delete_badge'|trans({}, 'icap_portfolio') }}" class="btn btn-sm btn-danger" type="button" data-ng-if="!isEmpty(badge) && !badge.toDelete" data-ng-click="deleteChild(badge)">
                        <span class="fa fa-trash-o"></span>
                    </button>
                    <button aria-label="{{ 'badges_cancel_deletion_badge'|trans({}, 'icap_portfolio') }}" class="btn btn-sm btn-default" type="button" data-ng-if="badge.toDelete" data-ng-click="cancelDeletionOfChild(badge)">
                        <span class="fa fa-undo"></span>
                    </button>
                </span>
            </div>
        </li>
    </ul>
</div>
