<div data-collection-form="{'resource': ''}" data-ng-model="editedWidget.children">
    <p>{% verbatim %}
        <input type="text" class="form-control" id="formation_{{ $index }}_name"
         name="icap_portfolio_widget_form_formations[formations][{{ $index }}][name]" data-ng-model="editedWidget.name" />{% endverbatim %}
    </p>
    <ul class="list-unstyled">
        <li data-ng-repeat="resource in collection">
            <div data-ng-class="{'input-group': isAdded(resource)}">
                {% verbatim %}
                <p>{{ formation.resource.name }}</p>
                <input type="text" class="form-control" id="formation_{{ $index }}_resource"
                     name="icap_portfolio_widget_form_formations[resources][{{ $index }}]" data-ng-model="resource.id"
                     data-ng-disabled="resource.toDelete"  data-ng-keyup="modify(resource, $index)" />
                <button type="button" data-ui-resource-picker="resourcePickerConfig">Choisir ressource</button>
                {% endverbatim %}
                <span class="input-group-btn" data-ng-if="isAdded(resource)">
                    <button class="btn btn-danger" type="button" data-ng-if="!isEmpty(resource) && !resource.toDelete" data-ng-click="deleteChild(resource)">
                        <span class="icon-trash"></span>
                    </button>
                    <button class="btn btn-default" type="button" data-ng-if="resource.toDelete" data-ng-click="cancelDeletionOfChild(resource)">
                        <span class="icon-undo"></span>
                    </button>
                </span>
            </div>
        </li>
    </ul>
</div>
