<div data-collection-form="{'name': '', 'resource': ''}" data-ng-model="editedWidget.children">
    <ul class="list-unstyled">
        <li data-ng-repeat="formation in collection">
            <div data-ng-class="{'input-group': isAdded(formation)}">
                {% verbatim %}
                <input type="text" class="form-control" id="formation_{{ $index }}_name"
                     name="icap_portfolio_widget_form_formations[formations][{{ $index }}][name]" data-ng-model="formation.name"
                     data-ng-disabled="formation.toDelete" data-ng-keypress="addEmptyChild($index + 1)" data-ng-keyup="markEmpty(formation)" />
                <input type="text" class="form-control" id="formation_{{ $index }}_resource"
                     name="icap_portfolio_widget_form_formations[formations][{{ $index }}][resource]" data-ng-model="formation.resource"
                     data-ng-disabled="formation.toDelete" data-ng-keyup="addEmptyChild($index + 1)" data-ng-keypress="markEmpty(formation)" />
                <button type="button" data-ui-resource-picker="resourcePickerConfig">Choisir ressource</button>
                {% endverbatim %}
                <span class="input-group-btn" data-ng-if="isAdded(formation)">
                    <button class="btn btn-danger" type="button" data-ng-if="!isEmpty(formation) && !formation.toDelete" data-ng-click="deleteChild(formation)">
                        <span class="icon-trash"></span>
                    </button>
                    <button class="btn btn-default" type="button" data-ng-if="formation.toDelete" data-ng-click="cancelDeletionOfChild(formation)">
                        <span class="icon-undo"></span>
                    </button>
                </span>
            </div>
        </li>
    </ul>
</div>
