<div class="form-group">
    <label for="presentation" class="required">{{ 'presentation_form_presentation'|trans({}, 'icap_portfolio') }}</label>
    <textarea ui-tinymce class="form-control" rows="3" id="description" name="userInformation[presentation]" data-ng-model="editedWidget.presentation"></textarea>
</div>