<div data-collection-form="{'name': ''}" data-ng-model="editedWidget.children">
    <ul class="list-unstyled">
        <li data-ng-repeat="skill in collection">
            <div data-ng-class="{'input-group': isAdded(skill)}">
                {% verbatim %}
                <input type="text" class="form-control" id="skill_{{ $index }}_name"
                     name="icap_portfolio_widget_form_skills[skills][{{ $index }}][name]" data-ng-model="skill.name"
                     data-ng-disabled="skill.toDelete" data-ng-keydown="addEmptyChild($index + 1)" />
                {% endverbatim %}
                <span class="input-group-btn" data-ng-if="isAdded(skill)">
                    <button class="btn btn-danger" type="button" data-ng-if="!isEmpty(skill) && !skill.toDelete" data-ng-click="deleteChild(skill)">
                        <span class="icon-trash"></span>
                    </button>
                    <button class="btn btn-default" type="button" data-ng-if="skill.toDelete" data-ng-click="cancelDeletionOfChild(skill)">
                        <span class="icon-undo"></span>
                    </button>
                </span>
            </div>
        </li>
    </ul>
</div>
