<div class="form-group">
    <label for="text" class="required">{{ 'text_form_text'|trans({}, 'icap_portfolio') }}</label>
    <textarea ui-tinymce class="form-control" rows="3" id="text" name="text[text]" data-ng-model="editedWidget.text"></textarea>
</div>