<div class="form-group">
    <label for="title" class="required">{{ 'title_form_title'|trans({}, 'icap_portfolio') }}</label>
    <input type="text" class="form-control" id="title" name="title[title]" data-ng-model="editedWidget.title" required="required" />
</div>