<div class="form-group">
    <label for="title" class="required">{{ 'title'|trans({}, 'icap_portfolio') }}</label>
    <input type="text" class="form-control" id="title" name="title[value]" data-ng-model="editedWidget.value" required="required" value="" />
</div>