<div class="form-group">
    <label for="city" class="required">{{ 'user_information_form_city'|trans({}, 'icap_portfolio') }}</label>
    <input type="text" class="form-control" id="city" name="userInformation[city]" data-ng-model="editedWidget.city" />
</div>