<div class="form-group">
    <label for="city" class="required">{{ 'user_information_form_city'|trans({}, 'icap_portfolio') }}</label>
    <input type="text" class="form-control" id="city" name="userInformation[city]" data-ng-model="editedWidget.city" />
</div>
<div class="form-group">
    <label for="description" class="required">{{ 'user_information_form_description'|trans({}, 'icap_portfolio') }}</label>
    <textarea ui-tinymce class="form-control" rows="3" id="description" name="userInformation[description]" data-ng-model="editedWidget.description"></textarea>
</div>