<div id="panel5" class="panel panel-default calendar visible-lg calendar_panel {% if orderPanelInfo.visibility == 0 %}hidden{% endif %}">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'calendar'|trans({}, 'icap_blog') }}</h3>
    </div>
    <div class="panel-body">
        <div id='calendar'></div>
    </div>
</div>