{% macro renderPager(pager, typeId, search, orderedBy, order, max) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'formalibre_admin_support_my_tickets',
                'routeParams': {
                    'type': typeId,
                    'search': search,
                    'orderedBy': orderedBy,
                    'order': order,
                    'max': max
                }
            }
        )
    }}
{% endmacro %}

{% macro sortUrl(typeId, search, orderedBy, order, max) %}
    {% if order == 'ASC' %}
        {% set newOrder = 'DESC' %}
    {% else %}
        {% set newOrder = 'ASC' %}
    {% endif %}

    {{ 
        path(
            'formalibre_admin_support_my_tickets',
            {
                'type': typeId,
                'search': search,
                'orderedBy': orderedBy,
                'order': newOrder,
                'max': max
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}
{% from _self import sortUrl %}

{% extends 'FormaLibreSupportBundle:AdminSupport:adminSupportMenu.html.twig' %}

{% block adminSupport %}
    {% if tickets|length > 0 %}
    
    {% else %}
        <div class="alert alert-info">
            {{ 'no_ticket'|trans({}, 'support') }}
        </div>
    {% endif %}
{% endblock %}