<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{{ "Error" | trans({}, "theme")}}!</h3>
        </div>
        <div class="modal-body">
            <p>{{ "An error occurred" | trans({}, "theme") }}.</p>
            <p>{{ "You might not have permission to write in theme folder" | trans({}, "theme") }} <em>(web/themes)</em>.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{ "Ok" | trans({}, "theme")}}</button>
        </div>
    </div>
</div>
