{% if log.receiver is defined %}
    <a href="{{ path('claro_user_profile', {'publicUrl' : log.receiver.publicUrl}) }}"><strong>{{ log.receiver.firstName ~ ' ' ~ log.receiver.lastName }}</strong></a>
{% else %}
    <strong>{{ systemName }}</strong>
{% endif %}