@portal-search-tab-bg:  #337ab7;
@dark-grey:  #767676;

div.portal-search-tabs-container {
  background-color: #ffffff;
  color: @dark-grey;
  border-radius: 0;
  border: none;
  margin-bottom: 1px;
  z-index: 10;
  position: relative;
  ul.portal-search-tabs {
    > li {
      margin-bottom: 0px;
      &.portal-back-button{
        margin-right: 5px;
      }
      span.icon-bg {
        background-color: @portal-search-tab-bg;
        height: 0px;
        left: 0px;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 0;
      }
      a {
        background:#fff !important;
        border-bottom: none !important;
        margin-right:0px !important;
        border-radius: 0;
        &:focus, &:active {
          outline: none;
        }
      }
      &:not(.portal-back-button) a {
        border:none !important;
      }
      &:hover, li:hover {
        > a{
          color: #000;
        }
      }

      &.active > a, li.active > a {
        color: @portal-search-tab-bg;
        font-weight: bold;
        span.icon-bg{
          height:3px;
        }
      }
    }
  }
}

.portal-index-resource-type-list {
  margin-bottom: 20px;
}

.portal-search-pagination {
  font-family: Helvetica, FontAwesome;
}

.portal-search-result-info {
  margin: 10px 0px 15px 5px;
}

.portal-search-result {
  margin-bottom: 10px;
  &::after {
    clear:both;
  }
  .icon-column {
    margin-right: 5px;
    widht: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.row-eq-height [class*="col-"] {
  float: none;
  display: inline-block;
}