<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <style>
      @page { margin: 0px; }
      body { margin: 0px; }
    </style>
  </head>

  <body id="claroline-pdf">
    {{ content | raw }}
  </body>
</html>
