<div class="alert-fixed">
    <div uib-alert class="alert col-md-12" data-ng-repeat="alert in vm.alerts" data-dismiss-on-timeout="3000" data-type="{{alert.type}}" data-close="vm.closeAlert($index)">{{alert.msg | trans:{}:'claro_external_user_group'}}</div>
</div>
<div data-ng-if="vm.externalSources" class="list-group clearfix">
    <div class="content-6 panel panel-default" data-ng-repeat="source in vm.externalSources">
        <div class="panel-body">
            <div>
                <strong>{{ source.name }}</strong>
                <div class="pull-right" style="width: 4em;">
                    <a class="label label-default" href="{{ 'claro_admin_external_sync_edit_source_form'| path:{'source': source.slug} }}"><i class="fa fa-pencil"></i></a>
                    <a class="label label-danger" data-confirm-modal="{{'remove_source_confirm_message'|trans:{}:'claro_external_user_group'}}" data-confirm-modal-action="vm.removeSource(source.slug)"><i class="fa fa-trash"></i></a>
                </div>
            </div>
            <div>
                <a class="label label-default" href="{{ 'claro_admin_external_sync_source_user_configuration_form'| path:{'source': source.slug} }}"><i class="fa fa-user"></i> {{ 'user_configuration' | trans:{}:'claro_external_user_group' }}</a>
                <a class="label label-default" href="{{ 'claro_admin_external_sync_source_group_configuration_form'| path:{'source': source.slug} }}"><i class="fa fa-group"></i> {{ 'group_configuration' | trans:{}:'claro_external_user_group' }}</a>
                <a class="label label-default" href="{{ 'claro_admin_external_sync_source_synchronize'| path:{'source': source.slug} }}"><i class="fa fa-refresh"></i> {{ 'synchronize' | trans:{}:'claro_external_user_group' }}</a>
            </div>
        </div>
    </div>

    <div></div>

    <div class="alert alert-warning" data-ng-hide="vm.externalSources.length > 0">
        <i class="fa fa-warning"></i> {{ 'no_configured_external_sources' | trans:{}:'claro_external_user_group' }}
    </div>

</div>