<div class="list-group menu">
    <div class="list-group-item disabled">{{ 'administration'|trans({}, 'platform') }}</div>
    {% for tool in tools %}
        <a class="list-group-item" href="#">
            <i class="{{ tool.getClass() }}"></i>
            {{ tool.getName()|trans({}, 'tools') }}
        </a>
    {% endfor %}
</div>