{% if papers is not empty %}

    {% include "UJMExoBundle:Partial:paper/list.html.twig" %}

    {#% if pager.haveToPaginate %}
        <div class="text-center panel-footer">
            {{ pagerfanta(pager, 'twitter_bootstrap_translated', {'routeName': 'ujm_paper_list',
                'routeParams': { 'exoID': papers[0].exercise.id } }) }}
        </div>
    {% endif %#}
{% else %}
    <div class="alert alert-info">{{ 'no_paper_found'|trans({}, 'ujm_exo') }}</div>
{% endif %}
