<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>{{ "remove" | trans({}, "platform") }}</h4>
        </div>
        <div class="modal-body">
            {{ "activity_resource_remove" | trans({}, "platform") }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ "cancel" | trans({}, "platform")}}</button>
            <button type="submit" class="btn btn-primary">{{ "remove" | trans({}, "platform")}}</button>
        </div>
    </div>
</div>
