.thumbnails.badge_list {
  margin-left: 20px;
}
.thumbnails.badge_user_list > li {
  margin-left: 5px;
}
.badge_image {
  width: 100px;
  height: 100px;
}
#translationFormTabs {
  margin-bottom: 0;
  border-bottom: 0;
}
#translationFormTabs> .active > a {
  background-color: #f5f5f5;
}
.badge_translations {
  border-top: 0;
}
#award_user_modal {
  min-width: 650px;
}
#award_user_modal .modal-body {
  max-height: 500px;
}
.users_container {
  max-height: 400px;
  overflow: auto;
}
ul.user_badges > li {
  padding: 0;
}
ul.user_badges > li a:hover> span {
  background-color: #333333;
}
ul.user_badges > li:hover .close {
  visibility: visible;
}
ul.user_badges > li .close {
  visibility: hidden;
  margin-top: -10px;
}
.badge_container {
  padding-left: 10px;
}
.badge_container .side_link {
  border-left: 1px solid #eee;
  text-decoration: none;
  min-width: 41px;
  text-align: center;
}
#award_form_container {
  display: none;
}
.form-actions {
  text-align: center;
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
}
table.no_margin {
  margin: 0;
}
