/*
 * This code allow tooltip to appear when in an accordion
 */
.collapse,
.collapse .btn-group {
  position: static;
}

.thumbnails.badge_list {
  margin-left: 20px;
}
.thumbnails.badge_user_list > li {
  margin-left: 5px;
}
.badge_image {
  width: 100px;
  height: 100px;
}
#translationFormTabs {
  margin-bottom: 0;
  border-bottom: 0;
}
#translationFormTabs> .active > a {
  background-color: #f5f5f5;
}
.badge_translations {
  border-top: 0;
}
#award_user_modal {
  min-width: 650px;
}
#award_user_modal .modal-body {
  max-height: 500px;
}
.users_container {
  max-height: 400px;
  overflow: auto;
}
ul.user_badges > li {
  padding: 0;
}
ul.user_badges > li a:hover> span {
  background-color: #333333;
}
ul.user_badges > li:hover .close {
  visibility: visible;
}
ul.user_badges > li .close {
  visibility: hidden;
  margin-top: -10px;
}
#award_form .input-append .btn {
  vertical-align: middle;
}
#award_form label {
  margin-left: auto;
  margin-right: auto;
  float: none;
  text-align: center;
}
