{% extends 'HeVinciCompetencyBundle:LearningObjective:layout.html.twig' %}

{% trans_default_domain 'competency' %}

{% set activeTab = 'objectives' %}

{% block tabContent %}
    <div class="alert alert-info" role="alert">
        <i class="fa fa-info-circle"></i>
        {{ 'info.no_learning_objectives'|trans }}
        {{ 'info.create_learning_objective'|trans }}
    </div>
{% endblock %}

{% block tabFooter %}
    <button id="show-add-form" class="btn btn-primary">
        {{ 'objective.create'|trans }}
    </button>
{% endblock %}