{% extends 'ClarolineCoreBundle:Dashboard:layout.html.twig' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span12">
            {% render "ClarolineCoreBundle:Dashboard:widgets" %}
        </div>
    </div>
</div>

{% endblock %}