{% extends 'ClarolineCoreBundle:desktop:layout.html.twig' %}

{% block title %}{{ 'messages' | trans({}, 'platform') | striptags | raw }}{% endblock %}
{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{
        macros.desktopBreadcrumbs([
            {
                'name': 'message'|trans({}, 'tools'),
                'href': ''
            }
        ])
    }}
{% endblock %}


{% block content %}
    <div class="page-container messaging-container"></div>
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}

    <script src="{{ hotAsset('dist/claroline-distribution-plugin-message-messaging.js') }}"></script>
{% endblock %}
