services:
    _defaults:
        public: true

    Claroline\AuthenticationBundle\Controller\ApiTokenController:
        parent: Claroline\AppBundle\Controller\AbstractCrudController
        public: true
        arguments:
            - '@security.authorization_checker'
            - '@security.token_storage'

    Claroline\AuthenticationBundle\Controller\IpUserController:
        parent: Claroline\AppBundle\Controller\AbstractCrudController
        public: true
        arguments:
            - '@security.authorization_checker'
            - '@security.token_storage'

    Claroline\AuthenticationBundle\Controller\OauthController:
        parent: Claroline\AppBundle\Controller\AbstractCrudController
        public: true
        arguments:
            - '@router'
            - '@Claroline\CoreBundle\Library\Configuration\PlatformConfigurationHandler'
            - '@Claroline\AuthenticationBundle\Manager\OauthManager'
