services:
    _defaults:
        autowire: false
        autoconfigure: false
        public: true

    Claroline\AuthenticationBundle\Manager\OauthManager:
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@Claroline\AppBundle\Manager\CacheManager'
            - '@Claroline\CoreBundle\Library\Configuration\PlatformConfigurationHandler'
            - '@security.token_storage'
            - '@Claroline\AuthenticationBundle\Security\Authentication\Authenticator'
        tags:
            - { name: kernel.event_listener, event: refresh_cache, method: refreshCache } # TODO : create a listener for that
