services:
    _defaults:
        autowire: false
        autoconfigure: false
        public: true

    Claroline\AuthenticationBundle\Serializer\ApiTokenSerializer:
        tags: [ claroline.serializer ]
        arguments:
            - '@security.authorization_checker'
            - '@Claroline\CommunityBundle\Serializer\UserSerializer'
            - '@Claroline\AppBundle\Persistence\ObjectManager'

    Claroline\AuthenticationBundle\Serializer\IpUserSerializer:
        tags: [ claroline.serializer ]
        arguments:
            - '@Claroline\AppBundle\Persistence\ObjectManager'
            - '@Claroline\CommunityBundle\Serializer\UserSerializer'

    Claroline\AuthenticationBundle\Serializer\OauthUserSerializer:
        tags: [ claroline.serializer ]
        arguments:
            - '@Claroline\AppBundle\Persistence\ObjectManager'
            - '@Claroline\CommunityBundle\Serializer\UserSerializer'
