<form novalidate="validate" action="{{path('claro_resource_edit_options', {'instanceId':instanceId})}}" method="post" {{ form_enctype(form) }} id="resource_options_form">
   {{ form_errors(form) }}
   {{ form_widget(form) }}
        <input type="submit" formnovalidate="formnovalidate"/>
</form>