<div class="active-filters"></div>

<input class="field-res-name" style="width:125px"/>
<select class="select-root" style="width:125px" multiple="multiple">
    {% for workspaceroot in workspaceroots %}
        <option value={{ workspaceroot.id }}> {{ workspaceroot.name }} </option>
    {% endfor %}
</select>
<select class="select-type" style="width:125px" multiple="multiple">
    {% for resourceType in resourceTypes %}
        <option value={{ resourceType.type }}> {{ resourceType.type }} </option>
    {% endfor %}
</select>

<input type="text"
    class="date-from span8 datepicker"
    value="2012-01-01"
    data-date="2012-01-01"
    data-date-format="yyyy-mm-dd"/>
<input type="text"
    class="span8 datepicker date-to"
    value="2013-01-01"
    data-date="2013-01-01"
    data-date-format="yyyy-mm-dd"/>

<button class="filter-button">filter</button>
<button class="reset-button">reset</button>

<script>
    $('.datepicker')
        .click(function () {
            $(this).datepicker('show');
        })
        .keydown(function (e) {
            e.preventDefault();
            $(this).datepicker('show');
        })
        .datepicker().on('changeDate', function() {
            $(this).datepicker('hide');
        });
</script>