<div class="home-tabs-panel home-tabpanel" role="tabpanel">
    <ul class="nav nav-tabs" role="tablist" id="admin-home-tabs-list">
        <li ng-repeat="tab in ahtcc.adminHomeTabs"
            class="home-tab"
            ng-class="(tab['tabId'] === ahtcc.homeTabsOptions['selectedTabId']) ? 'active' : ''"
            data-hometab-config-id="{{ tab['configId'] }}"
        >
            <a href="" ng-click="ahtcc.showTab(tab['tabId'], tab['configId'])">
                <span class="icon-bg" style="background-color: {{ tab['color'] }}">
                </span>
                <span class="option-text">
                    <i class="fa fa-lock" ng-if="tab['locked']"></i>
                    <span ng-class="tab['visible'] ? '' : 'strike'" ng-bind-html="tab['tabName']">
                    </span>
                    &nbsp;
                    <i class="fa fa-pencil pointer-hand text-muted" ng-click="ahtcc.editAdminHomeTab($event, tab['configId'])"></i>
                    &nbsp;
                    <i class="fa fa-times pointer-hand text-muted" ng-click="ahtcc.deleteAdminHomeTab($event, tab['configId'])"></i>
                </span>
            </a>
        </li>

        <li class="new-home-tab">
            <a href="" class="pointer-hand" ng-click="ahtcc.createAdminHomeTab()">
                <span class="text-muted">
                    <i class="fa fa-plus"></i>
                    <span ng-if="ahtcc.adminHomeTabs.length === 0">
                        {{ 'create_new_home_tab'|trans:{}:'platform' }}
                    </span>
                </span>
            </a>
        </li>
    </ul>
</div>