<div class="home-tabs-panel home-tabpanel" role="tabpanel">
    <ul class="nav nav-tabs" role="tablist" id="desktop-home-tabs-list">
        <li ng-repeat="tab in dhmc.adminHomeTabs"
            class="home-tab"
            ng-class="(tab['tabId'] === dhmc.homeTabsOptions['selectedTabId']) ? 'active' : ''"
        >
            <a href="" ng-click="dhmc.showTab(tab['tabId'], tab['configId'], tab['locked'])">
                <span class="icon-bg" style="background-color: {{  tab['color']}}">
                </span>
                <span class="option-text">
                    <span ng-bind-html="tab['tabName']">
                    </span>
                    <span ng-if="dhmc.homeTabsOptions['canEdit']">
                        &nbsp;
                        <i class="fa fa-lock" ng-if="tab['locked']"></i>
                        <i class="fa fa-times pointer-hand text-muted"
                           ng-if="!tab['locked']"
                           ng-click="dhmc.hideAmdinHomeTab($event, tab['configId'])"
                        >    
                        </i>
                    </span>
                </span>
            </a>
        </li>
        <li ng-repeat="tab in dhmc.userHomeTabs"
            class="home-tab movable-home-tab"
            ng-class="(tab['tabId'] === dhmc.homeTabsOptions['selectedTabId']) ? 'active' : ''"
            data-hometab-config-id="{{ tab['configId'] }}"
        >
            <a href="" ng-click="dhmc.showTab(tab['tabId'], tab['configId'], false)">
                <span class="icon-bg" style="background-color: {{  tab['color']}}">
                </span>
                <span class="option-text">
                    <span ng-bind-html="tab['tabName']">
                    </span>
                    <span ng-if="dhmc.homeTabsOptions['canEdit']">
                        &nbsp;
                        <i class="fa fa-pencil pointer-hand text-muted"
                           ng-click="dhmc.editUserHomeTab($event, tab['tabId'])"
                        >    
                        </i>
                        &nbsp;
                        <i class="fa fa-times pointer-hand text-muted"
                           ng-click="dhmc.deleteUserHomeTab($event, tab['configId'])"
                        >    
                        </i>
                    </span>
                </span>
            </a>
        </li>
        <li ng-repeat="tab in dhmc.workspaceHomeTabs"
            class="home-tab"
            ng-class="(tab['tabId'] === dhmc.homeTabsOptions['selectedTabId']) ? 'active' : ''"
        >
            <a href="" ng-click="dhmc.showTab(tab['tabId'], tab['configId'], true)">
                <span class="icon-bg" style="background-color: {{  tab['color']}}">
                </span>
                <span class="option-text">
                    <span ng-bind-html="tab['tabName']">
                    </span>
                    &nbsp;
                    <i class="fa fa-thumb-tack pointer-hand text-muted"
                       ng-click="dhmc.deletePinnedWorkspaceHomeTab($event, tab['configId'])"
                    >
                    </i>
                </span>
            </a>
        </li>

        <li class="new-home-tab" ng-if="dhmc.homeTabsOptions['canEdit']">
            <a href="" class="pointer-hand" ng-click="dhmc.createUserHomeTab()">
                <span class="text-muted">
                    <i class="fa fa-plus"></i>
                    <span ng-if="dhmc.adminHomeTabs.length === 0 && dhmc.userHomeTabs.length === 0 && dhmc.workspaceHomeTabs.length === 0">
                        {{ 'create_new_home_tab'|trans:{}:'platform' }}
                    </span>
                </span>
            </a>
        </li>
    </ul>
</div>