<div class="home-tabs-panel home-tabpanel" role="tabpanel">
    <ul class="nav nav-tabs" role="tablist" id="workspace-home-tabs-list">
        <li ng-repeat="tab in whc.workspaceHomeTabs"
            class="home-tab"
            ng-class="(tab['tabId'] === whc.homeTabsOptions['selectedTabId']) ? 'active' : ''"
            data-hometab-config-id="{{ tab['configId'] }}"
        >
            <a href="" ng-click="whc.showTab(tab['tabId'], tab['configId'])">
                <span class="icon-bg" style="background-color: {{ tab['color'] }}">
                </span>
                <span class="option-text">
                    <i class="fa fa-lock" ng-if="tab['locked'] &&  whc.homeTabsOptions['canEdit']"></i>
                    <span ng-class="!tab['visible'] && whc.homeTabsOptions['canEdit'] ? 'strike' : ''" ng-bind-html="tab['tabName']">
                    </span>
                    <span ng-if="tab['tabId'] === whc.homeTabsOptions['selectedTabId']">
                        &nbsp;
                        <i class="fa fa-thumb-tack pointer-hand text-muted" ng-click="whc.pinWorkspaceHomeTab($event, tab['configId'])"></i>
                    </span>
                    <span ng-if="whc.homeTabsOptions['canEdit']">
                        &nbsp;
                        <i class="fa fa-pencil pointer-hand text-muted" ng-click="whc.editWorkspaceHomeTab($event, tab['configId'])"></i>
                        &nbsp;
                        <i class="fa fa-times pointer-hand text-muted" ng-click="whc.deleteWorkspaceHomeTab($event, tab['configId'])"></i>
                    </span>
                </span>
            </a>
        </li>

        <li class="new-home-tab" ng-if="whc.homeTabsOptions['canEdit']">
            <a href="" class="pointer-hand" ng-click="whc.createWorkspaceHomeTab()">
                <span class="text-muted">
                    <i class="fa fa-plus"></i>
                    <span ng-if="whc.workspaceHomeTabs.length === 0">
                        {{ 'create_new_home_tab'|trans:{}:'platform' }}
                    </span>
                </span>
            </a>
        </li>
    </ul>
</div>