{% for log in logs %}
{{ 'resource_log_message'|trans(
    {
        '%date%': log.getDate()|date("d-m-Y H:i:s"),
        '%action%': log.getAction()|trans({},'platform'),
        '%path%': log.getPath(),
        '%username%': log.getUpdator().getUsername()
    }, 'platform')
}}
{% if log.getInstance() != null %}
    <a href="{{ path('claro_resource_open', {'resourceType': log.getResourceType().getType(), 'action': 'open', 'instanceId': log.getInstance().getId()})}}"> {{ 'open'|trans({}, 'platform') }}</a>
{% endif %}
</br>
{% endfor %}