{% if workspaces|length == 0 %}
    <div class="alert alert-warning">{{ 'no_workspace'|trans({}, 'platform') }}</div>
{% else %}
    {% for workspace in workspaces %}
        <div>
            <a {% if has_access_to_workspace(workspace.getId()) %}
                   href="{{ path('claro_workspace_open', {'workspaceId': workspace.getId()}) }}"
               {% endif %}
            >
                <i class="fa fa-book"></i>
                {{ workspace.getName() }}
                <span>
                    <small>
                        ({{ workspace.getCode() }})
                    </small>
                </span>
            </a>
        </div>
    {% endfor %}
{% endif %}
