<div class="col-md-12 list_badges">
    <ul class="list-inline my_badges badge_list">
        {% for badge in badgePager %}

            {% set vars = {
            'link': parameters.edit_link.url,
            'route_params': parameters.route_parameters,
            'aside': false,
            'badgeId': badge.id,
            'dataImage': '<img class="badge_image_mini" src="' ~ asset(badge.webPath) ~ '" alt="' ~ badge.name ~ '" />'
            } %}
            {% include 'IcapBadgeBundle:Template:list_badges_shared.html.twig' with vars %}

        {% else %}
            <li class="node-thumbnail node">
                {{ 'no_badges_create_to_motivate'|trans({'%url%': path(parameters.add_link, parameters.route_parameters)}, 'icap_badge')|raw }}
            </li>
        {% endfor %}
    </ul>

    {% if badgePager.haveToPaginate %}
        <div>
            {{
            pagerfanta(
            badgePager,
            'twitter_bootstrap_translated',
            {
                'proximity' :    1,
                'routeName':     parameters.current_link,
                'routeParams':   parameters.route_parameters,
                'pageParameter': '[badgePage]'
            }
            )
            }}
        </div>
    {% endif %}
</div>