{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{#
    This form doesn't include the usual form theme as we want it to always display the
    same message when authentication has failed (no precise validation errors).
#}

{% block content %}
    {% if error %}
        <div id="login-error" class="alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ error }}
        </div>
    {% endif %}
    <form id="login-form" class="form-horizontal" action="{{ path('claro_security_send_token') }}" method="post">
    	{{ 'user_form_mail'|trans({}, 'platform') }} <input type="text" name="email" />
    	<button type="submit" class="btn btn-primary">{{ 'validate'|trans({}, 'platform') }}</button>
   	</form>

{% endif %}
{% endblock %}