services:
    # Finders
    Claroline\CommunityBundle\Finder\GroupFinder:
        parent: Claroline\AppBundle\API\Finder\AbstractFinder
        tags: [ claroline.finder ]

    Claroline\CommunityBundle\Finder\OrganizationFinder:
        parent: Claroline\AppBundle\API\Finder\AbstractFinder
        tags: [ claroline.finder ]
        arguments:
            - '@security.token_storage'

    Claroline\CommunityBundle\Finder\RoleFinder:
        parent: Claroline\AppBundle\API\Finder\AbstractFinder
        tags: [ claroline.finder ]
        arguments:
            - '@security.authorization_checker'
            - '@security.token_storage'

    Claroline\CommunityBundle\Finder\TeamFinder:
        parent: Claroline\AppBundle\API\Finder\AbstractFinder
        tags: [ claroline.finder ]

    Claroline\CommunityBundle\Finder\UserFinder:
        parent: Claroline\AppBundle\API\Finder\AbstractFinder
        tags: [ claroline.finder ]

    # Filters
    Claroline\CommunityBundle\Finder\Filter\UserFilter:
        tags: [ claroline.finder.filter ]
        arguments:
            - '@security.token_storage'
