services:
    _defaults:
        tags: [ kernel.event_subscriber ]

    Claroline\CommunityBundle\Subscriber\UserActivitySubscriber:
        arguments:
            - '@security.token_storage'
            - '@Claroline\AppBundle\Persistence\ObjectManager'

    # Tools
    Claroline\CommunityBundle\Subscriber\Tool\CommunitySubscriber:
        arguments:
            - '@security.token_storage'
            - '@Claroline\AppBundle\Persistence\ObjectManager'
            - '@Claroline\AppBundle\API\SerializerProvider'
            - '@Claroline\AppBundle\API\Crud'
            - '@Claroline\CoreBundle\Library\Configuration\PlatformConfigurationHandler'
            - '@Claroline\CoreBundle\API\Serializer\ParametersSerializer'
            - '@Claroline\CommunityBundle\Serializer\ProfileSerializer'
            - '@Claroline\CoreBundle\Manager\UserManager'
            - '@Claroline\CoreBundle\Manager\RoleManager'
            - '@Claroline\CommunityBundle\Manager\TeamManager'

    # Crud
    Claroline\CommunityBundle\Subscriber\Crud\GroupSubscriber:
        arguments:
            - '@security.token_storage'
            - '@Claroline\AppBundle\Event\StrictDispatcher'
            - '@Claroline\CoreBundle\Manager\FileManager'

    Claroline\CommunityBundle\Subscriber\Crud\OrganizationSubscriber:
        arguments:
            - '@security.token_storage'
            - '@Claroline\AppBundle\Persistence\ObjectManager'
            - '@Claroline\CoreBundle\Manager\CryptographyManager'
            - '@Claroline\AppBundle\API\Crud'
            - '@Claroline\CoreBundle\Manager\FileManager'

    Claroline\CommunityBundle\Subscriber\Crud\RoleSubscriber:
        arguments:
            - '@doctrine.dbal.default_connection'
            - '@Claroline\AppBundle\Event\StrictDispatcher'

    Claroline\CommunityBundle\Subscriber\Crud\TeamSubscriber:
        arguments:
            - '@security.token_storage'
            - '@Claroline\AppBundle\Persistence\ObjectManager'
            - '@Claroline\CoreBundle\Manager\FileManager'
            - '@Claroline\CommunityBundle\Manager\TeamManager'

    Claroline\CommunityBundle\Subscriber\Crud\UserSubscriber:
        arguments:
            - '@security.token_storage'
            - '@Claroline\AppBundle\Persistence\ObjectManager'
            - '@Claroline\CoreBundle\Library\Configuration\PlatformConfigurationHandler'
            - '@Claroline\AppBundle\API\Crud'
            - '@Claroline\CoreBundle\Manager\RoleManager'
            - '@Claroline\CoreBundle\Manager\MailManager'
            - '@Claroline\CoreBundle\Manager\Organization\OrganizationManager'
            - '@Icap\NotificationBundle\Manager\NotificationUserParametersManager'
            - '@Claroline\AppBundle\Event\StrictDispatcher'
            - '@Claroline\CoreBundle\Manager\FileManager'
