services:
    Claroline\CommunityBundle\Security\Voter\AbstractRoleSubjectVoter:
        abstract: true
        parent: Claroline\AppBundle\Security\Voter\AbstractVoter
        calls:
            - method: setWorkspaceManager
              arguments:
                  - '@Claroline\CoreBundle\Manager\Workspace\WorkspaceManager'

    Claroline\CommunityBundle\Security\Voter\GroupVoter:
        parent: Claroline\CommunityBundle\Security\Voter\AbstractRoleSubjectVoter
        tags: [ security.voter ]

    Claroline\CommunityBundle\Security\Voter\OrganizationVoter:
        parent: Claroline\AppBundle\Security\Voter\AbstractVoter
        tags: [ security.voter ]
        arguments:
            - '@Claroline\CoreBundle\Library\Configuration\PlatformConfigurationHandler'

    Claroline\CommunityBundle\Security\Voter\RoleVoter:
        parent: Claroline\AppBundle\Security\Voter\AbstractVoter
        tags: [ security.voter ]
        arguments:
            - '@Claroline\CoreBundle\Manager\Workspace\WorkspaceManager'

    Claroline\CommunityBundle\Security\Voter\TeamVoter:
        parent: Claroline\AppBundle\Security\Voter\AbstractVoter
        tags: [ security.voter ]

    Claroline\CommunityBundle\Security\Voter\UserVoter:
        parent: Claroline\CommunityBundle\Security\Voter\AbstractRoleSubjectVoter
        tags: [ security.voter ]
        arguments:
            - '@Claroline\CoreBundle\Library\Configuration\PlatformConfigurationHandler'
