<div ng-class="tc.field[2].error ? 'has-error' : ''">
    <label class="control-label col-sm-3" ng-if="!tc.field[2].noLabel">
        {{ tc.label|trans:{}:tc.translationDomain }}
    </label>
    <div ng-class="tc.field[2].noLabel ? 'col-sm-12' : 'col-sm-9'">
        <input class="form-control" type="text" ng-model="tc.ngModel" name="{{ tc.name }}" ng-disabled="tc.field[2].disabled">
        <help-block ng-model="tc.ngModel" field="tc.field"></help-block>
        <div class="help-block field-error" ng-if="tc.field[2].error">{{ tc.field[2].error }}</div>
    </div>
</div>
