{% if services|length > 0 %}
{% for service in services %}
    <a
        id="{{ service }}-connect-btn"
        href="{{ url("hwi_oauth_service_redirect", {service: service}) }}"
        class="btn {{ service }}-connect btn-third-party-login"
    >
        {{ 'login_with_third_party_btn'|trans({'%name%':service|trans({}, 'icap_oauth')}, 'platform') }}
    </a>
{% endfor %}
{% endif %}
