{% extends "IcapDropZoneBundle::layout.html.twig" %}
{% block dropzone_breadcrumb %}
    <li class="active"><span class="glyphicon icon-file"></span> {{ dropZone.resourceNode.name }}</li>
{% endblock %}

{% block dropzone_content %}
    <div class="container">
        <h3>
            {{ 'Add a document'|trans }}
        </h3>

        {% include 'IcapDropZoneBundle:DropZone:documentForm.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}}
{% endblock %}