{% extends "IcapDropZoneBundle:DropZone:edit.html.twig" %}

{% block drop_zone_content_edit %}
    <h3>
        {{ 'Delete a criterion'|trans }}
    </h3>
    {% include "IcapDropZoneBundle:DropZone:editDeleteCriterionForm.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}}
{% endblock %}