/**
 * Styles for the Appearance tool.
 */

@import "src/main/app/Resources/styles/mixins";
@import "src/main/app/Resources/styles/variables";

.theme-icon-preview-container {
    display: flex;
    flex-wrap: wrap;
    margin: -2px;

    .theme-icon-preview {
        padding: 10px;
        border: 1px solid $card-border-color;
        margin: 2px;
        font-size: 0; // avoid extra space under svg element
    }
}


.color-chart-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.color-chart-colors-list {
    margin: -2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.color-dot-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .color-dot-config {
        position: relative;
    }

    .color-dot {
        margin: map-get($spacers, 2);
    }

    .btn {
        position: absolute;
        top: 0;
        right: 0;
        margin: -4px;
        padding: 4px;
        width: 34px;
        height: 34px;
    }
}
