
@mixin flying-alert-variant($color, $bg-color, $border-color) {
  color: $color;
  background-color: $bg-color;
  border-color: $border-color;

  /*.flying-alert-icon-secondary {
      background: $bg-color;
      border-color: $color;
  }*/
}
