@use "sass:math";

@mixin button-text-variant(
  $color,
  $hover-color: if(color-contrast($color) == $color-contrast-light, shade-color($color, $btn-hover-bg-shade-amount), tint-color($color, $btn-hover-bg-tint-amount)),
  $active-color: if(color-contrast($color) == $color-contrast-light, shade-color($color, $btn-active-bg-shade-amount), tint-color($color, $btn-active-bg-tint-amount))
) {
  --#{$prefix}btn-font-weight: #{$font-weight-normal};
  --#{$prefix}btn-color: #{$color};
  --#{$prefix}btn-bg: transparent;
  --#{$prefix}btn-border-color: transparent !important;

  --#{$prefix}btn-hover-color: #{$hover-color};
  --#{$prefix}btn-hover-bg: transparent;
  --#{$prefix}btn-hover-border-color: transparent;

  --#{$prefix}btn-active-color: #{$active-color};
  --#{$prefix}btn-active-bg: transparent;
  --#{$prefix}btn-active-border-color: transparent;
  --#{$prefix}btn-active-shadow: none !important;

  --#{$prefix}btn-disabled-color: #{$color};
  --#{$prefix}btn-disabled-bg: transparent;
  --#{$prefix}btn-disabled-border-color: transparent;

  --#{$prefix}btn-box-shadow: none !important;
  --#{$prefix}gradient: none;
  --#{$prefix}btn-focus-box-shadow: none !important;

  // override box shadow forced by dropdown container (rule: .btn-group.show .dropdown-toggle)
  &.dropdown-toggle.show {
    box-shadow: none !important;
  }
}

@mixin button-subtle-variant(
  $name,
  $color,
  $active-background: if(color-contrast($color) == $color-contrast-light, shade-color($color, $btn-active-bg-shade-amount), tint-color($color, $btn-active-bg-tint-amount)),
  $active-border: if(color-contrast($color) == $color-contrast-light, shade-color($color, $btn-active-border-shade-amount), tint-color($color, $btn-active-border-tint-amount)),
  $active-color: color-contrast($active-background),
) {
  --#{$prefix}btn-color: var(--#{$prefix}#{$name}-text-emphasis);
  --#{$prefix}btn-bg: var(--#{$prefix}#{$name}-bg-subtle);
  --#{$prefix}btn-border-color: transparent !important;

  --#{$prefix}btn-hover-color: #{color-contrast($color)};
  --#{$prefix}btn-hover-bg: #{$color};
  --#{$prefix}btn-hover-border-color: #{$color};
  --#{$prefix}btn-focus-shadow-rgb: #{to-rgb($color)};

  --#{$prefix}btn-active-color: #{$active-color};
  --#{$prefix}btn-active-bg: #{$active-background};
  --#{$prefix}btn-active-border-color: #{$active-border};
  --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};

  --#{$prefix}btn-disabled-color: var(--#{$prefix}#{$name}-text-semphasis);
  --#{$prefix}btn-disabled-bg: var(--#{$prefix}#{$name}-bg-subtle);
  --#{$prefix}btn-disabled-border-color: #{$color};
}
