
@mixin embedded-list-variant() {
    .list-header {
        background: $list-controls-bg;
        border-bottom: $list-controls-border-width solid $list-controls-border-color;
    }

    .content-loader {
        margin: 0;
        border-radius: 0;
    }

    // customize view modes
    .data-tree {
        margin-left: 0;
        margin-right: $data-tree-gutter;
    }

    .data-grid {
        margin-left: $data-grid-gutter;
        margin-right: $data-grid-gutter;
    }
}
