
@mixin embedded-list-variant() {
    .list-header {
        background: $list-controls-bg;
    }

    .list-footer {
        margin: 0;
        padding: $data-tree-gutter*.5 $data-grid-gutter;
        padding-right: 0;
    }

    .content-loader {
        margin: 0;
        border-radius: 0;
    }

    // customize view modes
    .data-tree {
        margin-right: $data-tree-gutter*.5;
    }

    .data-grid {
        margin-left: $data-grid-gutter;
        margin-right: $data-grid-gutter;
    }
}
