@mixin pagination-btn-variant() {
    background: $pagination-bg;
    color: $pagination-color;
    border-color: $pagination-border;
    @include border-radius($border-radius-base);

    &.hover, &:hover,
    &.focus, &:focus,
    &.active, &:active {
        background: $pagination-hover-bg;
        color: $pagination-hover-color;
        border-color: $pagination-hover-border;
    }

    &:disabled,
    &.disabled {
        background: $pagination-disabled-bg;
        color: $pagination-disabled-color;
        border-color: $pagination-disabled-border;
    }
}
