
@mixin placeholder-variant($font-size, $padding, $border-radius, $border) {
  padding: $padding;
  border-width: $border;

  @include border-radius($border-radius);

  .placeholder-icon {
    font-size: $font-size*2;
  }

  .placeholder-title {
    font-size: $font-size;
  }

  .placeholder-help {
    font-size: $font-size-base;
  }
}
