<div class="input-group">

    <ui-select ng-model="stringSearch" ng-change="updateOptions" on-select="onSelect($item, $model, $select)" reset-search-input="false" focus-on="putCursorAtEnd()">
        <ui-select-match>
            <span ng-bind="$select.selected.name"></span>
        </ui-select-match>
        <ui-select-choices 
            repeat="item in (options)"
            refresh="refreshOption($select)"
            refresh-delay="0"
        >
            <span ng-bind="item.name"></span>
        </ui-select-choices>
    </ui-select>

    <div id="search-el"></div>
    <span class="input-group-btn">
        <button 
            class="filter btn btn-default" 
            type="button" 
            ng-click="searchUsers(stringSearch)"   
            id="search-button">
            <i class="fa fa-search"></i>
        </button>
    </span>
</div>
<datalist id="usersearch-datalist">
    <option 
        data-ng-repeat="field in fields" 
        class='datalist-user-class' 
        value="{{ getOptionValue(field) }}"
    >
    </option>
</datalist>

