<div class="input-group">
    <input 
        class="form-control" 
        type="text" 
        id="search-users-txt"
        list="usersearch-datalist"
        ng-model="stringSearch"
    >
    </input>
    <span class="input-group-btn">
        <button 
            class="filter btn btn-default" 
            type="button" 
            ng-click="searchUsers(stringSearch)"   
            id="search-button">
            <i class="fa fa-search"></i>
        </button>
    </span>
</div>
<datalist id="usersearch-datalist">
    <option 
        data-ng-repeat="field in fields" 
        class='datalist-user-class' 
        value="{{ field }}:({{ stringSearch }})">
    </option>
</datalist>