{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block sectionHeader %}
    {{ macros.sectionHeader('home'|trans({}, 'platform')) }}
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div id="home" class="hero-unit">
            {% block section_content %}
                <h3 class="text-warning" style="text-decoration: underline">
                    <em>Utilisateurs par défaut</em>
                </h3>
                <ul>
                    <li>
                        <strong>Administrateur</strong>
                        <ul>
                            <li>Nom d'utilisateur : <em class="text-info">JohnDoe</em></li>
                            <li>Mot de passe : <em class="text-info">JohnDoe</em></li>
                        </ul>
                    </li>
                    <li>
                        <strong>Professeur</strong>
                        <ul>
                            <li>Nom d'utilisateur : <em class="text-info">JaneDoe</em></li>
                            <li>Mot de passe : <em class="text-info">JaneDoe</em></li>
                        </ul>
                    </li>
                </ul>
            {% endblock %}
        </div>
    </div>
{% endblock %}