{% extends 'ClarolineCoreBundle::content_layout.html.twig' %}

{% block content %}

<div class="section" id="home">
    
    <h4>{{ 'home'|trans({}, 'platformTranslation') }}</h4>
    
    {% block section_content %}
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum lacus ac diam placerat ultrices. Proin eu turpis vel felis rutrum lobortis. Sed a nunc diam, accumsan bibendum mauris. Donec viverra imperdiet fermentum. Integer porttitor mi ac quam vehicula aliquam. Curabitur sagittis massa sed dolor aliquet pellentesque eget in purus. Vestibulum feugiat urna vitae arcu interdum lobortis. Donec quis ipsum a augue interdum condimentum. Vivamus et neque turpis. Nullam vulputate fermentum placerat. In posuere interdum ipsum nec vestibulum.</p>
    <p>Duis sit amet risus ligula. Duis in magna a nibh malesuada faucibus. Integer tincidunt molestie est, nec ultricies purus placerat quis. Cras eget velit quis sapien ullamcorper tincidunt quis egestas magna. Integer consectetur elementum arcu eu tristique. Donec gravida nisi leo. Pellentesque et eros ipsum, pretium fermentum enim. </p>
    
    {% endblock %}

<div>

{% endblock %}