{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block sectionHeader %}
    {{ macros.sectionHeader('home'|trans({}, 'platform')) }}
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div align="center" id="home">
            {% block section_content %}

                <p>Se connecter en tant qu'admin: </p>
                <ul>
                    <li>Login: JohnDoe</li>
                    <li>Password: JohnDoe</li>
                </ul>
                <p>Se connecter en tant que professeur: </p>
                <ul>
                    <li>Login: JaneDoe</li>
                    <li>Password: JaneDoe</li>
                </ul>

            {% endblock %}
        </div>
    </div>
{% endblock %}