{% if content != null %}

    {% if region is not defined or (region is defined and region != 'header' and region != 'footer') %}
        {{ creator | raw }}
    {% endif %}

    {% if father is not defined %}
        <div class="content row-fluid">
            {{ content | raw }}
        </div>
    {% else %}
        {{ content | raw }}
    {% endif %}

{% endif %}
