<div class="alert alert-info span6" data-id="{{ type.id }}">
    <button type="button" class="close type-delete">&times;</button>
        <strong><a href="{{ ("type/" ~ type.name) | homeLink }}">{{ type.name }}</a></strong>
</div>
