<div class="col-md-6">
    <div class="alert alert-info" data-id="{{ type.id }}">
        <button type="button" class="close type-delete">&times;</button>
            <strong><a href="{{ ("type/" ~ type.name) | homeLink }}">{{ type.name }}</a></strong>
    </div>
</div>
