<div class="creator">
    <div class="row">
        <div class="col-lg-10">
            <input
            type="text"
            maxlength="200"
            placeholder="{{ "New content page" | trans({}, 'home') }}..."
            class="content-title form-control"
            {% if content is defined %}value="{{ content.title }}"{% endif %}
            >
        </div>

        <a class="btn btn-primary col-lg-2 create-type">{{ "Create" | trans({}, 'home') }}</a>
    </div>
    <hr>
</div>
<div class="row">
{% for type in types %}
    {% include 'ClarolineCoreBundle:Home:type.html.twig' with {'type' : type } %}
{% endfor %}
</div>
