html,body{
  height: auto !important;
}
body {
	margin: 0;
    padding: 10px 10px 10px 10px !important;
    background-color: #FFFFFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	scrollbar-3dlight-color: #F0F0EE;
	scrollbar-arrow-color: #676662;
	scrollbar-base-color: #F0F0EE;
	scrollbar-darkshadow-color: #DDDDDD;
	scrollbar-face-color: #E0E0DD;
	scrollbar-highlight-color: #F0F0EE;
	scrollbar-shadow-color: #F0F0EE;
	scrollbar-track-color: #F5F5F5;
}

td, th {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

hr {
	cursor: default;
}

.mce-object {
	border: 1px dotted #3A3A3A;
	background: #D5D5D5 url(../../../stfalcontinymce/vendor/tinymce/skins/lightgray/img/object.gif) no-repeat center;
}

.mce-pagebreak {
	cursor: default;
	display: block;
	width: 100%;
	height: 5px;
	border: 1px dashed #666;
	margin-top: 15px;
}

.mce-item-anchor {
	cursor: default;
	display: inline-block;
	-webkit-user-select: all;
	-webkit-user-modify: read-only;
	-moz-user-select: all;
	-moz-user-modify: read-only;
	user-select: all;
	user-modify: read-only;
	width: 9px !important;
	height: 9px !important;
	border: 1px dotted #3A3A3A;
	background: #D5D5D5 url(../../../stfalcontinymce/vendor/tinymce/skins/lightgray/img/anchor.gif) no-repeat center;
}

.mce-nbsp {
	background: #AAA;
}

.mce-match-marker {
	background: #AAA;
	color: #fff;
}

.mce-match-marker-selected {
	background: #3399ff;
	color: #fff;
}

.mce-spellchecker-word {
	background: url(../../../stfalcontinymce/vendor/tinymce/skins/lightgray/img/wline.gif) repeat-x bottom left;
	cursor: default;
}

.mce-item-table, .mce-item-table td, .mce-item-table th, .mce-item-table caption {
	border: 1px dashed #BBB;
}

td.mce-item-selected, th.mce-item-selected {
	background-color: #3399ff !important;
}

.mce-edit-focus {
	outline: 1px dotted #333;
}

img {
    max-width: 100%;
}
