{% if log.details.criterion is defined %}
    <h4>{{ ('log_delete_criterion')|trans({}, 'log') }}</h4>

    <dl class="dl-horizontal">
        <dt>{{ ('instruction')|trans({}, 'log') }}</dt>
        <dd>{{ log.details.criterion.instruction|raw }}</dd>
    </dl>
{% endif %}