<div class='list-group'>
    <div class='list-group-item'>
        {% if log.details.newState is defined %}
            <h4>{{ 'log_resource-icap_dropzone-dropzone_manual_state_changed_title'|trans({},'log') }}</h4>
            <dl class="dl-horizontal">
                <dt>{{ 'manualState'|trans({}, 'log') }}:</dt>
                <dd>{{ log.details.newState|trans({},'icap_dropzone') }}</dd>
            </dl>
        {% endif %}

    </div>
</div>