services:
    _defaults:
        public: true

    Claroline\EvaluationBundle\Controller\WorkspaceEvaluationController:
        parent: Claroline\AppBundle\Controller\AbstractSecurityController
        public: true
        arguments:
            - '@security.token_storage'
            - '@security.authorization_checker'
            - '@translator'
            - '@message_bus'
            - '@Claroline\AppBundle\Persistence\ObjectManager'
            - '@Claroline\AppBundle\API\Crud'
            - '@Claroline\AppBundle\API\FinderProvider'
            - '@Claroline\AppBundle\API\SerializerProvider'
            - '@Claroline\EvaluationBundle\Manager\WorkspaceEvaluationManager'

    Claroline\EvaluationBundle\Controller\ResourceUserEvaluationController:
        arguments:
            - '@security.authorization_checker'
            - '@security.token_storage'
            - '@Claroline\AppBundle\API\FinderProvider'
