services:
    _defaults:
        autowire: false
        autoconfigure: false
        public: true

    _instanceof:
        Claroline\AppBundle\API\Finder\AbstractFinder:
            tags: [ claroline.finder ]
            calls:
                - method: setObjectManager
                  arguments:
                      - '@Claroline\AppBundle\Persistence\ObjectManager'
                - method: setEntityManager
                  arguments:
                      - '@doctrine.orm.entity_manager'
                - method: setEventDispatcher
                  arguments:
                      - '@Claroline\AppBundle\Event\StrictDispatcher'

    Claroline\EvaluationBundle\Finder\WorkspaceEvaluationFinder: ~

    Claroline\EvaluationBundle\Finder\ResourceEvaluationFinder: ~

    Claroline\EvaluationBundle\Finder\ResourceUserEvaluationFinder: ~
