services:
    Claroline\EvaluationBundle\Serializer\WorkspaceEvaluationSerializer:
        tags: [ claroline.serializer ]
        arguments:
            - '@Claroline\CommunityBundle\Serializer\UserSerializer'
            - '@Claroline\CoreBundle\API\Serializer\Workspace\WorkspaceSerializer'

    Claroline\EvaluationBundle\Serializer\ResourceUserEvaluationSerializer:
        tags: [ claroline.serializer ]
        arguments:
            - '@Claroline\CoreBundle\API\Serializer\Resource\ResourceNodeSerializer'
            - '@Claroline\CommunityBundle\Serializer\UserSerializer'

    Claroline\EvaluationBundle\Serializer\ResourceEvaluationSerializer:
        tags: [ claroline.serializer ]
        arguments:
            - '@Claroline\CoreBundle\API\Serializer\Resource\ResourceNodeSerializer'
            - '@Claroline\CommunityBundle\Serializer\UserSerializer'
