services:
    Claroline\EvaluationBundle\Subscriber\ResourceEvaluationSubscriber:
        arguments:
            - '@messenger.default_bus'
            - '@Claroline\AppBundle\Persistence\ObjectManager'
            - '@Claroline\AppBundle\Manager\SecurityManager'
            - '@Claroline\EvaluationBundle\Manager\ResourceEvaluationManager'
        tags:
            - { name: kernel.event_subscriber }

    Claroline\EvaluationBundle\Subscriber\WorkspaceEvaluationSubscriber:
        arguments:
            - '@security.token_storage'
            - '@messenger.default_bus'
            - '@Claroline\AppBundle\Persistence\ObjectManager'
            - '@Claroline\EvaluationBundle\Manager\WorkspaceEvaluationManager'
        tags:
            - { name: kernel.event_subscriber }

    # Data sources
    Claroline\EvaluationBundle\Subscriber\DataSource\ResourceAttemptSource:
        arguments:
            - '@security.token_storage'
            - '@security.authorization_checker'
            - '@Claroline\AppBundle\API\FinderProvider'
        tags:
            - { name: kernel.event_subscriber }

    Claroline\EvaluationBundle\Subscriber\DataSource\ResourceEvaluationSource:
        arguments:
            - '@security.token_storage'
            - '@security.authorization_checker'
            - '@Claroline\AppBundle\API\FinderProvider'
        tags:
            - { name: kernel.event_subscriber }

    Claroline\EvaluationBundle\Subscriber\DataSource\MyResourceEvaluationSource:
      arguments:
        - '@security.token_storage'
        - '@Claroline\AppBundle\API\FinderProvider'
      tags:
        - { name: kernel.event_subscriber }

    Claroline\EvaluationBundle\Subscriber\DataSource\WorkspaceEvaluationSource:
        arguments:
            - '@security.token_storage'
            - '@security.authorization_checker'
            - '@Claroline\AppBundle\API\FinderProvider'
        tags:
            - { name: kernel.event_subscriber }

    Claroline\EvaluationBundle\Subscriber\DataSource\MyWorkspaceEvaluationSource:
            arguments:
                - '@security.token_storage'
                - '@Claroline\AppBundle\API\FinderProvider'
            tags:
                - { name: kernel.event_subscriber }
