services:
    _defaults:
        autowire: false
        autoconfigure: false
        public: true

    _instanceof:
        Claroline\CoreBundle\Security\Voter\AbstractVoter:
            autowire: false
            tags: [security.voter]
            calls:
                - method: setContainer
                  arguments:
                      - '@service_container'

    Claroline\EvaluationBundle\Security\Voter\WorkspaceEvaluationVoter: ~

    Claroline\EvaluationBundle\Security\Voter\ResourceUserEvaluationVoter: ~
