%workspace_poster%
<h1>%workspace_name% <small>%workspace_code%</small></h1>

<h2>Description</h2>
<p>%workspace_description%</p>

<h2>Informations</h2>
<ul>
    <li><b>Utilisateur : </b> %user_first_name% %user_last_name%</li>
    <li><b>Statut : </b> %evaluation_status%</li>
    <li><b>Score : </b> %evaluation_score% / %evaluation_score_max%</li>
    <li><b>Temps passé : </b> %evaluation_duration%</li>
    <li><b>Dernière activité : </b> %evaluation_datetime%</li>
</ul>
