%workspace_poster%
<h1>%workspace_name% <small>%workspace_code%</small></h1>

<h2>Description</h2>
<p>%workspace_description%</p>

<h2>Information</h2>
<ul>
    <li><b>User : </b> %user_first_name% %user_last_name%</li>
    <li><b>Status : </b> %evaluation_status%</li>
    <li><b>Time spent : </b> %evaluation_duration% minutes</li>
    <li><b>Last activity : </b> %evaluation_date%</li>
</ul>
