{% extends 'ClarolineCoreBundle::content_layout.html.twig' %}
{% block content %}

<div class="section" id="desktop"> 
    <h4>{{ 'desktop'|trans({}, 'platformTranslation') }}</h4>
    <a href="{{ path('claro_resource_create') }}" id="resource_manager_link">{{ 'resource_manager'|trans({}, 'platformTranslation') }}</a>
<div>
    
{% endblock %}