{% extends 'ClarolineCoreBundle::content_layout.html.twig' %}

{% block content %}

<div class="section" id="desktop">
    
    <h4>{{ 'desktop'|trans({}, 'desktop') }}</h4>
    
    <h5>{{ 'workspaces'|trans({}, 'workspace') }} : </h5>
    {% render "ClarolineCoreBundle:Workspace:listForUser" with {'userId': app.user.id} %}

<div>

{% endblock %}