{% extends 'ClarolineCoreBundle::content_layout.html.twig' %}

{% block content %}

<div class="section" id="desktop">
    
    <h4>{{ 'desktop'|trans({}, 'platformTranslation') }}</h4>
    
    <h5>{{ 'workspaces'|trans({}, 'platformTranslation') }} : </h5>
    GONE

<div>

{% endblock %}