{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block title %}{{ 'desktop'|trans({}, 'platform') }}{% endblock %}

{% block sectionHeader %}
    &nbsp;
{% endblock %}

{% block content %}

    <div class="col-lg-3">
        <div class="list-group menu">
            <div class="list-group-item disabled">
               {{ 'desktop'|trans({}, 'platform') }}
            </div>

            {% render controller("ClarolineCoreBundle:Desktop:renderToolList") %}
        </div>
    </div>

    <div class="col-lg-9 section-content">
        <div class="panel panel-default">
            {% block section_content %}{% endblock %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        $('body').tooltip({
            selector: '[data-toggle=tooltip]'
        })

    </script>
{% endblock %}
