{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block sectionHeader %}
    {{ macros.sectionHeader('desktop'|trans({}, 'platform')) }}
{% endblock %}

{% block content %}

{% render "ClarolineCoreBundle:Desktop:renderToolList" %}

<div class="section-content">
    {% block sectionContent %}{% endblock %}
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('[rel=tooltip]').tooltip();
    </script>
{% endblock %}
