<div uib-alert class="alert col-md-12" data-ng-repeat="alert in vm.alerts" data-type="{{alert.type}}" data-close="vm.closeAlert($index)">{{alert.msg | trans:{}:'platform'}}</div>
<div class="col-md-6" ng-repeat="iconSet in vm.iconSets">
    <div class="alert alert-success">
        <a data-ng-if="!iconSet.default" href="{{ 'claro_admin_resource_icon_set_edit'|path:{ 'id': iconSet.id } }}">
            <i class="fa fa-edit"></i>
        </a>
        <button data-ng-if="!iconSet.default && !iconSet.active && !vm.isReadOnly" data-confirm-modal="{{'remove_icon_set_confirm_message'|trans:{}:'platform'}}" data-confirm-modal-action="vm.removeIconSet(iconSet)" type="button" class="close" data-id="{{ iconSet.id }}" aria-hidden="true">&times;</button>
        <strong>{{  iconSet.name }} </strong>
    </div>
</div>