<a href="{{path('innova_path_player_wizard', {'id':notification.details.resource.id})}}">{{ notification.actionKey|trans({'%path%' : notification.details.resource.name, '%step%' : notification.details.unlock.stepname}, 'notification') }}</a>
