{% extends 'IcapNotificationBundle:Templates:notification.html.twig' %}

{% set avatarUrlPrefix = asset('uploads/pictures/') %}

{% block notificationText %}
    {% if notification.userId is not empty and notification.details.doer is defined %}
        <a href="{{ path('claro_public_profile_view', {'publicUrl' : notification.userId}) }}"><strong>{{ notification.details.doer.firstName ~ ' ' ~ notification.details.doer.lastName }}</strong></a>
    {% else %}
        <strong>{{ systemName }}</strong>
    {% endif %}
    {% if constant('Innova\\PathBundle\\Event\\Log\\LogStepUnlockDoneEvent::ACTION') == notification.actionKey %}
        {% include 'InnovaPathBundle:Notification:notification_step_unlockdone.html.twig' %}
    {% endif %}
{% endblock %}
