<div>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog"></i> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" ng-click="uc.clickDelete()"> {{ 'delete'|trans:{}:'platform' }} </a></li>
            <li><a href="#" ng-click="uc.initPassword()"> {{ 'reset_password'|trans:{}:'platform' }} </a></li>
        </ul>
    </div>
</div>