<form class="form-horizontal" role="form" method="POST" 
        action="{{ path('innova_collecticiel_add_notation') }}">
    <div class="innova_collecticiel_notation_form container form-group form-buttons">
        <div class="form-group row col-md-9">
            <label>
                <input id="innova_collecticiel_notation_form_note" name="innova_collecticiel_notation_form[note]" required="required" min="0" max="9999" class="form-control" type="integer">
            </label>
        </div>
        <div class="form-group row col-md-9">
            <label>
                    <textarea id="innova_collecticiel_notation_form_commentText" name="innova_collecticiel_notation_form[commentText]" required="required" class="claroline-tiny-mce hide">
                    </textarea>
            </label>
        </div>
        <div class="form-group row col-md-9">
            <label>
                    <textarea id="innova_collecticiel_notation_form_qualityText" name="innova_collecticiel_notation_form[qualityText]" required="required" class="claroline-tiny-mce hide">
                    </textarea>
            </label>
        </div>
    </div>
</form>
