<form class="form-horizontal" method="POST">
    <div class="container form-group form-buttons">
    <label>
        <input id="innova_collecticiel_notation_form_note" name="innova_collecticiel_notation_form[note]" required="required" min="0" max="9999" class="form-control" type="integer">
    </label>
    </div>
</form>
