<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#badges" role="tab" data-toggle="tab">Badges</a></li>
    <li><a href="#users" role="tab" data-toggle="tab">Utilisateurs</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="badges">
        {% include 'ClarolineCoreBundle:Badge\\Template:list_badges.html.twig'%}
    </div>
    <div class="tab-pane" id="users">
        {% include 'ClarolineCoreBundle:Badge\\Template:list_users.html.twig'%}
    </div>
</div>