<style type="text/css">
    .log_list_item_head {
        font-size: 13px;
        font-weight: bold;
    }
</style>

<div class="col-md-2 log_list_item_head">
    {{'date'|trans({}, 'platform')}}
</div>

<div class="col-md-2 log_list_item_head">
    {{'action'|trans({}, 'platform')}}
</div>

<div class="col-md-2 log_list_item_head">
    {{'user'|trans({}, 'platform')}}
</div>

<div class='col-md-6 log_list_item_head'>
    {{'action'|trans({}, 'platform')}}
</div>
