{% extends "ClarolineCoreBundle:Resource:layout.html.twig" %}

{% block content %}
    <div
        class="page-container image-container"
        data-image="{{ _resource | api_serialize | json_encode | raw | escape }}"
        data-resource-node="{{ _resource.resourceNode | api_serialize | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('dist/claroline-distribution-plugin-image-player-image-resource.js') }}"></script>
{% endblock %}
