{% extends "IcapDropzoneBundle:Document:documentFormDefault.html.twig" %}

{% block document_body %}
    <div class="row">
        {{ form_row(form.document, {'label_col_size': ' ', 'input_col_size': 'col-md-8', 'attr': {'placeholder': (documentType~'_placeholder')|trans({}, 'icap_dropzone')}, 'label_attr': {'class': 'sr-only'},'id': 'icap_dropzone_document_file_form_text'}) }}
        <div class="col-md-4 ">
            <div class="form-group ">
                <button type="submit" class="btn btn-primary">
                    {{ 'Add'|trans({}, 'icap_dropzone') }}
                </button>
            </div>
        </div>
    </div>

{% endblock %}

