{# Variable qui va compter le nombre de commentaires #}
{% if document.comments|length == 0 %}
        <span class="fa fa-minus"> </span>
{% else %}
        <span class="fa fa-check"> </span>
{% endif %}
