<div class="clearfix">
    <ul class="pull-left path-breadcrumbs" data-ng-if="pathNavigationEditCtrl.step">
        <!-- Parents of the current Step -->
        <path-navigation-item data-ng-repeat="parent in pathNavigationEditCtrl.parents" data-element="parent" data-parent="pathNavigationEditCtrl.parents[$index - 1]" data-current="pathNavigationEditCtrl.step"></path-navigation-item>

        <!-- Current step -->
        <path-navigation-item data-element="pathNavigationEditCtrl.step" data-parent="pathNavigationEditCtrl.parents[pathNavigationEditCtrl.parents.length - 1]" data-current="pathNavigationEditCtrl.step"></path-navigation-item>

        <!-- Next step -->
        <li class="step-item dropdown" data-ng-if="pathNavigationEditCtrl.step.children && 0 !== pathNavigationEditCtrl.step.children.length">
            <a href="" role="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" id="step-children-dropdown">
                <span class="fa fa-ellipsis-h"></span>
                <span class="sr-only">{{ 'next_steps'|trans:{}:'path_wizards' }}</span>
            </a>

            <ul class="dropdown-menu" role="menu" aria-labelledby="step-children-dropdown">
                <!-- step-item lvl lvl-{{ child.lvl }} lvl-child lvl-hover -->
                <li data-ng-repeat="child in pathNavigationEditCtrl.step.children" role="presentation">
                    <a role="menuitem" tabindex="-1" href="#/{{ child.id }}">E {{ child.name | truncate }}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
