	<a href="{{ path('innova_collecticiel_open', {'resourceId' : notification.details.resource.id}) }}" target="_blank">
		{{ notification.actionKey|trans({
			'%name%' : notification.details.resource.name, 
			'%type%' : notification.details.resource.type,
			'%newState%' : notification.details.newState|trans({
			},'innova_collecticiel')
		}, 'notification') }}
	</a>
