{% extends 'IcapNotificationBundle:Templates:notification.html.twig' %}
{% set avatarUrlPrefix = asset('uploads/pictures/') %}

{% block notificationText %}
    {% if notification.userId is not empty and notification.details.doer is defined %}
        <a href="{{ path('claro_profile_view', {'user' : notification.userId}) }}"><strong>{{ notification.details.doer.firstName ~ ' ' ~ notification.details.doer.lastName }}</strong></a>
    {% else %}
        <strong>{{ systemName }}</strong>
    {% endif %}

    {% if constant('Innova\\CollecticielBundle\\Event\\Log\\LogDropReportEvent::ACTION') == notification.actionKey %}
        {#    DROP REPORT  #}
        {% include 'InnovaCollecticielBundle:Notification:notification_drop_report.html.twig' %}

    {% elseif constant('Innova\\CollecticielBundle\\Event\\Log\\LogCorrectionReportEvent::ACTION') == notification.actionKey %}
        {#    CORRECTION  REPORT  #}
        {% include 'InnovaCollecticielBundle:Notification:notification_correction_report.html.twig' %}

    {% elseif constant('Innova\\CollecticielBundle\\Event\\Log\\LogDropGradeAvailableEvent::ACTION') == notification.actionKey %}
        {#    DROP GRADE AVAILABLE  #}
        {% include 'InnovaCollecticielBundle:Notification:notification_drop_grade_available.html.twig' %}

    {% elseif constant('Innova\\CollecticielBundle\\Event\\Log\\LogDropzoneManualStateChangedEvent::ACTION') == notification.actionKey %}
        {#    MANUAL STATE CHANGED  #}
        {% include 'InnovaCollecticielBundle:Notification:notification_dropzone_manual_state_changed.html.twig' %}

    {% elseif constant('Innova\\CollecticielBundle\\Event\\Log\\LogDropzoneAddCommentEvent::ACTION') == notification.actionKey %}
        {# ADD COMMENT #}
        {% include 'InnovaCollecticielBundle:Notification:notification_dropzone_add_comment.html.twig' %}

    {% elseif constant('Innova\\CollecticielBundle\\Event\\Log\\LogDropzoneValidateDocumentEvent::ACTION') == notification.actionKey %}
        {# VALIDATE DOCUMENT  #}
        {% include 'InnovaCollecticielBundle:Notification:notification_dropzone_validate_document.html.twig' %}

    {% elseif constant('Innova\\CollecticielBundle\\Event\\Log\\LogDropzoneAddDocumentEvent::ACTION') == notification.actionKey %}
        {# AJOUT D'UN DOCUMENT #}
        {% include 'InnovaCollecticielBundle:Notification:notification_dropzone_add_document.html.twig' %}

    {% elseif constant('Innova\\CollecticielBundle\\Event\\Log\\LogDropzoneReturnReceiptEvent::ACTION') == notification.actionKey %}
        {# ACCUSE DE RECEPTION #}
        {% include 'InnovaCollecticielBundle:Notification:notification_dropzone_return_receipt.html.twig' %}

    {% elseif constant('Innova\\CollecticielBundle\\Event\\Log\\LogDropEndEvent::ACTION') == notification.actionKey %}
        {# DROP END #}
        {% include 'InnovaCollecticielBundle:Notification:notification_drop_end.html.twig' %}
    {% endif %}
{% endblock %}
