/**
 * Styles for left sidebar
 */

.ng-pageslide {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
}

#sidebar-left {
  z-index: (@zindex-navbar + 1);       /* To prevent bootstrap navbar to pass over the sidebar */
  margin-top: (@navbar-height + 20px); /* Same value as body padding-top */

  /* Sidebar title */
  h2 {
    font-size: 20px;
    margin-top: 0;
    padding: 0 10px;
    margin-bottom: 15px;
  }

  /* Sidebar close button */
  #sidebar-left-close {
    margin: 0 10px;
    color: @text-color;
    opacity: 0.6;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

/* Add a margin to the sidebar when the left menu is displayed */
@media (min-width: @screen-sm) {
    #sidebar-left {
        margin-left: 40px;
    }
}

/* No margin on the sidebar when the left bar is not displayed */
@media (max-width: (@screen-sm - 1)) {
    #sidebar-left {
        margin-left: 0;
    }
}
