<ul class="nav nav-tabs">
  <li role="presentation" {% if type == 'cursus' %}class="active"{% endif %}>
      <a href="{{ path('claro_cursus_tool_index') }}">
          {{ displayedWords['cursus'] }}
      </a>
  </li>
  <li role="presentation" {% if type == 'course' %}class="active"{% endif %}>
      <a href="{{ path('claro_cursus_tool_course_index') }}">
          {{ displayedWords['course'] }}
      </a>
  </li>
</ul>