
@import "cascade";
@import "cascade-enum";
@import "collection";
@import "color-picker";
@import "editor";
@import "enum";
@import "field";
@import "file";
@import "filter";
@import "ip";
@import "select";
@import "text";

// adds some var to configure form controls
.form-control {
    padding: @input-padding; // adds a semantic var

    .box-shadow(@input-box-shadow);
    .transition(@input-transition);
}

input[type=checkbox] {
    cursor: pointer;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
    color: @input-color-placeholder;
    cursor: text;
}

// rewrites Bootstrap checkboxes/radios in flex
// TODO : manage inline mode in flex too
.radio,
.radio-inline,
.checkbox,
.checkbox-inline {
    padding-left: 0; // remove bootstrap default

    label {
        // Fixes bootstrap that do not remove label font-weight like `.radio` and `.checkbox`
        // And so do not work as expected
        font-weight: normal;
        cursor: pointer;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        padding-left: 0; // remove bootstrap default
    }

    // remove bootstrap default
    input[type="radio"],
    input[type="checkbox"] {
        position: static;
        margin: 0;
        margin-right: @icon-text-spacer;
    }
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
    margin-left: 5px; // same space than vertical
}