.choices-dropdown-menu { // used by a field that needs to be removed
    position: inherit;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 3px;
    padding-top: 0;
    padding-bottom: 0;

    .choices-fetching {
        background-color: #DEE1E8;
    }
}

.two_level_select { // used by a twig field that needs to be removed
    select {
        .form-control;
        .input-sm;
        width:   auto;
        display: inline-block;
        &+ select {
            margin-left: 5px;
        }
    }
    &.has-error {
        select {
            border-color : @brand-danger;
        }
    }
}

.cascade-select {
    fieldset {
        margin-bottom: 6px;
    }
}
