<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>{{ 'name'|trans({}, 'platform') }}</th>
            <th></th>
        </tr>
        {% for homeTabConfig in homeTabsConfig %}
            {% set homeTab = homeTabConfig.getHomeTab() %}
            {% set homeTabId = homeTab.getId() %}
            <tr>
                <td>{{ homeTab.getName() }}</td>
                <td>
                    <input type="checkbox"
                           class="hometab-chk"
                           value="{{ homeTabId }}"
                           {% if homeTabIds[homeTabId] is defined %}checked{% endif %}
                    >
                </td>
            </tr>
        {% endfor %}
    </table>
</div>