<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ _resource.resourceNode.name ~ '.pdf' }}</title>
    {% stylesheets debug=false filter='less' output='bundles/icapwiki/css/pdf.css'
        "@IcapWikiBundle/Resources/views/less/pdf.less"
    %}
        <link rel="stylesheet" type="text/css" href="{{ app.request.getSchemeAndHttpHost() ~ asset_url }}"/>
    {% endstylesheets %}
</head>
<body>
<h1>{{ title }}</h1>
{{ text|raw }}
</body>
</html>
