<ul class="path-breadcrumbs">
    <!-- Parents of the current Step -->
    <li data-ng-repeat="parent in pathBreadcrumbsShowCtrl.parents" class="lvl lvl-{{ parent.lvl }}-zindex-reverse lvl-{{ parent.lvl }}-hover">
        <div class="lvl-indicator lvl lvl-{{ parent.lvl }}"></div>

        <a href="#/{{ parent.id }}">
            {{ parent.name | truncate }}
        </a>

        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <b class="caret"></b>
        </a>
    </li>

    <!-- Current step -->
    <li class="current-step lvl lvl-{{ pathBreadcrumbsShowCtrl.step.lvl }}-zindex-reverse">
        <div class="lvl-indicator lvl lvl-{{ pathBreadcrumbsShowCtrl.step.lvl }}"></div>
        {{ pathBreadcrumbsShowCtrl.step.name }}
    </li>
</ul>