{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}
{% block content %}
FORUM INDEX
<br/>
<a href="{{path('claro_forum_form_subject_creation', {'forumInstanceId': forumInstance.getId()})}}"> créer un sujet </a>
<br/>
{% endblock %}