{% for message in messages %}
<tr>
    <td>
       <div>
           <img height="100px" src="{{asset('bundles/clarolinecore/images/workspaces/tools/user.png')}}" />
       </div>
       <div>
           {{ message.getCreator().getUsername() }}<br/>
           {{ message.getCreationDate()|date('m/d/Y H:i:s') }}
       </div>
    </td>
    <td>{{ message.getContent()|raw }}
    </td>
</tr>
{% endfor %}