{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}
{% block content %}
SUBJECT: {{ subject.getTitle() }}
{% for message in subject.getMessages() %}
<br/>
user : {{ subject.getCreator().getUsername() }}
<br/>
{{ message.getContent() }}
<br/>
<a href='{{path('claro_forum_add_message', {'subjectId':subject.getId()})}}'>ajouter un message</a>
{% endfor %}
{% endblock %}