<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$close()">&times;</button>
        <h4 class="modal-title">{% block header %}{% endblock %}</h4>
    </div>
    {% block explanation %} {% endblock %}
    {% block form %}{% endblock %}
</div>