<ul class="navbar">
    <li ng-class="{active: activeTab == 'Global'}" tooltip="Task 1 : Defining General Properties">
        <a class="btn" href="#/global/{{ path.id }}">1. Global</a>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="progression" 
                  ng-class="{
                    'progression-todo': path.progression.global == 'todo', 
                    'progression-inprogress': path.progression.global == 'in_progress', 
                    'progression-done': path.progression.global == 'done'}">
            </span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="" ng-click="path.progression.global = 'todo'"><i class="icon-ban-circle"></i> To do</a></li>
            <li><a href="" ng-click="path.progression.global = 'in_progress'"><i class="icon-refresh"></i> In progress</a></li>
            <li><a href="" ng-click="path.progression.global = 'done'"><i class="icon-ok"></i> Done</a></li>
        </ul>
    </li>
    
    <li ng-class="{active: activeTab == 'Skills'}" tooltip="Task 2 : Defining skills and competencies">
        <a class="btn" href="#/skills/{{ path.id }}">2. Skills</a>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="progression" 
                  ng-class="{
                    'progression-todo': path.progression.skills == 'todo', 
                    'progression-inprogress': path.progression.skills == 'in_progress', 
                    'progression-done': path.progression.skills == 'done'}">
            </span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="" ng-click="path.progression.skills = 'todo'"><i class="icon-ban-circle"></i> To do</a></li>
            <li><a href="" ng-click="path.progression.skills = 'in_progress'"><i class="icon-refresh"></i> In progress</a></li>
            <li><a href="" ng-click="path.progression.skills = 'done'"><i class="icon-ok"></i> Done</a></li>
        </ul>
    </li>
    
    <li ng-class="{active: activeTab == 'Scenario'}" tooltip="Task 3 : Defining scenario and steps">
        <a class="btn" href="#/scenario/{{ path.id }}">3. Scenario</a>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="progression" 
                  ng-class="{
                    'progression-todo': path.progression.scenario == 'todo', 
                    'progression-inprogress': path.progression.scenario == 'in_progress', 
                    'progression-done': path.progression.scenario == 'done'}">
            </span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="" ng-click="path.progression.scenario = 'todo'"><i class="icon-ban-circle"></i> To do</a></li>
            <li><a href="" ng-click="path.progression.scenario = 'in_progress'"><i class="icon-refresh"></i> In progress</a></li>
            <li><a href="" ng-click="path.progression.scenario = 'done'"><i class="icon-ok"></i> Done</a></li>
        </ul>
    </li>
    
    <li ng-class="{active: activeTab == 'Planner'}" tooltip="Task 4 : Plan the path in an agenda">
        <a class="btn" href="#/planner/{{ path.id }}">4. Planner</a>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="progression" 
                  ng-class="{
                    'progression-todo': path.progression.planner == 'todo', 
                    'progression-inprogress': path.progression.planner == 'in_progress', 
                    'progression-done': path.progression.planner == 'done'}">
            </span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="" ng-click="path.progression.planner = 'todo'"><i class="icon-ban-circle"></i> To do</a></li>
            <li><a href="" ng-click="path.progression.planner = 'in_progress'"><i class="icon-refresh"></i> In progress</a></li>
            <li><a href="" ng-click="path.progression.planner = 'done'"><i class="icon-ok"></i> Done</a></li>
        </ul>
    </li>
    
    <li ng-class="{active: activeTab == 'Validation'}" tooltip="Task 5 : Validating the path">
        <a class="btn" href="#/validation/{{ path.id }}">5. Validation</a>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="progression" 
                  ng-class="{
                    'progression-todo': path.progression.validation == 'todo', 
                    'progression-inprogress': path.progression.validation == 'in_progress', 
                    'progression-done': path.progression.validation == 'done'}">
            </span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="" ng-click="path.progression.validation = 'todo'"><i class="icon-ban-circle"></i> To do</a></li>
            <li><a href="" ng-click="path.progression.validation = 'in_progress'"><i class="icon-refresh"></i> In progress</a></li>
            <li><a href="" ng-click="path.progression.validation = 'done'"><i class="icon-ok"></i> Done</a></li>
        </ul>
    </li>
</ul>