imports:
    - { resource: services/command.yml }
    - { resource: services/manager.yml }
    - { resource: services/repository.yml }

services:
    claroline.installation.fixture_loader:
        class: Claroline\InstallationBundle\Fixtures\FixtureLoader
        arguments:
            - '@claroline.installation.fixture_loader.locator'
            - '@claroline.doctrine_fixture_executor'
        calls:
            - setLogger: ['@logger']

    claroline.symfony_fixture_loader:
        shared: false
        class: Symfony\Bridge\Doctrine\DataFixtures\ContainerAwareLoader
        arguments:
            - '@service_container'

    claroline.installation.fixture_loader.locator:
        class: Symfony\Component\DependencyInjection\ServiceLocator
        arguments:
            - { claroline.symfony_fixture_loader: '@claroline.symfony_fixture_loader' }
        tags: ['container.service_locator']

    claroline.doctrine_fixture_executor:
        class: Doctrine\Common\DataFixtures\Executor\ORMExecutor
        arguments:
            - '@doctrine.orm.entity_manager'
