{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block title %}{{ 'administration'|trans({}, 'platform')|striptags|raw }}{% endblock %}

{% block leftbar %}
    {% render(controller("ClarolineCoreBundle:Administration:renderLeftBar")) %}
{% endblock %}

{% block content %}
    <div class="visible-xs">
        {{ block("leftbar") }}
    </div>
    {% block section_content %}{% endblock %}
{% endblock %}
