<script>
    function fb_login() {
        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
                document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
            } else {
                FB.login(function(response) {
                    if (response.authResponse) {
                        document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                    }
                });
            }
        });
    }
</script>
<button class='btn btn-primary facebook-connect hide btn-block'>
    <i class="fa fa-facebook-square"></i> {{ 'login'|trans({}, 'platform') }}
    <div onlogin="fb_login();" class="fb-login-button" data-max-rows="1" data-size="xlarge"
        data-show-faces="false" data-auto-logout-link="false">
    </div>
</button>
