<script>
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
            appId      : '{{ get_facebook_app_id() }}',        // App ID from the app dashboard
            status     : true,                                 // Check Facebook Login status
            xfbml      : true,
            cookie     : true
        });
        $('.facebook-connect').removeClass('hide');
        $('#btn-logout').on('click', function() {
            FB.logout(function(response){});
        })
    };
</script>
{% if is_facebook_available() %}
    <div id="fb-root"></div>
{% endif %}
