
.app-sidebar {
    z-index: 3;
    overflow: hidden;
    width: 420px;

    background: white;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.5);
}

.app-sidebar-header {
    height: @top-bar-height;
    border-bottom: @top-bar-border-bottom;
    border-color: #ccc;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.5);

    padding: 0 floor(@grid-gutter-width / 2);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.app-sidebar-title {
    font-size: @top-bar-brand-font-size;
    margin: 0;
    padding: 0;

    small {
        display: block;
        margin-top: 5px;
    }
}

.app-sidebar-actions {
    margin-left: auto;
}
