%event_name%
<br/>
[%event_start% -> %event_end%]
<br/>
<p>%event_description%</p>
<br/><br/>

<a class="btn btn-block btn-primary" href="%event_join_url%">Je participerai</a>
<br/>
<a class="btn btn-block btn-default" href="%event_maybe_url%">Je participerai peut-être</a>
<br/>
<a class="btn btn-block btn-default" href="%event_decline_url%">Je ne participerai pas</a>
