%event_name%
<br/>
[%event_start% -> %event_end%]
<br/>
<p>%event_description%</p>
<br/><br/>

<a class="btn btn-block btn-primary" href="%event_join_url%">I will participate</a>
<br/>
<a class="btn btn-block btn-default" href="%event_maybe_url%">I might participate</a>
<br/>
<a class="btn btn-block btn-default" href="%event_decline_url%">I will not participate</a>
