<div class="col-md-6">
    <div class="alert alert-info" data-id="{{ type.id }}">
        {% if type.name != 'home' and type.name != 'menu' %}<button type="button" class="close type-delete">&times;</button>{% endif %}
            <strong><a class="alert-link" href="{{ ("type/" ~ type.name) | homeLink }}">{{ type.name }}</a></strong>
    </div>
</div>
