{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block section_content %}
   {% spaceless %}
        <ul class="breadcrumb">
            <li>
                <a href="#">{{ 'parameters'|trans({}, 'platform')|capitalize }}</a>
            </li>
        </ul>
    {% endspaceless %}
    <a href="{{path('claro_workspace_widget_properties', {'workspaceId': workspace.getId()})}}">{{ 'widgets'|trans({}, 'platform')|capitalize }}</a>

{% endblock %}