{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block section_content %}
   {% spaceless %}
        <ul class="breadcrumb">
            <li>
                <a href="#">{{ 'properties'|trans({}, 'platform') }}</a>
            </li>
        </ul>
    {% endspaceless %}
    <a href="{{path('claro_workspace_widget_properties', {'workspaceId': workspace.getId()})}}">widgets</a>

{% endblock %}