{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block section_content %}

    <a href="{{path('claro_workspace_widget_properties', {'workspaceId': workspace.getId()})}}">widgets</a>

{% endblock %}