{% extends 'HeVinciCompetencyBundle::modal.html.twig' %}

{% block body %}
    <form id="{% block id %}#{% endblock %}"
          action="{% block action %}#{% endblock %}"
          method="POST"
          enctype="multipart/form-data">
        {{ form_widget(form) }}
    </form>
{% endblock %}