{% for key, value in widgets %}
<section class="widget">
    <div class="widget-header">
        <span class="icon-calendar"></span>
        <h3>{{key}}</h3>
        <div class="widget-commands">
            <a href="" onClick="$('#w-events-content').toggle('fast'); return false;"><span class="icon-minus"></span></a>
            <a href="" onClick="$('#w-events').hide('fast',function () { $('#w-events').remove(); } ); return false;"><span class="icon-remove"></span></a>
        </div>
    </div> <!-- .widget-header -->
    <div class="widget-content">
        {{ value }}
    </div> <!-- .widget-content -->
<section> <!-- /widget -->
{% endfor %}