<!-- issue #62 : Add placeholder attributes instead value atributes.
// Cf PathFactory.js
// Cf MainCtrl.js -->
<form class="form-horizontal">
    <div class="form-group row">
        <label class="control-label col-md-3" for="path-name">Name</label>
        <div class="col-md-7">
            <input type="text" class="form-control required" placeholder="{{ path.placeholderName }}" ng-model="path.name" id="path-name" ng-change="renameRootStep(); updateHistory();" required />
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-md-3" for="path-description">Description</label>
        <div class="col-md-7">
            <textarea class="form-control" id="path-description" placeholder="{{ path.placeholderDescription }}" ng-model="path.description" ng-change="updateHistory()">{{ path.description }}</textarea>
        </div>
    </div>
</form>