services:
    _defaults:
        autowire: false
        autoconfigure: false

    # Dev

    Claroline\CoreBundle\Command\Maintenance\DisableMaintenanceCommand:
        tags:
            - { name: 'console.command', command: 'claroline:maintenance:disable' }

    Claroline\CoreBundle\Command\Maintenance\EnableMaintenanceCommand:
        tags:
            - { name: 'console.command', command: 'claroline:maintenance:enable' }

    # GeoIp

    Claroline\CoreBundle\Command\GeoIp\DownloadGeoIpDatabaseCommand:
        arguments:
            - '@Claroline\CoreBundle\Library\Configuration\PlatformConfigurationHandler'
            - '@Claroline\CoreBundle\Library\GeoIp\Database\MaxMindGeoIpDatabaseDownloader'
            - '%claroline.param.geoip_db_path%'
        tags:
            - { name: 'console.command', command: 'claroline:geoip:download' }

    # Logs

    Claroline\CoreBundle\Command\Logs\LogConnectionComputeCommand:
        arguments:
            - '@Claroline\CoreBundle\Manager\LogConnectManager'
        tags:
            - { name: 'console.command', command: 'claroline:connection:duration' }

    Claroline\CoreBundle\Command\Logs\LogsArchiverCommand:
        arguments:
            - '@Claroline\AppBundle\Persistence\ObjectManager'
            - '@Claroline\AppBundle\Manager\DatabaseManager'
        tags:
            - { name: 'console.command', command: 'claroline:logs:archive' }

    Claroline\CoreBundle\Command\Logs\LogsFetcherCommand:
        arguments:
            - '@Claroline\CoreBundle\Manager\LogManager'
        tags:
            - { name: 'console.command', command: 'claroline:logs:fetch' }

    # Task

    Claroline\CoreBundle\Command\ExecuteScheduledTasksCommand:
        arguments:
            - '@Claroline\CoreBundle\Manager\Task\ScheduledTaskManager'
            - '@messenger.default_bus'
        tags:
            - { name: 'console.command', command: 'claroline:tasks:execute' }

    # User

    Claroline\CoreBundle\Command\User\CreateCommand:
        arguments:
            - '@Claroline\AppBundle\Persistence\ObjectManager'
            - '@Claroline\AppBundle\API\Crud'
        tags:
            - { name: 'console.command', command: 'claroline:user:create' }

    Claroline\CoreBundle\Command\User\DisableInactiveCommand:
        arguments:
            - '@Claroline\AppBundle\Persistence\ObjectManager'
            - '@Claroline\CoreBundle\Manager\UserManager'
        tags:
            - { name: 'console.command', command: 'claroline:user:disable-inactive' }

    Claroline\CoreBundle\Command\User\AddGroupCommand:
        arguments:
            - '@Claroline\AppBundle\Persistence\ObjectManager'
            - '@Claroline\AppBundle\API\Crud'
            - '@Claroline\AppBundle\API\FinderProvider'
        tags:
            - { name: 'console.command', command: 'claroline:user:add_group' }

    Claroline\CoreBundle\Command\User\CleanGroupCommand:
        arguments:
            - '@Claroline\AppBundle\Persistence\ObjectManager'
            - '@Claroline\CoreBundle\Manager\UserManager'
        tags:
            - { name: 'console.command', command: 'claroline:user:clean_group' }

    # Workspace

    Claroline\CoreBundle\Command\Workspace\ArchiveCommand:
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@Claroline\AppBundle\Persistence\ObjectManager'
            - '@Claroline\CoreBundle\Manager\Workspace\WorkspaceManager'
        tags:
            - { name: 'console.command', command: 'claroline:workspace:archive' }

    Claroline\CoreBundle\Command\Workspace\BuildDefaultsCommand:
        arguments:
            - '@Claroline\CoreBundle\Manager\Workspace\WorkspaceManager'
        tags:
            - { name: 'console.command', command: 'claroline:workspace:build-default' }

    Claroline\CoreBundle\Command\Workspace\ExportCommand:
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@Claroline\CoreBundle\Manager\Workspace\TransferManager'
        tags:
            - { name: 'console.command', command: 'claroline:workspace:export' }

    Claroline\CoreBundle\Command\Workspace\ImportCommand:
        arguments:
            - '@Claroline\AppBundle\API\Crud'
            - '@Claroline\CoreBundle\Library\Utilities\FileUtilities'
            - '@Claroline\AppBundle\API\SerializerProvider'
            - '@Claroline\CoreBundle\Manager\Workspace\TransferManager'
        tags:
            - { name: 'console.command', command: 'claroline:workspace:import' }

    # Common

    Claroline\CoreBundle\Command\ComputeStorageCommand:
        arguments:
            - '@Claroline\CoreBundle\Manager\FileManager'
            - '@Claroline\CoreBundle\API\Serializer\ParametersSerializer'
            - '@Claroline\AppBundle\API\FinderProvider'
            - '@Claroline\AppBundle\API\Crud'
            - '@Claroline\CoreBundle\Listener\Log\LogListener'
        tags:
            - { name: 'console.command', command: 'claroline:storage:compute' }

    Claroline\CoreBundle\Command\UpdateRichTextCommand:
        arguments:
            - '@doctrine.orm.entity_manager'
        tags:
            - { name: 'console.command', command: 'claroline:rich_texts:update' }
