services:
    _defaults:
        tags: [ 'claroline.platform.updater' ]

    Claroline\CoreBundle\Installation\Updater\Updater130015:
        arguments:
            - '@doctrine.dbal.default_connection'
            - '@Claroline\AppBundle\Persistence\ObjectManager'

    Claroline\CoreBundle\Installation\Updater\Updater130023:
        arguments:
            - '@Claroline\CoreBundle\Library\Configuration\PlatformConfigurationHandler'

    Claroline\CoreBundle\Installation\Updater\Updater130025:
        arguments:
            - '@Claroline\AppBundle\Persistence\ObjectManager'

    Claroline\CoreBundle\Installation\Updater\Updater130032:
        arguments:
            - '@Claroline\CoreBundle\Library\Configuration\PlatformConfigurationHandler'

    Claroline\CoreBundle\Installation\Updater\Updater130037:
        arguments:
            - '@Claroline\CoreBundle\Library\Configuration\PlatformConfigurationHandler'

    Claroline\CoreBundle\Installation\Updater\Updater130100:
        arguments:
            - '@Claroline\AppBundle\Persistence\ObjectManager'
            - '@logger'

    Claroline\CoreBundle\Installation\Updater\Updater130300:
        arguments:
            - '@Claroline\AppBundle\Persistence\ObjectManager'

    Claroline\CoreBundle\Installation\Updater\Updater130303:
        arguments:
            - '@Claroline\CoreBundle\Library\Configuration\PlatformConfigurationHandler'

    Claroline\CoreBundle\Installation\Updater\Updater130406:
        arguments:
            - '@doctrine.dbal.default_connection'
            - '@Claroline\AppBundle\Persistence\ObjectManager'
