services:
    _defaults:
        autowire: false
        autoconfigure: false
        public: true

    _instanceof:
        Claroline\CoreBundle\Security\Voter\AbstractVoter:
            autowire: false
            tags: [security.voter]
            calls:
                - method: setContainer
                  arguments:
                      - '@service_container'

        Claroline\CoreBundle\Security\Voter\AbstractRoleSubjectVoter:
            autowire: false
            tags: [security.voter]

    Claroline\CoreBundle\Security\Voter\ConnectionMessage\ConnectionMessageVoter: ~

    Claroline\CoreBundle\Security\Voter\Template\TemplateVoter: ~

    Claroline\CoreBundle\Security\Voter\Tool\ToolVoter:
        arguments:
            - '@Claroline\AppBundle\Persistence\ObjectManager'
            - '@Claroline\CoreBundle\Manager\Tool\ToolMaskDecoderManager'

    Claroline\CoreBundle\Security\Voter\Tool\OrderedToolVoter: ~

    Claroline\CoreBundle\Security\Voter\Tool\AdministrationToolVoter: ~

    Claroline\CoreBundle\Security\Voter\AdministratorVoter:
        tags: [security.voter]

    Claroline\CoreBundle\Security\Voter\FacetVoter: ~

    Claroline\CoreBundle\Security\Voter\Location\LocationVoter: ~

    Claroline\CoreBundle\Security\Voter\Location\RoomVoter: ~

    Claroline\CoreBundle\Security\Voter\Location\MaterialVoter: ~

    Claroline\CoreBundle\Security\Voter\Planning\PlannedObjectVoter:
        arguments:
            - '@Claroline\AppBundle\Persistence\ObjectManager'

    Claroline\CoreBundle\Security\Voter\PublicFileVoter: ~

    Claroline\CoreBundle\Security\Voter\ResourceCommentVoter: ~

    Claroline\CoreBundle\Security\Voter\ResourceVoter:
        tags: [security.voter]
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@translator'
            - '@Claroline\CoreBundle\Manager\Resource\MaskManager'
            - '@Claroline\CoreBundle\Manager\Workspace\WorkspaceManager'
            - '@claroline.manager.resource_manager'
            - '@claroline.manager.rights_manager'
            - '@Claroline\CoreBundle\Manager\Resource\ResourceRestrictionsManager'

    Claroline\CoreBundle\Security\Voter\TextVoter: ~

    Claroline\CoreBundle\Security\Voter\UserSwitchVoter: ~

    Claroline\CoreBundle\Security\Voter\WorkspaceVoter:
        arguments:
            - '@Claroline\CoreBundle\Manager\Workspace\WorkspaceManager'
            - '@Claroline\CoreBundle\Manager\Workspace\WorkspaceRestrictionsManager'
