services:
    _defaults:
        tags: [security.voter]

    Claroline\CoreBundle\Security\Voter\ConnectionMessage\ConnectionMessageVoter:
        parent: Claroline\AppBundle\Security\Voter\AbstractVoter

    Claroline\CoreBundle\Security\Voter\Template\TemplateVoter:
        parent: Claroline\AppBundle\Security\Voter\AbstractVoter

    Claroline\CoreBundle\Security\Voter\Tool\ToolVoter:
        parent: Claroline\AppBundle\Security\Voter\AbstractVoter
        arguments:
            - '@Claroline\AppBundle\Persistence\ObjectManager'
            - '@Claroline\CoreBundle\Manager\Tool\ToolMaskDecoderManager'

    Claroline\CoreBundle\Security\Voter\Tool\OrderedToolVoter:
        parent: Claroline\AppBundle\Security\Voter\AbstractVoter

    Claroline\CoreBundle\Security\Voter\Tool\AdministrationToolVoter:
        parent: Claroline\AppBundle\Security\Voter\AbstractVoter

    Claroline\CoreBundle\Security\Voter\AdministratorVoter: ~

    Claroline\CoreBundle\Security\Voter\PublicFileVoter:
        parent: Claroline\AppBundle\Security\Voter\AbstractVoter

    Claroline\CoreBundle\Security\Voter\Location\LocationVoter:
        parent: Claroline\AppBundle\Security\Voter\AbstractVoter

    Claroline\CoreBundle\Security\Voter\Location\RoomVoter:
        parent: Claroline\AppBundle\Security\Voter\AbstractVoter

    Claroline\CoreBundle\Security\Voter\Location\MaterialVoter:
        parent: Claroline\AppBundle\Security\Voter\AbstractVoter

    Claroline\CoreBundle\Security\Voter\Planning\PlannedObjectVoter:
        parent: Claroline\AppBundle\Security\Voter\AbstractVoter
        arguments:
            - '@Claroline\AppBundle\Persistence\ObjectManager'

    Claroline\CoreBundle\Security\Voter\ResourceCommentVoter:
        parent: Claroline\AppBundle\Security\Voter\AbstractVoter

    Claroline\CoreBundle\Security\Voter\ResourceVoter:
        tags: [security.voter]
        arguments:
            - '@Claroline\AppBundle\Persistence\ObjectManager'
            - '@translator'
            - '@Claroline\CoreBundle\Manager\Resource\MaskManager'
            - '@Claroline\CoreBundle\Manager\Workspace\WorkspaceManager'
            - '@Claroline\CoreBundle\Manager\ResourceManager'
            - '@Claroline\CoreBundle\Manager\Resource\RightsManager'
            - '@Claroline\CoreBundle\Manager\Resource\ResourceRestrictionsManager'

    Claroline\CoreBundle\Security\Voter\UserSwitchVoter: ~

    Claroline\CoreBundle\Security\Voter\WorkspaceVoter:
        parent: Claroline\AppBundle\Security\Voter\AbstractVoter
        arguments:
            - '@Claroline\CoreBundle\Manager\Workspace\WorkspaceManager'
            - '@Claroline\CoreBundle\Manager\Workspace\WorkspaceRestrictionsManager'
