/*
 * Default theme values for claroline vars
 */

// Base & utilities
@box-shadow-base:         0 0 2px rgba(0, 0, 0, 0.10);
@component-margin-bottom: @line-height-computed;

/*@link-weight:             bold;
@link-hover-weight:       bold;*/

// Header
@top-bar-height:            @navbar-height + 3px; // 3px is the size of the bottom border
@top-bar-color:             lighten(@top-bar-bg, 30%);
@top-bar-bg:                @component-active-bg;
@top-bar-border-bottom:     3px solid #f89406;
@top-bar-box-shadow:        @box-shadow-base;

@top-bar-brand-font-size:   22px;
@top-bar-brand-color:       #fff;
@top-bar-brand-hover-color: #fff;
@top-bar-brand-hover-bg:    transparent;

@top-bar-link-color:          lighten(@top-bar-bg, 40%);
@top-bar-link-hover-color:    lighten(@top-bar-bg, 50%);
@top-bar-link-hover-bg:       darken(@top-bar-bg, 5%);
@top-bar-link-active-color:   lighten(@top-bar-bg, 60%);
@top-bar-link-active-bg:      darken(@top-bar-bg, 6.5%);
@top-bar-link-disabled-color: lighten(@top-bar-bg, 20%);
@top-bar-link-disabled-bg:    transparent;
@top-bar-inner-border-color:  darken(@top-bar-bg, 5%);

@top-bar-toggle-border-color: @top-bar-inner-border-color;
@top-bar-toggle-hover-bg:     @top-bar-link-hover-bg;
@top-bar-toggle-icon-bar-bg:  @top-bar-link-color;

@state-warning-text: #c09853;
@state-warning-bg: lighten(#FFEE00, 35%);
@state-warning-border: darken(spin(@state-warning-bg, -10), 3%);
@state-danger-text: #b94a48;
@state-danger-bg: lighten(@brand-danger, 35%);
@state-danger-border: darken(spin(@state-danger-bg, -10), 3%);
@state-success-text: #468847;
@state-success-bg: lighten(#67E300, 40%);
@state-success-border: darken(spin(@state-success-bg, -10), 5%);
@state-info-text: #3a87ad;
@state-info-bg: lighten(@brand-info, 30%);
@state-info-border: darken(spin(@state-info-bg, -10), 7%);

// Breadcrumb
@breadcrumb-box-shadow:     none;
@breadcrumb-font-size:      @font-size-small;
@breadcrumb-text-transform: inherit;
@breadcrumb-margin-bottom:  5px;

// Sidebars

// Page
@page-header-padding:          0;
@page-header-font-size:        26px; // link it to the default h* sizes
@page-header-weight:           700;
@page-header-link-color:       @gray-light;
@page-header-link-hover-color: @gray-dark;

// Footer
@footer-bg:    #F3F3F3;
@footer-color: @gray-light;

// Forms

// Panels
@panel-box-shadow:    @box-shadow-base;
@panel-margin-bottom: @component-margin-bottom;
