{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% block section_content %}
<div class="margin">       
    <h3 class="sub-section-header">{{ 'widget_settings'|trans({}, 'platform') }}</h3>
</div>
    {{ content|raw }}
{% endblock %}
