
<script type="text/ng-template" id="facet_renderer.html">
    <form class="form-horizontal">
        <div class="panel-body">
            <div class="panel-group" id="panel-facet-{{ facet.id }}" role="tablist">
                <div class="panel panel-default" ng-repeat="(key, panel) in facet.panels">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#panel-{{ panel.id }}" aria-expanded="true"  aria-controls="panel-facet-{{ panel.id }}">
                                {{ panel.name }}
                            </a>
                        </h4>
                    </div>
                    <div id="panel-{{ panel.id }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-{{ panel.id }}">
                        <div class="panel-body">
                            <div ng-repeat="(key, field) in panel.fields">
                               <form-field field="pc.fieldForms[field.id]" ng-model="field.user_field_value"></form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input ng-if="!pc.disabled" type="submit" ng-click="pc.onSubmit(facet)" class="btn btn-primary" aria-hidden="true" value="{{ 'edit'|trans:{}:'platform' }}"></input>
        </div>
    </form>
</script>

<div class="panel-body">
  <button ng-if="pc.canEdit" ng-click="pc.switchProfileMode()" class="btn btn-primary" style="margin-bottom: 10px;"> {{ pc.profileModeLabel }} </button>
  <ul class="nav nav-tabs">
      <li class="active"><a href="#general-profile" data-toggle="tab">{{ 'general'|trans:{}:'platform' }}</a> </li>
      <li ng-if="!facet.is_main" ng-repeat="(key, facet) in pc.facets"> <a href="#facet-{{ facet.id}}" data-toggle="tab"> {{ facet.name }}</a> </li>
      <li ng-if="pc.displayCourses" ng-click="pc.loadCoursesProfile()">
          <a href="#courses-profile" data-toggle="tab">{{ 'courses'|trans:{}:'cursus' }}</a>
      </li>
  </ul>
  <div id="facet-pane" class="tab-content">
      <div class="tab-pane active" id="general-profile">
          <div class="panel-body">
              <div class="row">
                  <aside class="col-md-2 profile_aside" role="complementary">
                      <div class="avatar">
                          <img ng-if="pc.user.picture"
                               ng-src="{{ pc.picturePath | asset }}"
                               class="profile_picture img-circle"
                               alt="{{ pc.user.lastName + ' ' + pc.user.firstName }}"
                               width="150px"
                               height="150px"
                          >
                          <h1 ng-if="!pc.user.picture" class="profile_picture_placeholder"><i class="fa fa-user"></i></h1>
                      </div>
                      <div class="informations">
                          <p class="text-center text-muted">
                              {{ 'registered'|trans:{}:'platform' }} {{ pc.user.creationDate }}
                          </p>
                      </div>
                  </aside>
                  <div class="col-md-6 profile_informations">
                      <h2>{{ pc.user.lastName }}  {{ pc.user.firstName }} </h2>
                      <p ng-if="pc.user.allowSendMail">
                          <a class="fa fa-envelope" href="mailto:{{ pc.user.mail }}" title="{{ pc.user.mail }}">{{ pc.user.mail }}</a>
                      </p>
                      <p ng-if="pc.user.allowSendMessage">
                          <a class="fa fa-pencil" href="{{ 'claro_message_form_for_user'|path:{user: pc.user.id} }}"> {{ 'send_message'|trans:{}:'platform' }}</a>
                      </p>
                      <p ng-if="pc.user.phone"><span class="fa fa-phone"></span> {{ pc.user.phone }}</p>
                      <p ng-repeat="(key, link) in pc.arLinks"><a href="{{ link.url }}">
                          {{ link.name|trans:{}: 'resource' }}
                      </a></p>
                      <div ng-if="pc.user.description" class="description_block">
                          <p class="lead">Description de {{ pc.user.lastName + ' ' + pc.user.firstName }}</p>
                          <div class="description"> {{ pc.user.description }} </div>
                      </div>
                  </div>
                  <div class="col-md-4" ng-if="pc.user.groups.length > 0">
                      <h4>{{ 'groups'|trans:{}:'platform' }}</h4>
                      <div class="groups">
                          <p ng-repeat="(key, group) in pc.user.groups"> {{ group.name }}</p>
                      </div>
                  </div>
              </div>
              <div ng-if="facet.is_main" ng-repeat="(key, facet) in pc.facets">
                  <form class="facet-main" ng-include="'facet_renderer.html'"></form>
              </div>
          </div>
      </div>
      <div class="tab-pane" id="facet-{{ facet.id }}"  ng-if="!facet.is_main" ng-repeat="(key, facet) in pc.facets">
          <div ng-include="'facet_renderer.html'"></div>
      </div>
      <div class="tab-pane" id="courses-profile" ng-if="pc.displayCourses">
          <br>
          <div class="table-responsive" ng-if="pc.sessions.length > 0">
              <table class="table" ng-table="pc.sessionsTableParams" show-filter="true">
                  <tr ng-repeat="session in $data">
                      <td class="text-center" data-title="'course'|trans:{}:'cursus'" filter="{courseTitle: 'text'}" sortable="'courseTitle'">
                          {{ session['courseTitle'] }}
                      </td>
                      <td class="text-center" data-title="'course_code'|trans:{}:'cursus'" filter="{courseCode: 'text'}" sortable="'courseCode'">
                          {{ session['courseCode'] }}
                      </td>
                      <td class="text-center" data-title="'session'|trans:{}:'cursus'" filter="{name: 'text'}" sortable="'name'">
                          {{ session['name'] }}
                      </td>
                      <td class="text-center" data-title="'start_date'|trans:{}:'platform'" sortable="'startDate'">
                          {{ session['startDate']|date:'dd/MM/yyyy' }}
                      </td>
                      <td class="text-center" data-title="'end_date'|trans:{}:'platform'" sortable="'endDate'">
                          {{ session['endDate']|date:'dd/MM/yyyy' }}
                      </td>
                      <td class="text-center" ng-if="pc.displayCourseWorkspace">
                          <a ng-if="session['workspace']" href="{{ 'claro_workspace_open'|path:{'workspaceId': session['workspace']['id']} }}">
                              <i class="fa fa-book"></i>
                          </a>
                      </td>
                  </tr>
              </table>
          </div>
      </div>
  </div>
</div>
