<div gridster="ahtcc.gridsterOptions">
    <ul>
        <li gridster-item="widget"
            class="widget gridster-item-content"
            data-ng-repeat="widget in ahtcc.widgets"
            data-ng-style="{
                'border-color': '{{ widget['color'] }}',
                'background-color': '{{ widget['color'] }}'
            }"
        >
            <div class="widget-header">
                <h3
                    class="widget-title"
                    data-ng-style="{
                        'color': '{{ widget['textTitleColor'] }}'
                    }"
                >
                    <span class="pull-right widget-header-control-box">
                        <i class="fa fa-times close" ng-click="ahtcc.deleteAdminWidget($event, widget['configId'])">
                        </i>
                        <span class="close">&nbsp;</span>
                        <i class="fa fa-pencil close"
                           ng-click="ahtcc.editAdminWidget($event, widget['instanceId'], widget['configId'], widget['displayId'], widget['configurable'])"
                        >
                        </i>
                    </span>
                    <span class="widget-header-content"
                          title="{{ widget['instanceName'] }}"
                    >
                        <span ng-if="widget['locked']">
                            <i class="fa fa-lock"></i>
                        </span>
                        <span ng-class="widget['visible'] ? '' : 'strike'" ng-bind-html="widget['instanceName']">
                        </span>
                    </span>
                </h3>
            </div>

            <div class="widget-content panel-body" ng-bind-html="widget['content']"></div>
        </li>
    </ul>
</div>
