<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h5 class="panel-title pull-left">{{ 'paper_list'|trans:{}:'ujm_sequence' }}</h5>
    </div>
    <div class="panel-body">
        <!-- links row (back, Docimologie, csv export) -->
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <a class="btn btn-default" data-ng-href="{{paperListCtrl.generateUrl('exercise-home', paperListCtrl.exoId)}}">{{ 'link_exercice_home'|trans:{}:'ujm_sequence' }}</a>
                    <a class="btn btn-default" data-ng-href="{{paperListCtrl.generateUrl('papers-docimolgy', paperListCtrl.exoId)}}">{{ 'link_exercise_docimology'|trans:{}:'ujm_sequence' }}</a>
                    <a class="btn btn-default" data-ng-href="{{paperListCtrl.generateUrl('papers-csv-export', paperListCtrl.exoId)}}">{{ 'link_csv_export'|trans:{}:'ujm_sequence' }}</a>
                </div>
                <a class="btn btn-primary pull-right" href="{{paperListCtrl.generateUrl('exercise-play', paperListCtrl.exoId)}}">
                    <i class="fa fa-check-square-o">{{ 'link_exercise_retry'|trans:{}:'ujm_sequence' }}</i>
                </a>
            </div>
        </div>
        <hr/>
        <!-- Search row -->
        <div class="form-inline row">
            <div class="form-group col-md-9">               
                <div class="input-group">
                    <input type="text" class="form-control" data-ng-model="paperListCtrl.query" data-ng-change="paperListCtrl.updateFilteredList()" placeholder="{{ 'paper_search'|trans:{}:'ujm_sequence' }}">
                    <div class="input-group-addon"><span class="fa fa-search"></span></div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div data-ng-if="paperListCtrl.showPagination" class="input-group">
                    <input type="number" step="1" min="1" class="form-control" data-ng-model="paperListCtrl.config.itemsPerPage">
                    <div class="input-group-addon" style="cursor:pointer;" title="{{ 'paper_list_table_toggle_pagination'|trans:{}:'ujm_sequence' }}">
                        <span class="fa fa-eye-slash" data-ng-click="paperListCtrl.togglePaginationButton()" data-ng-if="paperListCtrl.showPagination"></span>
                    </div>
                </div>
                <div data-ng-if="!paperListCtrl.showPagination" class="input-group pull-right">
                    <button role="button" data-ng-click="paperListCtrl.togglePaginationButton()" title="{{ 'paper_list_table_toggle_pagination'|trans:{}:'ujm_sequence' }}" type="button" class="btn btn-default"> 
                        <i class="fa fa-list"></i>
                    </button>
                </div>
            </div>
        </div>
        <hr/>
        <!-- paper list row 2 -->
        <div class="row">
            <div class="col-md-12">
                <table at-table at-list="paperListCtrl.filtered" class="table table-striped" at-paginated at-config="paperListCtrl.config">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td at-implicit at-attribute="user" at-title="{{ 'paper_list_table_user'|trans:{}:'ujm_sequence' }}"></td>
                            <td at-implicit at-attribute="number" at-sortable at-title="{{ 'paper_list_table_paper_number'|trans:{}:'ujm_sequence' }}"></td>
                            <td at-implicit at-attribute="start" at-sortable at-initial-sorting="asc" at-title="{{ 'paper_list_table_start_date'|trans:{}:'ujm_sequence' }}"></td>
                            <td at-attribute="end" at-sortable at-title="{{ 'paper_list_table_end_date'|trans:{}:'ujm_sequence' }}">
                                {{item.end ? item.end : '-'}}
                            </td>
                            <td at-attribute="interrupted" at-title="{{ 'paper_list_table_interrupted'|trans:{}:'ujm_sequence' }}">
                                <span data-ng-if="item.interrupted">{{ 'paper_list_table_interrupted_yes'|trans:{}:'ujm_sequence' }}</span>
                                <span data-ng-if="!item.interrupted">{{ 'paper_list_table_interrupted_no'|trans:{}:'ujm_sequence' }}</span>
                            </td>
                            <td at-attribute="id" at-title="{{ 'paper_list_table_action'|trans:{}:'ujm_sequence' }}">
                                
                                <a data-ng-if="paperListCtrl.checkCorrectionAvailability(item)" href="#/{{paperListCtrl.exoId}}/{{item.id}}">{{ 'paper_list_table_action'|trans:{}:'ujm_sequence' }}</a>
                                <span data-ng-if="!paperListCtrl.checkCorrectionAvailability(item)">{{ 'paper_list_table_action_not_available'|trans:{}:'ujm_sequence' }}</span>
                            </td>
                            <td at-attribute="score" at-sortable at-title="{{ 'paper_list_table_score'|trans:{}:'ujm_sequence' }}">
                                {{item.score ? item.score + '/20' : '-'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <at-pagination data-ng-if="paperListCtrl.showPagination" at-config="paperListCtrl.config" at-list="paperListCtrl.filtered"></at-pagination>
            </div>
        </div>
    </div>
</div>
