
.file-control {
    position: relative; // to constrain drop placeholder

    input[type=file] {
        display: none;
    }

    .files-drop-placeholder {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: @input-color;
        background: fadeOut(@input-bg, 25%);
        border: 3px dashed @input-color;

        font-size: @font-size-h2;
        text-transform: uppercase;
        font-weight: 900;

        left: 4px;
        top: 4px;
        right: 4px;
        bottom: 4px;

        &:hover {
            color: @input-border-focus;
            border-color: @input-border-focus;
        }
    }

    .files-drop-container {
        display: block;
        width: 100%;
        color: @input-color;
        background: @input-bg;
        border: 1px solid @input-border;
        border-radius:@input-border-radius;
        box-shadow: @input-box-shadow;

        .files-drop {
            margin: auto 0;
            display: inline-flex;
            flex-direction: row;
            align-items: center;

            .files-drop-label {
                font-weight: bold;
            }

            .files-drop-info {
                display: block;
                font-style: italic;
                font-weight: normal;
            }
        }
    }

    &.disabled {
        .files-drop-container {
            cursor: @cursor-disabled;
            background: @input-bg-disabled;
        }
    }

    // sizing
    .file-control-size-variant(@font-size-h4, @font-size-base, @padding-base-vertical, @padding-base-horizontal, @input-border-radius);

    &.input-sm {
        .file-control-size-variant(@font-size-h5, @font-size-small, @padding-small-vertical, @padding-small-horizontal, @input-border-radius-small);
    }

    &.input-lg {
        .file-control-size-variant(@font-size-h3, @font-size-large, @padding-large-vertical, @padding-large-horizontal, @input-border-radius-large);
    }
}


// -
// Thumbnails
// ---

.file-thumbnails {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

@file-thumbnail-width: 195px;
@file-thumbnail-height: 140px;

.file-thumbnail {
    margin: 4px;
    display: flex;
    overflow: hidden;
    border: solid 1px @table-border-color;
    border-radius: 4px;
    width: @file-thumbnail-width;
    height: @file-thumbnail-height;

    .file-thumbnail-topbar {
        position: absolute;

        .text-warning, .text-danger {
            position: absolute;
            margin: 8px;
            z-index: 11;
        }

        .file-thumbnail-actions {
            visibility: hidden;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.75);
            width: @file-thumbnail-width - 2px;
            display: flex;
            justify-content: flex-end;
            border-radius: 4px 4px 0 0;
            z-index: 10;
            .action-button {
                margin: 8px;
                color: #ffffff;
            }
        }
    }

    .file-thumbnail-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        img, audio, video {
            max-width: @file-thumbnail-width;
            max-height: @file-thumbnail-height;
        }
        video::-webkit-media-controls-fullscreen-button {
            display: none;
        }
    }

    &.active,
    &:hover {
        box-shadow: 0 0 5px 1px #66afe9;
        border-color: #337ab7;
        .file-thumbnail-actions {
            visibility: visible;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.default-file-thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: @file-thumbnail-height;
    justify-content: flex-end;

    .file-thumbnail-icon {
        font-size: 65px;
        margin-bottom: 20px;
    }
}

.file-thumbnail-name {
    text-overflow: ellipsis;
    overflow: hidden;
    width: @file-thumbnail-width - 15px;
    white-space: nowrap;
    margin-bottom: 10px;
}


// -
// Mixins
// ---

.file-control-size-variant(@font-size-title, @font-size-text, @padding-v, @padding-h, @border-radius) {
    border-radius: @border-radius;

    .files-drop-placeholder {
        border-radius: @border-radius;
    }

    .files-drop-icon,
    .files-drop-label {
        padding: @padding-v @padding-h;
    }

    .files-drop-icon {
        font-size: @font-size-title + @font-size-text;
    }

    .files-drop-label {
        font-size: @font-size-title;
    }

    .files-drop-info {
        font-size: @font-size-text;
    }
}
