/**
 * Style for rich editor inputs (aka TinyMCE).
 */

.editor-control {
    position: relative;
    text-align: justify;
    border: 1px solid @input-border;
    background: @input-bg;
    .border-radius(@input-border-radius);

    &.fullscreen{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: @zindex-fullscreen;
        border: none;

        &,
        .tox-tinymce {
            .border-radius(none);
        }
    }

    &.sm {
        &,
        .tox-tinymce {
            .border-radius(@input-border-radius-small);
        }
    }
    &.lg {
        &,
        .tox-tinymce {
            .border-radius(@input-border-radius-small);
        }
    }

    .tox-tinymce {
        z-index: 1;
        overflow: hidden;

        .border-radius(@input-border-radius);
    }

    .mce-content-body {
        height: auto;
        /*min-height: 160px;
        max-height: 500px;*/
        overflow-y: auto;

        p:last-of-type {
            margin-bottom: 0;
        }
    }
}

.editor-toolbar {
    z-index: 2;
    position: absolute;
    top: -12px;
    right: -12px;

    .editor-toolbar-btn {
        font-size: @font-size-small;
        width: 24px;
        height: 24px;

        // removes default btn styles
        padding: 0;
        border: none;
        line-height: 1 !important;
        color: #FFFFFF !important;
        background: @gray !important;
        border-radius: 50%;

        &:hover,
        &:focus {
            background: @gray-dark !important;
        }

        + .editor-toolbar-btn {
            margin-left: 5px;
        }
    }
}
