/**
 * Style for rich editor inputs (aka TinyMCE.
 */

.editor-control {
    position: relative;

    .toolbar-toggle {
        z-index: 1;
        position: absolute;
        padding: 0;
        border: none;
        top: -8px;
        right: -8px;
        line-height: 1;
        background-color: white;
        border-radius: 50%;
        font-size: @font-size-large;
    }
}

.text-editor {
    text-align: justify;

    > .form-control {
        // mimic TinyMCE
        height: auto;
        min-height: 160px;
        max-height: 500px;
        overflow-y: auto;

        p:last-of-type {
            margin-bottom: 0;
        }
    }
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
    color: @input-color-placeholder;
    cursor: text;
}