.password-strength {
  margin-top: 5px !important;
  margin-bottom: 2px !important;
}

.password-rules {
  margin-top: 5px;
  margin-bottom: 5px;
  color: @gray-light;
  font-size: 14px;
  font-weight: lighter;

  .password-check {

    &-valid {
      color: @brand-success;
    }

  }

  .validate-label {
    font-weight: lighter;
  }

}
