.password-rules {
    background: @gray-lighter;

    .password-rules-block {
        display: flex;
        align-items: center;
    }

    .password-rules-label {
        padding: 0 15px;
        font-size: 15px;
        color: @gray-light;
    }

    .fa-check-circle {
        padding: 0 10px;
        color: @brand-success;
    }

    .fa-times-circle {
        padding: 0 10px;
        color: @brand-danger;
    }
}
