.password-strength {
  margin-top: 5px !important;
  margin-bottom: 2px !important;
}

.password-strength-label {
  text-align: right;

  .strength-label {
    padding-right: 3px;
  }

  .label-link {
    position: relative;
    top: -7px;
    right: 0;
    font-size: 11px;
    color: @gray-light;
  }

}
