.table {
    .users-cell,
    .user-cell {
        padding: 0 @table-cell-padding-x !important;
    }

    .user-avatar { // same than user-micro
        // for picture
        max-height: 50px;
        max-width: 50px;

        // for .fa when no picture
        font-size: 50px;
    }
}

.table-condensed {
    .users-cell,
    .user-cell {
        padding: 0 @table-condensed-cell-padding !important;
    }

    .user-avatar {
        // for picture
        max-height: 30px;
        max-width: 30px;

        // for .fa when no picture
        font-size: 30px;
    }
}
