<div class="panel panel-default" id="question-{{question.id}}">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">
            <span>{{choiceQuestionCtrl.question.title}}</span>
        </h4>
        <div class="btn-group  pull-right">
            <!--
            <button role="button" id="btn-show-feedback-{{choiceQuestionCtrl.question.id}}" data-ng-show="choiceQuestionCtrl.canSeeFeedback" data-ng-click="choiceQuestionCtrl.showFeedback()" data-container="body" data-toggle="tooltip" title="{{ 'btn_feedback_display'|trans:{}:'ujm_sequence' }}" type="button" data-ng-click="exerciseCtrl.showFeedback()" class="btn btn-default fa fa-comment">
            </button>
            -->
            <a class="btn btn-default fa fa-chevron-down" id="question-toggle-{{choiceQuestionCtrl.question.id}}" data-ng-click="choiceQuestionCtrl.toggleDetails(question.id)"></a>
        </div>
    </div>
    <div class="panel-body" id="question-body-{{choiceQuestionCtrl.question.id}}">
        <div class="row">
            <div class="col-md-12">
                <div data-ng-bind-html="question.invite | unsafe"></div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                {{choiceQuestionCtrl.question.description}}
            </div>
        </div>
        <hr/>
        <!-- Question choices row -->
        <div data-ng-if="choiceQuestionCtrl.question.choices" class="question-row">
            <table class="table choice-question-choice-table">
                <tr data-ng-repeat="choice in choiceQuestionCtrl.question.choices">
                    <td class="choice">
                        <input data-ng-disabled="choiceQuestionCtrl.lockChoice(choice)" data-ng-if="choiceQuestionCtrl.question.multiple" data-ng-checked="choiceQuestionCtrl.multipleChoice[choice.id]" data-ng-click="choiceQuestionCtrl.updateStudentData(choice.id)" data-ng-model="choiceQuestionCtrl.multipleChoice[choice.id]" value="{{choice.id}}" name="multiple-choice-{{choice.id}}" type="checkbox">
                        <input data-ng-disabled="choiceQuestionCtrl.lockChoices()" data-ng-if="!choiceQuestionCtrl.question.multiple" data-ng-checked="choiceQuestionCtrl.uniqueChoice === choice.id" data-ng-click="choiceQuestionCtrl.updateStudentData()" data-ng-model="choiceQuestionCtrl.uniqueChoice" value="{{choice.id}}" name="unique-choice-{{choice.id}}" type="radio">
                    </td>
                    <td class="choice-content">
                        <img data-ng-if="choiceQuestionCtrl.getChoiceSimpleType(choice) == 'encoded-image'" data-ng-src="data:{{choice.type}};{{choice.encoding}}, {{choice.data}}"/>
                        <img data-ng-if="choiceQuestionCtrl.getChoiceSimpleType(choice) == 'web-image'" data-ng-src="{{choice.url}}"/>
                        <div data-ng-if="choiceQuestionCtrl.getChoiceSimpleType(choice) == 'simple-text'">{{choice.data}}</div>
                        <div data-ng-if="choiceQuestionCtrl.getChoiceSimpleType(choice) == 'html-text'" data-ng-bind-html="choice.data | unsafe"></div>
                    </td>
                    <!--<td class="choice-feedback-comment">
                        <label data-ng-if="choiceQuestionCtrl.lockChoice(choice)">
                            {{choiceQuestionCtrl.getChoiceFeedback(choice)}}
                        </label>
                    </td>-->
                    <td class="choice-feedback">
                        <div data-ng-if="choiceQuestionCtrl.lockChoice(choice)" data-toggle="tooltip" data-ng-class="{'color-success fa fa-check' : choiceQuestionCtrl.choiceIsValid(choice) === 1, 'color-danger fa fa-close': choiceQuestionCtrl.choiceIsValid(choice) === 2}" title="{{choiceQuestionCtrl.getChoiceFeedback(choice)}}">

                        </div>
                    </td>
                </tr>
            </table>
            <div class="row" data-ng-if="choiceQuestionCtrl.feedbackIsVisible && choiceQuestionCtrl.questionFeedback">
                <div class="col-md-12">
                    <label class="alert alert-info" data-ng-bind-html="choiceQuestionCtrl.questionFeedback | unsafe"></label>
                </div>
            </div>
        </div>
        <div data-ng-if="choiceQuestionCtrl.question.hints">
            <hr/>
            <!-- Question hints row -->
            <div class="form-inline">
                <div class="form-group">
                    <div data-ng-repeat="hint in choiceQuestionCtrl.question.hints" style="margin-bottom: 10px;">
                        <div data-ng-if="!choiceQuestionCtrl.hintIsUsed(hint.id)">
                            <button type="button" role="button" class="btn btn-default fa fa-eye" title="{{ 'question_hint_show_title'|trans:{}:'ujm_sequence' }}" data-ng-click="choiceQuestionCtrl.showHint(hint.id)" id="hint-{{hint.id}}"> {{ 'question_hint_label'|trans:{}:'ujm_sequence' }} {{$index + 1}}</button>
                        </div>
                    </div>
                    <div data-ng-repeat="used in choiceQuestionCtrl.usedHints">
                        <h4>{{used}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
