<div class="type-question-container cloze-question-container panel panel-default">
    <!-- The directive will append formatted text here -->
    <div class="cloze panel-body"></div>

    <!--<p>Au <input id="2" class="blank" autocomplete="off" name="blank_2" size="15" type="text" value="" /> de la <input id="1" class="blank" autocomplete="off" name="blank_1" size="15" type="text" value="" />, <br /> Mon ami Pierrot, <br /> Pr&ecirc;te-moi ta plume <br /> Pour &eacute;crire un mot. <br /> Ma chandelle est morte, <br /> Je n&acute;ai plus de feu, <br /> Ouvre-moi ta porte, <br /> Pour l&acute;amour de <input id="3" class="blank" autocomplete="off" name="blank_3" size="15" type="text" value="" />.</p>-->
</div>