<div class="panel panel-default" id="question-{{matchQuestionCtrl.question.id}}">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">
            <span>{{ matchQuestionCtrl.question.title }}</span>
        </h4>
        <div class="btn-group  pull-right">           
            <a class="btn btn-default fa fa-chevron-down" id="question-toggle-{{matchQuestionCtrl.question.id}}" data-ng-click="matchQuestionCtrl.toggleDetails(question.id)"></a>
        </div>
    </div>
    <div class="panel-body" id="question-body-{{matchQuestionCtrl.question.id}}">
        <div class="row">
            <div class="col-md-12">
                <div data-ng-bind-html="matchQuestionCtrl.question.invite | unsafe"></div>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-12">
                {{matchQuestionCtrl.question.description}}   
            </div>
        </div>

        <hr/>

        <!-- RESET CONNECTIONS BTN -->
        <div class="row">
            <div class="col-md-12">
                <input data-ng-disabled="matchQuestionCtrl.feedbackIsVisible" type="button" name="resetAll"  id="resetAll" value="Reset" class="btn btn-primary">
            </div>
        </div>        
        <!-- TO BIND PROPOSALS & ASSOCIATED LABELS -->
        <div data-ng-if="matchQuestionCtrl.question.typeMatch === 1" class="row center-text">
            <!-- PROPOSALS -->
            <div class="col-md-6">
                <div data-ng-repeat="proposal in matchQuestionCtrl.question.firstSet" class="row origin draggable" id="draggable_{{proposal.id}}">
                    <div class="col-md-12 setLabel">    
                        <div data-ng-bind-html="proposal.data | unsafe"></div>
                    </div>
                </div>
            </div>
            <!-- EMPTY -->
            <div class="col-md-2">

            </div>
            <!-- LABELS -->
            <div class="col-md-6">
                <div data-ng-repeat="proposal in matchQuestionCtrl.question.secondSet" class="row droppable" id="droppable_{{proposal.id}}">
                    <div class="col-md-12 setLabel">                        
                         <div data-ng-bind-html="proposal.data | unsafe"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- TO DRAG SUB TYPE  -->
        <div data-ng-if="matchQuestionCtrl.question.typeMatch === 2" class="row center-text">
            <!-- PROPOSALS -->
            <div class="col-md-6">
                <div data-ng-repeat="proposal in matchQuestionCtrl.question.firstSet" class="row origin to-drag" id="div_{{proposal.id}}">
                    <div class="col-md-12 setLabel">                        
                        <ul>
                            <li id="draggable_{{proposal.id}}" class="draggable">
                                <div data-ng-bind-html="proposal.data | unsafe"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- EMPTY -->
            <!--
            <div class="col-md-2">

            </div>
            -->
            <!-- LABELS -->
            <div class="col-md-6">
                <div data-ng-repeat="proposal in matchQuestionCtrl.question.secondSet" class="row droppable" id="droppable_{{proposal.id}}">
                    <div class="col-md-12 setLabel">
                        <ul>
                            <li class="lidroppable">
                                 <div data-ng-bind-html="proposal.data | unsafe"></div>
                            </li>
                        </ul>
                        <hr/>
                        <ul class="dragDropped">
                            <li data-ng-repeat="item in matchQuestionCtrl.dropped" id="dropped_{{item.source}}" data-ng-if="item.target === proposal.id">
                                <div class="row dropped-item-row">
                                    <div class="col-sm-9" data-ng-bind-html="item.label | unsafe">
                                        
                                    </div>
                                    <div class="col-md-1">
                                        <i data-ng-if="matchQuestionCtrl.feedbackIsVisible || (matchQuestionCtrl.dropIsValid(item) === 1 && matchQuestionCtrl.answerIsSaved(item))" data-toggle="tooltip" data-ng-class="{'color-success fa fa-check' : matchQuestionCtrl.dropIsValid(item) === 1, 'color-danger fa fa-close': matchQuestionCtrl.dropIsValid(item) === 2}" title="{{matchQuestionCtrl.getDropFeedback(item)}}"></i>
                                    </div>
                                    <div class="col-sm-2">
                                        <button data-ng-disabled="matchQuestionCtrl.feedbackIsVisible || matchQuestionCtrl.dropIsValid(item) === 1 && matchQuestionCtrl.answerIsSaved(item)" class="btn btn-danger fa fa-trash" data-ng-click="matchQuestionCtrl.removeDropped(item.source, proposal.id)"></button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- TO PAIR SUB TYPE  -->
        <div data-ng-if="matchQuestionCtrl.question.typeMatch === 3" class="row">
            <!-- PROPOSALS -->
            <div class="col-md-3">
                <div data-ng-repeat="proposal in matchQuestionCtrl.question.firstSet" class="row origin draggable drop-textbox drop-color-default" id="div_{{proposal.id}}">
                    <!-- When the div is not dropped yet -->
                    <div data-ng-if="!matchQuestionCtrl.proposalDropped(proposal)" class="col-md-2 fa fa-arrows drag-handle drop-textbox-height" id="drag_handle_{{proposal.id}}"></div>
                    <div data-ng-if="!matchQuestionCtrl.proposalDropped(proposal)" class="col-md-8 setLabel">
                        <div data-ng-bind-html="proposal.data | unsafe" id="draggable_{{proposal.id}}"></div>
                    </div>
                    <div data-ng-if="!matchQuestionCtrl.proposalDropped(proposal)" class="col-md-2 fa fa-search-plus drag-zoom drop-textbox-height" data-toggle="modal" data-target="#longTextValueModal{{proposal.id}}"></div>
                    <!-- Modal dialog -->
                    <div class="modal fade" id="longTextValueModal{{proposal.id}}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <span data-ng-bind-html="proposal.data | unsafe"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- When the div is dropped -->
                    <div data-ng-if="matchQuestionCtrl.proposalDropped(proposal)" data-ng-click="matchQuestionCtrl.removeDropped(proposal.id, -1)" class="col-md-12 fa fa-undo drop-textbox-undo drop-textbox-height"></div>
                </div>
            </div>
            <!-- LABELS -->
            <div class="col-md-3">
                <div data-ng-repeat="proposal in matchQuestionCtrl.question.secondSet" class="{{matchQuestionCtrl.getDropClass('dropzone', proposal)}} row drop-textbox dropzone-textbox drop-color-default" id="droppable_{{proposal.id}}">
                    <div class="col-md-12">
                        <div data-ng-repeat="item in matchQuestionCtrl.dropped" id="dropped_{{item.source}}" data-ng-if="item.target === proposal.id">
                            <div class="row">
                                <div data-ng-click="matchQuestionCtrl.removeDropped(item.source, proposal.id)" class="col-md-2 fa fa-undo drop-textbox-undo drop-textbox-height drop-color-alert"></div>
                                <div class="col-md-8 setLabel" data-ng-bind-html="item.label | unsafe"></div>
                                <div class="col-md-2 fa fa-search-plus drag-zoom drop-textbox-height drop-color-alert" data-toggle="modal" data-target="#longTextValueModalDropped{{item.source}}"></div>
                            </div>
                            <!-- Modal dialog -->
                            <div class="modal fade" id="longTextValueModalDropped{{item.source}}" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <span data-ng-bind-html="item.label | unsafe"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div data-ng-repeat="proposal in matchQuestionCtrl.question.secondSet" class="row drop-textbox drop-label-textbox drop-droppable-color" id="label_{{proposal.id}}">
                    <div class="col-md-11 setLabel">
                        <div data-ng-bind-html="proposal.data | unsafe"></div>
                    </div>
                    <div class="col-md-1 fa fa-search-plus drag-zoom drop-textbox-height drop-color-default" data-toggle="modal" data-target="#longTextValueModalLabel{{proposal.id}}"></div>
                    <!-- Modal dialog -->
                    <div class="modal fade" id="longTextValueModalLabel{{proposal.id}}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <span data-ng-bind-html="proposal.data | unsafe"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div data-ng-if="matchQuestionCtrl.feedbackIsVisible && matchQuestionCtrl.questionFeedback">
                <div class="col-md-12">
                    <label class="alert alert-info" data-ng-bind-html="matchQuestionCtrl.questionFeedback | unsafe"></label>
                </div>
            </div>
        </div>
        
        <table data-ng-if="matchQuestionCtrl.feedbackIsVisible && matchQuestionCtrl.question.toBind" class="table table-striped">
            <thead>
                <tr>
                    <th class="center-text">{{ 'paper_details_table_choice'|trans:{}:'ujm_sequence' }}</th>
                    <th class="center-text">{{ 'paper_details_table_expected_answer'|trans:{}:'ujm_sequence' }}</th>
                    <th class="center-text">{{ 'paper_details_table_comment'|trans:{}:'ujm_sequence' }}</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="label in matchQuestionCtrl.question.secondSet">
                    <!-- student answer -->
                    <td class="center-text">
                        <div class="panel" data-ng-class="matchQuestionCtrl.checkAnswerValidity(label) ? 'panel-success':'panel-danger'">
                            <div class="panel-heading clearfix">
                                <h4 class="panel-title pull-left">
                                     <div data-ng-bind-html="label.data | unsafe"></div>
                                </h4>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li data-ng-repeat="item in matchQuestionCtrl.getStudentAnswersWithIcons(label)">
                                        <div data-ng-bind-html="item | unsafe"></div>
                                         <!--
                                         KEEP THIS FOR THE TIME WHEN WE WOULD BE ABLE TO KNOW PROPOSAL / LABEL TYPE (ie HTML vs Text)
                                        <span data-ng-class="correctionMatchCtrl.checkProposalValidity(item.id) ? '':'wrong-label'">{{item.data}}</span>
                                         -->
                                    </li>
                                    <li data-ng-if="item.length == 0" data-ng-repeat="item in matchQuestionCtrl.getStudentAnswers(label)">
                                        -
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <!-- expected answer -->
                    <td class="center-text">
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h4 class="panel-title pull-left">
                                   <div data-ng-bind-html="label.data | unsafe"></div>
                                </h4>                       
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li data-ng-repeat="item in matchQuestionCtrl.getCorrectAnswers(label)">

                                        <div data-ng-bind-html="item | unsafe"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <!-- specific feedback -->
                    <td class="center-text">
                        <span>{{matchQuestionCtrl.getCurrentItemFeedBack(label)}}</span>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- HINTS -->
        <div data-ng-if="matchQuestionCtrl.question.hints">
            <hr/>
            <!-- Question hints row -->
            <div class="form-inline">
                <div class="form-group">
                    <div data-ng-repeat="hint in matchQuestionCtrl.question.hints" style="margin-bottom: 10px;">                        
                        <div data-ng-if="!matchQuestionCtrl.hintIsUsed(hint.id)">
                            <button type="button" role="button" class="btn btn-default fa fa-eye" title="{{ 'question_hint_show_title'|trans:{}:'ujm_sequence' }}" data-ng-click="choiceQuestionCtrl.showHint(hint.id)" id="hint-{{hint.id}}"> {{ 'question_hint_label'|trans:{}:'ujm_sequence' }} {{$index + 1}}</button>
                        </div>
                    </div>
                    <div data-ng-repeat="used in matchQuestionCtrl.usedHints">
                        <h4>{{used}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>