<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content">
        <div class="row">
            <a class="btn btn-success btn-xs" ng-if="organization.children && organization.children.length > 0" data-nodrag ng-click="toggle(this)"><span
                    ng-class="{
                  'fa fa-chevron-right': collapsed,
                  'fa fa-chevron-down': !collapsed
                }"></span>
            </a>
            <div class="col-xs-6">{{ organization.name }} </div>
            <button class="pull-right btn btn-danger btn-xs" ng-disabled="organization.default" data-nodrag ng-click="oc.deleteOrganization(organization)"><span
                class="fa fa-trash-o"></span>
            </button>
            <button class="pull-right btn btn-success btn-xs" data-nodrag ng-click="oc.parametersOrganization(organization)"><span
                class="fa fa-cogs"></span>
            </button>
            <button class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="oc.addDepartment(organization)" style="margin-right: 8px;"><span
                class="fa fa-plus"></span>
            </button>
        </div>
    </div>
    <ol ui-tree-nodes="" ng-model="organization.children" ng-class="{hidden: collapsed}">
        <li ng-repeat="organization in organization.children" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>

<div>
    <button class="btn btn-primary" ng-click="oc.addRootOrganization()"> {{ 'add'|trans:{}:'platform' }} </button>
    <a class="btn btn-primary" ui-sref="organizations.locations"> {{ 'locations'|trans:{}:'platform' }} </a>
    <div ui-tree="oc.treeOptions" id="tree-root">
        <ol ui-tree-nodes ng-model="oc.organizations">
            <li ng-repeat="organization in oc.organizations" ui-tree-node ng-include="'nodes_renderer.html'"></li>
        </ol>
    </div>
</div>
