%event_name%
<br/>
[%event_start% -> %event_end%]
<br/>
%event_description%
<br/><br/>

<ul>
    <li><b>Utilisateur</b> : %user_first_name% %user_last_name%</li>
    <li><b>Statut</b> : %event_presence_status%</li>
</ul>
