%session_poster%
<h1>%session_name% <small>%session_code%</small></h1>

<h2>Description</h2>
<p>%session_description%</p>

<h2>Informations</h2>
<ul>
    <li><b>Période d'accès : </b> Du %session_start% au %session_end%</li>
    <li><b>Inscription publique : </b> %session_public_registration%</li>
    <li><b>Durée : </b> %session_default_duration%</li>
    <li><b>Max. participants : </b> %session_max_users%</li>
</ul>
