%course_poster%
<h1>%course_name% <small>%course_code%</small></h1>

<h2>Description</h2>
<p>%course_description%</p>

<h2>Information</h2>
<ul>
    <li><b>Public registration : </b> %course_public_registration%</li>
    <li><b>Duration : </b> %course_default_duration%</li>
    <li><b>Max. participants : </b> %course_max_users%</li>
</ul>
