.iframe #top_bar, .iframe #left-bar, .iframe #footer, body.iframe > #wrap > .container > .row:first-child {
    display: none;
}

body.iframe, body.iframe > .container, body.iframe > #wrap > .container {
    padding-top: 0;
    margin: 0;
    max-width: 100%;
    background-color: transparent;
}

body.iframe > #wrap > .container > .row > div > .panel{
    padding:0;
    margin:0;
}