<div>
    {{ 'competency.do_select'|trans({}, 'competency') }}:
</div>
<ul class="framework">
    {%
        include 'HeVinciCompetencyBundle:Resource:frameworkItem.html.twig'
        with {
            target: framework,
            isCompetency: true,
            displayUntil: 1
        }
    %}
</ul>