{% extends 'ClarolineCommonBundle::core_layout.html.twig' %}

{% block global_content %}
    
    <div id="top_bar">
    {% render 'ClarolineCommonBundle:Layout:statusBar' %}
    </div>

    {% render 'ClarolineCommonBundle:Layout:applicationMenu' %}

    <div id="content">
    {% block content %}{% endblock %}
    </div>

{% endblock %}