{% extends 'ClarolineCommonBundle::common_layout.html.twig' %}

{% block global_content %}
    
    <div id="top_bar">
    {% render 'ClarolineCommonBundle:Layout:topBar' %}
    </div>

    <div id="content">
    {% block content %}{% endblock %}
    </div>

{% endblock %}