<!-- Item row -->
<div data-nodrag="" class="tree-item" data-ng-class="{ 'active-step': pathSummaryShowCtrl.current.stepId == step.id || (!pathSummaryShowCtrl.current.stepId && 0 == step.lvl) }">
    <!-- Level indicator -->
    <div class="lvl-indicator lvl lvl-{{ step.lvl }} lvl-bg"></div>

    <!-- Step name -->
    <div class="step" data-ng-class="{ 'lvl lvl-{{ step.lvl }} lvl-text': pathSummaryShowCtrl.current.stepId == step.id }" data-ng-click="pathSummaryShowCtrl.goTo(step)">
        <!-- Collapse / Expand button -->
        <a class="step-toggle" href="" data-ng-click="toggle(this)" data-ng-show="0 != step.children.length" role="button">
            <span class="fa fa-fw" data-ng-class="{ 'fa-caret-right': collapsed, 'fa-caret-down': !collapsed }"></span>
        </a>

        {{ step.name | truncate }}
    </div>

    <div class="step-progression dropdown" data-ng-switch="pathSummaryShowCtrl.userProgression[step.id].status">
        <a href="" id="step-progression-{{ step.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <!-- Step has never be seen -->
            <span data-ng-switch-default="" class="fa fa-eye-slash text-muted" data-container="body" data-placement="right" data-toggle="tooltip" data-original-title="{{ 'user_progression_step_unseen'|trans:{}:'path_wizards' }}"></span>

            <!-- Step is seen -->
            <span data-ng-switch-when="seen" class="fa fa-eye" data-container="body" data-placement="right" data-toggle="tooltip" data-original-title="{{ 'user_progression_step_seen'|trans:{}:'path_wizards' }}"></span>

            <!-- Step is done -->
            <span data-ng-switch-when="to_do" class="text-warning fa fa-square-o" data-container="body" data-placement="right" data-toggle="tooltip" data-original-title="{{ 'user_progression_step_to_do'|trans:{}:'path_wizards' }}"></span>

            <!-- Step is done -->
            <span data-ng-switch-when="done" class="text-success fa fa-check-square-o" data-container="body" data-placement="right" data-toggle="tooltip" data-original-title="{{ 'user_progression_step_done'|trans:{}:'path_wizards' }}"></span>

            <!-- Step is to review -->
            <span data-ng-switch-when="to_review" class="text-info fa fa-retweet" data-container="body" data-placement="right" data-toggle="tooltip" data-original-title="{{ 'user_progression_step_to_review'|trans:{}:'path_wizards' }}"></span>

            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu" aria-labelledby="step-progression-{{ step.id }}">
            <li>
                <a href="" class="link-progression link-progression-to_do" data-ng-click="pathSummaryShowCtrl.updateProgression(step, 'to_do')">
                    <span class="fa fa-fw fa-square-o"></span>
                    {{ 'user_progression_step_to_do_label'|trans:{}:'path_wizards' }}
                </a>
            </li>

            <li>
                <a href="" class="link-progression link-progression-done" data-ng-click="pathSummaryShowCtrl.updateProgression(step, 'done')">
                    <span class="fa fa-fw fa-check-square-o"></span>
                    {{ 'user_progression_step_done_label'|trans:{}:'path_wizards' }}
                </a>
            </li>

            <li>
                <a href="" class="link-progression link-progression-to_review" data-ng-click="pathSummaryShowCtrl.updateProgression(step, 'to_review')">
                    <span class="fa fa-fw fa-retweet"></span>
                    {{ 'user_progression_step_to_review_label'|trans:{}:'path_wizards' }}
                </a>
            </li>
        </ul>
    </div>
</div>

<ol class="step-children lvl lvl-{{ step.lvl }} lvl-border" data-ui-tree-nodes="" data-ng-model="step.children" data-ng-hide="collapsed">
    <li data-ui-tree-node="" data-ng-repeat="step in step.children" data-ng-include="pathSummaryShowCtrl.webDir + 'bundles/innovapath/js/PathSummary/Partial/show-item.html'"></li>
</ol>