<div>
    <!--<button type="button" class="btn btn-default">
        <span class="fa fa-sitemap"></span>
    </button>-->

    <!-- Angular can't initialize 2 directives on same element (here, PathSummaryDirective & NgPageslideDirective) so we need a container -->
    <div data-pageslide="" data-ps-open="pathSummaryShowCtrl.state.opened" data-ps-side="left" data-ps-class="path-summary-container" data-ps-push-class="path-summary-opened">
        <a href="" id="sidebar-left-close" class="ps-close pull-right" data-ng-click="pathSummaryShowCtrl.close()">
            <span class="fa fa-times"></span>
            <span class="sr-only">{{ 'sidebar_close'|trans:{}:'path_wizards' }}</span>
        </a>

        <div class="path-summary">
            <!-- List title -->
            <h2>
                <span class="fa fa-sitemap"></span>
                {{ pathSummaryShowCtrl.title }}
            </h2>

            <!-- Block to display where there is no structure -->
            <div data-ng-if="pathSummaryShowCtrl.structure.length === 0" class="text-center row">
                <em>There is no structure for this path.</em>
            </div>

            <!-- Block to display when a structure is set -->
            <div class="path-summary-tree" data-ng-if="pathSummaryShowCtrl.structure.length !== 0" data-ui-tree="">
                <ol class="tree" data-ui-tree-nodes="" data-ng-model="pathSummaryShowCtrl.structure" data-nodrop="">
                    <li data-ui-tree-node="" data-ng-repeat="step in pathSummaryShowCtrl.structure" data-ng-include="pathSummaryShowCtrl.webDir + 'bundles/innovapath/js/PathSummary/Partial/show-item.html'"></li>
                </ol>
            </div>
        </div>
    </div>
</div>