<div class="row">
    <div class="col-md-12">
        <h4>{{question.title}}</h4>
        <h5>{{question.label}}</h5>
        <hr/>
        <!-- Question choices row -->
        <div data-ng-if="choiceQuestionCtrl.question.choices" class="question-row">

            <div class="form-inline choice-item-col" data-ng-repeat="choice in choiceQuestionCtrl.question.choices">
                <!-- checkboxes / radiobuttons  -->
                <div class="form-group">
                    <div class="checkbox">                
                        <label>
                            <input data-ng-if="choiceQuestionCtrl.question.multiple" data-ng-click="choiceQuestionCtrl.updateQuestionChoices()" data-ng-model="choiceQuestionCtrl.answer[choice.id]" value="{{choice.id}}" name="multiple-choice" type="checkbox">
                            <input data-ng-if="!choiceQuestionCtrl.question.multiple" data-ng-click="choiceQuestionCtrl.updateQuestionChoices()" data-ng-model="choiceQuestionCtrl.answer" value="{{choice.id}}" name="unique-choice"  type="radio">
                        </label>
                    </div>
                </div>
                <!-- content for each checkbox / radiobutton -->
                <div class="form-group">
                    <img data-ng-if="choiceQuestionCtrl.getChoiceSimpleType(choice) == 'encoded-image'" data-ng-src="data:{{choice.type}};{{choice.encoding}}, {{choice.data}}"/>
                    <img data-ng-if="choiceQuestionCtrl.getChoiceSimpleType(choice) == 'web-image'" data-ng-src="{{choice.url}}"/>
                    <div data-ng-if="choiceQuestionCtrl.getChoiceSimpleType(choice) == 'simple-text'">{{choice.data}}</div>
                    <div data-ng-if="choiceQuestionCtrl.getChoiceSimpleType(choice) == 'html-text'" data-ng-bind-html="choice.data | unsafe"></div>
                </div>
            </div>
        </div>
        <div data-ng-if="choiceQuestionCtrl.question.hints">
            <hr/>
            <!-- Question hints row -->
            <div class="form-inline">
                <div class="form-group">
                    <label>{{ 'question_hints'|trans:{}:'ujm_sequence' }}:</label>
                    <div data-ng-repeat="hint in choiceQuestionCtrl.question.hints" style="margin-bottom: 10px;">
                        <button type="button" role="button" class="btn btn-default fa fa-eye" title="voir l'indice" id="{{hint.id}}" ng-bootbox-confirm="{{ 'question_show_hint_confirm'|trans:{'1' : hint.penalty}:'ujm_sequence'}}" ng-bootbox-confirm-action="choiceQuestionCtrl.showHint(hint)"> Indice {{$index + 1}}</button>
                        <span style="display: none;">{{hint.text}}</span>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>

