<div class="row">
    <div class="col-md-12">
        <h4>{{question.title}}</h4>
        <h5>{{question.label}}</h5>        
        <hr/>
        <!-- Question choices row -->
        <div data-ng-if="choiceQuestionCtrl.question.choices" class="question-row">

            <div class="form-inline choice-item-col" data-ng-repeat="choice in choiceQuestionCtrl.question.choices">
                <!-- checkboxes / radiobuttons  -->
                <div class="form-group">
                    <div class="checkbox">                
                        <label>
                            <input data-ng-if="choiceQuestionCtrl.question.multiple" data-ng-checked="choiceQuestionCtrl.multipleChoice[choice.id]" data-ng-click="choiceQuestionCtrl.updateStudentData(choice.id)" data-ng-model="choiceQuestionCtrl.multipleChoice[choice.id]" value="{{choice.id}}" name="multiple-choice-{{choice.id}}" type="checkbox">
                            <input data-ng-if="!choiceQuestionCtrl.question.multiple" data-ng-checked="choiceQuestionCtrl.uniqueChoice === choice.id" data-ng-click="choiceQuestionCtrl.updateStudentData()" data-ng-model="choiceQuestionCtrl.uniqueChoice" value="{{choice.id}}" name="unique-choice-{{choice.id}}" type="radio">
                        </label>
                    </div>
                </div>
                <!-- content corresponding to each checkbox / radiobutton -->
                <div class="form-group">
                    <img data-ng-if="choiceQuestionCtrl.getChoiceSimpleType(choice) == 'encoded-image'" data-ng-src="data:{{choice.type}};{{choice.encoding}}, {{choice.data}}"/>
                    <img data-ng-if="choiceQuestionCtrl.getChoiceSimpleType(choice) == 'web-image'" data-ng-src="{{choice.url}}"/>
                    <div data-ng-if="choiceQuestionCtrl.getChoiceSimpleType(choice) == 'simple-text'">{{choice.data}}</div>
                    <div data-ng-if="choiceQuestionCtrl.getChoiceSimpleType(choice) == 'html-text'" data-ng-bind-html="choice.data | unsafe"></div>
                </div>
            </div>
        </div>
        <div data-ng-if="choiceQuestionCtrl.question.hints">
            <hr/>
            <!-- Question hints row -->
            <div class="form-inline">
                <div class="form-group">
                    <div data-ng-repeat="hint in choiceQuestionCtrl.question.hints" style="margin-bottom: 10px;">                        
                        <div data-ng-if="!choiceQuestionCtrl.hintIsUsed(hint.id)">
                            <button type="button" role="button" class="btn btn-default fa fa-eye" title="{{ 'question_hint_show_title'|trans:{}:'ujm_sequence' }}" data-ng-click="choiceQuestionCtrl.showHint(hint.id)" id="hint-{{hint.id}}"> {{ 'question_hint_label'|trans:{}:'ujm_sequence' }} {{$index + 1}}</button>
                        </div>
                    </div>
                    <div data-ng-repeat="used in choiceQuestionCtrl.usedHints" id="visible-hints">
                        <h4>{{used}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

