
<div class="modal-header">
    <h4 class="modal-title"> {{ 'sequence_select_available_question' | trans:{}:'ujm_sequence' }}</h4>
</div>
<div class="modal-body"> 
    <div class="list-group">
        <a href="" class="list-group-item" data-ng-repeat="question in questionCtrl.questions" data-ng-click="questionCtrl.select(question)">
            {{ question.title }} / 
            <span data-ng-switch="question.type">
                <psan data-ng-switch-when="application/x.choice+json">Choice question</psan>
                <psan data-ng-switch-when="application/x.cloze+json">Cloze question</psan>
                <psan data-ng-switch-when="application/x.match+json">Match question</psan>
                <psan data-ng-switch-when="application/x.sort+json">Sort question</psan>
            </span>
        </a>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default cancel" ng-click="questionCtrl.cancel()">Cancel</button>
</div>