<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <h5 class="panel-title pull-left">{{question.title}}</h5>
        <div class="btn-group pull-right">
            <button type="button" role="button" class="btn btn-default fa" data-toggle="tooltip" data-container="body" data-ng-class="{' fa-arrow-circle-down': sortQuestionCtrl.isCollapsed, ' fa-arrow-circle-up':!sortQuestionCtrl.isCollapsed}" data-ng-click="sortQuestionCtrl.isCollapsed = !sortQuestionCtrl.isCollapsed" title="{{ 'question_panel_hide'|trans:{}:'ujm_sequence' }}"></button>
            <button type="button" role="button" class="btn btn-danger fa fa-trash" data-toggle="tooltip" data-container="body" data-ng-click="selfRemove()" title="{{ 'question_remove'|trans:{}:'ujm_sequence' }}"></button>
        </div>
    </div>
    <div class="panel-body" ng-hide="sortQuestionCtrl.isCollapsed">
         <!-- Question configuration row -->
        <div class="form-inline question-row row-bordered">          
            <div class="checkbox">                
                <label>
                    <input type="checkbox" data-ng-model="question.multiple">  {{ 'question_allow_multiple_choice'|trans:{}:'ujm_sequence' }}
                </label>
            </div>           
            <div class="checkbox">                
                <label>
                    <input type="checkbox" data-ng-model="question.random"> {{ 'question_randomize_choices'|trans:{}:'ujm_sequence' }}
                </label>
            </div>
        </div>
        <!-- Question meta row -->
        <div data-ng-if="question.meta" class="form-inline question-row row-bordered">
            <!-- meta authors -->
            <div data-ng-repeat="(metaKey, metaValue) in question.meta">                
                <div data-ng-if="metaKey === 'authors'">
                    <strong>{{ 'meta_authors'|trans:{}:'ujm_sequence' }}:</strong>
                    <ul>
                        <li data-ng-repeat="author in metaValue"> 
                            <span data-ng-if="author.name"> {{ 'meta_author_name'|trans:{}:'ujm_sequence' }}: {{author.name}}</span>
                            <span data-ng-if="author.status"> - {{ 'meta_author_status'|trans:{}:'ujm_sequence' }}: {{author.status}}</span>
                            <span data-ng-if="author.email"> - {{ 'meta_author_mail'|trans:{}:'ujm_sequence' }}: {{author.email}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- meta others -->
            <div data-ng-if="question.meta.licence || question.meta.created || question.meta.modified || question.meta.description">
                 <strong>{{ 'meta_others'|trans:{}:'ujm_sequence' }}:</strong>
                <ul>
                    <li data-ng-repeat="(metaKey, metaValue) in question.meta" data-ng-if="metaKey !== 'authors'">
                        <span data-ng-if="metaKey === 'license'"><strong>{{ 'meta_licence'|trans:{}:'ujm_sequence' }}:</strong> {{metaValue}}</span>
                        <span data-ng-if="metaKey === 'created'"><strong>{{ 'meta_created'|trans:{}:'ujm_sequence' }}:</strong> {{metaValue}}</span>
                        <span data-ng-if="metaKey === 'modified'"><strong>{{ 'meta_updated'|trans:{}:'ujm_sequence' }}:</strong> {{metaValue}}</span>
                        <span data-ng-if="metaKey === 'description'"><strong>{{ 'meta_description'|trans:{}:'ujm_sequence' }}:</strong> {{metaValue}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Question hints row -->
        <div data-ng-if="question.hints" class="form-inline question-row row-bordered">
            <div class="form-group">
                <label>{{ 'question_hints'|trans:{}:'ujm_sequence' }}:</label>
                <ul>
                    <li data-ng-repeat="hint in question.hints">
                        Text: {{hint.text}}, Penalty: {{hint.penalty}}
                    </li>  
                </ul>
            </div>
        </div>
        <!-- Question objects row -->
        <div data-ng-if="question.objects" class="form-inline question-row row-bordered">
            <div class="form-group">
                <label>{{ 'question_objects'|trans:{}:'ujm_sequence' }}:</label>
                <div data-ng-repeat="object in question.objects">
                    <div data-ng-if="object.type === 'rich-text'" ng-bind-html="object.data"></div>
                    <div data-ng-if="object.type === 'simple-text'">
                        {{object.data}}
                    </div>
                    
                    <div data-ng-if="object.type === 'web-image'">
                        <img src="{{object.url}}" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Question resources row -->
        <div data-ng-if="question.resources" class="form-inline question-row row-bordered">
            <div class="form-group">
                <label>{{ 'question_resources'|trans:{}:'ujm_sequence' }}:</label>
                <div data-ng-repeat="resource in question.resources">
                    <ul>
                        <li data-ng-if="resource.type === 'link'"><a href="{{resource.url}}" target="_blank">{{resource.title}}</a></li>
                    </ul>                    
                </div>
            </div>
        </div>
        <!-- Question choices row -->
        <div data-ng-if="question.choices" class="question-row">
            <label><strong>{{ 'question_choices'|trans:{}:'ujm_sequence' }}:</strong></label>
            <div class="form-inline choice-item-col" data-ng-repeat="choice in question.choices">
                <div data-ng-class="{'bordered' : !$last}">
                    <div class="form-group">
                        <div class="checkbox">                
                            <label>                            
                                <input data-ng-if="question.multiple" data-ng-checked="choice.isValid" disabled name="multiple-choice" type="checkbox">
                                <input data-ng-if="!question.multiple" data-ng-checked="choice.isValid" disabled name="unique-choice" type="radio">
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <img data-ng-if="choice.type == 'encoded-image'" src="data:{{choice.mimeType}};{{choice.encoding}}, {{choice.data}}"/>
                        <img data-ng-if="choice.type == 'web-image'" src="{{choice.url}}"/>
                    </div>
                    <div class="form-group"> 
                        <label>{{ 'question_choice_score'|trans:{}:'ujm_sequence' }}:</label>
                        <input type="text" data-ng-model="choice.score" class="form-control score-input">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
