<div uib-alert class="alert col-md-12" data-ng-repeat="alert in vm.alerts" data-dismiss-on-timeout="3000" data-type="{{alert.type}}" data-close="vm.closeAlert($index)">{{alert.msg | trans:{}:'platform'}}</div>
<div class="icon-set-item-list">
    <div class="row callout no-padding">
        <h3 class="col-md-12">{{ 'resources'|trans:{}:'platform' }}</h3>
    </div>
    <div class="row" data-ng-if="vm.icons && vm.icons.resources">
        <div class="col-md-12">
            <div class="col-md-3 icon-set-item-thumbnail" ng-repeat="icon in vm.icons.resources | orderBy:'default'" data-ng-class="{'icon-set-item-default':icon.default}">
                <div class="icon-set-item-img">
                    <img data-ng-src="{{ icon.relative_url|asset }}">
                </div>
                <div data-ng-if="vm.iconSet" class="icon-set-item-buttons">
                    <a class="btn btn-xs" data-ng-class="{'btn-primary':icon.default, 'btn-default': !icon.default}" ngf-select="vm.updateIcon(icon, $file)" accept="image/*">
                        <i class="fa fa-upload"></i>
                    </a>
                    <a class="btn btn-xs btn-danger" data-ng-if="!icon.default" data-confirm-modal="{{'remove_icon_set_icon_confirm_message'|trans:{}:'platform'}}" data-confirm-modal-action="vm.removeIcon(icon)">
                        <i class="fa fa-remove"></i>
                    </a>
                </div>
                <div class="icon-set-item-types">
                    <strong>{{ icon.filename|trans:{}:resource }}</strong>
                </div>
                <div class="icon-set-item-name">
                    <strong>{{ 'filename'|trans:{}:'platform' }}:</strong>
                    {{ icon.filename }}<span class="text-muted">.*</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row callout no-padding">
        <h3 class="col-md-12">{{ 'files'|trans:{}:'platform' }}</h3>
    </div>
    <div class="row" data-ng-if="vm.icons && vm.icons.files">
        <div class="col-md-12">
            <div class="col-md-3 icon-set-item-thumbnail" ng-repeat="icon in vm.icons.files | orderBy:'default'" data-ng-class="{'icon-set-item-default':icon.default}">
                <div class="icon-set-item-img">
                    <img data-ng-src="{{ icon.relative_url|asset }}">
                </div>
                <div data-ng-if="vm.iconSet" class="icon-set-item-buttons">
                    <a class="btn btn-xs" data-ng-class="{'btn-primary':icon.default, 'btn-default': !icon.default}" ngf-select="vm.updateIcon(icon, $file)" accept="image/*">
                        <i class="fa fa-upload"></i>
                    </a>
                    <a class="btn btn-xs btn-danger" data-ng-if="!icon.default" data-confirm-modal="{{'remove_icon_set_icon_confirm_message'|trans:{}:'platform'}}" data-confirm-modal-action="vm.removeIcon(icon)">
                        <i class="fa fa-remove"></i>
                    </a>
                </div>
                <div class="icon-set-item-name">
                    <strong>{{ 'filename'|trans:{}:'platform' }}:</strong>
                    {{ icon.filename }}<span class="text-muted">.*</span>
                </div>
            </div>
        </div>
    </div>
</div>