<div>
    {% if chartData|length > 0 %}
        {% include 'ClarolineCoreBundle:Log:count_by_day_chart.html.twig' %}
    {% endif %}
    <br/><br/>
    <legend>
        {{ 'last_action'|transchoice(logAmount, {'%logAmount%': logAmount}, 'platform') }}
    </legend>
    {% include 'ClarolineCoreBundle:Log:view_list.html.twig' with {'isDesktop': isDesktop} %}
    {% if workspace is defined and workspace != null %}
        <div class="text-center">
            <a href="{{ path('claro_workspace_open_tool', {'workspaceId': workspace.id, 'toolName': 'logs'}) }}"> {{ 'see_all'|trans({}, 'platform') }} </a>
        </div>
    {% endif %}
</div>