<style type="text/css">
    .log_list_item {
        font-size: 12px;
    }
</style>
{% if isDesktop %}
    <div class="col-md-2 log_list_item">
        {% include 'ClarolineCoreBundle:Log:view_list_item_workspace.html.twig' %}
    </div>
{% endif %}

<div class="col-md-2 log_list_item">
    {% if log.getDateLog()|date('date_format'|trans({}, 'platform')) == ''|date('date_format'|trans({}, 'platform')) %}
        {{ 'today'|trans({}, 'platform') ~ ', ' }}
    {% else %}
        {{ log.getDateLog()|date('date_format'|trans({}, 'platform')) ~ ', ' }}
    {% endif %}
    {{ log.getDateLog()|date('H:i') }}
</div>

<div class="col-md-2 log_list_item">
    {% include 'ClarolineCoreBundle:Log:view_list_item_label.html.twig' %}
</div>

<div class="col-md-2 log_list_item">
    {% include 'ClarolineCoreBundle:Log:view_list_item_doer.html.twig' %}
</div>

{% if isDesktop %}
    <div class='col-md-4 log_list_item'>
{% else %}
    <div class='col-md-6 log_list_item'>
{% endif %}
    {% include 'ClarolineCoreBundle:Log:view_list_item_sentence.html.twig' %}
</div>
