<style type="text/css">
    .logs-list {
        margin-top: 10px;
    }
    .logs-list .row {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .logs-list .row-odd {
        background-color: #F9F9F9;
    }
    .logs-list > div.row {
        border-top: 1px solid #DDDDDD;
    }
    .logs-list > div.row:first-child {
        border-top: none;
    }
</style>

<div class='logs-list'>
    <div class='row'>
        {% include 'ClarolineCoreBundle:Log:view_list_item_header.html.twig' with {'isDesktop': isDesktop} %}
    </div>
    {% for log in logs %}
    <div class='row {% if loop.index is divisibleby(2) %}row-odd{% else %}row-even{% endif %}'>
        {% if listItemViews[log.getId()] is defined %}
            {% include 'ClarolineCoreBundle:Log:view_list_item.html.twig' with {'isDesktop': isDesktop, 'listItemView': listItemViews[log.getId()]} %}
        {% else %}
            {% include 'ClarolineCoreBundle:Log:view_list_item.html.twig' with {'isDesktop': isDesktop} %}
        {% endif %}
    </div>
    {% endfor %}
</div>
