/**
 * Multi steps Forms styles.
 */

.form-stepper {
    .progress + .h-title {
        margin-top: @line-height-computed - 4px; // 4px is to absorb progress bar height
    }
}

.form-stepper-footer {
    text-align: right;

    .btn + .btn {
        margin-left: 5px;
    }

    .btn-next {
        min-width: 240px;
    }
}
