<a href="{{ path('claro_admin_external_user_sync_groups_list', {'workspace': workspace.getId()}) }}"
   class="btn btn-default dropdown-toggle"
   role="button"
>
    {{ 'external_group_list' | trans({}, 'claro_external_user_group') }}
</a>