/*
 * Buttons styles
 */

// TODO : grab last styles from bootstrap and remove base buttons api

// removes default button styles everywhere
// appears as a <a>
button,
input[type=button],
input[type=submit],
input[type=reset] {
    background-color: transparent;
    border: none;
    text-decoration: none;
    box-shadow: none;
    padding: 0;

    &:hover,
    &:focus {
        box-shadow: none;
    }

    &:focus {
        box-shadow: none;
        .tab-focus();
    }
}


/* CHROME HACK FOR OUTLINED BUTTON WHEN FOCUSED */
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
    &:focus,
    &.focus,
    &:active,
    &.active {
        outline: none !important;
    }
}

.toolbar-separator {
    display: inline-block;
    margin: 10px;
}


// -
// Standard Buttons
// ---

.btn {
    .button-base();

    &:not(.btn-link) { // FIXME : ugly as fuck. Find a better way to do it
        &.default {
            .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
        }
        &.primary {
            .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
        }
        &.success {
            .button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
        }
        &.info {
            .button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
        }
        &.warning {
            .button-variant(@btn-warning-color; @btn-warning-bg; @btn-warning-border);
        }
        &.danger {
            .button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
        }
    }
}


// -
// Link Buttons
// ---

.btn-link {
    .button-link-base();
}

// variants
.btn-link.primary {
    .button-link-variant(@link-color, @link-hover-color, @link-hover-decoration);
}

.btn-link.default {
    .button-link-variant(@gray, @gray-dark, @link-hover-decoration);
}

.btn-link.danger {
    .button-link-variant(@brand-danger, darken(@brand-danger, 10%), @link-hover-decoration);
}

// -
// Button sizes
// ---

.btn-lg {
    // line-height: ensure even-numbered height of button next to large input
    .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @btn-border-radius-large);
}
.btn-sm {
    // line-height: ensure proper height of button next to small input
    .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @btn-border-radius-small);
}
.btn-xs {
    .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small; @btn-border-radius-small);
}

// -
// Other Variants
// ---

.btn-emphasis {
    padding: @padding-large-vertical @padding-large-horizontal;
}

.btn-toggle {
    .fa {
        background: @input-bg;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    }

    // color
    &.default {
        .button-toggle-color(@gray, @btn-default-border);
    }
    &.primary {
        .button-toggle-color(@brand-primary, @btn-primary-border);
    }
    &.success {
        .button-toggle-color(@brand-success, @btn-success-border);
    }
    &.info {
        .button-toggle-color(@brand-info, @btn-info-border);
    }
    &.warning {
        .button-toggle-color(@brand-warning, @btn-warning-border);
    }
    &.danger {
        .button-toggle-color(@brand-danger, @btn-danger-border);
    }

    // sizing
    .button-toggle-size(2px; @padding-base-vertical; @font-size-base; @line-height-base);

    &.btn-lg {
        .button-toggle-size(2px; @padding-large-vertical; @font-size-large; @line-height-large);
    }
    &.btn-sm {
        .button-toggle-size(2px; @padding-small-vertical; @font-size-small; @line-height-small);
    }
    &.btn-xs {
        .button-toggle-size(@padding-xs-vertical; @padding-xs-vertical; @font-size-small; @line-height-small);
    }

    &.page-actions-btn {
        // FIXME
        //.button-toggle-size(.1em; .65em; 1.25em; 1.25em);
        .button-toggle-size(2px; @padding-large-vertical; @font-size-large; @line-height-large);
    }
}

.button-toggle-size(@outer-padding, @padding-vertical, @font-size, @line-height) {
    @inner-padding: max(@padding-vertical - @outer-padding, 0);
    @handle-size: ceil((@font-size * @line-height) + (@inner-padding * 2));

    padding: @outer-padding;
    border-radius: (@handle-size / 2) + @outer-padding + 1;

    .fa {
        padding: @inner-padding;
        line-height: @line-height;
        height: @handle-size;
        width: @handle-size;
        border-radius: @handle-size / 2;

        transition: margin .25s ease-in-out;
    }

    &[aria-pressed=false] {
        .fa {
            margin-right: @handle-size + @outer-padding;
        }
    }

    &[aria-pressed=true] {
        .fa {
            margin-left: @handle-size + @outer-padding;
        }
    }
}

.button-toggle-color(@color, @border-color) {
    &[aria-pressed=false] {
        .button-variant(@input-bg-disabled, @input-bg-disabled, @input-border);
    }

    &[aria-pressed=true] {
        background-color: @color;
        border-color: @border-color;

        .fa {
            color: @color;
        }
    }
}
