/*
 * Icons styles
 */


.icon-with-text-left {
    margin-left: @icon-text-spacer;
}

.icon-with-text-right {
    margin-right: @icon-text-spacer;
}

.fa-composite {
    position: relative;

    .fa-composite-secondary {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(50%, 50%);
        font-size: 50%;
        width: 1.6em;
        height: 1.6em;
        border-radius: 100%;
        border: 2px solid #777;
        background: white;
    }
}

.theme-icon {
    --primary-color: @icon-primary-color;
    --secondary-color: @icon-secondary-color;
}

// TODO : should be merged with date picker and color picker
.icon-collection-container {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    color: @color-chart-color;
    max-width: 420px; // to have approx same sizing than calendar

    .current-container {
        flex: 1; // ratio : 1/3
        max-width: 420px / 3; // to have approx same sizing than calendar
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        padding: @color-chart-padding;
        color: @datepicker-alt-color;
        background: @datepicker-alt-bg;

        .current-icon {
            font-size: @font-size-h1;
        }
    }

    .icons-container {
        flex: 2; // ratio : 2/3
        max-width: 100%;
        padding: @color-chart-padding;
        display: flex;
        flex-direction: column;

        // temp to have approx same sizing than calendar
        width: (420px / 3) * 2;
        height: 260px;
    }

    .icons-library {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        overflow-y: auto;

        .icon {
            padding: 5px;
            font-size: @font-size-large;
        }

        .selected {

        }
    }
}

.dropdown-menu .icon-collection-container {
    margin: -5px 0;
}

// vertical layout for XS screens
@media (max-width: @screen-xs-max) {
    .icon-collection-container {
        flex-direction: column;

        .current-container {
            max-width: 100%;
        }

        .current-container,
        .icons-container {
            flex: auto; // otherwise it breaks on IE
        }
    }
}
