.img-preview {
    position: relative;
    display: inline-block;

    .btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 4px;
        border-radius: @thumbnail-border-radius;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
    }
}
