{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block section_content %}
<h3>{{ video.getName() }}</h3>
<video controls preload=none
    <source src="{{ path ('claro_stream_video', {'videoId': video.getId()})}}"/>
</video>
{% endblock %}