{% if notification.details.dropzoneId is defined  %}
    <a href="{{ path('icap_dropzone_open', {'resourceId' : notification.details.dropzoneId}) }}" target="_blank"><span
                class="fa fa-exclamation-triangle"></span> {{ notification.actionKey|trans({'%dropzone%' : notification.details.resource.name}, 'notification') }}
    </a>
{% else %}
    <a href="#"><span
                class="fa fa-exclamation-triangle"></span>{{ notification.actionKey|trans({'%dropzone%' : notification.details.resource.name}, 'notification') }}
    </a>
{% endif %}
