{% extends 'IcapNotificationBundle:Templates:notification.html.twig' %}

{% block notificationText %}
    {% if notification.userId is not empty and notification.details.doer is defined %}
        <a href="{{ path('claro_public_profile_view', {'publicUrl' : notification.userId}) }}"><strong>{{ notification.details.doer.firstName ~ ' ' ~ notification.details.doer.lastName }}</strong></a>
    {% else %}
        <strong>{{ systemName }}</strong>
    {% endif %}
    {% if constant('Icap\\PortfolioBundle\\Event\\Log\\PortfolioRemoveEvaluatorEvent::ACTION') == notification.actionKey %}
        {% include 'IcapPortfolioBundle:Notification:notification_portfolio-evaluator.html.twig' %}
    {% elseif constant('Icap\\PortfolioBundle\\Event\\Log\\PortfolioAddEvaluatorEvent::ACTION') == notification.actionKey %}
        {% include 'IcapPortfolioBundle:Notification:notification_portfolio-evaluator.html.twig' %}
    {% endif %}
{% endblock %}
