services:
    Claroline\BigBlueButtonBundle\Crud\RecordingCrud:
        arguments:
            - '@Claroline\BigBlueButtonBundle\Manager\BBBManager'
        tags:
            - { name: kernel.event_listener, event: crud_pre_delete_object_claroline_bigbluebuttonbundle_entity_recording, method: preDelete }

    Claroline\BigBlueButtonBundle\Crud\BBBCrud:
        arguments:
            - '@Claroline\BigBlueButtonBundle\Manager\BBBManager'
        tags:
            - { name: kernel.event_listener, event: crud_pre_update_object_claroline_bigbluebuttonbundle_entity_bbb, method: preUpdate }
            - { name: kernel.event_listener, event: crud_post_update_object_claroline_bigbluebuttonbundle_entity_bbb, method: postUpdate }
            - { name: kernel.event_listener, event: crud_post_delete_object_claroline_bigbluebuttonbundle_entity_bbb, method: postDelete }
