<div ng-class="dc.field[2].error ? 'has-error' : ''">
    <label class="control-label col-sm-3" ng-if="!dc.field[2].noLabel">
        {{ dc.label|trans:{}:dc.translationDomain }}
    </label>
    <div ng-class="dc.field[2].noLabel ? 'col-sm-12' : 'col-sm-9'">
        <!-- https://github.com/angular-ui/bootstrap/issues/2219 -->
        <div class="input-group">
            <fieldset ng-disabled="dc.field[2].disabled">
                <input
                    type="text"
                    class="form-control"
                    uib-datepicker-popup="{{ dc.getDateFormat() }}"
                    ng-model="dc.ngModel"
                    is-open="dc.opened"
                    datepicker-options="dc.options"
                    close-text="Close"
                    ng-disabled="sc.field[2].disabled"
                 />
            </fieldset>
            <span class="input-group-btn" ng-hide="{{ dc.disabled }}">
                <button type="button" class="btn btn-default" ng-click="dc.open()"><i class="fa fa-calendar"></i></button>
            </span>
        </div>
        <div class="help-block field-error" ng-if="dc.field[2].error">{{ dc.field[2].error }}</div>
    </div>
</div>
