services:
    _defaults:
        autowire: false
        autoconfigure: false
        public: true

    Claroline\AppBundle\Persistence\ObjectManager:
        arguments:
            - '@doctrine.orm.entity_manager'
        calls:
            - setLogger: [ '@logger' ]
