.footer-container,
.footer-preview {
    display: flex; // just to have child content taking full height
    width: 100%;

    // hack to force display footer at the bottom of the page if no scroll
    margin-top: -(@footer-height + 1); // + 1 for the border

    min-height: @footer-height;
    background: @footer-bg;
    color: @footer-color;
    border-top: 1px solid @footer-border-color;
    box-shadow: @footer-box-shadow;

    .footer-content {
        max-width: @footer-max-width;
        width: 100%;
        margin: 0 auto;
        flex: 1 0 auto; // take parent full height
    }

    // don't know what to do with that
    .container-fluid {
        p, h1, h2, h3, h4, h5, h6 {
            margin: floor(@grid-gutter-width / 2);
            max-height: 100%;
        }
    }

    // allow to customize links in footer
    a {
        color: @footer-link-color;

        &:hover {
            color: @footer-link-hover-color;
        }
        &:focus {
            color: @footer-link-active-color;
        }
    }
}
