#top_bar,
.top-bar {
    min-height: @top-bar-height;
    background: @top-bar-bg;
    border-radius: 0;
    border: none;
    border-bottom: @top-bar-border-bottom;
    margin-bottom: 0;
    font-size: @top-bar-font-size;
    .box-shadow(@top-bar-box-shadow);

    .top-bar-content {
        min-height: @top-bar-height - @top-bar-border-bottom-size; // permits to fill parent height when using flex boxes
        height: 100%;
        max-width: @top-bar-max-width;
        margin: 0 auto;
    }

    .navbar-header {
        max-height: @navbar-height;
        overflow: hidden !important;
        position: relative;
    }

    .navbar-brand {
        font-size: @top-bar-brand-font-size;
        color: @top-bar-brand-color;
        &:hover,
        &:focus {
            color: @top-bar-brand-hover-color;
            background: @top-bar-brand-hover-bg;
        }

        // Platform logo
        &.logo {
            padding-top: 0;
            padding-bottom: 0;

            // vertical align the logo img using flex box
            display: flex;
            align-items: center;

            img {
                height: @top-bar-logo-height;

                // Let some space between logo img and platform name
                & ~ span {
                    margin-left: 5px;
                }
            }
        }
    }

    .navbar-text {
        color: @top-bar-color;
    }

    .navbar-toggle {
        border-color: @top-bar-toggle-border-color;
        &:hover,
        &:focus {
            background: @top-bar-toggle-hover-bg;
        }
        .icon-bar {
            background-color: @top-bar-toggle-icon-bar-bg;
        }
    }

    .navbar-collapse,
    .navbar-form {
        border-color: @top-bar-inner-border-color;
    }

    .navbar-nav {
        > li > a {
            color: @top-bar-link-color;

            &:hover,
            &:focus {
                color: @top-bar-link-hover-color;
                background: @top-bar-link-hover-bg;
            }
        }
        > .active > a {
            &,
            &:hover,
            &:focus {
                color: @top-bar-link-active-color;
                background-color: @top-bar-link-active-bg;
            }
        }
        > .disabled > a {
            &,
            &:hover,
            &:focus {
                color: @top-bar-link-disabled-color;
                background-color: @top-bar-link-disabled-bg;
            }
        }

        // Dropdown menu items
        // Remove background color from open dropdown
        > .open > a {
            &,
            &:hover,
            &:focus {
                background-color: @top-bar-link-active-bg;
                color: @top-bar-link-active-color;
            }
        }

        @media (max-width: @grid-float-breakpoint-max) {
            // Dropdowns get custom display when collapsed
            .open .dropdown-menu {
                > .dropdown-header {
                    color: @top-bar-link-active-color;
                    border-color: @top-bar-inner-border-color;
                }
                .divider {
                    background-color: @top-bar-inner-border-color;
                }
                > li > a {
                    color: @top-bar-link-color;
                    &:hover,
                    &:focus {
                        color: @top-bar-link-hover-color;
                        background-color: @top-bar-link-hover-bg;
                    }
                }
                > .active > a {
                    &,
                    &:hover,
                    &:focus {
                        color: @top-bar-link-active-color;
                        background-color: @top-bar-link-active-bg;
                    }
                }
                > .disabled > a {
                    &,
                    &:hover,
                    &:focus {
                        color: @top-bar-link-disabled-color;
                        background-color: @top-bar-link-disabled-bg;
                    }
                }
            }
        }
    }

    .badge {
        color: @navbar-inverse-bg;
        background: @navbar-inverse-link-color;
        padding: 1px 4px;
        font-weight: normal;
    }

    li.active {
        .badge {
            color: @navbar-inverse-link-active-bg;
        }
    }

    /*.navbar-collapse {
        margin-left: -15px;
    }*/

    .break-hide {
        display: none;
    }

    &.break{
        .break-hide {
            display: inline;
        }
    }

    .navbar-form button {
        background-color: @navbar-inverse-link-color;
        border: none;
        color: @navbar-inverse-bg;
        font-weight: bold;
    }

    /*@media(max-width: (@screen-md - 1)) {
        .dropdown-menu {
            .dropdown-fix;
        }
    }

    @media(min-width: @screen-md) {
        .dropdown-menu {
            position: absolute;
            left: auto;
            right:0;
        }

        li:not(:last-child) > a {
            border-right:1px solid darken(@navbar-inverse-bg, 5%) !important;
        }
    }*/

    @media(min-width: @screen-md) {
        max-height: (@navbar-height + 3);
        overflow: hidden;

        &.break {
            max-height: 395px !important;
            overflow: visible !important;

            .navbar-header {
                width: 100%;
            }

            .navbar-toggle {
                display: block;
            }

            .navbar-collapse.collapse {
                display: none !important;
            }
            .navbar-collapse.in {
                display: block;
            }
            .navbar-collapse.collapsing {
                overflow: hidden !important;
            }
            .navbar-collapse {
                overflow: auto !important;
                max-height: 340px  !important;
                overflow-x: visible  !important;
                .navbar-nav {
                    &, li {
                        width: 100%;
                    }

                    /*li a {
                        padding-left: 10px;
                        padding-right: 10px;
                    }*/

                    /*&.navbar-right {
                        margin-right: 0;
                    }*/

                    .dropdown-menu {
                        /*.dropdown-fix;*/
                    }
                }
            }
        }
    }
}