.page-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    /* this needs to be overridden using bootstrap vars */
    margin-bottom: floor(@grid-gutter-width / 2);
    margin-top: 0;
    padding: 0;
    border: none;

    h1 {
        font-size: 26px; /* this needs to be overridden using bootstrap vars */
        font-weight: 700;
        margin: 0;
        padding: 0;
    }
}