.page-container {
    display: flex; // this permits to have the .page component to fill the available height
}

.page {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100%; // fill parent
    max-width: 100%;

    .page-content {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1 0 auto; // only specifying flex property here make the item fill the remaining space in its parent
    }

    &.fullscreen {
        position: fixed;
        z-index: @zindex-fullscreen;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        padding: floor(@grid-gutter-width / 2); // mimic grid
        background: @body-bg; // regular page container has no background. We need to hide what is under
        overflow-y: scroll; // get the scrollbar
    }
}

.page-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-shrink: 0;
    flex-wrap: nowrap;

    padding: @page-header-padding;
    margin: 0 floor(-@grid-gutter-width / 2);
    border-bottom: 1px solid @page-header-border-color;

    .page-title {
        order: 1;
        margin: 0;
        margin-bottom: floor(@grid-gutter-width / 2);
        padding: 0 floor(@grid-gutter-width / 2);

        > small {
            display: block; // todo this may have broken some things
            margin-top: 5px;
            font-size: 50%;
            font-style: italic;
        }
    }

    .page-header-content {
        flex: 3;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-shrink: 0;
        flex-wrap: nowrap;
    }

    .page-header-picture {
        flex: 1;
        max-width: 200px;
        margin-bottom: -40px;
        padding: 0 floor(@grid-gutter-width / 2);
    }

    + .page-content-shift {
        margin-top: @component-margin-bottom;
    }
}

.page-header-poster {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 300px;
    border-bottom: none;

    // use movie subtitles styles to make title always readable
    // maybe one day add a background checker
    .page-title,
    .page-title > small {
        .text-movie-subtitles();
    }
}

.page-title {
    flex: 1;
    font-size: @page-header-font-size;
    font-weight: @page-header-weight;
}

.page-actions {
    order: 2;
    margin-left: auto;
    margin-bottom: floor(@grid-gutter-width / 2);
    padding: 0 floor(@grid-gutter-width / 2);
    white-space: nowrap;

    .page-actions-group {
        display: inline-block;
        margin-left: floor(@grid-gutter-width / 2);

        &:first-child {
            margin-left: 0;
        }
    }

    > .page-action-btn:first-child,
    .page-actions-group .page-action-btn:first-child {
        margin-left: 0; // absorb first btn margin
    }

    .page-action-btn,
    .dropdown {
        margin-left: .2em;
    }

    .dropdown-menu {
        margin-top: 5px; // increase margin to avoid overlap btn label if any
    }
}

// Current styles permit to have 7 buttons in one line on 360px screens (without btn groups)
.page-action-btn {
    position: relative; // for buttons with labels
    border-radius: 50%;
    padding: .65em;

    &.page-action-default {
        .button-variant(#333333; #EBEBEB; transparent);
    }

    &.page-action-primary {
         .button-variant(@btn-primary-color; @btn-primary-bg; transparent);
     }

    &.page-action-danger {
        .button-variant(@btn-danger-color; @btn-danger-bg; transparent);
    }

    // displays icon as a square
    .action-icon {
        font-size: 1.25em;
        line-height: 1.25em;
        width: 1.25em;
    }

    // puts labels in the bottom right corner
    .label {
        position: absolute;
        top: auto; // reset bootstrap default
        bottom: -5px;
        right: 0;
        font-size: 10px;
        padding: .2em .4em;
    }

    .fa-asterisk { // ugly selector for custom rights flag
        position: absolute;
        bottom: -5px;
        right: 0;
    }
}

.tabbed-page {
    .page-header {
        > div {
            flex: 1;
        }
    }

    .page-title {
        margin-bottom: 5px;
    }
}

.page-tabs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    padding: 0 floor(@grid-gutter-width / 2);
    font-family: @headings-font-family;
    margin: 0 -1px;

    a {
        flex: 1;
        font-size: @font-size-small;
        height: floor((@font-size-small * @line-height-small))*2 + 8px + 4px;
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 4px 12px;
        color: #666666;
        background: #EDEDED;
        border: 2px solid #EDEDED;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        background-clip: padding-box;

        &.only-icon {
            margin-left: auto;
            flex: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: @brand-primary;
        }

        &.active {
            color: @brand-primary;
            background: white;
            border-top: 2px solid white;
            border-bottom-color: @brand-primary;
        }
    }

    .page-tabs-icon {
        font-size: 24px;
    }

    .page-tab-label {
        margin-left: 10px;
        overflow: hidden;
        max-height: 100%;
    }
}

/* for retro-compatibility, will be removed */
.page-buttons {
    margin-bottom: @component-margin-bottom;
}

@media (max-width: @screen-sm-min) {
    .page-header {
        flex-wrap: wrap;

        .page-header-picture {
            margin-bottom: floor(@grid-gutter-width / 2);
        }

        .page-header-content {
            flex-wrap: wrap;
        }
    }
}
