{% extends 'HeVinciFavouriteBundle::layout.html.twig' %}

{% block title %} Action réussie - Favoris - {{ parent() }} {% endblock %}

{% block section_content %}
    <div>Action réussie</div>
{% endblock %}