body
{
    margin: 0;
    padding: 0;
}

#banner
{
    height: 30px;
    padding: 4px;
    border-bottom : solid #555 3px;
    background-color: #66c;
}

#banner h3
{
    margin: 2px 0 0 8px;
    color: #ccc;
}

#top_bar
{
    height: 20px;
    padding: 2px 8px;
    border-bottom: solid 1px #bbb;
}
/*media query exemple*/
@media screen and (max-width: 600px)
{  
    #top_bar
    {
        height: 20px;
        padding: 2px 8px;
        border-bottom: solid 1px #bbb;
        background-color: red;
    }
}

.top_bar_left
{
    float: left;
    display: inline;
}

.top_bar_right
{
    float: right;
    display: inline;
}

#content
{
    padding: 16px;
}

.flash_msg
{
    width: 400px;
    margin: 20px;
    padding: 12px;
    text-align: center;
    font-style: italic;
}

.flash_notice
{
    background-color: #5D6;
}

.flash_alert
{
    background-color: #900;
}

#login_form
{
    width: 380px;
    margin: 50px auto;
    padding: 20px;
    border: solid 1px #bbb;
    text-align: center;
}

#login_form label, #login_form input[type=text], #login_form input[type=password]
{
    display: inline-block;
    width: 200px;
    margin-bottom: 8px;
}

#login_form label
{
    width: 160px;
    padding-right: 10px;
    text-align: right;
}

#login_form input[type=submit]
{
    margin-top: 10px;
}

#login_form .failure_msg
{
    margin-bottom: 10px;
    text-align: justify;
    font-size: 11px;
    color: #922;
}

#user_registration_form div label
{
    display: inline-block;
    width: 180px;
    padding-right: 12px;
    text-align: right;
}

#user_registration_form input[type=submit]
{
    margin: 12px 150px;
}

#msg
{
    padding-left: 12px;
    margin-bottom: 12px;
    font-style: italic;
    color: #081;
}

.form_error
{
    display: inline-block;
    width: 200px;
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: #922;
}

#form_complete_user div label
{
    display: inline-block;
    width: 180px;
    padding-right: 12px;
    text-align: right;
}

#form_complete_user  input[type=submit] 
{
    margin: 12px 150px;
}

#form_settings div label
{
    display: inline-block;
    width: 180px;
    padding-right: 12px;
    text-align: right;
}

#form_settings input[type=submit]
{
    margin: 12px 150px;
}

#form_group div label
{
    display: inline-block;
    width: 180px;
    padding-right: 12px;
    text-align: right;
}

#form_group input[type=submit]
{
    margin: 12px 150px;
}

#AJAX_list_user_window
{
	position: absolute;
	left:200px;
	top:100px;
	width:500px;
    height:400px;
	background-color:#f0f5FF;
	border: 1px solid #000;
	z-index: 50;
}

#AJAX_list_user_window_handle
{
	background-color:#5588bb;
	padding:2px;
	text-align:center;
	font-weight:bold;
	color: #FFFFFF;
	vertical-align:middle;
}

#AJAX_list_user_window_content 
{
	padding:5px;
    width:98%;
    height:190px;
}

#AJAX_close
{
	float:right;
	text-decoration:none;
	color:#FFFFFF;
}
    
#AJAX_list_user_form
{
    width: 100%;
	height: 100%;
}

#AJAX_user_checkboxes
{
    height: 100%;
}

#AJAX_list_group_window
{
	position: absolute;
	left:200px;
	top:100px;
	width:500px;
    height:500px;
	background-color:#f0f5FF;
	border: 1px solid #000;
	z-index: 50;
}

#AJAX_list_group_window_handle
{
	background-color:#5588bb;
	padding:2px;
	text-align:center;
	font-weight:bold;
	color: #FFFFFF;
	vertical-align:middle;
}

#AJAX_list_group_window_content 
{
	padding:5px;
    width:98%;
    height:190px;
}

#AJAX_user_close
{
	float:right;
	text-decoration:none;
	color:#FFFFFF;
}

#AJAX_group_close
{
	float:right;
	text-decoration:none;
	color:#FFFFFF;
}
    
#AJAX_list_group_form
{
    width: 100%;
	height: 100%;
}

#AJAX_group_checkboxes
{
    height: 100%;
}

/* mobile top bar  */
