/*
 * This stylesheet must be included after "boostrap.css" and before "bootstrap-responsive.css".
 * It contains only basic layout styling. Use "post-responsive.css" instead, whenever possible.
 */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    min-height: 100%;
}

#grid {
    overflow: auto;
    /* reserves a space for the footer */
    padding-bottom: 48px;
}

@media (min-width: 768px) {
    /* ensures the navbar doesn't hide the top content
       (only necessary on large screens) */
    #grid {
        padding-top: 50px;
    }
}

footer {
    width: 120%;
    position: relative;
    height: 20px;
    /* puts the footer in the grid with a negative margin */
    margin: -48px -10% 0 -10%;
    padding: 14px 11%;
    clear: both;
}