/* ===== Primary Styles ========================================================
   Author: Claroline team
   ========================================================================== */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

footer {
    height: 40px;
    background-color: #2C2C2C;
    color: #999;
    margin: 0;
}


#main-container {
    min-height: 86%;
    margin: 0;
}
