/* ===== Primary Styles ========================================================
   Author: Claroline team
   ========================================================================== */

/* TO DO: add sticky footer when Twitter Bootstrap add functionality for this. */
footer{
 height:40px;
 background-color: #000000;
 color: #FFFFFF;
}

#content{
    min-height: 500px;

}


