{% extends 'ClarolineCoreBundle::common_layout.html.twig' %}

{% block global_content %}

    {% if app.session.hasFlash('notice') %}
    <div class="flash_msg flash_notice">
        {{ app.session.flash('notice') }}
    </div>
    {% endif %}

    {% if app.session.hasFlash('alert') %}
    <div class="flash_msg flash_alert">
        {{ app.session.flash('alert') }}
    </div>
    {% endif %}

    <div id="content" class="container-fluid">
        {% block content %}{% endblock %}
    </div>

{% endblock %}