{% extends 'ClarolineCoreBundle::content_layout.html.twig' %}

{% block content %}

<div class="section" id="home">
    
    <h4>{{ 'home'|trans({}, 'home') }}</h4>
    
    {% block section_content %}{% endblock %}

<div>

{% endblock %}