<div class="modal-body" id="modal-body">
    <div>
        <div>{{'choose_role_for_sync'|trans:{}:'claro_external_user_group'}}</div>
        <ul class="list-unstyled">
            <li ng-repeat="role in $ctrl.roles">
                <label><input type="radio" data-ng-model="$ctrl.role" data-ng-value="role"> {{role.translationKey|trans:{}:'platform'}}</label>
            </li>
        </ul>
    </div>
    <div>
        <div>{{'enable_cas_sync'|trans:{}:'claro_external_user_group'}}</div>
        <div><label><input type="checkbox" data-ng-model="$ctrl.cas" ng-true-value="'true'" ng-false-value="'false'"> {{'enable_cas_sync'|trans:{}:'claro_external_user_group'}}</label></div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>