{% extends 'ClarolineCoreBundle::content_layout.html.twig' %}

{% block content %}

<div class="section" id="administration">
    
    <h4>{{ 'administration'|trans({}, 'administration') }}</h4>
    <h5> 
        <a href="{{ path('claro_admin_user_add_form') }}" id="link_add_user"> Add user </a> |
        <a href="{{ path('claro_admin_user_list') }}" id="link_list_user"> List user </a> |
        <a href="{{ path('claro_admin_group_create') }} id="link_group_create"> Create group </a>
    </h5>
    
    {% block section_content %}{% endblock %}

<div>

{% endblock %}