{% extends "ClarolineCoreBundle:Administration:administration.html.twig" %}
{% block section_content %}
     {% form_theme form_group 'ClarolineCoreBundle::form_theme.html.twig' %}
    <form action="{{ path('claro_admin_group_create') }}" method="post" {{ form_enctype(form_group) }} id="form_group">
        {{ form_errors(form_group) }}
        {{ form_widget(form_group) }}
        <input type="submit" />
    </form>
{% endblock %}