{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('bundles/clarolinecore/js/administration/group_list.js') }}' type="text/javascript"></script>

{% endblock %}
{% block section_content %}
    <h3 class="sub-section-header" id="group-list-block">{{ 'groups'|trans({}, 'platform') }}</h3>
    <table id="group-table"></table>

    <div id="twig-attributes"
         data-pages="{{ pages }}"
    ></div>
{% endblock %}