{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
{% for plugin in plugins %}
    <span>
        <div class="wrapper">
            <img src="{{asset(plugin.getIcon())}}"

             />
        </div>
        <span class="res-name">{{  plugin.getShortName()|lower|trans({}, 'plugin_description') }}</span>
        {% if plugin.hasOptions() %}
            <a href="{{ path('claro_admin_plugin_options', {'domain': plugin.getShortName()})}}">options</a>
        {% endif %}
    </span>
{% endfor %}
{% endblock %}