{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('bundles/clarolinecore/js/administration/user_list.js') }}' type="text/javascript"></script>

{% endblock %}
{% block section_content %}
    <h3 id='user-list-block' class="sub-section-header">{{ 'users'|trans({}, 'platform') }}</h3>
    <table id='user-table'></table>

    <div id="twig-attributes"
         data-pages="{{ pages }}"
    ></div>
{% endblock %}