{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}

    <h3 id='user-list-block' class="sub-section-header">{{ 'widget_settings'|trans({}, 'platform') }}</h3>

    {{ content|raw }}

{% endblock %}
