{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'widget_settings'|trans({}, 'platform'),
                'href': path('claro_admin_widgets')
            },
            {
                'name': 'configure'|trans({}, 'platform'),
                'href': ''
            }

        ])
    }}
{% endblock %}
{% block section_content %}

    <div class="panel-heading">
        <h3 class="panel-title">{{ 'widgets_configuration'|trans({}, 'platform') }}</h3>
    </div>

    {{ content | raw }}

{% endblock %}
