{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'claroline_cursus_tool' | trans({}, 'tools') }}
{% endblock %}

{% block section_content %}
    <div class="panel-body">
        <div class="alert alert-warning">
            {{ 'tool_work_in_progress'|trans({}, 'platform') }}
        </div>
    </div>
{% endblock %}