{% extends 'HeVinciCompetencyBundle::modal.html.twig' %}

{% trans_default_domain 'competency' %}

{% block title %}{{ 'competency.activities'|trans }}{% endblock %}

{% block body %}
    {% set activities = competency.getActivities() %}
    {% if activities|length == 0 %}
        <div class="alert alert-warning">
            <i class="fa fa-warning"></i>
            {{ 'info.no_competency_activities'|trans }}
        </div>
    {% else %}
        <ul>
            {% for activity in activities %}
                <li>{{ activity.getResourceNode().getPathForDisplay() }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block footer %}
    <button type="button" class="btn btn-primary"  data-dismiss="modal">
        {{ 'close'|trans({}, 'platform') }}
    </button>
{% endblock %}