{% set layout = 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% if isDesktop() %}
    {% set layout = 'ClarolineCoreBundle:Desktop:layout.html.twig' %}
{% endif %}

{% extends layout %}

{% block title %}
    {{ _resource.resourceNode.name ~ ' - ' ~ 'associated_competencies'|trans({}, 'competency')|striptags|raw }}
{% endblock %}

{% block resourceBreadcrumb %}
    <li class="active">{{ _resource.getResourceNode().getName() }}</li>
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <div class="panel-title">{{ 'associated_competencies'|trans({}, 'competency') }}</div>
    </div>
    <div class="panel-body">
        TODO
        ({{ is_granted('ROLE_COMPETENCY_MANAGER') ? 'edit mode' : 'read-only' }})
    </div>
{% endblock %}
