{# to keep the workspace layout, extends this template #}
{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'activity'|trans({}, 'resource') }} {{ _resource.getName() }}</h3>
    </div>
    <div class="panel-body">

    </div>
    <div class="panel-footer">

    </div>
{% endblock %}
