{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block title %}{{ _resource.resourceNode.name ~ ' - ' ~ "activity" | trans({}, "resource") | striptags | raw }}{% endblock %}

{% block section_content %}
    <div class="panel-body">
        <ul class="nav nav-tabs margin-bottom-md">
            <li class="active"><a>{{ _resource.resourceNode.name }}</a></li>
            <li><a class="add-resource pointer-hand"><i class="icon-plus"></i> {{ 'add_resource' | trans({}, 'platform') }}</a></li>
        </ul>
        <div class="activity-primary">
            <div>{{ _resource.getDescription() | raw }}</div>
        </div>
    </div>
{% endblock %}
