@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro');


footer {
    background-color: @grayClaro;
    color: @grayLightClaro;
}

body {
    letter-spacing: 0.08em;
}

.btn {
    letter-spacing: 0.06em;
}
