///////////////////////////////////////////////////////////////////////////////////
// This less file contains only global layout rules (mainly for navbar, grid and //
// footer positionning). It is included at the end of "bootstrap.less.pre". Keep //
// it short and design-neutral.                                                  //
///////////////////////////////////////////////////////////////////////////////////

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    min-height: 100%;
}

#grid {
    overflow: auto;
    padding-bottom: @navbarHeight; /* Reserves a space for the footer */
}

@media (min-width: 768px) {
    /* Ensures the navbar doesn't hide the top content (only necessary on large screens)*/
    #grid {
        padding-top: @navbarHeight;
    }

    .tool-list {
        #grid > .fluid > .span(1);
        float: left;
    }

    .section-content {
        #grid > .fluid >  .span(11);
        float: right;
    }

    .workspace-toolbox-item {
        display: block;
        text-align: center;
    }
}

footer {
    width: 100%;
    position: relative;
    height: @navbarHeight;
    margin: -@navbarHeight 0 0 0; /* Puts the footer in the grid with a negative margin */
}

@media (max-width: 767px) {
    /* // Compensates for the 20px body padding set in bootstrap "responsive-767px-max.less"
       // (makes the footer fill the whole screen width). */
    footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .tool-list {
        #grid > .fluid > .span(12);
    }

    .section-content {
        #grid > .fluid > .span(12);
    }

    .workspace-toolbox-item {
        display: inline-block;
    }
}

/***********/
/* WIDGETS */
/***********/
.widget {
    margin-bottom: 22px;
}

.widget-header {
    height: 26px;
    line-height: 26px;
    #gradient > .vertical(@widgetHeaderVariantDark, @widgetHeaderVariantLight);
    /* Rounded corners */
    border: 1px solid @widgetBorder;
    -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
            border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
            border-top-right-radius: 4px;
}

.widget-header h3 {
    position: relative;
    top: 2px;
    left: 10px;
    display: inline;
    font-size: 14px;
    font-weight: 800;
    color: @widgetHeaderColor;
    line-height: 14px;
}

.widget-commands {
    float: right;
    margin-right: 13px;
    vertical-align: middle;
}

.widget-commands a {
    text-decoration: none;
}

.widget-header [class^="icon-"], .widget-header [class*=" icon-"] {
    color: @widgetHeaderColor;
    font-size: 14px;
    margin-left: 13px;
    vertical-align: middle;
}

.widget-content {
    max-height: 300px;
    overflow: auto;
    padding: 15px 15px 15px;
    background: @widgetContentBackground;
    color:  @widgetContentColor;
    border: 1px solid @widgetBorder;
    border-top: none;
    -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
            border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-bottomright: 5px;
            border-bottom-right-radius: 5px;
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.notification-date {
    text-decoration: underline;
    font-style: italic;
}

/*****************/
/* RESOURCES MGR */
/*****************/

.resource-manager .actions .btn,
.resource-manager .actions select {
    height: 30px;
    margin: 0;
}

.resource-manager .filters,
.resource-manager .resources {
    margin: 16px 0 80px 0 !important;
}

.resource-manager .filters {
    width: 280px;
    padding-top: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.resource-manager .filters .form-actions {
    margin-bottom: 0;
}

.resource-manager .filters .control-group label {
    width: 70px;
}
.resource-manager .filters .controls {
    margin-left: 76px;
}

.resource-manager .filters .control-group select[multiple=multiple] {
    width: 160px;
}

.resource-manager .filters .form-actions {
    margin: 0;
    padding: 16px;
    text-align: center;
}

.resource-thumbnail {
    display: inline-block;
    width: 130px;
    height: 140px;
    margin: 10px 18px;
    vertical-align: top;
}

.resource-thumbnail input[type=checkbox] {
    vertical-align: top;
}

.resource-thumbnail .name {
    display: block;
    text-align: center;
}

.resource-thumbnail img:hover,
.resource-thumbnail .dropdown-toggle:hover {
    cursor: pointer;
}

.resource-thumbnail .dropdown-toggle {
    color: #000;
}

.resource-manager .results {
    padding-left: 20px;
}

.resource-manager .results table {
    margin-top: 20px;
}

.resource-manager .results .checkbox-column {
    width: 18px;
}

/**************/
/* WORKSPACES */
/**************/

.workspace-toolbox-item {
    margin: 6px;
}

.workspace-left-toolbox {
    margin-bottom: 18px;
    border: 1px solid @widgetBorder;
    -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
            border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-bottomright: 5px;
            border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
            border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5x;
        -moz-border-radius-topright: 5px;
            border-top-right-radius: 5px;
    zoom: 1;
}

.workspace-code {
    font-size: @baseFontSize - 3px;
    font-style: italic;
}

/***********/
/* PLUGINS */
/***********/

.plugin-item {
    display: inline-block;
}

.plugin-figcaption {
    text-align:center;
}