<div class="papers-container">
    <div class="panel-body">
        <!-- Search row -->
        <div class="form-inline row" data-ng-if="paperListCtrl.filtered.length > 0">
            <div class="form-group col-md-9">
                <div class="input-group">
                    <input type="text" class="form-control" data-ng-model="paperListCtrl.query" data-ng-change="paperListCtrl.updateFilteredList()" placeholder="{{ 'paper_search'|trans:{}:'ujm_sequence' }}">
                    <div class="input-group-addon"><span class="fa fa-search"></span></div>
                </div>
            </div>
            <div class="form-group col-md-3 text-right">
                <div data-ng-if="paperListCtrl.showPagination" class="input-group">
                    <input type="number" step="1" min="1" class="form-control" data-ng-model="paperListCtrl.config.itemsPerPage">
                    <div class="input-group-addon" style="cursor:pointer;" title="{{ 'paper_list_table_toggle_pagination'|trans:{}:'ujm_sequence' }}">
                        <span class="fa fa-eye-slash" data-ng-click="paperListCtrl.togglePaginationButton()" data-ng-if="paperListCtrl.showPagination"></span>
                    </div>
                </div>

                <div data-ng-if="!paperListCtrl.showPagination" class="input-group pull-right">
                    <button role="button" data-ng-click="paperListCtrl.togglePaginationButton()" title="{{ 'paper_list_table_toggle_pagination'|trans:{}:'ujm_sequence' }}" type="button" class="btn btn-default">
                        <i class="fa fa-list"></i>
                    </button>
                </div>
            </div>
        </div>

        <div data-ng-if="paperListCtrl.displayManualCorrectionMessage" class="row">
            <div class="col-md-12">
                <hr/>
                <div class="alert alert-warning text-right" role="alert">
                    <a href="#" class="alert-link">{{ 'paper_list_manual_correction_needed'|trans:{}:'ujm_sequence' }}</a>
                </div>
            </div>
        </div>

        <!-- Button to delete test papers (when the Exercise is not published and has never been) -->
        <button type="button" class="btn btn-danger" data-ng-click="paperListCtrl.deletePapers()" data-ng-if="paperListCtrl.filtered.length > 0 && !paperListCtrl.exercise.meta.published && !paperListCtrl.exercise.meta.publishedOnce">
            <span class="fa fa-trash-o"></span>
            {{ 'delete_papers' | trans:{}:'ujm_exo' }}
        </button>

        <div class="row center-text" data-ng-if="paperListCtrl.filtered.length === 0">
            <hr/>
            <div class="col-md-12">
                <h4>{{ 'paper_list_no_paper'|trans:{}:'ujm_sequence' }}</h4>
            </div>
        </div>
    </div>

    <!-- List of Papers -->
    <table data-ng-if="paperListCtrl.filtered.length > 0" at-table at-list="paperListCtrl.filtered" at-paginated at-config="paperListCtrl.config" class="table table-striped table-centered">
        <thead></thead>
        <tbody>
            <tr>
                <td at-implicit at-attribute="user" at-sortable at-title="{{ 'paper_list_table_user'|trans:{}:'ujm_sequence' }}"></td>
                <td at-implicit at-attribute="number" at-sortable at-title="{{ 'paper_list_table_paper_number'|trans:{}:'ujm_sequence' }}"></td>
                <td at-implicit at-attribute="start" at-sortable at-initial-sorting="asc" at-title="{{ 'paper_list_table_start_date'|trans:{}:'ujm_sequence' }}"></td>
                <td at-implicit at-attribute="end" at-sortable at-title="{{ 'paper_list_table_end_date'|trans:{}:'ujm_sequence' }}"></td>
                <td at-implicit at-attribute="interruptLabel" at-sortable at-title="{{ 'paper_list_table_interrupted'|trans:{}:'ujm_sequence' }}"></td>
                <td at-attribute="id" at-title="{{ 'paper_list_table_action'|trans:{}:'ujm_sequence' }}">
                    <a data-ng-if="paperListCtrl.checkCorrectionAvailability(item)" href="#/papers/{{item.id}}">{{ 'paper_list_table_action'|trans:{}:'ujm_sequence' }}</a>
                    <span data-ng-if="!paperListCtrl.checkCorrectionAvailability(item)">{{ 'paper_list_table_action_not_available'|trans:{}:'ujm_sequence' }}</span>
                </td>
                <td at-implicit at-attribute="score" at-sortable at-title="{{ 'paper_list_table_score'|trans:{}:'ujm_sequence' }}"></td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer" data-ng-if="paperListCtrl.filtered.length > 0 && paperListCtrl.showPagination">
        <at-pagination at-config="paperListCtrl.config" at-list="paperListCtrl.filtered"></at-pagination>
    </div>
</div>