{% extends 'ClarolineCoreBundle:Tool\\desktop\\home:home_layout.html.twig' %}


{% block homeTab %}
 
    <div class="accordion widget">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse001">
                    <i class="icon-cogs"></i>
                    Activités
                    <i class="icon-chevron-down pull-right"></i>
                </a>
            </div>
            <div id="collapse001" class="accordion-body collapse in">
                <div class="accordion-inner">
                    Cras fermentum tempus congue. Pellentesque quam magna, aliquet eget laoreet sed,
                    tincidunt et purus. Quisque dignissim consectetur convallis. Mauris nunc erat,
                    ornare id pharetra ac, ullamcorper id enim. Aenean varius est a nisi ornare congue.
                    Proin est libero, pulvinar semper convallis nec, semper non orci. Phasellus fermentum
                    sodales lacus, sed pulvinar metus tristique a. Vestibulum placerat, nisi sit amet
                    mattis laoreet, mi est mattis eros, sit amet rutrum ante sem eu sapien. Mauris erat purus,
                    ultricies a varius et, tincidunt at mi. Mauris quam ipsum, blandit non rutrum nec,
                    cursus vel elit. Duis at velit sit amet massa porta faucibus. Nam nec adipiscing dolor.
                    Phasellus elit ante, malesuada et congue non, rutrum venenatis nibh. Praesent eu augue
                    non sapien fermentum iaculis sed quis sem. Sed sapien dolor, pharetra quis laoreet at,
                    tincidunt suscipit eros.

                </div>
            </div>
        </div>
    </div>

    <div class="accordion widget">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse002">
                    <i class="icon-cogs"></i>
                        News
                    <i class="icon-chevron-down pull-right"></i>
                </a>
            </div>
            <div id="collapse002" class="accordion-body collapse in">
                <div class="accordion-inner">
                    Cras fermentum tempus congue. Pellentesque quam magna, aliquet eget laoreet sed,
                    tincidunt et purus. Quisque dignissim consectetur convallis. Mauris nunc erat,
                    ornare id pharetra ac, ullamcorper id enim. Aenean varius est a nisi ornare congue.
                    Proin est libero, pulvinar semper convallis nec, semper non orci. Phasellus fermentum
                    sodales lacus, sed pulvinar metus tristique a. Vestibulum placerat, nisi sit amet
                    mattis laoreet, mi est mattis eros, sit amet rutrum ante sem eu sapien. Mauris erat purus,
                    ultricies a varius et, tincidunt at mi. Mauris quam ipsum, blandit non rutrum nec,
                    cursus vel elit. Duis at velit sit amet massa porta faucibus. Nam nec adipiscing dolor.
                    Phasellus elit ante, malesuada et congue non, rutrum venenatis nibh. Praesent eu augue
                    non sapien fermentum iaculis sed quis sem. Sed sapien dolor, pharetra quis laoreet at,
                    tincidunt suscipit eros.
                </div>
            </div>
        </div>
    </div>

{% endblock %}
