{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-briefcase',
                'name': 'desktop'|trans({}, 'platform'),
                'href': path('claro_desktop_open')
            },
            {
                'name': 'parameters'|trans({}, 'platform'),
                'href': path('claro_desktop_open_tool', {'toolName': 'parameters'})
            },
            {
                'name': 'home'|trans({}, 'platform'),
                'href': path('claro_desktop_tool_config', {'tool': tool.getId()})
            },
            {
                'name': 'widgets'|trans({}, 'platform'),
                'href': path('claro_desktop_widget_properties')
            },
            {
                'name': 'configuration'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}
{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'widget_settings' | trans({}, 'platform') }}</h3>
    </div>
    {% block section_widget_content %}
        {% include 'ClarolineCoreBundle:Tool\\desktop\\home:widgetConfigurationForm.html.twig' %}
    {% endblock %}
{% endblock %}
