<!-- Item row -->
<div data-ui-tree-handle="" class="tree-item" data-ng-class="{ 'active-step': pathStructureCtrl.currentStep.id == step.id }"
     data-ng-click="pathStructureCtrl.setCurrentStep(step)"
     data-ng-mouseenter="showButtons = step.id"
     data-ng-mouseleave="showButtons = null">

    <!-- Level indicator -->
    <div class="lvl lvl-{{ step.lvl }}">
        <!-- Drag&Drop handler -->
        <div ng-if="step.lvl !== 0" data-ui-tree-handle="" class="step-drag-handler" data-toggle="tooltip" data-container="body" title="{{ 'step_drag' | trans:{}:'path_editor' }}">
            <span class="fa fa-ellipsis-v"></span>
            <span class="sr-only">{{ 'step_drag' | trans:{}:'path_editor' }}</span>
        </div>
    </div>

    <!-- Step name -->
    <div class="step" data-nodrag="">
        <!--Collapse / Expand button -->
        <a class="step-toggle" href="" data-ng-click="toggle(this)" data-ng-show="0 != step.children.length" role="button">
            <span class="fa fa-fw" data-ng-class="{ 'fa-caret-right': collapsed, 'fa-caret-down': !collapsed }"></span>
        </a>

        {{ step.name | truncate }}
    </div>

    <!-- Actions available -->
    <span data-ng-show="showButtons == step.id || pathStructureCtrl.currentStep == step" class="step-actions btn-group" data-nodrag="">
        <a href="#" class="btn btn-default btn-sm" data-ng-click="pathStructureCtrl.addChild(step)" data-toggle="tooltip" data-container="body" title="{{ 'step_add_child' | trans:{}:'path_editor' }}">
            <span class="fa fa-plus"></span>
            <span class="sr-only">{{ 'step_add_child' | trans:{}:'path_editor' }}</span>
        </a>

        <a href="#" class="btn btn-default btn-sm" data-ng-click="pathStructureCtrl.copy(step)" data-toggle="tooltip" data-container="body" title="{{ 'step_copy' | trans:{}:'path_editor' }}">
            <span class="fa fa-copy"></span>
            <span class="sr-only">{{ 'step_copy' | trans:{}:'path_editor' }}</span>
        </a>

        <a href="#" class="btn btn-default btn-sm" data-ng-click="pathStructureCtrl.paste(step)" data-ng-disabled="pasteDisabled" data-toggle="tooltip" data-container="body" title="{{ 'step_paste' | trans:{}:'path_editor' }}">
            <span class="fa fa-paste"></span>
            <span class="sr-only">{{ 'step_paste' | trans:{}:'path_editor' }}</span>
        </a>

        <a href="#" class="btn btn-default btn-sm" data-ng-click="pathStructureCtrl.saveAsTemplate(step)" data-toggle="tooltip" data-container="body" title="{{ 'step_to_template' | trans:{}:'path_editor' }}">
            <span class="fa fa-download"></span>
            <span class="sr-only">{{ 'step_to_template' | trans:{}:'path_editor' }}</span>
        </a>

        <a href="#" class="btn btn-danger btn-sm" data-ng-click="pathStructureCtrl.removeStep(step)" data-toggle="tooltip" data-container="body" title="{{ 'step_delete' | trans:{}:'path_editor' }}">
            <span class="fa fa-trash-o"></span>
            <span class="sr-only">{{ 'step_delete' | trans:{}:'path_editor' }}</span>
        </a>
    </span>
</div>
<ol class="step-children border-lvl-{{ step.lvl }}" data-ui-tree-nodes="" data-ng-model="step.children" data-ng-hide="collapsed">
    <li data-ui-tree-node="" data-ng-repeat="step in step.children" data-ng-include="pathStructureCtrl.webDir + 'bundles/innovapath/angularjs/Path/Partial/path-structure-step.html'"></li>
</ol>