<div class="row path-structure">
    <!-- Path structure -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-ng-class="{ 'col-lg-offset-3 col-md-offset-3': pathStructureCtrl.structure.length === 0 }">
        <!-- Block to display where there is no structure -->
        <div data-ng-if="pathStructureCtrl.structure.length === 0" class="text-center">
            <em>There is no structure for this path.</em>
            <br/><br/>
            <div class="alert alert-info text-left">
                <span class="fa fa-info-circle"></span>
                To create a new one you can :
                <br/><br/>
                <ul>
                    <li><strong>Initialize a new structure</strong> : this will create an empty structure.</li>
                    <li><strong>Create from template</strong> : this will use selected template data to fill your new path.</li>
                </ul>
            </div>

            <div class="text-center">
                <a href="" class="btn btn-primary" role="button" data-ng-click="pathStructureCtrl.createNew()">
                    <span class="fa fa-pencil"></span>
                    Initialize a new structure
                </a>
                <button class="btn btn-default" role="button" data-ng-click="pathStructureCtrl.createFromTemplate()">
                    <span class="fa fa-download"></span>
                    Create from template
                </button>
            </div>
        </div>

        <!-- Block to display when a structure is set -->
        <div data-ng-if="pathStructureCtrl.structure.length !== 0" data-ui-tree="pathStructureCtrl.treeOptions">
            <ol class="tree" data-ui-tree-nodes="" data-ng-model="pathStructureCtrl.structure" data-nodrop>
                <li data-ui-tree-node="" data-ng-repeat="step in pathStructureCtrl.structure" data-ng-include="pathStructureCtrl.webDir + 'bundles/innovapath/angularjs/Path/Partial/path-structure-step.html'"></li>
            </ol>
        </div>
    </div>

    <!-- Step form -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-ng-if="pathStructureCtrl.structure.length !== 0">
        <step-form data-step="pathStructureCtrl.currentStep"></step-form>
    </div>
</div>