<!-- Item row -->
<div data-ui-tree-handle="" class="tree-item" data-ng-class="{ 'active-step': pathSummaryCtrl.current.stepId == step.id }"
     data-ng-mouseenter="showButtons = step.id"
     data-ng-mouseleave="showButtons = null">

    <!-- Level indicator -->
    <div class="lvl-indicator lvl lvl-{{ step.lvl }}">
        <!-- Drag&Drop handler -->
        <div data-ng-if="step.lvl !== 0" data-ui-tree-handle="" class="step-drag-handler" data-toggle="tooltip" data-container="body" title="{{ 'step_drag' | trans:{}:'path_editor' }}">
            <span class="fa fa-ellipsis-v"></span>
            <span class="sr-only">{{ 'step_drag' | trans:{}:'path_editor' }}</span>
        </div>
    </div>

    <!-- Step name -->
    <div class="step" data-nodrag="" data-ng-class="{ 'lvl lvl-{{ step.lvl }}-text': pathSummaryCtrl.current.stepId == step.id }" data-ng-click="pathSummaryCtrl.goTo(step)">
        <!-- Collapse / Expand button -->
        <a class="step-toggle" href="" data-ng-click="toggle(this)" data-ng-show="0 != step.children.length" role="button">
            <span class="fa fa-fw" data-ng-class="{ 'fa-caret-right': collapsed, 'fa-caret-down': !collapsed }"></span>
        </a>

        {{ step.name | truncate }}
    </div>

    <!-- Actions available -->
    <span data-ng-show="showButtons == step.id || pathSummaryCtrl.current.stepId == step.id" class="step-actions btn-group" data-nodrag="">
        <!-- Add child -->
        <a href="#" class="btn btn-default btn-sm" data-ng-click="pathSummaryCtrl.addStep(step)" data-ng-disabled="step.lvl >= pathSummaryCtrl.maxDepth" data-toggle="tooltip" data-container="body" title="{{ 'step_add_child' | trans:{}:'path_editor' }}">
            <span class="fa fa-plus"></span>
            <span class="sr-only">{{ 'step_add_child' | trans:{}:'path_editor' }}</span>
        </a>

        <!-- Copy to clipboard -->
        <a href="#" class="btn btn-default btn-sm" data-ng-click="pathSummaryCtrl.copy(step)" data-ng-disabled="pathSummaryCtrl.clipboardDisabled.copy" data-toggle="tooltip" data-container="body" title="{{ 'step_copy' | trans:{}:'path_editor' }}">
            <span class="fa fa-copy"></span>
            <span class="sr-only">{{ 'step_copy' | trans:{}:'path_editor' }}</span>
        </a>

        <!-- Paste from clipboard -->
        <a href="#" class="btn btn-default btn-sm" data-ng-click="pathSummaryCtrl.paste(step)" data-ng-disabled="pathSummaryCtrl.clipboardDisabled.paste" data-toggle="tooltip" data-container="body" title="{{ 'step_paste' | trans:{}:'path_editor' }}">
            <span class="fa fa-paste"></span>
            <span class="sr-only">{{ 'step_paste' | trans:{}:'path_editor' }}</span>
        </a>

        <!-- Create as template -->
        <!--<a href="#" class="btn btn-default btn-sm" data-ng-click="pathSummaryCtrl.saveAsTemplate(step)" data-toggle="tooltip" data-container="body" title="{{ 'step_to_template' | trans:{}:'path_editor' }}">
            <span class="fa fa-download"></span>
            <span class="sr-only">{{ 'step_to_template' | trans:{}:'path_editor' }}</span>
        </a>-->

        <!-- Delete step -->
        <a href="#" class="btn btn-danger btn-sm" data-ng-click="pathSummaryCtrl.removeStep(step)" data-toggle="tooltip" data-container="body" title="{{ 'step_delete' | trans:{}:'path_editor' }}">
            <span class="fa fa-trash-o"></span>
            <span class="sr-only">{{ 'step_delete' | trans:{}:'path_editor' }}</span>
        </a>
    </span>
</div>
<ol class="step-children border-lvl-{{ step.lvl }}" data-ui-tree-nodes="" data-ng-model="step.children" data-ng-hide="collapsed">
    <li data-ui-tree-node="" data-ng-repeat="step in step.children" data-ng-include="pathSummaryCtrl.webDir + 'bundles/innovapath/angularjs/Path/Partial/path-summary-step.html'"></li>
</ol>