<div class="path-form">
    <!-- Summary of the Path-->
    <path-summary data-structure="pathFormCtrl.path.steps" data-opened="pathFormCtrl.summaryOpened"></path-summary>

    <!-- Form of the Path -->
    <form action="#" role="form" class="form-horizontal" method="post">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ pathFormCtrl.path.name }}</h3>
                        <alert-box></alert-box>
                    </div>

                    <nav class="navbar navbar-default navbar-static-top" role="navigation">
                        <ul class="nav navbar-nav navbar-left">
                            <!-- Undo from history button -->
                            <li data-ng-class="{ 'disabled': pathFormCtrl.historyDisabled.undo }">
                                <a href="" data-ng-click="pathFormCtrl.undo()" data-placement="bottom" data-toggle="tooltip" data-original-title="{{ 'undo'|trans:{}:'path_editor' }}">
                                    <span class="fa fa-reply"></span>
                                    <span class="sr-only"> {{ 'undo'|trans:{}:'path_editor' }}</span>
                                </a>
                            </li>

                            <!-- Redo from history button -->
                            <li data-ng-class="{ 'disabled': pathFormCtrl.historyDisabled.redo }">
                                <a href="" data-ng-click="pathFormCtrl.redo()" data-placement="bottom" data-toggle="tooltip" data-original-title="{{ 'redo'|trans:{}:'path_editor' }}">
                                    <span class="fa fa-share"></span>
                                    <span class="sr-only">{{ 'redo'|trans:{}:'path_editor' }}</span>
                                </a>
                            </li>

                            <!-- Open summary button -->
                            <li>
                                <a href="" data-ng-click="pathFormCtrl.toggleSummary()" role="button">
                                    <span class="fa fa-sitemap"></span>
                                    <span data-ng-if="!pathFormCtrl.summaryOpened">{{ 'open_summary'|trans:{}:'path_editor' }}</span>
                                    <span data-ng-if="pathFormCtrl.summaryOpened">{{ 'close_summary'|trans:{}:'path_editor' }}</span>
                                </a>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <!-- Save button -->
                            <li data-ng-class="{ 'disabled': !pathFormCtrl.unsaved }">
                                <a href="" data-ng-click="pathFormCtrl.save()">
                                    <span class="fa fa-floppy-o"></span> {{ 'save'|trans:{}:'path_editor' }}
                                </a>
                            </li>

                            <!-- Publish button -->
                            <li data-ng-class="{ 'disabled': pathFormCtrl.published && !pathFormCtrl.modified }">
                                <a href="" data-ng-click="pathFormCtrl.publish()">
                                    <span class="fa fa-share-square-o"></span> {{ 'publish'|trans:{}:'path_editor' }}
                                </a>
                            </li>

                            <!-- Preview button -->
                            <li data-ng-class="{ 'disabled': !pathFormCtrl.published }">
                                <a href="" data-ng-click="pathFormCtrl.preview()">
                                    <span class="fa fa-eye"></span> {{ 'preview'|trans:{}:'path_editor' }}
                                </a>
                            </li>
                        </ul>
                    </nav>

                    <div class="panel-body">
                        <!-- Name of the path -->
                        <div class="row form-group">
                            <label class="control-label col-md-3 required" for="innova_path_name">{{ 'path_name'|trans:{}:'path_editor' }}</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="innova_path_name" name="innova_path[name]" placeholder="{{ 'name_help'|trans:{}:'path_editor' }}" data-ng-model="pathFormCtrl.path.name" />
                            </div>
                        </div>

                        <!-- Description of the path -->
                        <div class="row form-group">
                            <label class="control-label col-md-3" for="innova_path_description">{{ 'path_description'|trans:{}:'path_editor' }}</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="innova_path_description" name="innova_path[description]" placeholder="{{ 'description_help'|trans:{}:'path_editor' }}" data-ng-model="pathFormCtrl.path.description" />
                            </div>
                        </div>

                        <!-- Description of the path -->
                        <div class="row form-group">
                            <label class="control-label col-md-3" for="innova_path_breadcrumbs">{{ 'path_breadcrumbs'|trans:{}:'path_editor' }}</label>
                            <div class="col-md-9">
                                <div class="checkbox">
                                    <input type="checkbox" id="innova_path_breadcrumbs" name="innova_path[breadcrumbs]" data-ng-model="pathFormCtrl.path.breadcrumbs" />
                                </div>
                            </div>
                        </div>

                        <div class="row form-group form-last">
                            <label class="control-label col-md-3">{{ 'path_status'|trans:{}:'path_editor' }}</label>
                            <div class="col-md-9">
                                <!-- Path not saved -->
                                <p data-ng-if="pathFormCtrl.unsaved" class="form-control-static text-danger">{{ 'unsaved'|trans:{}:'path_editor' }}</p>

                                <!-- Path not published -->
                                <p data-ng-if="!pathFormCtrl.published && !pathFormCtrl.unsaved" class="form-control-static text-danger">{{ 'draft'|trans:{}:'path_editor' }}</p>

                                <!-- Path published without modifications -->
                                <p data-ng-if="pathFormCtrl.published && !pathFormCtrl.modified && !pathFormCtrl.unsaved" class="form-control-static text-success">{{ 'published'|trans:{}:'path_editor' }}</p>

                                <!-- Path published with modifications -->
                                <p data-ng-if="pathFormCtrl.published && pathFormCtrl.modified && !pathFormCtrl.unsaved" class="form-control-static text-warning">{{ 'published'|trans:{}:'path_editor' }} {{ 'modified'|trans:{}:'path_editor' }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div data-ng-view=""></div>
    </form>
</div>