services:

    Claroline\ThemeBundle\Command\CreateThemeCommand:
        arguments:
            - '@Claroline\ThemeBundle\Manager\ThemeManager'
        tags:
            - { name: 'console.command', command: 'claroline:theme:create' }

    Claroline\ThemeBundle\Command\BuildThemesCommand:
        arguments:
            - '@Claroline\ThemeBundle\Manager\ThemeBuilderManager'
            - '@Claroline\ThemeBundle\Manager\ThemeManager'
        tags:
            - { name: 'console.command', command: 'claroline:theme:build' }
