services:
    _defaults:
        public: true # because controller

    Claroline\ThemeBundle\Controller\IconController:
        arguments:
            - '%kernel.project_dir%'

    Claroline\ThemeBundle\Controller\IconSetController:
        arguments:
            - '@security.authorization_checker'
            - '@Claroline\AppBundle\Persistence\ObjectManager'
            - '@Claroline\ThemeBundle\Manager\IconSetManager'
