services:
    _defaults:
        autoconfigure: false
        public: false

    Claroline\ThemeBundle\Manager\ThemeManager:
        arguments:
          - '@Claroline\AppBundle\Persistence\ObjectManager'
          - '@security.authorization_checker'
          - '@Claroline\CoreBundle\Library\Configuration\PlatformConfigurationHandler'
          - '%kernel.project_dir%/app'
          - '@Claroline\ThemeBundle\Serializer\ThemeSerializer'

    Claroline\ThemeBundle\Manager\ThemeBuilderManager:
        arguments:
          - '@kernel'
          - '%claroline.param.files_directory%'
          - '%kernel.project_dir%/app'

    Claroline\ThemeBundle\Manager\IconSetManager:
        arguments:
          - '%claroline.param.public_directory%'
          - '%claroline.param.icon_sets_web_dir%'
          - '%claroline.param.icon_sets_directory%'
          - '@Claroline\AppBundle\Persistence\ObjectManager'
          - '@Claroline\CoreBundle\Library\Configuration\PlatformConfigurationHandler'
        calls:
          - setLogger: [ '@logger' ]
