@general-options-bg: #E94B3B;
@general-options-bg-light: lighten(@general-options-bg, 41%);
@menu-options-bg:    #FFB61C;
@menu-options-bg-light: lighten(@menu-options-bg, 42%);
@banner-options-bg:  #23AE89;
@banner-options-bg-light: lighten(@banner-options-bg, 56%);
@footer-options-bg:  #449DD5;
@footer-options-bg-light: lighten(@footer-options-bg, 42%);
@structure-options-bg: #6a55c2;
@structure-options-bg-light: lighten(@structure-options-bg, 40%);

@light-grey: #E5E5E5;
@dark-grey:  #767676;
@resizer-black: #000;

body {
  padding:0;
}
.row {
  margin:0;
}
.float-left {
  float:left !important;
}
.float-right {
  float:right !important;
}
.loading {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url("../images/loading.gif");
  color: #bababa;
  font-size: 30px;
  background-position: center 150px;
  padding-top:269px;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50ffffff,endColorstr=#50ffffff);
  height: 100%;
  width: 100%;
  z-index: 1000;
}
div.admin-bar {
  min-height:40px;
  background-color:#ffffff;
  color:@dark-grey;
  border-radius:0;
  border:none;
  margin-bottom:1px;
  z-index:10;
  position:relative;
  ul.admin-tab-options {
    & > li {
      -webkit-transition:all 0.2s ease-in-out;
      -moz-transition:all 0.2s ease-in-out;
      -o-transition:all 0.2s ease-in-out;
      transition:all 0.2s ease-in-out;
      background-color:#ffffff;
    }
    &>li a {
      margin-right: -1px !important;
      border-top: 0px !important;
      border-radius: 0;
      &:focus, &:active{
        outline: none;
      }
    }
    span.icon-bg {
      height: 3px;
      left:0px;
      position:absolute;
      top:0;
      -webkit-transition:height 0.2s ease-in-out;
      -moz-transition:height 0.2s ease-in-out;
      -o-transition:height 0.2s ease-in-out;
      transition:height 0.2s ease-in-out;
      width:100%;
      z-index: 0;
    }
    span.option-text {
      position: relative;
      z-index: 5;
    }

    &>li:not(.active):hover{
      .icon-bg{
        height:100%;
      }
      a {
        color: #ffffff;
      }
    }

    &>li.active a{
      background-color: transparent;
    }

    li.general-options {
      background-color:@general-options-bg-light;
      .icon-bg {
        background-color:@general-options-bg;
      }
    }
    li.menu-options {
      background-color:@menu-options-bg-light;
      .icon-bg {
        background-color:@menu-options-bg;
      }
    }
    li.banner-options {
      background-color:@banner-options-bg-light;
      .icon-bg {
        background-color:@banner-options-bg;
      }
    }
    li.footer-options {
      background-color:@footer-options-bg-light;
      .icon-bg {
        background-color:@footer-options-bg;
      }
    }
    li.structure-options {
      .icon-bg {
        background-color:@structure-options-bg;
      }
    }

    .save-options-btn {
      margin-top: 5px;
      margin-right: 10px;
    }
  }
  div.admin-tabs {
    & > div {
      padding:5px;
      & > div.float-left {
        margin-left:10px;
      }
    }
    div.general-options {
      background-color:@general-options-bg-light;
    }
    div.menu-options {
      background-color:@menu-options-bg-light
    }
    div.banner-options {
      background-color:@banner-options-bg-light;
    }
    div.footer-options {
      background-color:@footer-options-bg-light;
    }
    div.structure-options {
      background-color:@structure-options-bg-light;
    }

    input, select
    {
      padding:2px;
      width: auto;
      display: inline;
      height: auto;
      /*line-height:1.42857;
      color:@dark-grey;
      background-color:white;
      background-image:none;
      border:1px solid #cbd5dd;
      border-radius:2px;
      -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
      box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
      -webkit-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;*/
    }

    input[type="number"] {
      max-width:55px;
    }
    input.color {
      /*border:1px solid @light-grey;*/
      max-width:80px;
    }
  }

  .btn {
    padding: 3px 6px;
  }
  .btn:active, .btn:focus {
    outline: none;
  }

  .bg-position-btn {
    &[class*="-top"]{
      padding-top: 1px;
      padding-bottom: 5px;
      i.fa{
        vertical-align: top;
      }
    }
    &[class*="-bottom"]{
      padding-top: 5px;
      padding-bottom: 1px;
      i.fa{
        vertical-align: bottom;
      }
    }
    &[class*="left-"]{
      padding-left: 2px;
      padding-right: 10px;
    }
    &[class*="right-"]{
      padding-left: 10px;
      padding-right: 2px;
    }
  }

  div.float-left{
    &>div{
      margin-bottom: 5px;
    }
  }
}

div.footer {
  div.copyright-text {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 7px;
  }
}

div[class*="resizeable-"] {
  overflow:hidden;
}
.resizeable-bottom {
  border-top:1px dashed @resizer-black;
  border-right:1px dashed @resizer-black;
  border-left:1px dashed @resizer-black;
}
.resizeable-right {
  border-top:1px dashed @resizer-black;
  border-bottom:1px dashed @resizer-black;
  border-left:1px dashed @resizer-black;
}
.resizeable-bottom+.horizontal-resizer {
  top:-3px;
}
.horizontal-resizer {
  height:5px;
  border-bottom:1px dashed @resizer-black;
  cursor:n-resize;
  position:relative;
  bottom:0px;
  div[class^="resizer-box-"] {
    top:2px;
  }
  .resizer-box-center {
    left:50%;
    margin-left:-3px;
  }
  .resizer-box-right {
    right:0;
  }
}
.vertical-resizer {
  width:5px;
  border-right:1px dashed @resizer-black;
  cursor:e-resize;
  position:relative;
  div[class^="resizer-box-"] {
    left:2px;
  }
  .resizer-box-middle {
    top:50%;
    margin-top:-3px;
  }
  .resizer-box-bottom {
    bottom:0;
  }
}
div[class*="-resizer"] {
  div[class^="resizer-box-"] {
    height:5px;
    width:5px;
    background-color:@resizer-black;
    position:absolute;
  }
}
div.website-container {
  position:relative;
  z-index:5;
  .container-content {
    margin-bottom:3px;
  }
  & > div.content {
    min-height:300px;
  }
}
div.edit-content-container {
  min-height:500px;
}
div.edit-menu-container {
  width:200px;
  overflow:auto;
  border:1px dashed #444;
}
ul.edit-menu {
  list-style-type:none;
  margin-left:0;
  padding-left:0 !important;
  li {
    margin:2px 0;
    cursor:pointer;
    white-space:nowrap;
    .menu-item-container {
      padding:2px;
      font-size:12px;
      font-weight:normal;
      line-height:15px;
      .btn-xs {
        padding:1px 3px;
        font-size:9px;
      }
    }
    .menu-item-container:hover {
      background-color:#ccc;
    }
    .menu-item-container.selected {
      background-color:lighten(#1A84C8, 30%);
    }
  }
  li.angular-ui-tree-hidden {
    display:initial;
    opacity:0.5;
    .menu-item-container:hover {
      background-color:transparent;
    }
  }
}
ul.edit-menu ul,ul.edit-menu li {
  list-style-type:none;
  margin-left:0;
  padding-left:0 !important;
}
.angular-ui-tree-placeholder {
  background:#f0f9ff;
  border:1px dashed #bed2db;
  min-height:10px !important;
  height:10px !important;
  line-height:10px;
}
.angular-ui-tree-drag {
  font-weight:normal;
  ul {
    display:none !important;
  }
  .btn {
    visibility:hidden;
    font-weight:normal;
  }
}
