body {
    padding-top: 53px;
}

#portfolio-container {
    .widget-menu-container {
        text-align:   center;
        padding-top:  25px;
        padding-left: 35px;
        .widget-menu-item{
            width:         100%;
            border-radius: 0;
        }
        .dispositions {
            padding-left:  15px;
            padding-right: 15px;
            width: 200px;
            text-align: center;
            .disposition {
                display:          block;
                background-color: whitesmoke;
                height:           100px;
                margin-bottom:    10px;
                padding:          10px;
                &.loading {
                    background-position: center;
                    width:               auto;
                    opacity: 0.5;
                }
                &.selected {
                    background-color: orange;
                }
                &.idle {
                    cursor:           pointer;
                    &:hover {
                        background-color: orange;
                    }
                }
                div.border {
                    height:      80px;
                    border:      1px solid grey;
                    padding-top: 30px;
                }
            }
        }
        #widget_types_popover {
            max-width: 300px;
            width:     300px;
            .popover-content {
                padding: 9px 10px;
            }
            .widget_type_list {
                .widget_type  {
                    .fa {
                        display:   block;
                        font-size: 18px;
                    }
                    float:            left;
                    width:            80px;
                    height:           75px;
                    font-size:        12px;
                    background-color: #E9E9E9;
                    text-align:       center;
                    padding:          15px 0 0 0;
                    margin:           5px;
                    cursor:           pointer;
                    &:hover {
                        background-color: orange;
                    }
                    &:last-child {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    header {
        background: #302e2c;
        padding:    10px 0;
        color:      #fff;

        .beta_message {
            width:         300px;
            margin-bottom: 0;
        }
        #username {
            text-transform: uppercase;
            padding-bottom: 0;
        }
        .portfolio-title-container {
            position: relative;
            float:    left;
            #portfolio-title {
                margin-top: 0;
            }
            .widget-actions {
                position: absolute;
                top:      0;
                right:    -50px;
            }
        }
    }

    .main-content {
        padding-top: 25px;

        .no-data {
            text-align: center;
        }
    }

    .widget-panel {
        .widget-actions {
            display: inline;
            .btn-danger.btn-loading {
                padding-left: 7px;
                padding-right: 6px;
            }
        }
        .list-group {
            margin-bottom: 0px;
        }
        .badge_list {
            .badge_image {
                width:  32px;
                height: 32px;
            }
        }
    }
}

#portfolio-loading {
    position:         absolute;
    width:            100%;
    height:           100%;
    top:              0;
    background:       url("../../bundles/clarolinecore/images/loading.gif") no-repeat center center;
    background-color: #e2e2e2;
    z-index:          1;
}

.form-container {
    position: fixed;
    right:    0;
    bottom:   0;
    .edit-container {
        width:    400px;
        margin:   0 5px 55px 0;
        display:  inline-block;

        .panel {
            margin-bottom: 0;
            .panel-loading {
                height:     60px;
                background: url("../../bundles/clarolinecore/images/loading.gif") no-repeat center center;
            }
            .panel-body {
                li {
                    margin-bottom: 5px;
                }
            }
            .panel-heading {
                border-bottom: 0;
            }
            .panel-footer {
                border-top: 0;
                text-align: center;
            }
        }
    }
}

.panel {
    span.loading {
        display:        inline-block;
        margin:         0;
        vertical-align: middle;
    }
}

#footer {
    clear: both;
}