body {
    padding-top: 53px;
}

#portfolio-section {
    #configbar {
        padding-top:      54px;
        width:            100px;
        height:           100%;
        position:         fixed;
        left:             0;
        top:              0;
        background-color: #403e3f;
        z-index:          2;
        .configbar-item {
            border-top:    1px solid #515253;
            border-bottom: 1px solid #333334;
            border-left:   4px solid #403e3f;
            display:       block;
            color:         #ccc;
            padding:       5px 5px 5px 1px;
            position:      relative;
            cursor:        pointer;
            font-size:     15px;
            text-align:    center;
            &:hover {
                text-decoration:  none;
                background-color: #444546;
                color:            #fff;
            }

            span {
                font-size:   30px;
                line-height: 40px;
                display:     block;
            }
        }
    }
    #portfolio-container {
        header {
            background: #302e2c;
            padding:    10px 0;
            color:      #fff;

            #username {
                text-transform: uppercase;
                padding-bottom: 0;
            }
            .portfolio-title-container {
                position: relative;
                float:    left;
                #portfolio-title {
                    margin-top: 0;
                }
                .widget-actions {
                    position: absolute;
                    top:      0;
                    right:    -50px;
                    .widget-action {
                        background-color: #f89406;
                        &:hover {
                            color:        #fff;
                            border-color: #fff;
                        }
                    }
                }
            }
        }
    }
}

#portfolio-loading {
    position:         absolute;
    width:            100%;
    height:           100%;
    top:              0;
    background:       url("../../clarolinecore/images/loading.gif") no-repeat center center;
    background-color: #e2e2e2;
    z-index:          1;
}

.form-container {
    position: fixed;
    right:    0;
    bottom:   0;
    .edit-container {
        width:    400px;
        margin:   0 5px 55px 0;
        display:  inline-block;

        .panel {
            margin-bottom: 0;
        }
        .panel-loading {
            height:     60px;
            background: url("../../clarolinecore/images/loading.gif") no-repeat center center;
        }
        .panel-heading {
            border-bottom: 0;
        }
        .panel-footer {
            border-top: 0;
            text-align: center;
            button {
                span.loading {
                    display: inline-block;
                    margin:  0;
                }
            }
        }
    }
}
