body {
    padding-top: 53px;
}

#portfolio_section {
    #configbar {
        padding-top:      54px;
        width:            100px;
        height:           100%;
        position:         fixed;
        left:             0;
        top:              0;
        background-color: #403e3f;
        z-index:          1;
        .configbar_item {
            border-top:    1px solid #515253;
            border-bottom: 1px solid #333334;
            border-left:   4px solid #403e3f;
            display:       block;
            color:         #ccc;
            padding:       5px 5px 5px 1px;
            position:      relative;
            cursor:        pointer;
            font-size:     15px;
            text-align:    center;
            &:hover {
                text-decoration:  none;
                background-color: #444546;
                color:            #fff;
            }

            span {
                font-size:   30px;
                line-height: 40px;
                display:     block;
            }
        }
    }
    #portfolio_container {
        header {
            background: #302e2c;
            padding:    10px 0;
            color:      #fff;

            #username {
                text-transform: uppercase;
                padding-bottom: 0;
            }
            .portfolio_title_container {
                position: relative;
                float:    left;
                #portfolio_title {
                    margin-top: 0;
                }
                .portfolio_title_actions {
                    position: absolute;
                    top:      0;
                    right:    -50px;
                    .portfolio_title_edit_action {
                        background-color: #f89406;
                        &:hover {
                            color:        #fff;
                            border-color: #fff;
                        }
                    }
                }
            }
        }
    }
}
#portfolio_loading {
    width:      100%;
    height:     100%;
    background: url("../../clarolinecore/images/loading.gif") no-repeat center center;
}