table.table_portfolios {
    .statusCol {
        width: 250px;
    }
    .actionsCol {
        width: 170px;
    }
    .portfolio {
        .block {
            display: block;
        }
        td {
            padding:        10px 15px;
            vertical-align: middle;
        }
    }
}