table.table_portfolios {
    margin-top: 20px;
    .statusCol {
        width: 250px;
    }
    .actionsCol {
        width: 170px;
    }
    .portfolio {
        .block {
            display: block;
        }
        td {
            padding:        10px 15px;
            vertical-align: middle;
            .dropdown-menu {
                a.delete {
                    color: #d9534f;
                    &:hover {
                        color: #fff;
                        background-color: #d2322d;
                    }
                }
            }
        }
    }
    .badge {
        display:      block;
        height:       15px;
        width:        15px;
        float:        left;
        margin-right: 5px;
        &.visibile_to_me {
            background-color: #d9534f;
        }
        &.visible_for_some_users {
            background-color: #ed9c28;
        }
        &.visible_for_platform_user {
            background-color: #428bca;
        }
        &.visible_for_everybody {
            background-color: #5cb85c;
        }
    }
}

div.pagination {
    ul {
        margin: 0;
    }
}

.guided_portfolios_panel{
    .panel-body {
        padding-top: 0;
        padding-bottom: 0;
    }

    table.table_portfolios {
        margin-top: 0;
        tbody {
            td {
                border-top: 0;
            }
            tr + tr td {
                border-top: 1px solid #ddd;
            }
        }
    }
}

#visibility_form, #guides_form {
    a.remove {
        color:       #fff;
        margin-left: 2px;
        &:hover {
            color:           #ac2925;
            text-decoration: none;
        }
    }
    .form-collection-element {
        padding:       2px 5px 5px 5px;
        border-radius: .25em;
    }
}