.statistics-view-container {
    .portfolio-selector {
        margin-bottom: 10px;
    }
    .empty_chart {
        text-align: center;
        height: 360px;
        padding-top: 150px;
        border: 1px solid #ccc;
        border-radius: 4px;
        span {
            font-size: 2em;
            color: #777;
        }
    }
}
