@webPath: "../../../../../../..";

// Core variables and mixins
@import "@{webPath}/vendor/twbs/bootstrap/less/variables.less";

.row {
    margin-left: 0;
}

.btn-toolbar {
    margin-bottom: 10px;
}

article {
    margin-bottom: 30px;

    border: 1px solid #E3E3E3;

    &.unpublished {
        border: 1px dotted orange;
    }

    header
    {
        padding-left: 10px;
    }

    div.content {
        margin-bottom: 10px;
        padding: 0px 10px 0px 10px;
    }

    footer {
        width: auto;
        min-height: 30px;
        margin: 0;
        padding: 10px 10px 0px 10px;

        ul {
            margin: 0;
        }
    }

    .highlight {
        background-color: #DFFF00;
    }
}

.comment_list {
    li {
        margin-bottom: 20px;
        &.unpublished {
            border: 1px dotted orange;
        }
    }
}

/* collapsible tree */
.tree {
    margin: 0;
    max-height: 300px;
    min-height: 20px;
    overflow-y: auto;
    padding: 10px;
    a {
        display: inline;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90%;
    }
    ul {
        padding-left: 20px;
    }
    li {
        list-style-type: none;
        margin:   0px 0;
        padding:  5px 0px 0px 2px;
        position: relative;
        &::before, &::after {
            content:  '';
            left:     0px;
            position: absolute;
            right:    auto;
        }
        &::before {
            border-left: 1px solid #999;
            bottom:      50px;
            height:      100%;
            top:         0;
            width:       1px;
        }
        &::after {
            border-top: 1px solid #999;
            top:        13px;
            width:      14px;
        }
        span, a {
            -webkit-border-radius: 5px;
               -moz-border-radius: 5px;
                    border-radius: 5px;
            border:                1px solid #999;
            border-radius:         5px;
            line-height:           22px;
            padding:               2px 4px;
            text-decoration:       none;
        }
        &.parent_li > span, &.parent_li > a {
            cursor: pointer;
            /*Time for some hover effects*/
            &:hover, &:hover + ul li span, &:hover + ul li a {
                background: #eee;
                border:     1px solid #555;
                color:      #000;
            }
            & + ul li, & + ul li {
                padding-left: 14px;
            }
        }
        /*Remove connectors after last child*/
        &:last-child::before {
            height: 14px;
        }
    }
    /*Remove connectors before root*/
    > li::before, > li::after {
        border: 0;
    }
}
