.form-collection-add {
    margin-bottom: 10px;
    .input-group {
        margin-bottom: 5px;
    }
}

.form-collection-element {
    & > .input-group {
        margin-bottom: 5px;
    }
    .col-md-3 {
        margin-left: -15px;
        width: 100%;
    }
}

#widget-content-config-modal-body{
    .panel-body{
        & > p {
            display: inline-block;
            margin-top: 20px;
            font-weight: bold;
        }
        #blog_widget_list_form_widgetDisplayListBlogs{
            label {
                font-weight: normal;
                margin-right: 20px;
            }
            input {
                vertical-align: top;
            }
        }
    } 
}

.blog_list {
    &.list-inline {
        .col-md-3 {
            width: 100%;
        }
    }
    .list-group-item {
        margin: 5px 5px 5px 0;
        width:  24%;
        span.blog_name {
            width:         88%;
            white-space:   nowrap;
            overflow:      hidden;
            text-overflow: ellipsis;
            display:       inline-block;
        }
    }
}