/*
 * Data card.
 */

@use "sass:math";

// mixins
@mixin data-card-size-variant($icon-size, $nbLines : 3) {
    .data-card-description {
        height: $line-height-base * $data-card-content-font * $nbLines;
        // display the '...' if the text is truncated on browsers which support it
        display: -webkit-box;
        -webkit-line-clamp: $nbLines; /* number of lines to show */
        line-clamp: $nbLines;
        -webkit-box-orient: vertical;
    }
}

@mixin data-card-vertical-variant() {
    flex-direction: column;

    .thumbnail {
        @include border-radius($data-card-inner-border-radius $data-card-inner-border-radius 0 0);
    }

    .thumbnail-icon {
        margin-top: $data-card-spacer-x;
        margin-right: auto;
        margin-left: auto;
    }

    &.data-card-poster {
        .data-card-toolbar .data-card-toolbar-btn {
            @include text-movie-subtitles();
        }
    }

    .data-card-toolbar {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@mixin data-card-horizontal-variant() {
    flex-direction: row;
    align-items: center;

    .thumbnail {
        @include border-radius($data-card-inner-border-radius 0 0 $data-card-inner-border-radius);
    }

    .thumbnail-icon {

        margin-left: $data-card-spacer-x;
        margin-top: $data-card-spacer-y;
        margin-bottom: $data-card-spacer-y;
    }

    .data-card-description {
        display: inline-block !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: $line-height-base * $data-card-content-font !important;
    }

    /*.data-card-toolbar {
        align-self: center;
    }*/
}

.data-card {
    --#{$prefix}data-card-bg: #{$data-card-bg};

    display: flex;
    position: relative; // constrain actions toolbar
    flex: 1;

    color: $data-card-color;
    background-color: var(--#{$prefix}data-card-bg);
    font-size: $data-card-font;
    border: $data-card-border-width solid $data-card-border-color;

    @include border-radius($data-card-border-radius);
    @include box-shadow($data-card-box-shadow);
}

.data-card-toolbar {
    .btn {
        padding: $data-card-spacer-y $data-card-spacer-x;
    }
}

// clickable variant
.data-card-clickable {
    transition-property: box-shadow, transform;
    transition-duration: .3s;
    //box-shadow: $box-shadow-sm;

    &:hover {
        z-index: 2;
        transform: translateY(-2px);
        box-shadow: 0 0 0 1px rgba(0,0,0,.075), $box-shadow;
        //box-shadow: 0 18px 35px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);
    }
}

.data-grid-item-container:hover {
    .data-grid-item-select {
        z-index: 3;
        transform: translateY(-2px);
    }
}

.data-tree-item:hover {
    .data-tree-item-select {
        z-index: 3;
        transform: translateY(-2px);
    }
}

.data-card-selected {
    &.data-card-col,
    &.data-card-row {
        &:before {
            content: " ";
            position: absolute;
            z-index: 1;
            background: var(--#{$prefix}primary);
            left: 0;
            top: 0;
        }
    }

    &.data-card-col:before {
        width: 100%;
        height: $nav-underline-border-width;

        @include border-top-radius($data-card-border-radius);
    }

    &.data-card-row:before {
        width: $nav-underline-border-width;
        height: 100%;

        @include border-start-radius($data-card-border-radius);
    }
}

.data-card-title {
    font-size: $data-card-font;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    > small {
        margin-top: 5px;
        display: block;
    }
}

.data-card-content {
    //color: $data-card-color; // reset color when card is clickable (uses a <a> tag)
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
    overflow-x: hidden;
    padding: $data-card-spacer-y $data-card-spacer-x;
    flex: 1 1 auto;
    max-width: 100%;
}

.data-card-description {
    font-size: $data-card-content-font;
    line-height: $line-height-base;
    overflow: hidden;
}

.data-card-footer {
    margin-top: auto; // ensure footer is always at the bottom
    font-size: $data-card-content-font;
    text-align: right;
    color: $data-card-color-muted;
}

// to remove. use bootstrap margin utilities
.data-card-row + .data-card-row {
    margin-top: 5px;
}


// -
// Sizing variants
// ---

.data-card-xs, // for retro compatibility
.data-card-sm {
    @include data-card-size-variant(map-get($icon-sizes, sm), 1);
}
.data-card-md {
    @include data-card-size-variant(map-get($icon-sizes, md), 3);
}
.data-card-lg {
    @include data-card-size-variant(map-get($icon-sizes, lg), 4);
}


// -
// Orientation variants
// ---

.data-card-col {
    @include data-card-vertical-variant();
}

// XS screens :
@media (max-width: map-get($grid-breakpoints, 'sm')) {
    .data-card-row {
        &.data-card-xs,
        &.data-card-sm {
            @include data-card-horizontal-variant();
        }

        // even for row card, we switch on vertical display for better rendering
        &.data-card-lg {
            @include data-card-vertical-variant();
        }
    }
}

// SM / MD / LG screens :
@media (min-width: map-get($grid-breakpoints, 'sm')) {
    .data-card-row {
        @include data-card-horizontal-variant();
    }
}

@if $enable-dark-mode {
    @include color-mode(dark) {
        .data-card {
            --#{$prefix}data-card-bg: #{$data-card-bg-dark};
        }
    }
}
