.path-breadcrumbs {
    padding: 0;
    margin-bottom: floor(@line-height-computed / 2);
    font-size: 0; /* To remove whitespace between <li> elements */

    > li {
        overflow: hidden;
        position: relative;
        padding: @padding-large-vertical @padding-large-horizontal;
        padding-left: @padding-large-horizontal + 18px;
        padding-top: @padding-large-vertical + 2px;
        font-size: @font-size-base;
        list-style-type: none;
        display: inline-block;
        line-height: @line-height-base;
        color: @text-color;
        background-color: darken(@panel-default-heading-bg, 7%);

        box-shadow: 1px 0 3px rgba(0, 0, 0, 0.5);
        border-radius: 0 24px 24px 0;
        margin-right: -18px;
        margin-bottom: floor(@line-height-computed / 2);

        .lvl-indicator {
            z-index: -100;
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 5px;
        }

        &:first-child {
            padding-left: @padding-large-horizontal;
            border-top-left-radius: @border-radius-base;
            border-bottom-left-radius: @border-radius-base;
        }

        &.current {
            background-color: @panel-bg;
            text-decoration: underline;
        }

        > a {
            color: @text-color;
        }
    }
}

.path-player {
    .breadcrumbs ul {
        border-radius: 3px;

        > li {
            margin-bottom: 1px;

            > a {
                display: block;
                padding: 8px 16px;
                padding-left: 30px;
                line-height: 20px;
                font-weight: bold;
                color: #FFFFFF;
                text-shadow: -1px 0 0 rgba(0, 0, 0, 0.2), 1px 0 0 rgba(0, 0, 0, 0.7), 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.7);

                &:after {
                    content: "";
                    position: absolute;
                    right: -18px;
                    top: 0;
                    z-index: 5;
                    border-top:    18px solid rgba(0, 0, 0, 0);
                    border-bottom: 18px solid rgba(0, 0, 0, 0);
                    border-left-width: 18px;
                    border-left-style: solid;
                    color:transparent;
                }
            }
        }
    }
}

.path-player .breadcrumbs ul > .lvl-0 > a {
    padding-left: 16px;
}

.path-player .breadcrumbs ul > .lvl-0 > a:after {
    border-left-color: #7B7B7B;
}

.path-player .breadcrumbs ul > .lvl-1 > a:after {
    border-left-color: #4790aD;
}

.path-player .breadcrumbs ul > .lvl-2 > a:after {
    border-left-color: #8C6796;
}

.path-player .breadcrumbs ul > .lvl-3 > a:after {
    border-left-color: #d86178;
}

.path-player .breadcrumbs ul > .lvl-4 > a:after {
    border-left-color: #FF7A40;
}

.path-player .breadcrumbs ul > .lvl-5 > a:after {
    border-left-color: #FDBE3E;
}

.path-player .breadcrumbs ul > .lvl-6 > a:after {
    border-left-color: #b8d855;
}

.path-player .breadcrumbs ul > .lvl-7 > a:after {
    border-left-color: #47aD90;
}

.path-player .breadcrumbs ul > .lvl-8 > a:after {
    border-left-color: #91deea;
}

/* breadcrumb childrens border-radius */
.path-player .breadcrumbs ul.dropdown-menu li{  
    border-radius: 3px 0 0 3px;
    display: block;
}

/* override breadcrumb childrens h:over background */
.path-player .breadcrumbs ul.dropdown-menu li a:hover{
   background: rgba(0,0,0,0) !important;
   text-decoration: underline;
}

.path-player .breadcrumbs li.dropdown{
    position: relative;
}

.path-player .breadcrumbs a.dropdown-label{
    padding-right: 22px;
}

.path-player .breadcrumbs a.dropdown-toggle{
    padding-right: 6px;
    padding-left: 6px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
}

.path-player .breadcrumbs li > a.step:hover {
    text-decoration:underline;
}

.path-player .breadcrumbs ul > li > a.children {
    color: grey;
    text-shadow: 0;
    text-shadow: none;
}

.path-player .breadcrumbs ul > li.terminal > a:after {
    display:none;
}

.path-player .breadcrumbs ul > li.terminal {
   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
   padding-right: 5px;
}

/* GHOST */
.path-player .breadcrumbs ul > li.ghost {
    opacity: 0.25;
}

.path-player .breadcrumbs ul > li.ghost:hover {
    opacity: 1;
}
