.resource-tabs {
    margin-left: 1px;
    border-bottom: none;

    /* Remove border radius of the underline panel */
    + .panel {
        border-top-left-radius: 0;

        .lvl-indicator {
            border-top-left-radius: 0;
        }
    }

    .resource {
        position: relative;

        &.excluded {
            text-decoration: line-through;
        }

        .lvl-indicator {
            content: " ";
            display: block;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 12px;
            height: 12px;
            border-top-left-radius: @border-radius-base;
            border-bottom-right-radius: @border-radius-base / 2;
        }

        .resource-icon {
            border: none;
            height: 18px;
            margin-right: 10px;
        }

        // Fix dropdown menu styles
        &, &:hover, &:focus, &.active {
            .caret {
                border-bottom-color: @navbar-inverse-link-color;
                border-top-color: @navbar-inverse-link-color;
            }
        }

        .dropdown-menu {
            li a {
                background: inherit;
                border: none;
                margin: 0 !important;

                &:hover, &:focus, &.active {
                    color: @dropdown-link-hover-color;
                    background: @dropdown-link-hover-bg;
                }
            }
        }
    }

    li {
        /* Need to set !important to force override of the bootstrap nav-tabs styles */
        .resource-add {
            color: @btn-primary-color !important;
            background-color: @btn-primary-bg !important;
            border-color: @btn-primary-border !important;

            &:hover, &:focus {
                background-color: darken(@btn-primary-bg, 8%) !important;
                border-color: darken(@btn-primary-border, 12%) !important;
            }
        }
    }
}