/**
 * Styles for Path summary
 */

// Default state
.path-summary-container {
    /*overflow-y: hidden;*/
    top: 70px !important; /* Same as body padding top */
    bottom: 70px !important;

    height: auto !important;
    width: inherit;
    z-index: 10 !important;

    /* Sidebar close button */
    .ps-close {
        position: absolute;
        z-index: 2;
        right: 0;
        display: inline-block;
        line-height: @navbar-height;
        padding: 0 floor(@grid-gutter-width / 2);
        color: @text-color;
        opacity: 0.6;

        &:hover,
        &:focus {
            opacity: 1;
        }
    }

    .path-summary {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding-top: @navbar-height;
        background-color: #EEE;
        border: 1px solid @panel-default-border;
        border-radius: @border-radius-base;

        /* Sidebar title */
        h2 {
            font-size: 17px;
            margin: 0;
            padding: 0 @grid-gutter-width 0 floor(@grid-gutter-width / 2);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: @navbar-height;
            line-height: @navbar-height;
            z-index: 1;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
        }

        em {
            padding: 0 floor(@grid-gutter-width / 2);
        }

        .path-summary-tree {
            overflow-y: scroll;
            overflow-x: hidden;
            height: 100%;
            position: relative;

            .tree {
                padding: 0;
                margin: 0;

                .placeholder {
                    background: #CCCCCC;
                    min-height: 12px;
                    border: 1px dashed #010101;
                    margin-bottom: 15px;
                }

                a:hover,
                a:focus,
                a:active {
                    text-decoration: none;
                    color: #333333;
                }

                li {
                    list-style: none;

                    &:first-child .tree-item {
                        margin-top: 0 !important;
                    }
                }
            }

        }
    }
}

.tree-item {
    cursor: pointer;
    line-height: 24px;
    position: relative;
    background-color: @panel-default-heading-bg;
    margin: 2px 0 !important;

    &:hover, &.active-step {
        background-color: white;

        .step-progression {
            > a {
                background-color: white;
            }
        }
    }

    .lvl-indicator {
        width: 20px;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        vertical-align: middle;
        margin: 0;

        .step-drag-handler {
            z-index: 2;
            display: table;
            text-align: center;
            margin: 0 !important;
            width: 100%;
            height: 100%;
            cursor: move !important;

            .fa {
                display: table-cell;
                position: relative;
                width: 100%;
                height: 100%;
                vertical-align: middle;
                color: white !important;
            }
        }
    }

    .step {
        font-size: @path-summary-font;
        padding: 5px 8px 5px 30px;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-left: none;
        display: block;
        color: #333333;
        vertical-align: middle;

        .step-toggle {
            display: inline-block;
            position: relative;
            vertical-align: middle;
            color: #333333 !important;
            opacity: 0.8;

            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }

    .step-actions {
        background-color: @btn-default-bg;
    }

    .step-actions, .step-progression {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        border-radius: 0;

        .btn {
            height: 100%;
            border-radius: 0;

            > .fa {
                vertical-align: bottom;
            }
        }
    }

    .step-progression {
        height: 100%;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;

        > a {
            background-color: @panel-default-heading-bg;
            vertical-align: bottom;
            height: 100%;
            display: inline-block;
            line-height: 1.5;
            padding: @padding-base-vertical @padding-base-horizontal;
            color: @text-color;
        }

        .link-progression {
            &:hover {
                background-color: darken(@dropdown-bg, 5%);
            }

            &.link-progression-to_do {
                color: @brand-warning;
            }

            &.link-progression-done {
                color: @brand-success;
            }

            &.link-progression-to_review {
                color: @brand-info;
            }
        }

        .dropdown-menu-right {
            left: auto;
            right: 0;
        }
    }
}

.step-children {
    margin-left: 9px;
    padding-left: 10px;
    border-left: 1px dotted;
}

// Opened state
.path-summary-opened {
    .path-summary-container {
        overflow: visible !important;
        width: @path-summary-width !important; // Override pageslideDirective width to make it a little more responsive
    }

    /* Shift content when sidebar is opened */
    @media (min-width: @screen-sm) {
        #wrap .container {
            margin-left: @path-summary-width + @grid-gutter-width !important;
        }
    }

    @media (max-width: (@screen-sm - 1)) {
        #wrap .container {
            margin-left: @path-summary-width + @grid-gutter-width !important;
        }
    }
}

// Add a margin to the sidebar when the left menu is displayed
.left-bar-push {
    .path-summary-container {
        margin-left: 40px + floor(@grid-gutter-width / 2);
    }
}

// No margin on the sidebar when the left bar is not displayed
.path-summary-container {
    margin-left: floor(@grid-gutter-width / 2);
}
