.ujm-sequence-container{
    width: 100%;
    background: white;
    padding: 15px;
    .player-container{

    }
    .step-container{        

        ul.step-list{
            list-style-type: none;
            li.step-list-item {
                display: inline-block;
                line-height: 50px;
                width:50px;
                height: 50px;
                vertical-align: middle;
                border: 1px solid black;
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.8);
                margin: 5px;
                border-radius: 5px;
                div {
                    display: inline-block;
                    /*padding-top: 12px;*/
                }

            }
            li.step-list-item.active{
                background-color: rgba(66, 139, 202, 1);
            }
            li.step-list-item.content-step{
                border-radius: 0px;
                border: 1px solid #F89406;
            }
            .placeholder {
                display: inline-block;
                border: 1px dotted #aaa;
                width:35px;
                line-height: 50px;
                height: 35px;
                /*padding-top:10px;*/
                vertical-align: middle;
                border-radius: 5px;
                background-color: rgba(66, 139, 202, 0.2);
            }
        }
        .question-row {           
            margin-bottom: 10px;
            padding-bottom: 10px;           
            .choice-item-col{                
                margin-bottom: 10px;
                padding-bottom: 10px;
                width: 100%;
                img{
                    margin-left: 10px;
                    width: 150px;
                }
                .score-input{
                    width: 50px;
                }
                .bordered{
                    border-bottom: 1px solid #F89406;
                    padding-bottom: 20px;  
                }
            }
        }
        .question-row.row-bordered{
            border-bottom: 1px solid #eee;
        }
    }
}