.ujm-sequence-container{
    /*width: 100%;
    background: white;
    padding: 15px;*/
    .player-container{
        /*margin:15px;
        line-height: 60px;*/
    }
    .step-container{        

        ul.step-list{
            list-style-type: none;
            li.step-list-item {
                display: inline-block;
                line-height: 50px;
                width:50px;
                height: 50px;
                vertical-align: middle;
                border: 2px solid #aaa;
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.8);
                margin: 5px;
                border-radius: 50%;
                div {
                    display: inline-block;
                }
            }
            li.step-list-item.active{
                background-color: rgba(66, 139, 202, 1);
            }
            li.step-list-item.content-step{
                border-radius: 0px;
                border: 2px solid #aaa;
            }
            .placeholder {
                display: inline-block;
                border: 1px dotted #aaa;
                width:35px;
                line-height: 50px;
                height: 35px;
                /*padding-top:10px;*/
                vertical-align: middle;
                border-radius: 5px;
                background-color: rgba(66, 139, 202, 0.2);
            }
        }
        .question-row {           
            margin-bottom: 10px;
            padding-bottom: 10px;           
            .choice-item-col{                
                margin-bottom: 10px;
                padding-bottom: 10px;
                width: 100%;
                img{
                    margin-left: 10px;
                    width: 150px;
                }
                .score-input{
                    width: 50px;
                }
                .bordered{
                    border-bottom: 1px solid #F89406;
                    padding-bottom: 20px;  
                }
            }
            .bordered{
                border-bottom: 1px solid #F89406;
                /*padding-bottom: 20px;  */
            }
            .choice-question-choice-table{
                tbody{
                    td.choice{
                        max-width:10%;
                        min-width:10%;
                    }
                    td.choice-content{
                        max-width:80%;
                        min-width:80%;
                    }
                    td.choice-feedback{
                        max-width:10%;
                        min-width:10%;
                    }
                }
            }
        }
        .question-row.row-bordered{
            border-bottom: 1px solid #eee;
        }
    }
}

.ujm-papers-container{
    .table-centered td, .table-centered th  {
        text-align: center;   
    }

    .image{
        width: 150px;
    }
}