
/*
 * Player styles
 */

.color-primary{
    color: #337AB7;
}
.color-success{
    color: #5CB85C;
}
.color-info{
    color: #5BC0DE;
}
.color-warning{
    color: #F0AD4E;
}
.color-danger{
    color: #D9534F;
}

// define nothing for now... used in play.html.twig
.player-container{
    //
    .step-container{

        /*
         * Define styles for cloze questions
         * used in player.directive.html
         */ 
        .cloze-directive-container{
            .question-row {           
                margin-bottom: 10px;
                padding-bottom: 10px;           
                .choice-item-col{                
                    margin-bottom: 10px;
                    padding-bottom: 10px;
                    width: 100%;
                    img{
                        margin-left: 10px;
                        width: 150px;
                    }
                    .score-input{
                        width: 50px;
                    }
                    .bordered{
                        border-bottom: 1px solid #F89406;
                        padding-bottom: 20px;  
                    }
                }
                .feedback-icon {
                    margin-right: 3px;
                }
                .bordered{
                    border-bottom: 1px solid #F89406;
                    /*padding-bottom: 20px;  */
                }
                .choice-question-choice-table{
                    tbody{
                        td.choice{
                            max-width:10%;
                            min-width:10%;
                        }
                        td.choice-content{
                            max-width:60%;
                            min-width:60%;
                        }
                        td.choice-feedback-comment{
                            max-width:20%;
                            min-width:20%;
                        }
                        td.choice-feedback{
                            max-width:10%;
                            min-width:10%;
                        }
                    }
                }
            }
        }

        /*
        * Define styles for choice questions
        * used in player.directive.html
        */ 
        .choice-directive-container{
            .question-row {           
                margin-bottom: 10px;
                padding-bottom: 10px;           
                .choice-item-col{                
                    margin-bottom: 10px;
                    padding-bottom: 10px;
                    width: 100%;
                    img{
                        margin-left: 10px;
                        width: 150px;
                    }
                    .score-input{
                        width: 50px;
                    }
                    .bordered{
                        border-bottom: 1px solid #F89406;
                        padding-bottom: 20px;  
                    }
                }
                .bordered{
                    border-bottom: 1px solid #F89406;
                    /*padding-bottom: 20px;  */
                }
                .choice-question-choice-table{
                    tbody{
                        td.choice{
                            max-width:10%;
                            min-width:10%;
                        }
                        td.choice-content{
                            max-width:60%;
                            min-width:60%;
                        }
                        td.choice-feedback-comment{
                            max-width:20%;
                            min-width:20%;
                        }
                        td.choice-feedback{
                            max-width:10%;
                            min-width:10%;
                        }
                    }
                }
            }
        }

        /*
         * Define styles for open questions (long, short and ...)
         * used in player.directive.html
         */ 
        .short-directive-container{

        }

        /*
         * Define styles for match questions (toBind && toDragg)
         * used in player.directive.html
         */
        .match-directive-container{
            .drop-textbox {
                height: 80px;
                max-height: 80px;
                overflow: hidden;
                border-style: solid;
                border-width: 1px;
            }
            
            .drop-textbox-height {
                height: 80px;
                max-height: 80px;
            }
            
            .dropzone-textbox {
                padding-right: 0;
            }
            
            .drop-droppable-color {
                background-color: #f9f9f9;
                border-color: #b7b7b7;
            }
            
            .drag-handle {
                cursor: all-scroll;
                padding-top: 32px;
            /*    border-right-style: solid;
                border-right-width: 1px;*/
                background-color: #ededed;
                text-align: center;
            }
            
            .drag-zoom {
                cursor: pointer;
                padding-top: 32px;
                text-align: center;
            /*    border-left-style: solid;
                border-left-width: 1px;*/
                background-color: #ededed;
            }
            
            .drop-label-textbox {
                margin: 10px;
            }
            
            .drop-textbox-undo {
                cursor: pointer;
                padding-top: 32px;
                text-align: center;
                background-color: #ededed;
            /*    border-right-style: solid;
                border-right-width: 1px;*/
            }
            
            .drop-color-alert {
                background-color: #FCEFBC;
                border-color: #FCEFA1;
            }
            
            .drop-color-default {
                background-color: #ededed;
                border-color: #b7b7b7;
            }
            
            ._jsPlumb_hover {
                cursor: url("../images/scissors-red.png"), pointer;
            }

            .endPoints {
                z-index: 1;
            }

            ._jsPlumb_endpoint {
                cursor: default;
            }

            .origin {
                background-color: #f9f9f9;
                margin: 10px;
                min-height: 50px;
                /*max-width: 400px;*/
                min-width: 200px;
            }

            /*
            limit video height
            */
            video{
                /*max-height:100px;*/
            }

            /*
            set min-height to limit painfull binding between
            last proposal element and first label element
            */
            .droppable {
                background-color: #f9f9f9;
                margin: 10px;
                /*max-width: 400px;*/
                /*min-height: 150px;*/
                min-width: 200px;
                padding: 10px;
            }


            .draggable {
                list-style-type:none;
            }


            .setLabel{
                margin-top: 5px;
            }

            .lidroppable {
                list-style-type:none;
            }

            .dropped-item-row{
                padding: 5px;
            }

            .state-highlight {
                border: 1px solid #fcefa1;
                background: #fbf9ee 50% 50% repeat-x;
                color: #363636;
            }
            
            .state-highlight-pair {
                height: 80px;
                max-height: 80px;
                margin: 10px;
                overflow: hidden;
            }

            .state-hover {
                border: 1px solid #999999;
                background: #dadada 50% 50% repeat-x;
                font-weight: normal;
                color: #212121;
            }

            .state-active {
                border: 1px solid #aaaaaa;
                background: #989C98 50% 50% repeat-x;
                font-weight: normal;
                color: #212121;
            }



            .dragDropped li {
                list-style-type:none;
            }
        }

        /*
         * Define styles for graphic questions
         * used in player.directive.html
         */
        .graphic-directive-container{
            .crosshair{
                //width: 30px;
                //height: 30px;
                cursor: pointer;
            }
            
            
            
            .droppable-container{
                display: inline-block;
                img {
                    border: 1px solid black;
                }
            }
        }
    }

}


/*
 * Papers styles used in papers.html.twig
 */
.ujm-papers-container{
    .table-centered td, .table-centered th  {
        text-align: center;   
    }

    .image{
        width: 150px;
    }

    ul {
        list-style: none;
    }

    .wrong-label{
        text-decoration: line-through;
    }

    .div-score{
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0px;
        font-size: 14px;
        line-height: 1.42857;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #ccc;
        background-color: #EBEBEB;
        border-radius: 4px;
        white-space: nowrap;
        -moz-user-select: none;
    }
}