services:
    _defaults:
        autoconfigure: false
        public: false

    Claroline\TransferBundle\Manager\TransferManager:
        arguments:
            - '@messenger.default_bus'
            - '@Claroline\AppBundle\Persistence\ObjectManager'
            - '@Claroline\AppBundle\API\SerializerProvider'
            - '@Claroline\AppBundle\API\Crud'
            - '@Claroline\TransferBundle\Transfer\ExportProvider'
            - '@Claroline\TransferBundle\Transfer\ImportProvider'
            - '@Claroline\CoreBundle\Manager\FileManager'
            - '%claroline.param.import_log_dir%'
