<table class="table table-striped">
    <tr>
        <th class="center-text">{{ 'paper_details_your_answers'|trans:{}:'ujm_sequence' }}</th>
        <th class="center-text">{{ 'paper_details_right_answers'|trans:{}:'ujm_sequence' }}</th>
    </tr>
    <tr>
        <td data-ng-bind-html="correctionClozeCtrl.answer | unsafe" class="center-text" name="users_answer" id="answer_{{ correctionClozeCtrl.question.id }}"></td>
        <td data-ng-bind-html="question.solution | unsafe" class="center-text" name="teachers_solution" id="solution_{{ correctionClozeCtrl.question.id }}"></td>
    </tr>
</table>
