<h3 class="panel-title">{{ 'paper_details_table_your_answer'|trans:{}:'ujm_sequence' }}</h3>
<p data-ng-bind-html="correctionShortCtrl.answer" ></p>

<div data-ng-if="correctionShortCtrl.question.typeOpen !== 'long'" >
    <h3 class="panel-title">{{ 'keys_words'|trans:{}:'ujm_sequence' }}</h3>
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th class="center-text">{{ 'keys_words'|trans:{}:'ujm_sequence' }}</th>
            <th class="center-text">{{ 'case_sensitive'|trans:{}:'ujm_sequence' }}</th>
            <th class="center-text">{{ 'points'|trans:{}:'ujm_sequence' }}</th>
            <th class="center-text">{{ 'comment'|trans:{}:'ujm_sequence' }}</th>
        </tr>
        <tr data-ng-repeat="keyword in correctionShortCtrl.question.solutions">
            <td>{{ keyword.word }}</td>
            <td class="center-text">
                <span data-ng-if="keyword.caseSensitive === true " class="fa fa-check-square-o"></span>
                <span data-ng-if="keyword.caseSensitive === false " class="fa fa-square-o"></span>
            </td>
            <td class="center-text">{{ keyword.score }}</td>
            <td class="center-text">
                <span data-ng-if="keyword.feedback === null"> - </span>
                <span data-ng-if="keyword.feedback !== null">{{ keyword.feedback }}</span>
            </td>
        </tr>
    </table>
</div>
<div data-ng-if="correctionShortCtrl.question.typeOpen === 'long'">
    <h3 class="panel-title">{{ 'label_exercise_correction'|trans:{}:'ujm_sequence' }}</h3>
    <p>{{ 'need_correction'|trans:{}:'ujm_sequence' }}</p>
</div>
