<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h5 class="panel-title pull-left"> correction de : {{correctionCtrl.sequence.meta.title}}</h5>
    </div>
    <div class="panel-body">
        <!-- links row (accueil, liste copies, retry) -->
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <a class="btn btn-default" data-ng-href="{{correctionCtrl.generateUrl('exercise-home')}}">Accueil de l'exercice</a>
                    <a class="btn btn-default" href="#">Liste des copies</a>
                    <a class="btn btn-default" data-ng-href="{{correctionCtrl.generateUrl('exercise-play')}}">Recommencer</a>
                </div>
            </div>
        </div>
        <hr/>
        <!-- Note row -->
        <div class="row">
            <div class="col-md-12">
                <span>Note : </span> <span>20 / 20 !!!</span>
            </div>
        </div>
        <hr/>
        <!-- question list row -->
        <div class="row" data-ng-repeat="item in correctionCtrl.answers">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">{{item.question.title}}</h3>
                        <div class="btn-group pull-right">
                            <button class="btn btn-default fa fa-eye" data-container="body" data-toggle="tooltip" title="voir détails" data-ng-click="correctionCtrl.toggleDetails(item.question.id)"></button>
                        </div>
                    </div>
                    <div id="{{item.question.id}}" style="display:none;" class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Choix</th>
                                    <th>Reponse attendue</th>
                                    <th>Votre réponse</th>
                                    <th>Commentaire</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="choice in item.question.choices">
                                    <td style="width:50%;">
                                        <img data-ng-if="correctionCtrl.getChoiceSimpleType(choice) == 'encoded-image'" data-ng-src="data:{{choice.type}};{{choice.encoding}}, {{choice.data}}"/>
                                        <img data-ng-if="correctionCtrl.getChoiceSimpleType(choice) == 'web-image'" data-ng-src="{{choice.url}}"/>
                                        <div data-ng-if="correctionCtrl.getChoiceSimpleType(choice) == 'simple-text'">{{choice.data}}</div>
                                        <div data-ng-if="correctionCtrl.getChoiceSimpleType(choice) == 'html-text'" data-ng-bind-html="choice.data | unsafe"></div>
                                    </td>
                                    <td>Réponse attendue...</td>
                                    <td>
                                        <span data-ng-if="correctionCtrl.getStudentAnswer(choice, item)" class="fa fa-check"></span>
                                        <span data-ng-if="!correctionCtrl.getStudentAnswer(choice, item)" class="fa fa-close"></span>
                                    </td>
                                    <td>
                                        Commentaire...
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
