/*
 * Users barrel.
 */

@import "variables";
@import "mixins";

// Components styles
@import "comments";
@import "impersonation";
@import "login";
@import "message";
@import "profile";

.user-avatar {
    border-radius: 50%;

    // for .fa when no picture
    color: #ccc;
}

.user-micro {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    color: #777; // toto : use a var
    vertical-align: middle;
    font-size: @font-size-small;
    font-weight: bold;

    .user-avatar {
        margin-right: 10px;

        // for picture
        max-height: 30px;

        // for .fa when no picture
        font-size: 30px;
    }
}
