.user-profile {
    .no-section-info {
        margin-bottom: 15px;
        font-style: italic;
        text-align: center;
    }

    .add-section {
        padding: @padding-large-vertical @padding-large-horizontal;
    }
}

.user-profile-nav {
    padding: 0;
    margin-bottom: @component-margin-bottom;

    .user-profile-nav-actions {
        > .btn {
            padding: 0;
        }
    }
}

.profile-facet-add,
.user-profile-link {
    display: block;
    text-align: left;
    padding: 10px 15px;
    border: 1px solid transparent;
    color: @text-color;
    background: #ebebeb;
    text-decoration: none;
    border-radius: @border-radius-base;

    > .fa {
        margin-right: @icon-text-spacer;
    }

    &.active {
        background: @summary-bg;
        color: @summary-link-active-color;
        padding-right: 30px;
        margin-right: floor(-@grid-gutter-width / 2);
        border-top-right-radius: @grid-gutter-width;
        border-bottom-right-radius: @grid-gutter-width;

        .box-shadow(@summary-box-shadow);
    }

    +.user-profile-link {
        margin-top: 5px;
    }
}

.user-profile-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-facet-add {
    color: @brand-primary;

    &:hover {
        color: white;
        background: @brand-primary;
    }
}