<div class="modal-header">
    <h4 class="modal-title">
        <span class="icon-trash"></span> {{ 'step_delete_title' | trans:{}:'path_editor' }} : <strong>&lt;{{ step.name | truncate }}&gt;</strong>
    </h4>
</div>

<div class="modal-body">
    {{ 'step_delete_confirm' | trans:{}:'path_editor' }}
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirm()">{{ 'step_delete' | trans:{}:'path_editor' }}</button>
    <button class="btn btn-default cancel" ng-click="cancel()">{{ 'cancel' | trans:{}:'path_editor' }}</button>
</div>