<div class="modal-header">
    <h4 class="modal-title">
    	<span class="icon-picture"></span> {{ 'select_image_title' | trans:{}:'path_editor' }}
    </h4>
</div>

<div class="modal-body">
    <div class="row">
        <div ng-repeat="image in images" class="col-sm-6 col-md-3">
            <a href="" ng-click="select(image)" class="thumbnail">
                <img src="{{ webDir }}bundles/innovapath/images/steps/{{ image }}" />
            </a>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default cancel" ng-click="close()">{{ 'cancel' | trans:{}:'path_editor' }}</button>
</div>