<!-- Primary resource -->
<div class="panel-heading" data-ng-click="stepFormCtrl.collapsedPanels.resourcePrimary = !stepFormCtrl.collapsedPanels.resourcePrimary">
    <h4 class="panel-title">
        <span class="fa fa-fw" data-ng-class="{ 'fa-caret-right': stepFormCtrl.collapsedPanels.resourcePrimary, 'fa-caret-down': !stepFormCtrl.collapsedPanels.resourcePrimary }"></span>

        <span class="badge">{{ stepFormCtrl.step.primaryResource != null ? 1 : 0 }}</span>

        {{ 'primary_resource'|trans:{}:'path_editor' }}
    </h4>

    <a href="#" data-ui-resource-picker="stepFormCtrl.primaryResourcePicker" class="btn btn-sm btn-primary">
        <span class="fa fa-plus"></span>
        <span data-ng-show="null == stepFormCtrl.step.primaryResource">{{ 'resources_browse'|trans:{}:'path_editor' }}</span>
        <span data-ng-show="null != stepFormCtrl.step.primaryResource">{{ 'resources_replace'|trans:{}:'path_editor' }}</span>
    </a>
</div>

<div class="panel-body" data-ng-show="!stepFormCtrl.collapsedPanels.resourcePrimary">
    <em data-ng-show="null == stepFormCtrl.step.primaryResource">{{ 'no_primary_resource'|trans:{}:'path_editor' }}</em>
    <div data-ng-show="null != stepFormCtrl.step.primaryResource" class="row">
        <div class="col-md-2 col-sm-2 text-right">
            <img height="60" data-ng-src="{{ resourceIcons[stepFormCtrl.step.primaryResource.type] || resourceIcons['custom/default'] }}" alt="{{ stepFormCtrl.step.primaryResource.type }}" />
        </div>
        <div class="col-md-10 col-sm-10">
            <p class="h4">{{ stepFormCtrl.step.primaryResource.name }}</p>
            <a href="#" class="btn btn-xs btn-danger" data-ng-click="stepFormCtrl.removePrimaryResource()">
                <span class="fa fa-trash-o"></span> {{ 'resource_delete'|trans:{}:'path_editor' }}
            </a>
        </div>
    </div>
</div>
