<!-- Primary resource -->
<div class="panel-heading" data-ng-click="stepFormCtrl.collapsedPanels.resourcePrimary = !stepFormCtrl.collapsedPanels.resourcePrimary">
    <h4 class="panel-title">
        <span class="fa fa-fw" data-ng-class="{ 'fa-caret-right': stepFormCtrl.collapsedPanels.resourcePrimary, 'fa-caret-down': !stepFormCtrl.collapsedPanels.resourcePrimary }"></span>

        <span class="badge">{{ stepFormCtrl.step.primaryResource != null ? 1 : 0 }}</span>

        <span>{{ 'primary_resource'|trans:{}:'path_editor' }}</span>
    </h4>

    <a href="#" data-ui-resource-picker="stepFormCtrl.primaryResourcePicker" class="btn btn-sm btn-primary">
        <span class="fa fa-plus"></span>
        <span data-ng-show="null == stepFormCtrl.step.primaryResource">{{ 'resources_browse'|trans:{}:'path_editor' }}</span>
        <span data-ng-show="null != stepFormCtrl.step.primaryResource">{{ 'resources_replace'|trans:{}:'path_editor' }}</span>
    </a>
</div>

<div class="panel-body" data-ng-show="!stepFormCtrl.collapsedPanels.resourcePrimary">
    <!-- No resource message -->
    <em data-ng-show="null == stepFormCtrl.step.primaryResource">{{ 'no_primary_resource'|trans:{}:'path_editor' }}</em>

    <!-- Resource -->
    <div data-ng-show="null != stepFormCtrl.step.primaryResource">
        <div style="display:inline-block; vertical-align: middle; margin-right: 15px;">
            <img height="60" data-ng-src="{{ stepFormCtrl.resourceIcons[stepFormCtrl.step.primaryResource.mimeType] || stepFormCtrl.resourceIcons['custom/default'] }}" alt="{{ stepFormCtrl.step.primaryResource.mimeType }}" />
        </div>
        <div style="display:inline-block; vertical-align: middle;">
            <p class="h4">{{ stepFormCtrl.step.primaryResource.name }}</p>
            <a href="#" class="btn btn-xs btn-danger" data-ng-click="stepFormCtrl.removePrimaryResource()">
                <span class="fa fa-trash-o"></span> {{ 'resource_delete'|trans:{}:'path_editor' }}
            </a>
        </div>
    </div>
</div>
