<div class="panel-heading" data-ng-click="stepFormCtrl.collapsedPanels.description = !stepFormCtrl.collapsedPanels.description">
    <h4 class="panel-title">
        <span class="fa fa-fw" data-ng-class="{ 'fa-caret-right': stepFormCtrl.collapsedPanels.description, 'fa-caret-down': !stepFormCtrl.collapsedPanels.description }"></span>
        Description
    </h4>
</div>

<div id="panel-description" data-ng-show="!stepFormCtrl.collapsedPanels.description">
    <textarea data-ui-tinymce="tinymceOptions" class="form-control" name="step-description" data-ng-change="updateHistory()" data-ng-model="stepFormCtrl.step.description"></textarea>
</div>