<div class="row">
    <!-- No selected step alert -->
    <div data-ng-if="!stepFormCtrl.step" class="col-md-12">
        <div class="alert alert-info text-center">
            {{ 'no_step_selected'|trans:{}:'path_editor' }}
        </div>
    </div>

    <!-- Step form -->
    <div data-ng-if="stepFormCtrl.step" class="col-md-12 panel-step">
        <!-- Secondary resources of the Step -->
        <secondary-resources data-resources="stepFormCtrl.step.resources" data-inherited="stepFormCtrl.inheritedResources" data-excluded="stepFormCtrl.step.excludedResources"></secondary-resources>

        <!-- Form of the Step -->
        <div class="panel panel-default">
            <!-- Step level -->
            <div class="lvl-indicator lvl lvl-{{ stepFormCtrl.step.lvl }}"></div>

            <div class="panel-body">
                <div class="row">
                    <!-- Previous step -->
                    <div class="col-md-1 col-sm-2 col-xs-2 text-left">
                        <a href="" class="btn btn-block btn-default">
                            <span class="fa fa-arrow-left"></span>
                            <span class="sr-only">previous</span>
                        </a>
                    </div>

                    <div class="col-md-10 col-sm-8 col-xs-8">
                        <div class="form-group">
                            <label class="control-label sr-only" for="step-name">Step name</label>
                            <!-- Edit step name -->
                            <div class="input-group col-md-12">
                                <input type="text" class="form-control text-center" name="step-name" id="step-name" data-ng-model="stepFormCtrl.step.name" />
                                <div class="input-group-btn">
                                    <button data-ng-click="stepFormCtrl.showActivity()" class="btn btn-default" type="button" data-ng-if="stepFormCtrl.step.activityId" data-toggle="tooltip" data-container="body" title="{{ 'see_activity'|trans:{}:'path_editor' }}">
                                        <span class="fa fa-eye"></span>
                                        <span class="sr-only">{{ 'see_activity'|trans:{}:'path_editor' }}</span>
                                    </button>

                                    <button class="btn btn-default" type="button" data-ui-resource-picker="stepFormCtrl.activityResourcePicker" data-toggle="tooltip" data-container="body" title="{{ 'select_activity'|trans:{}:'path_editor' }}">
                                        <span class="fa fa-folder-open"></span>
                                        <span class="sr-only">{{ 'select_activity'|trans:{}:'path_editor' }}</span>
                                    </button>

                                    <button data-ng-click="stepFormCtrl.deleteActivity()" class="btn btn-danger" type="button" data-ng-if="stepFormCtrl.step.activityId" data-toggle="tooltip" data-container="body" title="{{ 'delete_activity'|trans:{}:'path_editor' }}">
                                        <span class="fa fa-trash-o"></span>
                                        <span class="sr-only">{{ 'delete_activity'|trans:{}:'path_editor' }}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Next step button -->
                    <div class="col-md-1 col-sm-2 col-xs-2 text-right">
                        <a href="" class="btn btn-block btn-default">
                            <span class="sr-only">next</span>
                            <span class="fa fa-arrow-right"></span>
                        </a>
                    </div>
                </div>

                <!-- Description -->
                <div class="panel panel-default" data-ng-include="stepFormCtrl.webDir + 'bundles/innovapath/angularjs/Step/Partial/step-description.html'"></div>

                <!-- Primary resource -->
                <primary-resources data-resources="stepFormCtrl.step.primaryResource"></primary-resources>

                <!-- Properties -->
                <div class="panel panel-default" data-ng-include="stepFormCtrl.webDir + 'bundles/innovapath/angularjs/Step/Partial/step-properties.html'"></div>
            </div>
        </div>
    </div>
</div>
