<!-- Properties -->
<div class="panel-heading">
    <h4 class="panel-title" data-ng-click="stepFormCtrl.collapsedPanels.properties = !stepFormCtrl.collapsedPanels.properties">
        <span class="fa fa-fw" data-ng-class="{ 'fa-caret-right': stepFormCtrl.collapsedPanels.properties, 'fa-caret-down': !stepFormCtrl.collapsedPanels.properties }"></span>
        {{ 'properties'|trans:{}:'path_editor' }}
    </h4>
</div>

<div class="panel-body" data-ng-show="!stepFormCtrl.collapsedPanels.properties">
    <!-- With tutor -->
    <div class="form-group">
        <label class="control-label col-md-4" for="with-tutor">{{ 'with_tutor'|trans:{}:'path_editor' }}</label>
        <div class="col-md-4">
            <select class="form-control" name="with-tutor" id="with-tutor" data-ng-change="updateHistory()" data-ng-model="stepFormCtrl.step.withTutor">
                <option value=""></option>
                <option value="true">{{ 'yes'|trans:{}:'path_editor' }}</option>
                <option value="false">{{ 'no'|trans:{}:'path_editor' }}</option>
            </select>
        </div>
    </div>

    <!-- Who -->
    <div class="form-group">
        <label class="control-label col-md-4" for="step-who">{{ 'step_who'|trans:{}:'path_editor' }}</label>
        <div class="col-md-8">
            <select class="form-control" id="step-who" name="step-who" data-ng-change="updateHistory()" data-ng-model="stepFormCtrl.step.who">
                <option value=""></option>
                <option value="individual">{{ 'individual'|trans:{}:'platform' }}</option>
                <option value="collaborative">{{ 'collaborative'|trans:{}:'platform' }}</option>
                <option value="mixed">{{ 'mixed'|trans:{}:'platform' }}</option>
            </select>
        </div>
    </div>

    <!-- Where -->
    <div class="form-group">
        <label class="control-label col-md-4" for="step-where">{{ 'step_where'|trans:{}:'path_editor' }}</label>
        <div class="col-md-8">
            <select class="form-control" id="step-where" name="step-where" data-ng-change="updateHistory()" data-ng-model="stepFormCtrl.step.where">
                <option value=""></option>
                <option value="classroom">{{ 'classroom'|trans:{}:'platform' }}</option>
                <option value="anywhere">{{ 'anywhere'|trans:{}:'platform' }}</option>
            </select>
        </div>
    </div>

    <!-- Duration -->
    <div class="form-group">
        <label class="control-label col-md-4" for="duration">{{ 'step_duration'|trans:{}:'path_editor' }}</label>
        <div class="col-md-8">
            <duration-field class="row" data-model="stepFormCtrl.step.duration"></duration-field>
        </div>
    </div>
</div>