.path-player .breadcrumbs ul {
    border-radius: 3px;
    font-size: 0;
    margin: 0;
    margin-bottom: 6px;
}

.path-player .breadcrumbs ul,
.path-player .breadcrumbs ul > li {
    padding: 0;
    list-style-type: none;
}

.path-player .breadcrumbs ul > li {
    display: inline-block;
    position: relative;
    font-size: 14px;
    margin: 0;
    margin-bottom: 4px;
}

.path-player .breadcrumbs ul > li:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.path-player .breadcrumbs ul > li > a {
    display: block;
    padding: 8px 16px;
    padding-left: 30px;
    line-height: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow:    -1px 0 0 rgba(0, 0, 0, 0.2), 
                    1px 0 0 rgba(0, 0, 0, 0.7),
                    0 -1px 0 rgba(0, 0, 0, 0.2),
                    0 1px 0 rgba(0, 0, 0, 0.7);}

.path-player .breadcrumbs ul > li > a:after {
    content: "";
    position: absolute;
    right: -18px;
    top: 0;
    z-index: 5;
    border-top:    18px solid rgba(0, 0, 0, 0);
    border-bottom: 18px solid rgba(0, 0, 0, 0);
    border-left-width: 18px;
    border-left-style: solid;
    color:transparent;
}

.path-player .breadcrumbs ul > .lvl-0 > a {
    padding-left: 16px;
}

.path-player .breadcrumbs ul > .lvl-0 > a:after {
    border-left-color: #7B7B7B;
}

.path-player .breadcrumbs ul > .lvl-1 > a:after {
    border-left-color: #4790aD;
}

.path-player .breadcrumbs ul > .lvl-2 > a:after {
    border-left-color: #8C6796;
}

.path-player .breadcrumbs ul > .lvl-3 > a:after {
    border-left-color: #d86178;
}

.path-player .breadcrumbs ul > .lvl-4 > a:after {
    border-left-color: #FF7A40;
}

.path-player .breadcrumbs ul > .lvl-5 > a:after {
    border-left-color: #FDBE3E;
}

.path-player .breadcrumbs ul > .lvl-6 > a:after {
    border-left-color: #b8d855;
}

.path-player .breadcrumbs ul > .lvl-7 > a:after {
    border-left-color: #47aD90;
}

.path-player .breadcrumbs ul > .lvl-8 > a:after {
    border-left-color: #91deea;
}

.path-player #hop-on-my-thumb{
    margin-bottom:10px;
}

.path-player .breadcrumbs ul.dropdown-menu li{
    display:block;
}

.path-player .breadcrumbs li.dropdown{
    position:relative;
}

.path-player .breadcrumbs a.dropdown-label{
    padding-right:22px;
}

.path-player .breadcrumbs a.dropdown-toggle{
    padding-right:6px;
    padding-left:6px;
    margin:auto;
    position:absolute;
    top:0;
    right:0;
}

.path-player .breadcrumbs li > a.step:hover{
    text-decoration:underline;
}