.lvl-indicator-xlarge{
    display:inline-block;
    position:absolute;
    width:15px;
    left:0px;
    top:0px;
    bottom:0px;
    border-top-left-radius:3px;
}

#step-title{
    position:relative;
    padding-left:20px;
}