/*
.resource-frame {
    border:none;
    overflow-x:hidden;
}

.iframe-resource-buttons {
    margin-bottom: 10px;
}

#current-step-nav-tab a {
    font-weight: bold;
    color: #FFFFFF;
    text-shadow:    -1px 0 0 rgba(0, 0, 0, 0.2), 
                    1px 0 0 rgba(0, 0, 0, 0.7),
                    0 -1px 0 rgba(0, 0, 0, 0.2),
                    0 1px 0 rgba(0, 0, 0, 0.7);
}
*/

.resource-tab:first-child{
    margin-left:15px;
}


.nav.nav-tabs li.resource-tab a.resource-link{
    color:white;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow:    -1px 0 0 rgba(0, 0, 0, 0.2), 
                    1px 0 0 rgba(0, 0, 0, 0.7),
                    0 -1px 0 rgba(0, 0, 0, 0.2),
                    0 1px 0 rgba(0, 0, 0, 0.7);
    border-bottom: none;  
}


.nav.nav-tabs li:not(.active) a.lvl-0 {
    background-color: #7B7B7B;
}
.nav.nav-tabs li:not(.active) a.lvl-1 {
    background-color: #4790aD;      
}
.nav.nav-tabs li:not(.active) a.lvl-2 {
    background-color: #8C6796;
}
.nav.nav-tabs li:not(.active) a.lvl-3 {
    background-color: #d86178;
}
.nav.nav-tabs li:not(.active) a.lvl-4 {
    background-color: #FF7A40;
}
.nav.nav-tabs li:not(.active) a.lvl-5 {
    background-color: #FDBE3E;
}
.nav.nav-tabs li:not(.active) a.lvl-6 {
    background-color: #b8d855;
}
.nav.nav-tabs li:not(.active) a.lvl-7 {
    background-color: #47aD90;
}
.nav.nav-tabs li:not(.active) a.lvl-8 {
    background-color: #91deea;
}