.squares-browser{
    vertical-align: middle;
    margin-bottom: 20px;
}

.squares-browser .step{
    vertical-align: middle;
    width:40px;
    height:40px;
    margin:0 5px;
    display:inline-block;
}

.squares-browser .step:first-child {
    margin-left: 0;
}

.squares-browser .separator{
    vertical-align: middle;
    display:inline-block;
    height:35px;
    width:1px;
    background-color:black;
    margin:0 5px;
}

.squares-browser .parent-siblings{
    display:inline-block;
}

.squares-browser .current{
    border:2px solid black;
}

.lvl-0{
	background-color:#468966;
}

.lvl-1{
	background-color:#FFF0A5;
}

.lvl-2{
	background-color:#FFB03B;
}

.lvl-3{
	background-color:#B64926;
}

.lvl-4{
	background-color:#8E2800;
}