
.lvl-0{
	background-color:grey;
}

.lvl-1 {
	background-color:lightgrey;
}

.lvl-2 {
	background-color:white;
}

#square-browser{
	clear:both;
	height: 40px;
}

#square-browser .step{
	width:40px;
	height:40px;
	border:2px solid black;
	float:left;
	margin:0 5px;
	position:relative;
} 


#square-browser .separator{
	float:left;
	display:block;
	height:40px;
	width:2px;
	background-color:black;
	margin:0 5px;

}

