
.squares-browser{
	vertical-align: middle;
}

.squares-browser .step{
	background-color:lightgrey;
	vertical-align: middle;
	width:40px;
	height:40px;
	border:2px solid black;
	margin:0 5px;
	display:inline-block;
} 


.squares-browser .separator{
	vertical-align: middle;
	display:inline-block;
	height:40px;
	width:2px;
	background-color:black;
}

.squares-browser .parent-siblings{
	display:inline-block;
}

.squares-browser .current{
	background-color:red;
}
