@import "claroline";
@import "../form-state";

@brand-primary: #222;
@navbar-default-brand-color: #fff;
@navbar-inverse-link-color: lighten(@navbar-inverse-bg, 70%);
@navbar-inverse-toggle-hover-bg: darken(@navbar-inverse-bg, 20%);
@navbar-inverse-toggle-border-color: darken(@navbar-inverse-bg, 18%);
@baseBorderRadius: 5px;
@grid-float-breakpoint: @screen-md;
@claroline-topbar-border: #f89406;
