{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'badges' | trans({}, 'badge') | striptags | raw }}{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h1 class="panel-title">{% block section_title %}{% endblock %}</h1>
    </div>
    {{ macros.flashBox() }}

    <div class="panel-body">
        {% block section_body %}{% endblock %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets debug=false filter='lessphp, cssmin'  output='bundles/clarolinecore/css/badge.css'
      "@ClarolineCoreBundle/Resources/views/Badge/less/badge.less"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" screen="media" />
    {% endstylesheets %}
{% endblock %}
