<div class="row">
    <div class="col-md-12" id="portfolio_list">
        {% include 'IcapPortfolioBundle:Portfolio:list.html.twig' %}
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="guided_portfolio_list">
        {% include 'IcapPortfolioBundle:Portfolio:list_guided.html.twig' %}
    </div>
</div>