<div class="panel-body">
    {% if exoID == -1 %}
    <a href="{{ path('ujm_question_index') }}" class="btn btn-primary">
    {% else %}
    <a href="{{ path('ujm_exercise_open', {'id': exoID}) }}#/steps" class="btn btn-primary">
    {% endif %}
        <i class="fa fa-arrow-left"></i> {{ 'back' | trans({}, 'ujm_exo') }}
    </a>
</div>
