{% extends 'ClarolineCoreBundle::administration/layout.html.twig' %}

{% set objectiveBreadcrumbs = [
        {
            icon: 'fa fa-cog',
            name: 'administration'|trans({}, 'platform'),
            href: path('claro_admin_index')
        },
        {
            name: 'learning-objectives'|trans({}, 'tools'),
            href: ''
        }
    ]
%}

{% block title %}
    {% autoescape false %}
        {{ parent() ~ ' - ' ~ 'learning-objectives'|trans({}, 'tools') }}
    {% endautoescape %}
{% endblock %}

{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}

{% block breadcrumb %}
    {{ macros.breadcrumbs(objectiveBreadcrumbs) }}
{% endblock %}

{% block content %}
    <div class="panel-body">
        <div class="alert alert-warning">
            {{ 'tool_work_in_progress'|trans({}, 'platform') }}
        </div>
    </div>
{% endblock %}
