# Template for the 'parameters.yml' config file (same directory).
# Currently only the db parameters are required.

parameters:

  # database

  database_version: 8.0
  database_driver: pdo_mysql
  database_host: 127.0.0.1
  database_port: ~
  database_name: claroline
  database_user: root
  database_password: ~

  test_database_driver: '%database_driver%'
  test_database_host: '%database_host%'
  test_database_port: '%database_port%'
  test_database_name: '%database_name%_test'
  test_database_user: '%database_user%'
  test_database_password: '%database_password%'

  # mail

  mailer_transport: smtp
  mailer_encryption: ~
  mailer_auth_mode: ~
  mailer_host: ~
  mailer_port: ~
  mailer_user: ~
  mailer_password: ~

  # others

  locale: fr
  secret: change_me

  # logs
  non_repeatable_log_time_in_seconds: 600
