# Template for the 'parameters.yml' config file (same directory).
# Currently only the db parameters and locale are required.

parameters:
  secret: change_me

  database_version: 8.0
  database_driver: pdo_mysql
  database_host: 127.0.0.1
  database_port: ~
  database_name: claroline
  database_user: root
  database_password: ~

  test_database_driver: '%database_driver%'
  test_database_host: '%database_host%'
  test_database_port: '%database_port%'
  test_database_name: '%database_name%_test'
  test_database_user: '%database_user%'
  test_database_password: '%database_password%'
