<span class="pull-right pointer-hand" ng-if="!dhmc.isHomeLocked">
    <i class="fa fa-unlock-alt" ng-if="dhmc.editionMode" ng-click="dhmc.toggleEditionMode()"></i>
    <i class="fa fa-lock" ng-if="!dhmc.editionMode" ng-click="dhmc.toggleEditionMode()"></i>
</span>

<desktop-home-tabs></desktop-home-tabs>
<widgets></widgets>

<div class="text-center" data-ng-if="!dhmc.isHomeTabLocked && dhmc.editionMode && dhmc.homeTabsOptions['canEdit'] && dhmc.homeTabsOptions['selectedTabId'] && !dhmc.homeTabsOptions['selectedTabIsLocked']">
    <button type="button" role="button" class="btn btn-primary" data-ng-click="dhmc.createUserWidget(dhmc.homeTabsOptions['selectedTabConfigId'])">
        <span class="fa fa-fw fa-plus"></span>
        {{ 'add_widget_to_home_tab'|trans:{}:'platform' }}
    </button>
</div>
