/**
 * Styles for `address` data type.
 */

// input
.address-control {
    background: $gray-lighter;
    border: 1px solid transparent;
    padding: $panel-body-padding;

    @include border-radius($border-radius-base);
}
