/**
 * Styles for `address` data type.
 */

// input
.address-control {
    background: (--#{$prefix}tertiary-bg);
    border: 1px solid transparent;
    padding: $card-spacer-y $card-spacer-x;

    @include border-radius($border-radius);
}
