/**
 * Styles for `boolean` data type.
 */

.boolean-filter {
    white-space: nowrap;

    .btn + .btn {
        margin-left: 5px;
    }
}

.boolean-cell {
    text-align: center;

    .false {
        opacity: 0.3;
    }
}
