/**
 * Styles for `cascade-enum` data type.
 */

@use "sass:math";

.cascade-enum-group {
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .cascade-enum-item.item-root {
        background: var(--#{$prefix}secondary-bg);
        border: var(--#{$prefix}border-width) solid transparent;
        padding: map-get($spacers, 2);

        @include border-radius($border-radius);
    }

    .enum-children-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .cascade-enum-item.item-child {
        width: calc(100% - 40px);
    }

    .cascade-enum-item {
        .item-container {
            display: flex;
            align-items: flex-start;

            .enum-item-content {
                flex: 1;
                margin-right: ($grid-gutter-width * .5);
                margin-bottom: 0 !important;
            }

            .right-controls {
                .btn {
                    padding-left: 4px;
                    padding-right: 4px;
                }
            }
        }
    }
}
