/**
 * Styles for `cascade-enum` data type.
 */

@use "sass:math";

.cascade-enum-group {
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    li {
        width: 100%;
    }

    .enum-children-list {
        padding-left: map-get($spacers, 4);
    }
}

.cascade-enum-item {
    &.item-root {
        background: var(--#{$prefix}secondary-bg);
        border: var(--#{$prefix}border-width) solid transparent;
        padding: map-get($spacers, 2);

        @include border-radius($border-radius);
    }

    .item-container {
        display: flex;
        align-items: flex-start;

        .enum-item-content {
            flex: 1;
            margin-right: map-get($spacers, 2);
            margin-bottom: 0 !important;
        }

        .right-controls {
            .btn {
                padding-left: 4px;
                padding-right: 4px;
            }
        }
    }
}
