/**
 * Styles for `file` data type.
 */

.file-preview {
    border: $card-border-width solid $card-border-color;
    background: $card-bg;
    padding: $input-padding-y $input-padding-x;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    @include border-radius($border-radius-sm);

    .file-preview-icon {
        flex-shrink: 0;
        width: map-get($icon-sizes, sm);
    }

    .file-preview-title {
        flex-grow: 1;
        font-weight: $font-weight-medium;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        small {
            display: block;
        }
    }

    .file-preview-delete {
        margin-left: auto;
        align-self: flex-start;
    }
}
