/**
 * Styles for `html` data type.
 */

.editor-control {
    position: relative;
    text-align: justify;

    .tox-tinymce {
        border: $input-border-width solid $input-border-color;

        @include border-radius($input-border-radius, 0);
    }

    .tinymce-inline .mce-content-body {
        @extend .form-control;

        &.mce-content-readonly {
            color: $input-disabled-color;
            background-color: $input-disabled-bg;
            border-color: $input-disabled-border-color;
            // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
            opacity: 1;
        }
    }

    &.fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $zindex-offcanvas;

        .tox-tinymce {
            border: none;
            @include border-radius(none !important);
        }
    }

    &:not(.fullscreen) { // precise selector is required to override tinymce styles
        &.sm {
            &,
            .tox-tinymce {
                @include border-radius($input-border-radius-sm !important);
            }
        }
        &.lg {
            &,
            .tox-tinymce {
                @include border-radius($input-border-radius-lg !important);
            }
        }

        .tox-tinymce {
            z-index: 1;
            overflow: hidden;

            @include border-radius($input-border-radius !important);
        }
    }



    .mce-content-body {
        height: auto;
        overflow-y: auto;
        scrollbar-width: thin;

        p:last-of-type {
            margin-bottom: 0;
        }
    }
}

.editor-toolbar {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(25%, -50%);

    .editor-toolbar-btn {
        border-radius: 50rem;

        // make it square
        .fa {
            display: flex;
            align-items: center;
            justify-content: center;
            height: $icon-fixed-width;
        }

        padding: $btn-padding-x-sm;
    }
}
