/**
 * Styles for `html` data type.
 */

.editor-control {
    position: relative;
    text-align: justify;
    //border: 1px solid $input-border;
    //color: $input-color;
    //background-color: $input-bg;
    //background-clip: padding-box;
    //border: $input-border-width solid $input-border-color;

    .tox-tinymce {
        //background-clip: padding-box;
        border: $input-border-width solid $input-border-color;

        @include border-radius($input-border-radius, 0);
        //@include box-shadow($input-box-shadow);
        //@include transition($input-transition);
    }

    .tinymce-inline .mce-content-body {
        @extend .form-control;
    }

    &.fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $zindex-offcanvas;
        /*border: none;*/

        /*&,*/
        .tox-tinymce {
            border: none;
            @include border-radius(none !important);
        }
    }

    &:not(.fullscreen) { // precise selector is required to override tinymce styles
        &.sm {
            &,
            .tox-tinymce {
                @include border-radius($input-border-radius-sm !important);
            }
        }
        &.lg {
            &,
            .tox-tinymce {
                @include border-radius($input-border-radius-lg !important);
            }
        }

        .tox-tinymce {
            z-index: 1;
            overflow: hidden;

            @include border-radius($input-border-radius !important);
        }
    }



    .mce-content-body {
        height: auto;
        /*min-height: 160px;
        max-height: 500px;*/
        overflow-y: auto;
        scrollbar-width: thin;

        p:last-of-type {
            margin-bottom: 0;
        }
    }
}

.editor-toolbar {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(25%, -50%);

    .editor-toolbar-btn {
        border-radius: 50rem;

        // make it square
        .fa {
            display: flex;
            align-items: center;
            justify-content: center;
            height: $icon-fixed-width;
        }

        padding: $btn-padding-x-sm;
    }
}
