/**
 * Styles for `string` data type.
 */

textarea.form-control {
    // avoid horizontal resize with native browser feature
    max-width: 100%;
    min-width: 100%;
    min-height: $line-height-computed + $input-padding-y*2;
}

.chars-remaining {
    font-size: $font-size-sm;
    text-align: end;
}
