/**
 * Styles for `url` data type.
 */

/*.url-display {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background: $gray-lighter;

    @include border-radius($border-radius);

    a {
        flex: 1;
        font-weight: bold;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}*/
