{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}
<div class="wrapper">
    <iframe height="500px" width="25%" src="{{ path('claro_activity_left_menu', {'activityId':activity.getId()}) }}" id="left-frame"></iframe>
    <iframe height="500px" width="70%" src="{{ path('claro_activity_show_instructions', {'activityId':activity.getId()}) }}" id="right-frame"></iframe>
</div>
{% endblock %}