
$primary-color: #148ac7;

$text-color: #333333;
$font-size:  16px;
$line-height: 1.4;

$font-family:          Arial, sans-serif;
$headings-font-family: "Century Gothic", Arial, sans-serif;

$code-bg: #f8f8f8;

$link-color: $primary-color;