{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}


{% block section_content %}
    <div class="panel panel-default">
        <div class="panel-body"> 
            
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation"><a href="{{path("formalibre_presence_admin_tool_index")}}"  role="tab" data-toggle="tab">Appel</a></li>
                  <li role="presentation" class="active"><a href="{{path("formalibre_presence_archives")}}"  role="tab" data-toggle="tab">Archives</a></li>
                  <li role="presentation"><a href="{{path("formalibre_presence_configurations")}}" role="tab" data-toggle="tab">Configurations</a></li>
                </ul>
            </div>
            
            <br /><br />
        pages d'archives
        </div>
    </div>
{% endblock %}