{% extends "ClarolineCoreBundle:Resource:layout.html.twig" %}

{% block content %}
    <div
        class="page-container directory-container"
        data-resource-node="{{ _resource.resourceNode | api_serialize | json_encode | raw | escape }}"
        data-directory="{{ directory | api_serialize | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('dist/claroline-distribution-main-core-directory-resource.js') }}"></script>
{% endblock %}
