<div class="modal-content">
    <div class="modal-header">
        <button class="close" ng-click="cuumc.closeModal()">x</button>
        <h4 class="modal-title">
            {{ 'unregister_selected_users'|trans:{}:'cursus' }}
        </h4>
    </div>
    <div class="modal-body">
        {{ 'unregister_selected_users_message'|trans:{}:'cursus' }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cuumc.closeModal()">
            {{ 'cancel'|trans:{}:'platform' }}
        </button>
        <button class="btn btn-primary" ng-click="cuumc.confirmModal()">
            {{ 'ok'|trans:{}:'platform' }}
        </button>
    </div>
</div>