
.app-menu {
    --#{$prefix}menu-color: #{$toolbar-color};
    --#{$prefix}menu-bg: #{$toolbar-bg};
    --#{$prefix}menu-bg-subtle: #{$toolbar-bg-subtle};
    --#{$prefix}menu-header-color: #{$toolbar-header-color};

    overflow-y: auto; // gets its own scrollbar
    scrollbar-width: thin;

    background-color: var(--#{$prefix}menu-bg);
    color: var(--#{$prefix}menu-color);
}

.app-menu-items {
    --#{$prefix}menu-item-color: #{$toolbar-link-color};
    --#{$prefix}menu-item-bg: #{$toolbar-link-bg};

    --#{$prefix}menu-item-hover-color: #{$toolbar-link-hover-color};
    --#{$prefix}menu-item-hover-bg: #{$toolbar-link-hover-bg};

    --#{$prefix}menu-item-active-color: #{$toolbar-link-active-color};
    --#{$prefix}menu-item-active-bg: #{$toolbar-link-active-bg};

    --#{$prefix}menu-item-disabled-color: #{$toolbar-link-disabled-color};
    --#{$prefix}menu-item-disabled-bg: #{$toolbar-link-disabled-bg};

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: $toolbar-link-spacer-y;
}

.app-menu-item {
    display: flex;
    align-items: center;
    padding: $toolbar-link-padding-y $toolbar-link-padding-x;
    margin: 0 $toolbar-link-spacer-x;
    color: var(--#{$prefix}menu-item-color);
    background: var(--#{$prefix}menu-item-bg);
    font-size: $toolbar-link-font-size;
    line-height: $toolbar-link-line-height;
    font-weight: $toolbar-link-font-weight;
    border: none;
    text-align: left;
    white-space: nowrap;

    @include border-radius($toolbar-link-border-radius);

    .fa {
        opacity: .25;
        font-size: 1rem;
    }

    .action-subscript {
        margin-left: auto;
    }

    &:hover {
        color: var(--#{$prefix}menu-item-hover-color);
        background: var(--#{$prefix}menu-item-hover-bg);
        text-decoration: none;

        .fa {
            opacity: 1;
        }
    }

    &:active,
    &.active {
        &,
        &:hover {
            color: var(--#{$prefix}menu-item-active-color);
            background: var(--#{$prefix}menu-item-active-bg);
        }

        .fa {
            opacity: 1;
        }
    }

    &[disabled],
    &.disabled {
        // avoid focus or hover effect on disabled
        &,
        &:hover,
        &:focus {
            color: var(--#{$prefix}menu-item-disabled-color);
            background: var(--#{$prefix}menu-item-disabled-bg);
        }
    }
}

.app-context-menu {
    &.flyout-menu {
        max-height: 80vh;
        overflow-y: hidden;
    }

    &.app-menu {
        width: 18rem; // 16rem;
    }
}

@if $enable-dark-mode {
    @include color-mode(dark) {
        .app-menu {
            --#{$prefix}menu-color: #{$toolbar-color-dark};
            --#{$prefix}menu-bg: #{$toolbar-bg-dark};
            --#{$prefix}menu-bg-subtle: #{$toolbar-bg-subtle-dark};
            --#{$prefix}menu-header-color: #{$toolbar-header-color-dark};
        }

        .app-menu-items {
            --#{$prefix}menu-item-color: #{$toolbar-link-color-dark};
            --#{$prefix}menu-item-bg: #{$toolbar-link-bg-dark};

            --#{$prefix}menu-item-hover-color: #{$toolbar-link-hover-color-dark};
            --#{$prefix}menu-item-hover-bg: #{$toolbar-link-hover-bg-dark};

            --#{$prefix}menu-item-active-color: #{$toolbar-link-active-color-dark};
            --#{$prefix}menu-item-active-bg: #{$toolbar-link-active-bg-dark};

            --#{$prefix}menu-item-disabled-color: #{$toolbar-link-disabled-color-dark};
            --#{$prefix}menu-item-disabled-bg: #{$toolbar-link-disabled-bg-dark};
        }
    }
}
