
.app-toolbar {
    display: flex;
    flex-direction: row;
    width: map-get($icon-sizes, sm) + 1.5rem;
    transition: width .4s ease;
    top: 0;
    bottom: 0;
    overflow: hidden;

    &.show {
        width: $toolbar-size;
    }
}

.app-body {
    transition: padding .4s ease;
}

.app-menu {
    --#{$prefix}menu-color: #{$toolbar-color};
    --#{$prefix}menu-bg: #{$toolbar-bg-subtle};

    --#{$prefix}menu-item-color: #{$toolbar-link-color};
    --#{$prefix}menu-item-bg: #{$toolbar-link-bg};

    --#{$prefix}menu-item-hover-color: #{$toolbar-link-hover-color};
    --#{$prefix}menu-item-hover-bg: #{$toolbar-link-hover-bg};

    --#{$prefix}menu-item-active-color: #{$toolbar-link-active-color};
    --#{$prefix}menu-item-active-bg: #{$toolbar-link-active-bg};

    --#{$prefix}menu-item-disabled-color: #{$toolbar-link-disabled-color};
    --#{$prefix}menu-item-disabled-bg: #{$toolbar-link-disabled-bg};

    overflow-y: auto; // gets its own scrollbar
    overflow-x: hidden; // do not display scrollbar during animation
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--#{$prefix}menu-bg);
    color: var(--#{$prefix}menu-color);

    .dropdown-menu {
        width: calc($toolbar-size - (map-get($icon-sizes, sm) + 1.5rem));
    }
}

.app-menu-backdrop {
    opacity: 0;
    transition: opacity .3s ease;
}

.app-menu-cover {
    height: 6.5rem;
    text-align: center;
    padding-bottom: 2.5rem;
    flex-shrink: 0;
    background: var(--#{$prefix}menu-bg);
}

.app-menu-current-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: map-get($spacers, 3);
    padding-top: 0;
    min-height: 6.5rem;

    .user-avatar {
        margin-top: -2.5rem;
        background: var(--#{$prefix}menu-bg);
        padding: $thumbnail-padding;
    }

    .user-status-bullet {
        border-color: var(--#{$prefix}menu-bg) !important;
    }

    .app-menu-user {
        color: var(--#{$prefix}menu-color);
        small {
            color: var(--#{$prefix}menu-item-color);
        }
    }
}

.app-menu-header {
    .app-menu-title {
        margin: 0;
        padding: 0;
        font-weight: $font-weight-medium;
        font-size: $font-size-base;
    }

    .btn {
        color: var(--#{$prefix}menu-item-color);
        box-shadow: none !important;
        border-color: transparent !important;

        &:hover {
            color: var(--#{$prefix}menu-item-hover-color);
            background: var(--#{$prefix}menu-item-hover-bg);
        }

        &:focus,
        &:active,
        &.active {
            &,
            &:hover,
            &:focus {
                color: var(--#{$prefix}menu-item-hover-color);
                background: var(--#{$prefix}menu-item-hover-bg);
            }
        }
    }
}

/*.app-menu-impersonation {
    @include gradient-striped($toolbar-bg, 45deg);

    background-size: 100px 100px;
}*/

.app-menu-items {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: $toolbar-link-spacer-y;
}

.app-menu-item {
    display: flex;
    align-items: center;
    padding: $toolbar-link-padding-y $toolbar-link-padding-x;
    margin: 0 $toolbar-link-spacer-x;
    color: var(--#{$prefix}menu-item-color);
    background: var(--#{$prefix}menu-item-bg);
    border: none;
    box-shadow: none;
    text-align: left;
    white-space: nowrap;

    @include border-radius($toolbar-link-border-radius);

    .action-subscript {
        margin-left: auto;
    }

    &:hover {
        color: var(--#{$prefix}menu-item-hover-color);
        background: var(--#{$prefix}menu-item-hover-bg);
        text-decoration: none;
    }

    &:focus,
    &:active,
    &.active {
        &,
        &:hover,
        &:focus {
            color: var(--#{$prefix}menu-item-active-color);
            background: var(--#{$prefix}menu-item-active-bg);
            box-shadow: none;
        }
    }

    &[disabled],
    &.disabled {
        // avoid focus or hover effect on disabled
        &,
        &:hover,
        &:focus {
            color: var(--#{$prefix}menu-item-disabled-color);
            background: var(--#{$prefix}menu-item-disabled-bg);
        }

        // preserve active state on disabled (because active links are disabled)
        &.active {
            &,
            &:hover,
            &:focus {
                color: var(--#{$prefix}menu-item-active-color);
                background: var(--#{$prefix}menu-item-active-bg);
                opacity: 1;
            }
        }
    }
}

// MD/LG screens :
@media (max-width: map-get($grid-breakpoints, 'xl')) {
    /*.app-contexts + .app-menu,
    .app-contexts + .app-menu + .app-menu-backdrop {
        left: 72px !important; // FIXME
    }*/
    .app-body {
        padding-left: map-get($icon-sizes, sm) + 1.5rem;
    }

    .app-toolbar {
        position: absolute;
        z-index: $zindex-fixed;

        &.show {
            //@include box-shadow(0 0 3px 1px rgba(0, 0, 0, 0.5));
            + .app-menu-backdrop {
                position: fixed;
                z-index: $zindex-fixed - 1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.5);

                opacity: 1;
            }
        }
    }
}

// XS/SM screens :
@media (max-width: map-get($grid-breakpoints, 'md')) {
    .app-toolbar {
        width: 0; // also hide contexts nav
    }

    .app-body {
        padding-left: 0;
    }
}

@if $enable-dark-mode {
    @include color-mode(dark) {
        .app-menu {
            --#{$prefix}menu-color: #{$toolbar-color-dark};
            --#{$prefix}menu-bg: #{$toolbar-bg-subtle-dark};

            --#{$prefix}menu-item-color: #{$toolbar-link-color-dark};
            --#{$prefix}menu-item-bg: #{$toolbar-link-bg-dark};

            --#{$prefix}menu-item-hover-color: #{$toolbar-link-hover-color-dark};
            --#{$prefix}menu-item-hover-bg: #{$toolbar-link-hover-bg-dark};

            --#{$prefix}menu-item-active-color: #{$toolbar-link-active-color-dark};
            --#{$prefix}menu-item-active-bg: #{$toolbar-link-active-bg-dark};

            --#{$prefix}menu-item-disabled-color: #{$toolbar-link-disabled-color-dark};
            --#{$prefix}menu-item-disabled-bg: #{$toolbar-link-disabled-bg-dark};
        }
    }
}
