.app-contexts {
  --#{$prefix}menu-bg: #{$toolbar-bg};
  --#{$prefix}menu-bg-subtle: #{$toolbar-bg-subtle};

  background: var(--#{$prefix}menu-bg);
  height: 100%;
  //width: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .75rem;
  padding: 1rem 0;
  //padding: .75rem 0;
}

.menu-brand {
  max-width: map-get($icon-sizes, sm);
  height: $brand-size;
  margin-bottom: .5rem;
}

.app-context-btn {
  position: relative;
  width: map-get($icon-sizes, sm);
  height: map-get($icon-sizes, sm);
  border-radius: 50%;
  //font-size: 1.25rem;
  background: var(--#{$prefix}menu-bg-subtle);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--#{$prefix}link-color);
  flex-shrink: 0;
  margin: 0 .75rem;

  /*.user-avatar {
    max-width: map-get($icon-sizes, sm) !important;
    max-height: map-get($icon-sizes, sm) !important;
  }*/

  &:hover,
  &:focus,
  &.active {
    text-decoration: none;
    background: $primary;
    .thumbnail {
      background-color: transparent;
    }

    > * {
      color: color-contrast($primary);
    }
  }

  &:before {
    position: absolute;
    content: " ";
    width: 4px;
    height: 0;
    left: -12px;
    background-color: var(--#{$prefix}body-color);

    @include border-end-radius($border-radius-sm);
    @include transition(height .15s ease);
  }

  &:hover {
    &:before {
      height: 24px;
    }
  }

  &:focus,
  &.active {
    &:before {
      height: 36px;
    }
  }
}

.notification-status,
.app-context-status {
  display: inline-block;
  border: .25rem solid var(--#{$prefix}menu-bg);
  /*width: .875em;
  height: .875em;*/
  line-height: 1;
  font-size: .75rem;
  font-weight: bolder;
  padding: map-get($spacers, 1);
  min-width: .75rem;
  box-sizing: content-box;
}

.app-context-separator {
  width: 48px;
  margin: 0;
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    .app-contexts {
      --#{$prefix}menu-bg: #{$toolbar-bg-dark};
      --#{$prefix}menu-bg-subtle: #{$toolbar-bg-subtle-dark};
    }
  }
}
