@use "sass:math";

.app-page {
    order: 2;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 100%;

    &.fullscreen {
        position: fixed;
        z-index: $zindex-offcanvas;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: var(--#{$prefix}body-bg); // regular page container has no background. We need to hide what is under
        overflow-y: auto; // get the scrollbar
    }
}

.fullscreen-close {
    position: absolute;
    z-index: $zindex-offcanvas;
    top: ($grid-gutter-width * .5);
    right: $grid-gutter-width;
    font-size: 36px;
    line-height: 1;
    opacity: 0.6;

    @include text-movie-subtitles();

    &:hover,
    &.hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
        opacity: 1;
    }
}

.page-header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    border-bottom: $page-header-border-width solid $page-header-border-color;

    @include box-shadow($page-header-box-shadow);
}

.page-poster {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: $page-header-height;

    // use movie subtitles styles to make title always readable
    .breadcrumb, // FIXME
    .breadcrumb-item::before, // FIXME
    .breadcrumb a, // FIXME
    .nav a.nav-link, // FIXME
    .nav button.nav-link, // FIXME
    .app-menu-toggle, // FIXME
    .page-title {
        @include text-movie-subtitles();
    }

    a.nav-link.active {
        border-color: currentColor !important;
    }
}

.app-menu-toggle {
    font-size: $font-size-lg;
}

.page-header-content {
    display: flex;
    align-items: center;
}

.page-icon {
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: var(--#{$prefix}body-bg);

    > * {
        width: 100%;
        height: 100%;
    }

    .tool-icon,
    .resource-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 2rem;
    }
}

.page-title {
    margin: 0;
    flex: 1;
    color: $page-title-color;
    font-weight: $page-title-font-weight;

    @include font-size($page-title-font-size);

    small {
        color: $page-subtitle-color;
        font-weight: $page-subtitle-font-weight;
    }
}

.page-actions {
    margin-left: auto;
    white-space: nowrap;

    .btn-toolbar {
        white-space: nowrap;
    }
}

.page-content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; // only specifying flex property here make the item fill the remaining space in its parent
}

.page-section {
    margin-left: -$grid-gutter-width*.5; // to escape the page-content container-fluid
    margin-right: -$grid-gutter-width*.5; // to escape the page-content container-fluid
}

.page-section-title {
    position: relative;
    padding: $nav-link-padding-y 0;
    padding-bottom: calc($nav-underline-border-width + $nav-link-padding-y);
    text-transform: $label-text-transform;

    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: " ";
        display: block;
        border-bottom: $nav-underline-border-width solid var(--#{$prefix}primary);
        width: 40px;
    }
}

.page-xl {
    // make avatar looks bigger than standard page icons
    .page-icon {
        width: map-get($icon-sizes, xl);
        height: map-get($icon-sizes, xl);
        //margin-top: $grid-gutter-width*.5;
        margin-bottom: map-get($spacers, 5) * -1;

        .user-avatar {
            padding: $thumbnail-padding;
        }
    }

    .page-header {
        margin-bottom: map-get($spacers, 5);
    }

    .page-header-content {
        align-items: flex-end;
    }
}

@media (max-width: map-get($grid-breakpoints, 'sm')) {
    .page-header {
        flex-wrap: wrap;
    }
}
