@use "sass:math";

.app-page {
    order: 2;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 100%;

    &.fullscreen {
        position: fixed;
        z-index: $zindex-offcanvas;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: var(--#{$prefix}body-bg); // regular page container has no background. We need to hide what is under
        overflow-y: auto; // get the scrollbar
    }
}

.fullscreen-close {
    position: absolute;
    z-index: $zindex-offcanvas;
    top: ($grid-gutter-width * .5);
    right: $grid-gutter-width;
    font-size: 36px;
    line-height: 1;
    opacity: 0.6;

    @include text-movie-subtitles();

    &:hover,
    &.hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
        opacity: 1;
    }
}

.app-page-heading {
    z-index: 1;
}

.app-page-poster + .app-page-heading .app-page-icon {
    margin-top: -6rem;
}

.app-page-icon {
    //flex-shrink: 0;
    border-radius: 50%;
    background: var(--#{$prefix}body-bg);
    font-size: 0;
    padding: $thumbnail-padding;
}

.app-page-title {
    @include font-size($page-title-font-size);
}

.page-section-title {
    position: relative;
    padding: $nav-link-padding-y 0;
    padding-bottom: calc($nav-underline-border-width + $nav-link-padding-y);
    text-transform: $label-text-transform;

    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: " ";
        display: block;
        border-bottom: $nav-underline-border-width solid var(--#{$prefix}primary);
        width: 40px;
    }
}
