@use "sass:math";

.app-page {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    > .app-page-body {
        height: 100%;
        overflow: hidden;

        > .app-page-content {
            overflow-y: auto;
        }
    }
}

.embedded-page {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.app-page-menu {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.125), 0 1px 1px rgba($black, .075);

    .nav-item {
        display: flex;
        align-items: stretch;
    }

    .nav-link {
        display: flex;
        align-items: center;
    }
}

.app-page-poster + .app-page-heading .app-page-icon,
.app-page-poster + .app-page-toolbar + .app-page-heading .app-page-icon {
    margin-top: -8rem;
}

.app-page-icon {
    border-radius: 50%;
    background: var(--#{$prefix}body-bg);
    font-size: 0;
    padding: $thumbnail-padding;
    margin-left: -$thumbnail-padding;
}

.app-page-toolbar {
    > div {
        margin-left: 100%;
    }

    .btn {
        padding: .75rem;
        border: 1px solid currentColor;
        // background: var(--#{$prefix}body-bg);

        &:hover,
        &:focus {
            background: fade-out($primary, .85);
        }
        &:active {
            background-color: $primary;
            border-color: $primary;
            color: color-contrast($primary);
        }
    }
}

.page-section-title {
    position: relative;
    // padding: $nav-link-padding-y 0;
    padding-bottom: calc($nav-underline-border-width + $nav-link-padding-y);
    text-transform: $label-text-transform;

    p {
        text-transform: none;
    }

    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: " ";
        display: block;
        border-bottom: $nav-underline-border-width solid var(--#{$prefix}primary);
        width: 40px;
    }
}

.app-page-body {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.app-page-content {
    height: 100%;
    max-width: 100%;
    flex: 1 1 auto;
}

.app-page-aside {
    position: relative; // constrains toggle button
}

.app-page-aside-content {
    width: min($content-xs, 100vw);
}

.app-page-aside-title {
    font-size: $h4-font-size;
    max-height: $headings-line-height * $h4-font-size * 2;
    // display the '...' if the text is truncated on browsers which support it
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.app-page-menu {
    .breadcrumb-item a,
    .btn,
    .app-context-menu-toggle {
        text-decoration: none;

        &:hover {
            background: var(--#{$prefix}secondary-bg);
        }
    }

    .btn,
    .breadcrumb-item a {
        line-height: $line-height-base * $font-size-base;
    }
}

@media (max-width: map-get($grid-breakpoints, 'lg')) {
    .app-page-aside {
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
    }

    .app-page-aside-content {
        box-shadow: 1px 0 3px 0 rgba(0,0,0,.125), 1px 0 1px 0 rgba(0,0,0,.075);
    }
}