/* Additional style rules */
body
{
    background:#fff url(../../bundles/clarolinecore/images/themes/claroline/bg2.jpg) repeat-x;
}

/** NAVBAR **/

.navbar.navbar-inverse.navbar-fixed-top
{
    background:#222 url(../../bundles/clarolinecore/images/themes/claroline/bg.jpg) repeat;
    border-bottom:3px solid #f89406;
    .box-shadow(0 1px 3px rgba(0,0,0,.25));

    .navbar-brand {
        background:transparent url(../../bundles/clarolinecore/images/logo/claroline-logo-bulles-22x25.png) 20px 11px no-repeat;
        padding-left:50px !important;
        font-size:22px;
    }

    .badge {
        background:@brand-danger;
    }
}

.list-group.menu,
.panel,
.creator .panel,
.creator .form-control.content-title,
.breadcrumb
{
    .box-shadow(0 1px 10px rgba(0,0,0,.2));
}

.panel .panel, .panel .breadcrumb
{
    .box-shadow(none);
}
