//////////////////////////
// Additional variables //
//////////////////////////

@navbar-inverse-link-color: #ccc;
@baseBorderRadius: 5px;
@grid-float-breakpoint: 992px;
@screen-xs-max: @grid-float-breakpoint;
