@zindex-navbar: 1000;
@zindex-dropdown: 1000;
@zindex-popover: 1010;
@zindex-tooltip: 1030;
@zindex-navbar-fixed: 1030;
@zindex-modal-background: 1040;
@zindex-modal: 1050;
@screen-xs: 480px;
@screen-phone: @screen-xs;
@screen-sm: 768px;
@screen-tablet: @screen-sm;
@screen-md: 992px;
@screen-desktop: @screen-md;
@screen-lg: 1200px;
@screen-lg-desktop: @screen-lg;
@screen-xs-max: (@screen-sm - 1);
@screen-sm-max: (@screen-md - 1);
@screen-md-max: (@screen-lg - 1);
