<div class="panel panel-default">
    <!-- Primary resource -->
    <div class="panel-heading">
        <h4 class="panel-title" data-ng-click="primaryResourcesCtrl.collapsed = !primaryResourcesCtrl.collapsed">
            <span class="fa fa-fw" data-ng-class="{ 'fa-caret-right': primaryResourcesCtrl.collapsed, 'fa-caret-down': !primaryResourcesCtrl.collapsed }"></span>

            <span class="badge">{{ primaryResourcesCtrl.resources ? primaryResourcesCtrl.resources.length : 0 }}</span>

            <span>{{ 'primary_resource'|trans:{}:'path_editor' }}</span>
        </h4>

        <button type="button" role="button" data-ui-resource-picker="primaryResourcesCtrl.primaryResourcePicker" class="btn btn-sm btn-primary">
            <span class="fa fa-plus"></span>
            <span data-ng-show="!primaryResourcesCtrl.resources || primaryResourcesCtrl.resources.length == 0">{{ 'resources_browse'|trans:{}:'path_editor' }}</span>
            <span data-ng-show="primaryResourcesCtrl.resources && primaryResourcesCtrl.resources.length != 0">{{ 'resources_replace'|trans:{}:'path_editor' }}</span>
        </button>
    </div>

    <div class="panel-body" data-ng-show="!primaryResourcesCtrl.collapsed">
        <!-- No resource message -->
        <em data-ng-show="!primaryResourcesCtrl.resources || primaryResourcesCtrl.resources.length == 0">{{ 'no_primary_resource'|trans:{}:'path_editor' }}</em>

        <!-- Resource -->
        <div data-ng-show="primaryResourcesCtrl.resources && primaryResourcesCtrl.resources.length != 0">
            <div style="display:inline-block; vertical-align: middle; margin-right: 15px;">
                <img height="60" data-ng-src="{{ primaryResourcesCtrl.resourceIcons[primaryResourcesCtrl.resources[0].mimeType] || primaryResourcesCtrl.resourceIcons['custom/default'] }}" alt="{{ primaryResourcesCtrl.resources[0].mimeType }}" />
            </div>
            <div style="display:inline-block; vertical-align: middle;">
                <p class="h4">{{ primaryResourcesCtrl.resources[0].name }}</p>
                <button type="button" role="button" class="btn btn-xs btn-danger" data-ng-click="primaryResourcesCtrl.removeResource(primaryResourcesCtrl.resources[0])">
                    <span class="fa fa-trash-o"></span> {{ 'resource_delete'|trans:{}:'path_editor' }}
                </button>
            </div>
        </div>
    </div>
</div>
