<div class="modal-header">
    <h4 class="modal-title">
        <span class="icon-pencil"></span>
        {{ 'resource_edit_title' | trans:{}:'path_editor' }} : &lt;<strong>{{ formResource.name }}</strong>&gt;
    </h4>
</div>

<div class="modal-body">
    <form novalidate name="resourceForm">
        <fieldset>
            <input type="hidden" name="" ng-model="formResource.type" value="{{ formResource.type }}" />
            <div class="form-group">
                <label for="resource-name">{{ 'resource_name' | trans:{}:'path_editor' }}</label>
                <input type="text" class="form-control" name="resource-name" ng-model="formResource.name" required value="{{ formResource.name }}" />
            </div>

            <div class="form-group">
                <label for="resource-description">{{ 'resource_description' | trans:{}:'path_editor' }}</label>
                <textarea class="form-control" name="resource-description" id="description" ng-model="formResource.description"></textarea>
            </div>

            <label class="checkbox">
                <input type="checkbox" name="propagate-to-children" ng-model="formResource.propagateToChildren" />
                {{ 'resource_propagate_to_children' | trans:{}:'path_editor' }}
            </label>
        </fieldset>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save(formResource)" ng-disabled="!resourceForm.$valid">{{ 'resource_save' | trans:{}:'path_editor' }}</button>
    <button class="btn btn-default cancel" ng-click="close()">{{ 'cancel' | trans:{}:'path_editor' }}</button>
</div>