<div class="modal-header">
    <h4 class="modal-title"></h4>
</div>

<div class="modal-body">
    The path {{ path.name }} has been modified.
    <br/>
    Do you want to save your changes ?
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="exitAndSave()">{{ 'save_and_close' | trans:{}:'path_editor' }}</button>
    <button class="btn btn-default" ng-click="exit()">{{ 'discard_changes' | trans:{}:'path_editor' }}</button>
    <button class="btn btn-default cancel" ng-click="cancel()">{{ 'cancel' | trans:{}:'path_editor' }}</button>
</div>