<form class="form-horizontal">
    <div class="form-group row">
        <label class="control-label col-md-3" for="path-name">Name</label>
        <div class="col-md-7">
            <input ng-class="{'ng-invalid': !pathName.isUnique, 'ng-valid': pathName.isUnique}" type="text" class="form-control" placeholder="{{ placeholderName }}" ng-model="path.name" ng-change="checkNameIsUnique(); renameRootStep(); updateHistory();" />
            <p class="help-block"><span ng-class="{'text-danger': !pathName.isUnique}">Name must be unique for current Workspace.</span></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-3" for="path-description">Description</label>
        <div class="col-md-7">
            <textarea class="form-control" id="path-description" placeholder="{{ placeholderDescription }}" ng-model="path.description" ng-change="updateHistory()">{{ path.description }}</textarea>
        </div>
    </div>
</form>