<a href="{{ path('icap_dropzone_drops_detail', {'resourceId' : notification.details.dropzone.id,'dropId' : notification.details.drop.id}) }}"
   target="_blank">{{ notification.actionKey|trans({'%dropzone%' : notification.details.resource.name}, 'notification') }}</a>

