.choices-dropdown-menu {
  position: inherit;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 3px;
  padding-top: 0px;
  padding-bottom: 0px;

  .choices-fetching {
    background-color: #DEE1E8;
  }
}

.cascade-select {
  fieldset {
    margin-bottom: 6px;
  }
}

.file-thumbnails {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}