/*
 * Forms.
 */

@import "fields/index";
@import "form-stepper";


// Fixes checkbox and radio button display issue on inline
// Combine with change in form_theme.html.twig and form_theme_vertical.html.twig
form {
    // this is kept for the Twig form
    // this is no longer needed in new UIs as all forms are vertical
    &.form-horizontal {
        label > input {
            &[type=checkbox],
            &[type=radio] {
                position: relative;
                margin-left: 0;
            }
        }
    }
}

.read-only {
    background: #eee;
    border-radius: @input-border-radius;
    border: 1px solid transparent;
    line-height: @line-height-computed;
    padding: @padding-base-vertical @padding-base-horizontal;
}


// -
// Errors & messages
// ---

form .global-error { // todo : remove me (not used in react forms)
    .alert;
    .alert-danger;
}

.help-block-list {
    margin: 0;
    padding: 0;
}

.help-block {
    text-align: justify;

    padding-left: @padding-base-horizontal + 1px; // keep alignment with error blocks

    // Just expose some vars as bootstrap doesn't do it
    color: @help-block-color;
    font-size: @help-block-font-size;

    .help-icon {
        width: 20px - @icon-text-spacer; // small cheat to have the same spacing than checkbox (currently 20px)
        text-align: center;
        margin-right: @icon-text-spacer;
    }
}

.error-block {
    padding: @padding-small-vertical @padding-base-horizontal;
    border: 1px solid transparent;
    border-radius: @border-radius-small;
}

.error-block-warning,
.has-warning .error-block {
    background: @state-warning-bg;
    border-color: @state-warning-border;
}

.error-block-danger,
.has-error .error-block {
    background: @state-danger-bg;
    border-color: @state-danger-border;
}


// -
// Fieldset
// ---

.activable-set {
    margin-bottom: @form-group-margin-bottom;

    > .sub-fields {
        margin-top: @form-group-margin-bottom;
    }
}

.toggleable-set {
    .toggleable-set-group {
        padding: @panel-body-padding;
        border: 1px dashed #ccc; // same color than sub-fields
        margin-bottom: 5px;
        border-radius: @border-radius-base;
        background: #f9f9f9;
    }

    .toggleable-set-toggle .fa {
        margin-right: @icon-text-spacer;
        width: 20px - @icon-text-spacer; // small cheat to have the same spacing than checkbox (currently 20px)
        text-align: center;
    }
}

// todo : we may need a more specific namespacing
.sub-fields {
    // this is used to conditionally display fields on radio/checkbox check
    // we align the displayed fields with the label of the radio/checkbox
    // but there is no var in bootstrap for this (=20px)
    margin-left: 4px; // cheat to have the border in the center of the checkbox/radio of the parent field if any
    padding-left: 14px; // fill remaining space to be 20px
    border-left: 2px solid #ccc;
}


// -
// Labels
// ---

.control-label {
    display: block;
    color: @input-label-color;

    > small {
        color: @text-muted;
        margin-left: 5px;
        font-style: italic;
        font-weight: normal;
    }
}

// Just permits to individually control the color of the label during validation
.has-success .control-label {
    color: @input-success-label-color;
}
.has-warning .control-label {
    color: @input-warning-label-color;
}
.has-error .control-label {
    color: @input-error-label-color;
}


// -
// Embedded forms
// ---

// todo : maybe merge with override made for modals
.embedded-form-section {
    .form {
        margin: -@panel-body-padding; // maybe not the best way to handle it
    }

    .form-primary-section {
        // removes panel styles
        box-shadow: none;
        border: none;
        border-radius: 0;
        margin-bottom: 0;
    }

    .form-sections {
        margin: 0;
        .panel {
            box-shadow: none; // this may be applied to all panels in modals
            border-radius: 0;
            border-left: 0;
            border-right: 0;

            + .panel {
                border-top: none;
                margin: 0;
            }
        }
    }
}


// -
// Buttons
// ---

.form-toolbar {
    position: fixed;
    display: block;
    z-index: @zindex-fullscreen;
    right: 45px;
    bottom: 30px;

    .btn {
        width: 72px;
        height: 72px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        border-radius: 50%;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);

        + .btn {
            margin-left: 5px;
        }
    }
}


// -
// Utilities
// ---

// Utility class to avoid extra space after a form.
// meant to be used on a `.form-group`
.form-last {
    margin-bottom: 0 !important;
}
