<div ng-class="sc.field[2].error ? 'has-error' : ''">
    <label class="control-label col-sm-3" ng-if="!sc.field[2].noLabel">
        {{ sc.label|trans:{}:sc.translationDomain }}
    </label>
    <div ng-class="sc.field[2].noLabel ? 'col-sm-12' : 'col-sm-9'">
        <div ng-repeat="(level, levelChoices) in sc.choices">
            <div class="margin-bottom-sm" ng-if="level === 0">
                <select class="form-control"
                        name="{{ sc.name }}"
                        ng-model="sc._ngModel[level]"
                        ng-options="option[sc.choice_name]|trans:{}:sc.translationDomain for option in levelChoices track by option[sc.choice_value]"
                        ng-change="sc.changeSelection(level)"
                        ng-disabled="sc.field[2].disabled"
                >
                </select>
            </div>
            <div ng-if="level > 0">
                <div class="margin-bottom-sm"
                     ng-repeat="(parentId, choices) in levelChoices"
                     ng-if="sc._ngModel[level - 1] && sc._ngModel[level - 1]['id'] == parentId"
                >
                    <select class="form-control"
                            name="select-{{ parentId }}"
                            ng-model="sc._ngModel[level]"
                            ng-options="option[sc.choice_name]|trans:{}:sc.translationDomain for option in choices track by option[sc.choice_value]"
                            ng-change="sc.changeSelection(level)"
                            ng-disabled="sc.field[2].disabled"
                    >
                    </select>
                </div>
            </div>
        </div>

        <help-block ng-model="sc.ngModel" field="sc.field"></help-block>
        <div class="help-block field-error" ng-if="sc.field[2].error">{{ sc.field[2].error }}</div>
    </div>
</div>
