    <entry>
        <title>{{ widget.label }}</title>
        <id>portfolio:text/{{ widget.id }}</id>
        <updated>{{ widget.updatedAt|date(constant('\DateTime::ATOM')) }}</updated>
        <content type="html"><![CDATA[{{ widget.text|raw }}]]></content>
        <rdf:type rdf:resource="leap2:entry"/>
    </entry>
