/*
 * Base Claroline application styles.
 *
 * All custom themes should include this file to have access to the base styles needed
 * for the user interface.
 */

@import "node_modules/bootstrap/scss/functions";
@import "variables";
@import "mixins";

// Import Bootstrap (v5, partial)
@import "bootstrap";

// Import FontAwesome
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";

// Import FlagIcons
@import "node_modules/flag-icons/sass/flag-icons";

@import "scaffolding";
@import "utilities";
@import "type";

// Import Claroline layout
@import "layout/footer";
@import "layout/header";
@import "layout/locale";
@import "layout/menu";

@import "chart";
@import "components";
@import "content";
@import "data";

// TODO : remove me
@import "src/main/authentication/Resources/styles";
@import "src/main/core/Resources/styles";
