// We use classes for `html` and `body` tags
// to avoid adding unwanted styles in iframe or tinyMCE

// Moves the app scroll bar after the fixed header
.claroline-app {
    height: 100%;
}

.app-container {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.app {
    height: 100%;
    width: 100%;
    overflow-y: hidden;

    position: relative; // to constrain sidebar on sm screens
    display: flex;
    flex-direction: row;
}

.app-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow-y: auto;
}

.app-loader {
    width: 100%;
    height: $loader-height;
    flex-shrink: 0;

    background: linear-gradient(90deg, $loader-primary, $loader-secondary, $loader-primary, $loader-secondary, $loader-primary);
    background-size: 500%;
    transition: opacity .3s ease;
    animation: loader-wave 15s linear infinite;

    opacity: 0;
    &.show {
        opacity: 1;
    }

    &:after {
        content: " ";
        position: absolute;
        inset: 0;
        background: linear-gradient(90deg, $loader-primary, $loader-secondary, $loader-primary, $loader-secondary, $loader-primary);
        animation: loader-wave 15s linear infinite;
        background-size: 500%;
        filter: blur($loader-height*2);
    }
}

@keyframes loader-wave {
    // only starts animation at the end of animation-time to create a delay between each "wave"
    // animation ends early to create a delay between each "wave"
    0%  { background-position: 0 0; }
    0% { background-position: 500% 0; }
}

.app-loader + .page {
    margin-top: -$loader-height;
}

.context-icon {
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0 !important;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;
    font-weight: $font-weight-base !important;
    color: $primary;
    background: fade-out($primary, .85);
}

@each $size, $value in $icon-sizes {
    .context-icon-#{$size} {
        // for picture
        width: $value;
        height: $value;
        // for .fa when no picture
        font-size: $value * .5;
    }
}
