body {
    //background: transparent; // removes bootstrap default for TinyMCE rendering
    //font-weight: 300;
}

// We use classes for `html` and `body` tags
// to avoid adding unwanted styles in iframe or tinyMCE

// Moves the app scroll bar after the fixed header
.claroline-app {
    height: 100%;
}

.app-container {
    position: relative;
    height: 100%;
    overflow-y: hidden;

    display: flex;
    flex-direction: row;
}

.app {
    flex: 1;
    position: relative; // to constrain sidebar
    height: 100%;
    overflow-y: hidden;
    padding-top: $top-bar-height;
    display: flex;
    flex-direction: row;
}

.app-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow-y: auto;
}
