// TODO : clean me

// @deprecated. use mb-3 instead
.component-container {
    margin-bottom: $component-margin-bottom !important;
}

// Bootstrap no longer provides utility for justified texts. From the doc :
// > Note that we don’t provide utility classes for justified text.
// > While, aesthetically, justified text might look more appealing, it does make word-spacing more random and therefore harder to read.
.text-justify {
    text-align: justify;
}


// Content sizing

.content-sm {
    max-width: $content-sm;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content-md {
    max-width: $content-md;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content-lg {
    max-width: $content-lg;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content-full {
    /*max-width: 100%;
    width: 100%;*/
    margin-left: -$grid-gutter-width*.5; // to escape the page-content container-fluid
    margin-right: -$grid-gutter-width*.5; // to escape the page-content container-fluid
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

// Cursors
.move, .move a {
    cursor: move !important;
}

.pointer {
    cursor: pointer;
}

.drag-handle {
    cursor: move;
}

.cursor-help {
    cursor: help;
}
