@import "variables.bootstrap";
@import "variables.old";
@import "variables-dark";

$fa-font-path: "../../packages/@fortawesome/fontawesome-free/webfonts";
$flag-icons-path: "../../packages/flag-icons/flags";

$text-selection-color: $white !default;
$text-selection-bg:    $primary !default;

// colors for SVG theme icons
$icon-primary-color: var(--#{$prefix}primary) !default;
$icon-secondary-color: $gray-900 !default;

// content sizing
$content-sm: 42rem !default; // deprecated
$content-md: 56rem !default;
$content-lg: 72rem !default;

$content-sizes: (
    sm: $content-sm, // deprecated
    md: $content-md,
    lg: $content-lg
) !default;

$icon-sizes: (
    xs: 2rem,
    sm: 3rem,
    md: 4rem,
    lg: 5rem,
    xl: 10rem,
) !default;

// customize labels (form input, details, groups in actions menu, etc.)
$label-text-transform: uppercase !default;
$label-font-size:      $form-label-font-size !default;
$label-color:          $form-label-color;
