/*
 * Default values for claroline vars
 */


//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

$component-margin-bottom:       map-get($spacers, 3) !default;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  15px !default;

$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome


//== Panels
// @deprecated
//##

$panel-body-padding:          15px !default;


// -
// Base & utilities
// ---

$images-path: "images/";

// react strips whitespaces, so we need to move icons from text
$icon-text-spacer:     .75rem;

$icon-fixed-width: 1.25em; // same value as fa-fw (there is no var for it in font awesome)


// -
// Login
// ---

$login-bg-image:  "#{$images-path}login.jpg" !default; // will fallback on $body-bg if theme has no image
$login-max-width: 760px !default;


// -
// Toolbars
// By default it reuses some of the styles from the app header.
// ---

$toolbar-size:           380px !default; // 1/5 of 1920 - 72px (context bar)
$toolbar-bg:             $gray-400 !default;
$toolbar-bg-subtle:      $gray-300 !default;
$toolbar-color:          color-contrast($toolbar-bg-subtle) !default;
//$toolbar-active-color:   $primary !default;

// links
$toolbar-link-spacer-y:       .25rem !default;
$toolbar-link-spacer-x:       .5rem !default;
$toolbar-link-padding-y:      .75rem !default;
$toolbar-link-padding-x:      1rem !default;
$toolbar-link-border-radius:  $border-radius !default;

$toolbar-link-color:          fade-out($toolbar-color, .375) !default;
$toolbar-link-bg:             null !default;
$toolbar-link-hover-color:    fade-out($toolbar-color, .125) !default;
$toolbar-link-hover-bg:       null !default;
$toolbar-link-active-color:   $toolbar-color !default;
$toolbar-link-active-bg:      fade-out($toolbar-color, .9) !default;
$toolbar-link-disabled-color: fade-out($toolbar-color, .5) !default;
$toolbar-link-disabled-bg:    null !default;


// -
// Loader
// ---

$loader-height:    .25rem !default;
$loader-primary:   var(--#{$prefix}primary) !default;
$loader-secondary: var(--#{$prefix}learning) !default;

$loader-color:     var(--#{$prefix}secondary-color) !default;
$loader-bg:        transparent !default;


// -
// Page
// ---

$brand-size:          2.5rem !default;
$page-header-height:       20vw !default; // 20 vw
//$page-header-bg:           transparent !default;
$page-header-padding:      $grid-gutter-width*.5 $grid-gutter-width*.5 !default;
$page-header-box-shadow:   none  !default;
$page-header-border-width: 0 !default;
$page-header-border-color: transparent !default;

$page-title-color:          null !default;
$page-title-font-size:      2rem !default;
$page-title-font-weight:    $font-weight-semibold !default;
$page-subtitle-color:       var(--#{$prefix}secondary-color) !default;
$page-subtitle-font-weight: $font-weight-base !default;


// -
// Flying alerts
// ---

$flying-alert-color:          var(--#{$prefix}body-color) !default;
$flying-alert-bg:             var(--#{$prefix}body-bg) !default;
$flying-alert-width:          420px !default;
$flying-alert-padding:        map-get($spacers, 2) !default;
$flying-alert-border-radius:  0 !default;
$flying-alert-box-shadow:     $box-shadow/*0 0 3px rgba(0,0,0,.5)*/ !default;
$flying-alert-margin-bottom:  map-get($spacers, 2) !default;
$flying-alert-icon-size:      1.75rem !default;

// variants
$flying-alert-primary-color:  white;
$flying-alert-primary-bg:     $primary;
$flying-alert-primary-border: $flying-alert-primary-bg;

$flying-alert-success-color:  white;
$flying-alert-success-bg:     $success;
$flying-alert-success-border: $flying-alert-success-bg;

$flying-alert-warning-color:  white;
$flying-alert-warning-bg:     $warning;
$flying-alert-warning-border: $flying-alert-warning-bg;

$flying-alert-error-color:    white;
$flying-alert-error-bg:       $danger;
$flying-alert-error-border:   $flying-alert-error-bg;

$flying-alert-info-color:     white;
$flying-alert-info-bg:        $info;
$flying-alert-info-border:    $flying-alert-info-bg;


// -
// Summaries
// ---

$summary-gap:               map-get($spacers, 1);
$summary-lvl-indent:        map-get($spacers, 4); // indent children of a step in the summary
// Links
$summary-link-spacer-y: map-get($spacers, 3);
$summary-link-spacer-x: map-get($spacers, 4);
$summary-link-color:          $link-color;
$summary-link-bg:             var(--#{$prefix}tertiary-bg);
$summary-link-border-radius:  var(--#{$prefix}border-radius-sm);

$summary-link-hover-color:    $link-hover-color;
//$summary-link-hover-bg:       $summary-link-bg;
$summary-link-active-color:   $link-hover-color;
//$summary-link-active-bg:      $summary-link-bg;
$summary-link-disabled-color: $body-color;
$summary-link-disabled-bg:    var(--#{$prefix}tertiary-bg);


// -
// Footer
// ---

$footer-max-width:          none !default; // max width for the footer content (do not affect footer container)
$footer-bg:                 none !default;
$footer-color:              var(--#{$prefix}secondary-color) !default;
$footer-border-width:       0 !default;
$footer-border-color:       transparent !default;
$footer-inner-border-color: var(--#{$prefix}border-color) !default;
$footer-box-shadow:         none !default;

// Links
/*$footer-link-color:        $gray-500;
$footer-link-hover-color:  $gray-dark;
$footer-link-active-color: $gray-900;*/


// -
// Forms
// @deprecated
// ---

$help-block-color:          var(--#{$prefix}secondary-color) !default;
$help-block-font-size:      $font-size-sm !default;


// -
// Lists
// ---

$list-controls-bg:           var(--#{$prefix}tertiary-bg) !default;
$list-controls-border-width: $border-width !default;
$list-controls-border-color: var(--#{$prefix}border-color-translucent) !default;


// -
// Headings
// ---

$heading-numbering-padding-y:     .125em !default;
$heading-numbering-padding-x:     .375em !default;
$heading-numbering-bg:            $learning !default;
$heading-numbering-color:         color-contrast($heading-numbering-bg) !default;
$heading-numbering-font-size:     null !default;
$heading-numbering-weight:        $font-weight-bold !default;
$heading-numbering-border-radius: 0 !default;
$heading-numbering-box-shadow:    none !default;
$heading-numbering-separator:     "." !default; // separator between numbering levels


// -
// Placeholders
// ---

$placeholder-bg:                 var(--#{$prefix}tertiary-bg) !default;
$placeholder-color:              var(--#{$prefix}tertiary-color) !default;
$placeholder-hover-color:        $primary !default;
$placeholder-border-color:       var(--#{$prefix}tertiary-border-color) !default;
$placeholder-border-style:       dashed;
$placeholder-hover-border-color: $placeholder-hover-color;

// default variant
$placeholder-font-size:        $font-size-base;
$placeholder-border-width:     var(--#{$prefix}border-width) !default;
$placeholder-border-radius:    $border-radius !default;
$placeholder-padding:          map-get($spacers, 3) !default;

// small variant
$placeholder-sm-font-size:     $font-size-sm !default;
$placeholder-sm-border-width:  var(--#{$prefix}border-width) !default;
$placeholder-sm-border-radius: $border-radius-sm !default;
$placeholder-sm-padding:       map-get($spacers, 2) !default;

// large variant
$placeholder-lg-font-size:     $font-size-lg !default;
$placeholder-lg-border-width:  var(--#{$prefix}border-width) !default;
$placeholder-lg-border-radius: $border-radius-lg !default;
$placeholder-lg-padding:       map-get($spacers, 4) !default;


// -
// User
// ---

$user-message-bg:            $card-bg;
$user-message-border:        var(--#{$prefix}border-color);
$user-message-inner-border:  var(--#{$prefix}border-color);
$user-message-border-radius: $border-radius-lg;


// -
// Data grid
// ---

$data-grid-gutter: map-get($spacers, 3);


// -
// Data tree
// ---

$data-tree-gutter:      $data-grid-gutter;
$data-tree-indent:      $data-tree-gutter*2;
$data-tree-lines-color: var(--#{$prefix}secondary-color);


// -
// Data card
// ---

$data-card-font:              $font-size-base !default;
$data-card-content-font:      $font-size-sm !default;
$data-card-spacer-x:          $card-spacer-x;
$data-card-spacer-y:          $card-spacer-y;

$data-card-color:               $card-color;
$data-card-bg:                  $card-bg;
$data-card-border-width:        0 !default;
$data-card-border-color:        $card-border-color !default;
$data-card-border-radius:       $card-border-radius;
$data-card-inner-border-radius: subtract($data-card-border-radius, $data-card-border-width) !default;
$data-card-box-shadow:          0 0 0 1px rgba($black, .075), $box-shadow-sm; //$card-box-shadow;

// states
$data-card-color-muted:               var(--#{$prefix}secondary-color) !default;


// -
// Scores
// ---

$score-border-radius:    $border-radius !default;
$score-bg:               $learning !default;
$score-color:            color-contrast($score-bg) !default;
$score-border:           none !default;
$score-font-size:        $font-size-base !default;
$score-padding-v:        .375rem !default; // same as button
$score-padding-h:        .75rem !default; // same as button

// small box variant
$score-border-radius-sm: $border-radius-sm !default;
$score-font-size-sm:     $font-size-sm !default;
$score-padding-v-sm:     .25rem !default; // same as button
$score-padding-h-sm:     .5rem !default; // same as button

// large box variant
$score-border-radius-lg: $border-radius-lg !default;
$score-font-size-lg:     $font-size-lg !default;
$score-padding-v-lg:     .5rem !default; // same as button
$score-padding-h-lg:     1rem !default; // same as button
