// Dark color mode variables

// scss-docs-start theme-bg-subtle-dark-variables
$primary-bg-subtle-dark:            shade-color($primary, 90%);
$secondary-bg-subtle-dark:          shade-color($secondary, 90%);
$success-bg-subtle-dark:            shade-color($success, 90%);
$info-bg-subtle-dark:               shade-color($info, 90%);
$warning-bg-subtle-dark:            shade-color($warning, 90%);
$danger-bg-subtle-dark:             shade-color($danger, 90%);
$light-bg-subtle-dark:              $gray-800 !default;
$dark-bg-subtle-dark:               mix($gray-800, $black) !default;
$learning-bg-subtle-dark:           shade-color($learning, 90%); // custom claroline
// scss-docs-end theme-bg-subtle-dark-variables

$body-color-dark:                   $gray-300 !default;
$body-tertiary-color-dark:          rgba($body-color-dark, .5) !default;


//
// Forms
//

$form-switch-color-dark: $body-tertiary-color-dark !default;


//
// Menu
//

$toolbar-bg-dark:             shade-color($gray-900, 25%) !default;
$toolbar-bg-subtle-dark:      shade-color($gray-900, 10%) !default;
$toolbar-color-dark:          null !default;

$toolbar-header-color-dark: var(--#{$prefix}tertiary-color) !default;

$toolbar-link-color-dark:          var(--#{$prefix}secondary-color) !default;
$toolbar-link-bg-dark:             null !default;
$toolbar-link-hover-color-dark:    null !default;
$toolbar-link-hover-bg-dark:       rgba(255, 255, 255, .025) !default;
$toolbar-link-active-color-dark:   $toolbar-link-hover-color-dark !default;
$toolbar-link-active-bg-dark:      $toolbar-link-hover-bg-dark !default;
$toolbar-link-disabled-color-dark: null !default;
$toolbar-link-disabled-bg-dark:    null !default;

$data-card-bg-dark: $toolbar-bg-dark;

$nav-underline-link-active-color-dark: var(--#{$prefix}body-color) !default;
