// Dark color mode variables

// scss-docs-start theme-bg-subtle-dark-variables
$primary-bg-subtle-dark:            shade-color($primary, 90%);
$secondary-bg-subtle-dark:          shade-color($secondary, 90%);
$success-bg-subtle-dark:            shade-color($success, 90%);
$info-bg-subtle-dark:               shade-color($info, 90%);
$warning-bg-subtle-dark:            shade-color($warning, 90%);
$danger-bg-subtle-dark:             shade-color($danger, 90%);
$light-bg-subtle-dark:              $gray-800 !default;
$dark-bg-subtle-dark:               mix($gray-800, $black) !default;
$learning-bg-subtle-dark:           shade-color($learning, 90%); // custom claroline
// scss-docs-end theme-bg-subtle-dark-variables

//
// Menu
//

$toolbar-bg-dark:             shade-color($gray-900, 25%) !default;
$toolbar-bg-subtle-dark:      shade-color($gray-900, 10%) !default;
$toolbar-color-dark:          color-contrast($toolbar-bg-subtle-dark) !default;

$toolbar-link-color-dark:          fade-out($toolbar-color-dark, .375) !default;
$toolbar-link-bg-dark:             null !default;

$toolbar-link-hover-color-dark:    fade-out($toolbar-color-dark, .125) !default;
$toolbar-link-hover-bg-dark:       null !default;
$toolbar-link-active-color-dark:   $toolbar-color-dark !default;
$toolbar-link-active-bg-dark:      fade-out($toolbar-color-dark, .9) !default;
$toolbar-link-disabled-color-dark: fade-out($toolbar-color-dark, .5) !default;
$toolbar-link-disabled-bg-dark:    null !default;

$data-card-bg-dark: $toolbar-bg-dark;
