@import "variables.bootstrap";
@import "variables.old";
@import "variables-dark";

$fa-font-path: "../../packages/@fortawesome/fontawesome-free/webfonts";
$flag-icons-path: "../../packages/flag-icons/flags";

$text-selection-color: $white !default;
$text-selection-bg:    $primary !default;

// colors for SVG theme icons
$icon-primary-color: var(--#{$prefix}primary) !default;
$icon-secondary-color: $gray-900 !default;

// content sizing
$content-xs: 24rem !default; // page affix, page aside
$content-sm: 32rem !default; // confirm modal, flying alerts
$content-md: 42rem !default;
$content-lg: 56rem !default; // standard page content size
$content-xl: 72rem !default;

$content-sizes: (
    xs: $content-xs,
    sm: $content-sm,
    md: $content-md,
    lg: $content-lg,
    xl: $content-xl
) !default;

$icon-sizes: (
    xxs: 1.5rem,
    xs: 2rem, // tables, data micro
    sm: 3rem, // context menu, current user, lists, creation menu, organizations modal
    md: 6rem, // cards
    lg: 8rem, // pages
    xl: 14rem // content cards (announces)
) !default;

// allows to customize content line height to increase readability in large texts set by users
$content-text-line-height: 1.75 !default;

// normalize stripping and make it toggleable though user config
$striped-order:     $table-striped-order;
$striped-color:     var(--#{$prefix}body-color) !default;
$striped-bg-factor: .0375 !default; // default : .05
$striped-bg:        rgba($black, $striped-bg-factor) !default;

// customize labels (form input, details, groups in actions menu, etc.)
$label-text-transform: uppercase !default;
$label-font-size:      $form-label-font-size !default;
$label-color:          var(--#{$prefix}secondary-color) !default;

$form-group-spacer: 2rem !default;
