@import "variables.bootstrap";
@import "variables.old";
@import "variables-dark";

$fa-font-path: "../../packages/@fortawesome/fontawesome-free/webfonts";
$flag-icons-path: "../../packages/flag-icons/flags";

$text-selection-color: $white !default;
$text-selection-bg:    $primary !default;

// colors for SVG theme icons
$icon-primary-color: var(--#{$prefix}primary) !default;
$icon-secondary-color: $gray-900 !default;

// content sizing
$content-sm: 540px !default;
$content-md: 860px !default;
$content-lg: 1180px !default;

$content-sizes: (
        sm: $content-sm,
        md: $content-md,
        lg: $content-lg
) !default;

$icon-sizes: (
    xs: 2rem,
    sm: 3rem,
    md: 4rem,
    lg: 5rem,
    xl: 10rem,
) !default;
