@media print {
    html {
        height: auto !important;
        overflow-y: auto;
    }

    .app-header-container {
        display: none;
    }

    .breadcrumb {
        display: none;
    }

    .page-actions {
        display: none;
    }

    .app .app-menu {
        display: none;
    }

    .app-content .app-footer-container {
        display: none;
    }

    .overview-user-actions {
        display: none;
    }

    .data-list .list-header {
        display: none;
    }

    .checkbox {
        display: none;
    }

    .data-grid-item-select {
        display: none;
    }

    .data-card-toolbar {
        display: none;
    }

    .data-card-flags {
        display: none;
    }

    .alert-detailed {
        display: none;
    }

    .page-icon {
        display: none;
    }

    // Hide right sidebar in blog article page
    .icap_blog-page > .page-content > .row > div:nth-child(2) {
        display: none;
    }

    .data-grid-header {
        display: none;
    }
}
