{% extends "IcapDropzoneBundle:Dropzone:edit.html.twig" %}

{% block drop_zone_content_edit %}
    <h3>
        {{ 'Delete a criterion'|trans }}
    </h3>
    {% include "IcapDropzoneBundle:Dropzone:editDeleteCriterionForm.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}}
{% endblock %}