{% extends "IcapDropzoneBundle:Dropzone:edit.html.twig" %}

{% block drop_zone_content_edit %}
    <h3>
        {% if criterion.id == 0 %}
            {{ 'Add a criterion'|trans({}, 'icap_dropzone') }}
        {% else %}
            {{ 'Edit a criterion'|trans({}, 'icap_dropzone') }}
        {% endif %}
    </h3>
    {% include "IcapDropzoneBundle:Criterion:editAddCriterionForm.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}
{% endblock %}