@import (less) "./node_modules/swagger-ui-react/swagger-ui.css";

.swagger-ui {
    .wrapper {
        max-width: none;
        padding: 0;
    }

    .info .title .version {
        background: none;
        border: none;
    }
}
