<a href="{{ path('claro_resource_show_short', {'id': log.getResourceNode().getUuid()})}}">{{ notification.actionKey|trans({'%wiki%' : notification.details.resource.name, '%section%' : notification.details.section.title}, 'notification') }}</a>
