{% if log.details.post is defined %}
    <a href="{{ path('claro_resource_show_short', {'id': log.getResourceNode().getUuid()}) ~ '#/' ~ log.details.post.title }}">
      <strong>{{ log.details.post.title }}</strong>
    </a>
{% endif %}
