<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <h3>{{sequencePlayCtrl.sequence.meta.title}} - Etape {{sequencePlayCtrl.getCurrentStepIndex()}} / {{sequencePlayCtrl.getNbStep()}}</h3> 
            </div>
            <div class="col-md-4">        
                <span class="pull-right"><strong>{{ 'sequence_attempts_infos'|trans:{"1" : sequencePlayCtrl.sequence.meta.maxAttempts, "2" : sequencePlayCtrl.getNbAttempts()}:'ujm_sequence'}} </strong></span>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <step-show class="step-container" data-step="sequencePlayCtrl.getCurrentStep()"></step-show>
            </div>
        </div>
        <hr/>
        <div class="row pull-right">
            <div class="col-md-12">
                <button role="button" type="button" ng-bootbox-confirm="Alert message!" ng-bootbox-confirm-action="sequencePlayCtrl.validateStep()" class="btn btn-default">
                    {{ 'btn_end_step_label'|trans:{}:'ujm_sequence' }}
                </button>
            </div>
        </div>
    </div>
</div>