{% extends 'ClarolineCoreBundle:Install:layout.html.twig' %}
    {% block content %}
     <div class="col-md-3">
        <h3> Progression</h3>
        <ol class="nav nav-list">
            {%block naviguation %}
            {%endblock %}
        </ol>
        <p>  Progression</p>
        <div class="progress">
        <div class="bar" style="width: 30%;"></div>
        </div>
    </div>
   <div class="col-md-6">

        {%block data %}
            <form role="form" action="{{path('claro_permission')}}" method="get" name="language_form">
              <p>choose your language
              <select name="lg">
                <option value ='fr'> français</option>
                <option value ='en'> english</option>
              </select>
              <input type="submit">
              <p>
          </form>
        {%endblock data %}
  </div>
  <div class="col-md-2">
      <h3> {{ 'hint'|trans({}, 'install') }} </h3>
      <div class="action">
         {{'hint_1'|trans({}, 'install')}}
          </div>
  </div>
  <div class="col-md-12">

</div>

</div>

{% endblock %}
