{% extends 'IcapNotificationBundle:Templates:notification.html.twig' %}
{% set avatarUrlPrefix = asset('uploads/pictures/') %}

{% block notificationText %}
    {% if notification.userId is not empty and notification.details.doer is defined %}
        <a href="{{ path('claro_public_profile_view', {'publicUrl' : notification.userId}) }}"><strong>{{ notification.details.doer.firstName ~ ' ' ~ notification.details.doer.lastName }}</strong></a>
    {% else %}
        <strong>{{ systemName }}</strong>
    {% endif %}
    {% if constant('Icap\\BlogBundle\\Event\\Log\\LogPostCreateEvent::ACTION') == notification.actionKey or
          constant('Icap\\BlogBundle\\Event\\Log\\LogPostUpdateEvent::ACTION') == notification.actionKey or
          constant('Icap\\BlogBundle\\Event\\Log\\LogPostPublishEvent::ACTION') == notification.actionKey
    %}
        {% include 'IcapBlogBundle:Notification:notification_post_create_update.html.twig' %}
    {% elseif constant('Icap\\BlogBundle\\Event\\Log\\LogCommentCreateEvent::ACTION') == notification.actionKey or
              constant('Icap\\BlogBundle\\Event\\Log\\LogCommentUpdateEvent::ACTION') == notification.actionKey or
              constant('Icap\\BlogBundle\\Event\\Log\\LogCommentPublishEvent::ACTION') == notification.actionKey
    %}
            {% include 'IcapBlogBundle:Notification:notification_comment_create_update.html.twig' %}
    {% elseif 'resource-icap_blog-post-user_tagged' == notification.actionKey or 'resource-icap_blog-comment-user_tagged' == notification.actionKey %}
        {% include 'IcapBlogBundle:Notification:notification_user_tagged.html.twig' %}
    {% endif %}
{% endblock %}