@use "sass:math";

.content-heading {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    background: #3d3d3d;
    margin-bottom: $component-margin-bottom;

    @include box-shadow(inset 0 0 60px 15px rgba(0, 0, 0, 0.25));

    .nav-tabs { // should replace the base tabs styles instead
        width: 100%;
        display: flex;
        padding-left: ($grid-gutter-width * .5);
        padding-right: ($grid-gutter-width * .5);

        > li > a,
        > li > button,
        > li > .dropdown > button {
            padding: 15px;
            border-radius: 0;
            color: #fdfdfd;

            &:hover,
            &:focus {
                color: $body-color !important;
            }
        }

        > li > .active,
        > li.active > a,
        > li.active > a:focus,
        > li.active > a:hover,
        > li.active > button,
        > li.active > button:focus,
        > li.active > button:hover,
        .open > button {
            color: $body-color !important;
            background: $body-bg !important;
        }

        .nav-actions {
            margin-left: auto;

            .dropdown > a,
            .dropdown > button {
                margin-right: 0;
            }
        }
    }

    + .data-list {
        margin-top: 0;
    }
}

.content-heading-image {
    flex-shrink: 0;
    margin: $component-margin-bottom ($grid-gutter-width * .5);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;

    > div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        height: 100%;
        width: 100%;

        border-radius: 50%;
    }

    img {
        max-height: 100%;
        max-width: 100%;
    }

    .fa {
        font-size: 72px;
    }
}

.content-heading-info {
    flex: 1;
    color: white;
    margin: $component-margin-bottom ($grid-gutter-width * .5);

    .content-heading-title {
        font-weight: 900;
        margin-top: 0;
    }

    .content-html {
        font-style: italic;
    }
}
