.content-info-block {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-size: $font-size-base;

  .content-info-block-icon {
    width: 2em;
    height: 2em;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;

    @include border-radius($border-radius-pill);
  }

  .content-info-block-content {
    margin: 0;
    font-size: $font-size-base;
  }
}

.content-info-block-lg {
  @include rfs($font-size-lg);

  .content-info-block-content {
    @include rfs($font-size-lg);
  }
}

.content-info-block-sm {
  font-size: $font-size-sm;

  .content-info-block-content {
    font-size: $font-size-sm;
  }
}

$info-block-colors : (
        0:$indigo,
        1:$purple,
        2:$pink,
        3:$orange,
        4:$yellow,
        5:$green,
        6:$teal,
        7:$cyan
) !default;

.content-info-blocks {
  @each $index, $data in $info-block-colors {
    .content-info-block:nth-child(#{$index}) {
      .content-info-block-icon {
        color: shade-color($data, 60%); // same as -emphasis
        background: tint-color($data, 80%); // same as -subtle
      }
    }
  }
}
