@use "sass:math";

.content-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: map-get($spacers, 3);

  background: var(--#{$prefix}tertiary-bg);
  padding: map-get($spacers, 3);
  color: var(--#{$prefix}secondary-color);
}

.content-dates {
  color: var(--#{$prefix}secondary-color);
  font-style: italic;
  font-size: $font-size-sm; // same than .user-micro
  text-align: right;
  > span {
    display: block;

    + span {
      margin-top: 5px;
    }
  }
}
