// find a better naming
// TODO : replace subscription-resume by this
.content-resume {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: var(--#{$prefix}secondary-bg);
  margin-bottom: $component-margin-bottom;

  @include border-radius($border-radius);

  .content-resume-info {
    padding: $panel-body-padding;

    .text-secondary { // TODO : wrong selector. adds its own
      text-transform: uppercase;
    }
  }

  .content-resume-title {
    margin: 0;

    > small {
      display: block;
    }
  }

  .content-resume-primary {
    flex: 1;
  }
}
