// find a better naming
// @deprecated use ContentInfoBlocks
.content-resume {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: var(--#{$prefix}secondary-bg);
  margin-bottom: $component-margin-bottom;

  @include border-radius($border-radius);

  .content-resume-info {
    padding: $panel-body-padding;

    .text-secondary {
      text-transform: var(--#{$prefix}label-text-transform);
      font-size: $label-font-size;
      color: $label-color;
    }
  }

  .content-resume-title {
    margin: 0;

    > small {
      display: block;
    }
  }

  .content-resume-primary {
    flex: 1;
  }
}
