{% extends "ClarolineCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="span12 border">
        {% include 'ClarolineCoreBundle:Profile:list_badge.html.twig' with {'title': 'my_badges'|trans({}, 'platform'), 'pager': pager, 'language': language, 'routeName': 'claro_profile_view_badges'} %}
    </div>
{% endblock %}
