{% extends "ClarolineCoreBundle::content_layout.html.twig" %}

{% block content %}
    {% form_theme profile_form 'ClarolineCoreBundle::form_theme.html.twig' %}
    <form action="{{ path('claro_profile_update') }}" method="post" {{ form_enctype(profile_form) }} id="profile_form">
        {{ form_errors(profile_form) }}
        {{ form_widget(profile_form) }}
        <input type="submit" />
    </form>
{% endblock %}