.resource-tabs {
    border-bottom: none;

    /* Remove border radius of the underline panel */
    + .panel {
        border-top-left-radius: 0;

        .lvl-indicator {
            border-top-left-radius: 0;
        }
    }
}

.resource-inherited.excluded {
    text-decoration: line-through;
    opacity: 0.8;
}

.resource.propagated:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    font-size: 18px;
    content: "\f061";
    position: absolute;
    top: -4px;
    left: 4px;
    height: 20px;
    width: 20px;
}

.excluded-resource {
    text-decoration: line-through;
    color: #999;
}