<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">{{ currentStep.name }}</h4>
    </div>
    <div class="panel-body">
        {{ currentStep.instructions | raw }}
    </div>
</div>