<div id="full-path-notice">
    Vous pouvez afficher l'arborescence complète du parcours en cliquant sur le bouton 
    <a class="tree-browser btn btn-default nav-button" href="#" data-toggle="modal" data-target="#full-tree" rel="tooltip" data-original-title="{{ 'full_tree' | trans({}, 'innova_tools') }}"> 
        <span class="icon-list"></span>  
    </a> - 
    Ce bouton sera accessible en haut à gauche à n'importe quelle étape de votre progression.
</div>