<div id="full-path-notice">
    {{ 'full_path_notice_1' | trans({}, 'path_player') }} 
    <a class="tree-browser btn btn-default nav-button" href="#" data-toggle="modal" data-target="#full-tree" rel="tooltip" data-original-title="{{ 'full_tree' | trans({}, 'path_player') }}"> 
        <span class="icon-list"></span>  
    </a> - 
    {{ 'full_path_notice_2' | trans({}, 'path_player') }}
</div>