 <div id="my-favorites" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ 'my_favorites' | trans({}, 'path_player') }}</h4>
            </div>
            <div class="modal-body">
                Cette icône permet d'accéder, en contexte, aux ressources personnelles de l'utilisateur, dont ses raccourcis.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close' | trans({}, 'innova_tools') }}</button>
            </div>
        </div>
    </div>
</div>


