{% set history = app.session.get('history') %}
{% set visitedSteps = history[path.id] %}

<div class="panel panel-default">
	<div class="panel-heading">
	  	<h4 class="panel-title">
	    	<a data-toggle="collapse" href="#collapseOne">
	      		<span class="icon-time"></span> Historique 
	   		</a>
	  	</h4>
	</div>
	<ul id="collapseOne" class="list-group collapse in">
		{% for i, visitedStep in visitedSteps if i < 10 and i > 0 %}
			{% for stepId, step in visitedStep %}
				<li class="list-group-item"> 
					<a href="{{ path('innova_path_player_index', { workspaceId: workspace.id, pathId: path.id, stepId: stepId }) }}">
						<span class="lvl-indicator lvl-{{  step["level"] + 1 }}">&nbsp;</span>
						<span>{{ step["name"] }}</span>
					</a>
				</li>
			{% endfor %}
		{% endfor %}
	</ul>
 </div>