<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <span class="icon-folder-open"></span>
            Resources
        </h4>
    </div>
    <div class="panel-body">
    </div>
</div>