{% import 'InnovaPathBundle::Player/components/macros.html.twig' as macros %}

<div id="resources-btn">
    <ul class="nav nav-tabs">
        {# Display inherited resources from parents #}

        {# Display secondary resources of the Step #}
        {% for resource in currentStep.parameters.secondaryResources %}
            {{ macros.displayResourceButton(resource, currentStep) }}
        {% endfor %}
    </ul>
</div>
