{% import _self as localMacros %}
{% macro displayTreeItem(item) %}
    {% import _self as localMacros %}
    <li>
        <a href="#">{{ item.name }}</a>
        {% if item.children is not empty %}
        <ul>
            {% for child in item.children %}
            {{ localMacros.displayTreeItem(child) }}
            {% endfor %}
        </ul>
        {% endif %}
    </li>
{% endmacro %}

<ul>
    {{ localMacros.displayTreeItem(path.getRootStep()) }}
</ul>