{% import 'InnovaPathBundle::Player/components/macros.html.twig' as macros %}

<div id="full-tree" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ path.resourceNode.name }}</h4>
            </div>
            <div class="modal-body">
                <ul>
                {% set parents = currentStep.getParents() %}
                {{ macros.displayTreeItem(path.getRootStep(), parents, currentStep, path, workspace) }}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close' | trans({}, 'innova_tools') }}</button>
            </div>
        </div>
    </div>
</div>