/*
 * Data grid.
 */

@data-grid-gutter: 10px;
@data-grid-cols-sm: 5;
@data-grid-cols-md: 3;
@data-grid-cols-lg: 1;

.data-grid {
    margin-bottom: @component-margin-bottom;
}


// -
// Header
// ---

.data-grid-header {
    border: 1px solid transparent;
    padding: @data-grid-gutter 0 @data-grid-gutter @data-grid-gutter;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    > .checkbox {
        margin: 0;
    }
}

.data-grid-sort {
    display: flex; // correct vertical align
    flex-direction: row;
    margin-left: auto;
    .btn-link {
        padding: 0 @data-grid-gutter;
        border: none;
        font-weight: bold;
    }

    > .btn-link { // really ugly
        border-left: 1px solid #ccc;
    }
}

// customizes bulk actions
.data-grid .list-selected {
    border: 1px solid transparent;
    margin-bottom: @data-grid-gutter;

    // mimic checkboxes for proper alignment with "select all" checkbox
    .list-selected-label {
        position: relative;
        padding: @data-grid-gutter @data-grid-gutter @data-grid-gutter @data-grid-gutter + 20px;

        .fa {
            position: absolute;
            margin-left: -20px;
            margin-top: 3px; // arbitrary
            width: 16px;
        }
    }

    .btn {
        padding: @data-grid-gutter;
    }
}


// -
// Content & Items
// ---

.data-grid-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -@data-grid-gutter; // absorb items margin

    // remove <ul> styles
    list-style-type: none;
    padding: 0;
}

.data-grid-item-container {
    padding: @data-grid-gutter;
}

.data-grid-item {
    display: flex;
    position: relative; // constrain selection checkbox and actions btn
    width: 100%; // fill container
    height: 100%; // fill container
    border: 1px solid @panel-default-border;
    background: @panel-bg;

    .border-radius(@panel-border-radius);
    .box-shadow(@box-shadow-base);

    .item-select {
        z-index: 2;
        position: absolute;
        margin: 0;
        top: @data-grid-gutter;
        left: @data-grid-gutter;
    }

    // item actions dropdown
    > .dropdown { // item actions (I can not add a better selector because of `react-bootstrap`)
        position: absolute;
        top: -1px; // absorb btn border
        right: -1px; // absorb btn border

        .btn {
            padding: @data-grid-gutter;
        }

        &.open {
            .btn {
                position: relative;
                background: #eee;
                border-color: @dropdown-border;
                border-bottom-color: @dropdown-bg;
                box-shadow: @dropdown-menu-box-shadow;
                background-clip: padding-box;
            }
        }

        .dropdown-menu {
            margin-top: -1px;
        }
    }

    .item-icon-container {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 30px;
        background: rgba(255, 255, 255, .5);
        border-radius: 50%;
        line-height: 0;

        // for FA icons
        color: rgba(0, 0, 0, 0.5) !important;

        // for SVG icons
        fill: rgba(0, 0, 0, 0.5) !important;
        stroke: rgba(0, 0, 0, 0.5) !important;

        img {
            border-radius: 50%;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .item-header {
        position: relative; // constrain flags
        text-align: center;
        background: #f9f9f9;
    }

    .item-flags {
        cursor: help;
        position: absolute;
        bottom: @data-grid-gutter;
        right: @data-grid-gutter;

        .item-flag+.item-flag {
            margin-left: floor(@data-grid-gutter / 2);
        }
    }

    .item-content {
        color: @text-color; // reset color when card is clickable (uses a <a> tag)
        display: flex;
        flex-direction: column;
    }

    .item-title {
        margin: @panel-body-padding;
        padding: 0;
        font-size: @font-size-base;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;

        > small {
            margin-top: 5px;
            display: block;
        }
    }

    .item-description {
        font-size: @font-size-small;
        line-height: @line-height-base;
        text-align: justify;
        padding: 0 @panel-body-padding;
        margin: 0 @panel-body-padding @panel-body-padding;
        max-height: @line-height-base * 5em;
        overflow: hidden;
    }

    .item-footer {
        margin-top: auto; // ensure footer is always at the bottom
        font-size: @font-size-small;
        text-align: right;
        padding: 0 @panel-body-padding @panel-body-padding;
        color: @text-muted;
        font-style: italic;
    }

    &:hover {
        background-color: @table-bg-hover;

        .item-header {
            background: #ededed;
        }
    }

    &.selected {
        background-color: @state-info-bg;
        border-color: #abcfe0; // todo : use a var same as .table

        .box-shadow(0 0 2px fadeOut(@brand-info, 65%));

        .item-header {
            background: #bfe3f4;
            border-color: #abcfe0 !important;
        }

        &:hover {
            background-color: #bfe3f4;

            .item-header {
                background: #b5d9ea;
            }
        }
    }
}


// -
// Sizing
// ---

.data-grid-sm {
    .data-grid-item-container {
        flex: 0 0 (100% / @data-grid-cols-sm);
        max-width: 100% / @data-grid-cols-sm;
    }

    .item-icon-container {
        font-size: 36px; // for FA icons
        width: 60px;
        height: 60px;
    }

    .data-grid-item {
        .grid-item-vertical-variant();
    }
}

.data-grid-md {
    .data-grid-item-container {
        flex: 0 0 (100% / @data-grid-cols-md);
        max-width: 100% / @data-grid-cols-md;
    }

    .item-icon-container {
        font-size: 48px; // for FA icons
        width: 100px;
        height: 100px;
    }

    .data-grid-item {
        .grid-item-vertical-variant();

        .item-title {
            font-size: 16px; // increase size todo should be a var
        }
    }
}

// in this case we will put header and content on the same line
.data-grid-lg {
    .item-icon-container {
        font-size: 48px; // for FA icons
        width: 100px;
        height: 100px;
    }

    .data-grid-item-container {
        flex: 0 0 (100% / @data-grid-cols-lg);
        max-width: 100% / @data-grid-cols-lg;
    }

    .data-grid-item {
        .grid-item-horizontal-variant();

        .item-title {
            font-size: 16px; // increase size todo should be a var
        }
    }
}
