
.grid-item-vertical-variant() {
    flex-direction: column;

    .item-header {
        border-bottom: 1px solid #ddd;
    }

    .item-content {

    }
}

.grid-item-horizontal-variant() {
    flex-direction: row;

    .item-header {
        min-width: 100% / 3;
        border-right: 1px solid #ddd;
    }

    .item-content {

    }
}
