<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">You are editing player : {{player.name}}</h3>
    </div>
    <div class="panel-body">        
        <div class="row">
            <div class="col-md-12">
                player name : {{player.name}}
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                player name : {{player.name}}
            </div>
        </div>
        <hr/>
    </div>
</div>