<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$close()">&times;</button>
        <h4>{{ title }}</h4>
    </div>
    <div class="modal-body">
        {{ content }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="submit($scope)"> validate </button>
        <div class="btn btn-default" data-dismiss="modal" ng-click="$close()"> cancel </div>
    </div>
</div>