<div class="row">
    <div class="col-md-12">
        <!-- links row (accueil, liste copies, retry) -->
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <a class="btn btn-default" data-ng-href="{{paperCtrl.generateUrl('exercise-home', paperCtrl.exoId)}}">{{ 'link_exercice_home'|trans:{}:'ujm_sequence' }}</a>
                    <a class="btn btn-default" data-ng-if="paperCtrl.context === 'from-list'" data-ng-href="#/">{{ 'paper_list'|trans:{}:'ujm_sequence' }}</a>
                    <a class="btn btn-default" data-ng-href="{{paperCtrl.generateUrl('exercise-play', paperCtrl.exoId)}}">{{ 'link_exercise_retry'|trans:{}:'ujm_sequence' }}</a>
                </div>
            </div>
        </div>
        <hr/>
        <!-- Note row -->
        <div class="row">
            <div class="col-md-12">
                <span>{{ 'label_exercise_score'|trans:{}:'ujm_sequence' }} : </span> <span> <strong>{{paperCtrl.note}} / 20 </strong></span>
            </div>
        </div>
        <hr/>
        <!-- question list row -->
        <div class="row" >
           {{paperCtrl.paper}}
        </div>
    </div>
</div>
        

