<a href="{{ url("claro_cas_login") }}" type="button" id="cas-connect-btn" class='btn cas-connect btn-third-party-login btn-block'>
    {{ 'login_with_third_party'|trans({'%name%':name}, 'platform') }}
</a>