.list_badges {
    .icon-warning-sign {
        color: orange;
    }
    .icon-exclamation-sign, .icon-remove-circle {
        color: red;
    }
    .icon-ok-sign, .icon-ok-circle {
        color: green;
    }
}

.badge_list {
    .node-thumbnail {
        margin: 5px 0 0 5px;
        .thumbnail {
            width:           150px;
            height:          110px;
            .badge_name {
                color:           #333333;
                white-space:     nowrap;
                overflow:        hidden;
                text-overflow:   ellipsis;
                text-align:      center;
            }
            &:hover {
                color:           #333333;
                text-decoration: none;

            }
        }
        .add_button {
            height:       110px;
            width: 150px;
            border:       3px dashed #8F8F8F;
            padding-top:  20px;
            &:hover {
                background-color: #f5f5f5;
                border-color:     #428bca;
            }
        }
    }
}

.nodes {
    padding: 0;
}

.badge_image {
    width:  64px;
    height: 64px;
}

.badge_image_informations {
    width:  128px;
    height: 128px;
}

.badge_management_container {
    .collections_container {
        padding-right: 0;
        padding-left:  0;

        h3 {
            margin-top:  0;
            margin-left: 10px;
        }

        .collections_list {
            border-right:  1px solid #e3e3e3;
            height:        400px;
            overflow:      auto;
            padding:       10px 10px 0 10px;

            .collection {
                padding-top:  0;
                padding-left: 0;
                padding-right: 0;

                .badge_image_mini {
                    width:  36px;
                    height: 36px;
                }
                .collection_title {
                    margin-bottom: 0;
                    margin-top:    0;
                    padding-top: 5px;
                    padding-left: 5px;
                    white-space:   nowrap;
                    overflow:      hidden;
                    text-overflow: ellipsis;
                }
                header {
                    border-bottom: 1px solid #e3e3e3;
                    height:        28px;

                    .btn-group {
                        .btn-primary {
                            border-top-left-radius:    0;
                            border-bottom-left-radius: 0;
                        }
                        .btn-danger {
                            border-bottom-right-radius: 0;
                        }
                        .btn {
                            padding: 4px 7px;
                        }
                    }
                    .collection_title_input {
                        width:  auto;
                        height: 28px;
                    }
                }
                .badges {
                    margin-top:  10px;
                    margin-left: 19px;
                }
            }

            .no_collection {
                .collection_title {
                    margin-bottom: 0;
                }
            }

            .collection_state_drag_start {
                border: 2px dashed grey;
            }

            .collection_state_hover {
                box-shadow: 0 0 12px #aaa inset;
            }
        }
    }
    .badge_list {
        height:        500px;
        overflow:      auto;
        margin-bottom: 0;
        padding:       5px;
    }
}

/**** Form style ****/
.badges_infos {
    .form-group {
        margin-left: 0;
    }
    #change_image {
        position: absolute;
        top:      95px;
        left:     0;
        width:    100%;
    }
    #current_image {
        background-color: #f5f5f5;
    }
    .file_upload {
        position: relative;
        overflow: hidden;

        input[type=file] {
            position: absolute;
            top: 128px;
            right: 0;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }
}
.thumbnail {
    height:      128px;
    padding-top: 15px;
}

.thumbnail_dropdown {
    padding-top: 25px;
}

.upload_image_placeholder {
    padding-top: 30px;
}

#translationFormTabs {
    margin-bottom: 0;
    border-bottom: 0;
    &> li > a {
        &.has-error {
            background-color: #FDDCDC;
            &:hover {
                border-color: #b94a48 #b94a48 transparent;
                background-color: #FACACA;
            }
        }
    }
    &> li.active > a {
        background-color: #f5f5f5;
        &:hover {
            background-color: #f5f5f5;
        }
        &.has-error {
            border-color: #b94a48 #b94a48 transparent;
            background-color: #FDDCDC;
        }
    }
}

.badge_translations {
    border-top:             0;
    padding-right:          32px;
    border-top-left-radius: 0;
}

#award_user_modal {
    min-width: 650px;

    .modal-body {
        max-height: 500px;
    }
}

.users_container {
    max-height: 400px;
    overflow: auto;
}

ul.user_badges {
    & > li {
        padding: 0;

        a:hover {
            &> span {
                background-color: #333333;
            }
        }

        &:hover {
            .close {
                visibility: visible;
            }
        }

        .close {
            visibility: hidden;
            margin-top: -10px;
        }
    }
}

#award_form_container {
    display: none;
}

.flag {
    margin-left: 10px;
}

.form-actions {
    clear: both;
    text-align: center;
    padding: 19px 20px 20px;
}

.panel-body {
    padding-left: 10px;
}

table.no_margin {
    margin: 0;
}

form{
    .row {
        margin-left:  0;
        margin-right: 0;
    }
}

.badges_rules {
    .rules {
        border:           1px solid #ddd;
        padding-top:      15px;
        padding-bottom:   15px;
        background-color: #f5f5f5;
        select {
            display: inline-block;
        }
    }
    .nav-tabs {
        #add_rule a {
            cursor: pointer;
        }
        border-bottom: 0;
        & > li > a {
            margin-right:       0;
            border-radius:      4px 0 0 0;
            border-bottom:      0;
        }
        & > li.active {
            & > a, & > a:hover, & > a:focus {
                border-right-color: transparent;
                border-bottom:      1px solid #dddddd;
                background-color:   #f5f5f5;
                margin-right:       -1px;
                z-index:            1;
            }
        }
    }
    .nav-stacked {
        padding-right: 0;
        & > li + li {
            margin-top: 0;
        }
    }
    .rules {
        .row {
            padding-left:  15px;
            margin-bottom: 10px;
        }
    }
}

.badge_infos {
    .alert {
        margin-top: 20px;
    }
}

.fullwidth {
    width: 100%;
}