.content-counter {
  display: inline-flex;
  align-items: center;
  margin-top: @component-margin-bottom;
  margin-bottom: @component-margin-bottom;
  padding: 0 @grid-gutter-width;

  + .content-counter {
    border-left: 1px solid #ccc;
  }

  > .fa {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 26px;
    width: 64px;
    height: 64px;
    border-radius: 50%;

    margin-right: 15px;
  }

  h1 {
    margin: 0;
    font-weight: 900;
  }

  small {
    display: block;
    margin-bottom: 5px;
  }
}