.overview-user-actions {
  margin-top: @component-margin-bottom;
  margin-bottom: @component-margin-bottom;

  .alert,
  .btn {
    margin-bottom: 0;
    padding: @padding-large-vertical @padding-large-horizontal;

    + .alert,
    + .btn {
      margin-top: 5px;
    }
  }
}
