{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}

<h4>{{ 'workspace.create'|trans({}, 'ClarolineWorkspaceBundle') }} : </h4>

<form action="{{ path('claro_workspace_create_workspace') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>

{% endblock %}