
@import "../../less/mixins";
@import "../../less/themes/default/variables";

.center-page-title {
  text-align: center;
}

.tool-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: floor(@grid-gutter-width / 2);
  background: @panel-body-padding;
  border: 1px solid @panel-default-border;

  border-radius: @border-radius-base;
  .box-shadow(@box-shadow-base);

  .nav-tab {
    border-right: 1px solid @panel-default-border;
    border-bottom: 1px solid @panel-default-border;
  }

  .nav-add-tab,
  .nav-tab {
    color: @text-color;
    padding: @padding-large-vertical @padding-large-horizontal;

    &:hover {
      background: rgba(0,0,0,.03);
      color: rgba(0,0,0,.95);
    }

    &.active {
      background: #ebebeb;
    }
  }
}
