
@import "../../less/mixins";
@import "../../less/themes/default/variables";

.center-page-title {
  text-align: center;
}


.tool-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: floor(@grid-gutter-width / 2);
  background: @panel-body-padding;
  border: 1px solid @panel-default-border;


  .box-shadow(@box-shadow-base);

  .nav-tab {
    border-right: 1px solid @panel-default-border;
    border-bottom: 1px solid @panel-default-border;
  }

  .tab-icon {
    margin-right: 0.3em;
  }

  .nav-add-tab,
  .nav-tab {
    color: @text-color;
    padding: @padding-large-vertical @padding-large-horizontal;
    background-color: #fafafa;


    &:hover {
      background: #f2f2f2;
      color: rgba(0,0,0,.95);
    }

    &.active {
      background: #ebebeb;
    }
    &.default {
      background-color: #fafafa;
    }
  }
}
