
@import "../../less/mixins";
@import "../../less/themes/default/variables";

.tool-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-self: flex-start;
  justify-content: flex-start;
  align-items: center;

  margin: 0 floor((@grid-gutter-width / 2) - 5px);

  .nav-tab-hidden {
    color: @text-muted;
    text-decoration: line-through;
  }

  .nav-add-tab,
  .nav-tab {
    position: relative;
    color: @text-color;
    padding: @padding-large-vertical @padding-large-horizontal;
    margin: 5px;
    background: #ebebeb;
    border: 1px solid transparent;
    border-radius: @border-radius-small;

    &:hover {
      background: white;
      .box-shadow(@box-shadow-base);
    }

    &.active {
      border-color: @brand-primary; // can be overridden by tab config
      background: @brand-primary; // can be overridden by tab config

      .text-movie-subtitles();
      .box-shadow(0 0 3px rgba(0, 0, 0, 0.5));

      &:after {
        position: absolute;
        content: " ";
        width: 0;
        height: 0;
        left: 50%;
        top: 100%;
        transform: translate(-50%, 0);
        border-style: solid;
        border-width: 5px 5px 0 5px;

        // attention : this can not be written with short syntax
        border-color: transparent;
        border-top-color: inherit;
      }
    }
  }
}
