<div ng-class="nc.field[2].error ? 'has-error' : ''">
    <label class="control-label col-sm-3" ng-if="!nc.field[2].noLabel">
        {{ nc.label|trans:{}:nc.translationDomain }}
    </label>
    <div ng-class="nc.field[2].noLabel ? 'col-sm-12' : 'col-sm-9'">
        <input ng-disabled="nc.field[2].disabled" class="form-control" type="number" ng-model="nc.ngModel" name="{{ nc.name }}">
        <help-block ng-model="nc.ngModel" field="nc.field"></help-block>
        <div class="help-block field-error" ng-if="nc.field[2].error">{{ nc.field[2].error }}</div>
    </div>
</div>
