{% for heritedResourceName,heritedResource  in heritedResources %}
	<div class="panel panel-default">
		<div class="panel-heading">Héritées de <strong>{{ heritedResourceName }}</strong></div>
		<div class="panel-body">
		{% for resource  in heritedResource %}
		    {% if resource.id %}
		        <li> 
		             <a target="_blank" href="{{ path('claro_resource_open', {'resourceType': resource.resourceType.name, 'node': resource.id })  }}?_mode=path">{{ resource.name }}</a>
		        </li>
		    {% endif %}
		{% endfor %}
		</div>
	</div>
{% endfor %}
	 


  
 
 