<div id="newSectionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Nouvelle section</h3>
            </div>
            <div class="modal-body">
                blalblalblalblalbla nlle section
                {% include "ICAPWikiBundle:Wiki:createSectionForm.html.twig"%}

            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans %}Cancel{% endtrans %}</button>
                <button id="createSectionModal-submit" class="btn btn-primary"><i class="icon-bookmark icon-white"></i> {% trans %}Create{% endtrans %}</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('form[id="createSection-form"] > input[type="submit"]').hide();

            $('#createSectionModal-submit').on('click', function () {
                //I do the "click" on submit button for keep html5 warning
                $('form[id="createSection-form"] > input[type="submit"]').trigger('click');
            });
        });
    </script>
</div>