{% extends 'IcapWikiBundle::layout.html.twig' %}

{% trans_default_domain "icap_wiki" %}

{% block title %}{{ wiki.resourceNode.name }}{% endblock %}

{% block wiki_panel %}
    <p>           
        <a href="{{ path('icap_wiki_view', {"wikiId": wiki.id}) }}">
            <span class="icon-angle-left"></span>
            {{ 'back_to_wiki'|trans({}, 'icap_wiki') }}
        </a>
    </p>
    {% block wiki_content %}
        <div>
            {% include "IcapWikiBundle:Wiki:deleteSectionForm.html.twig"%}
        </div>
    {% endblock %}
{% endblock%}

{% block javascripts %}
    {{ parent() }}
{% endblock %}