<form id="createSection-form" name="icap_wiki_create_section" method="POST" class="form-vertical" action="{{ path("icap_wiki_add_section", {'wikiId': wiki.id, 'parentSectionId' : parentSectionId }) }}">
    <div class="control-group">
        <div class="controls">
            {{ form_errors(form.name) }}
            {{ form_widget(form) }}
        </div>
    </div>
    {{ form_rest(form) }}
    <input type="submit" value="{% trans %}Create{% endtrans %}" class="btn btn-primary"/>
</form>