.activity-calendar-container {

}

.activity-calendar {
  width: 100%;
  border-collapse: separate;
  border-spacing: 3px;

  th, td {
    line-height: 1;
    padding: 0;
  }

  th {
    font-size: $label-font-size;
    color: $label-color;
    text-transform: var(--#{$prefix}label-text-transform);
    font-weight: $font-weight-base;
  }
}

.activity-calendar-day-label {
  //width: 30px;
}

.activity-calendar-day {
  border-radius: 2px;
  width: 12px;
  height: 12px;

}

.activity-calendar-day-0 {
  background-color: var(--#{$prefix}secondary-bg);
}
.activity-calendar-day-1 {
  background-color: rgba($pink-500, .25);
}
.activity-calendar-day-2 {
  background-color: rgba($pink-500, .50);
}
.activity-calendar-day-3 {
  background-color: rgba($pink-500, .75);
}
.activity-calendar-day-4 {
  background-color: rgba($pink-500, 1);
}

.activity-calendar-legend {
  font-size: $font-size-sm;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
  margin-top: map-get($spacers, 1);
}

.activity-calendar-day-legend {
  display: inline-block;
}
