{% extends 'ClarolineGUIBundle::app_layout.html.twig' %}

{% form_theme form 'ClarolineRegisterBundle::labels.html.twig' %}

{% block content %}

<h4>{{ 'register.application.name'|trans({}, 'ClarolineRegisterBundle') }}</h4>

<form action="{{ path('claroline_register_index') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>

{% endblock %}