    <a class="btn btn-default" data-toggle="collapse" data-target="#collepseinteractions">Dupliquer</a>
    <div id="collepseinteractions" class="list-group collapse">    
        <br /><div id="divnbq" class="form-group row">
        <label class="control-label ">
        {{ "duplicate this question" | trans | raw }}
    </label>
    </div>
</div>
