  <a class="btn btn-default" data-toggle="collapse" data-target="#collepseinteractions">Dupliquer</a>
    <div id="collepseinteractions" class="list-group collapse">    
     <div id="divnbq" class="form-group raw">
        <label class="control-label col-md-9">
        {{ "duplicate_this_question" | trans | raw }}
    </label>
    </div>
</div>