<p><h4>{{ interactionToDisplayed.interaction.question.title }}</h4></p>

{% if interactionToDisplayed.interaction.question.description != null %}
    <p>{{ interactionToDisplayed.interaction.question.description|raw }}<p/>
    <hr/>
{% endif %}

<p>{{ interactionToDisplayed.interaction.invite|raw }}<p/>
<hr/>
