<hr>

<div>
    <div class="form-group row">
        {{ form_label(form.question.model) }}
        <div class="col-md-3">
            {{ form_widget(form.question.model) }}
        </div>
    </div>
</div>
