
.alert-detailed {
    display: flex;
    align-items: flex-start;
    text-align: left;

    .alert-icon {
        font-size: 26px;
        margin-right: 15px;
        opacity: .4;
    }

    .alert-content {
        flex: 1;
        font-style: italic;
    }

    .alert-title {
        display: block;
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        line-height: 1;
        margin: 0 0 5px;
    }

    .alert-text {
        text-align: justify;
        margin: 0;
    }
}

/*.alert-block-variant(@background; @border; @text-color) {

}*/
