
.alert-detailed {
    display: flex;
    align-items: flex-start !important; // to override base .alert align
    text-align: left;

    .alert-icon {
        font-size: 24px;
        margin-right: 15px;
        opacity: .4;
    }

    .alert-content {
        flex: 1;
    }

    .alert-title {
        display: block;
        font-size: 16px;
        font-weight: bold;
        line-height: 24px; // same as icon, for correct alignment
        margin: 0 0 5px;
    }

    .alert-text {
        text-align: justify;
        margin: 0;
        font-style: italic;
    }
}
