<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$close()">&times;</button>
        <h4> {{ 'import_users'|trans:{}:'platform' }} </h4>
    </div>
    <form id="csv-group-members-form" method="post" enctype="multipart/form-data" ng-submit="immc.submit()">
    <div class="modal-body">
        <div class="well">
            <div> {{ 'csv_format_user_list'|trans:{}:'platform' }} </div>
        </div>
        <div>
            {{ 'csv_select'|trans:{}:'platform' }}
            <input type="file" name="csv" id="csv-group-members" class="form-control"></input>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" name="submit" class="btn btn-primary pull-left">
    </div>
    </form>
</div>
