<div>
    <div>
        <uib-alert ng-repeat="alert in uc.alerts" type="{{ alert.type }}" close="uc.closeAlert($index)">{{ alert.msg }}</uib-alert>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="uc.clickDelete()"> {{ 'delete'|trans:{}:'platform' }} </a></li>
                <li><a href="#" ng-click="uc.initPassword()"> {{ 'reset_password'|trans:{}:'platform' }} </a></li>

                <li role="separator" class="divider"></li>
                <li><a href="{{ 'claro_admin_user_creation_form'|path:{} }}"> {{ 'new'|trans:{}:'platform' }} </a></li>
                <li><a href="#" ng-click="uc.csvRemove()"> {{ 'csv_delete'|trans:{}:'platform '}} </a></li>
                <li><a href="{{ 'claro_admin_import_users_form'|path:{} }}"> {{ 'import'|trans:{}:'platform'}} </a></li>
                <li><a ui-sref="users.groups.list"> {{ 'manage_group'|trans:{}:'platform' }} </a></li>

                <li role="separator" class="divider"></li>
                <li><a href="{{ 'import_profile_pics_form'|path:{} }}">{{ 'import_profile_pics'|trans:{}:'platform' }}</a></li>
                <li><a href="{{ 'claro_admin_workspace_tool_config_index'|path:{} }}">{{ 'personal_workspace_tools_management'|trans:{}:'platform' }}</a></li>
                <li><a href="{{ 'claro_admin_personal_workspace_resource_rights'|path:{} }}">{{ 'claro_admin_personal_workspace_resource_rights'|trans:{}: 'platform' }}</a></li>
                <li><a href="{{'claro_admin_facet_index'|path:{} }}"> {{ 'profile_management'|trans:{}:'platform' }} </a></li>

                <li role="separator" class="divider"></li>
                <li><a href="{{ 'claro_admin_export_users'|path:{'format': 'xls'} }}"> {{ 'excel_export'|trans:{}:'platform' }} </a></li>
                <li><a href="{{ 'claro_admin_export_users'|path:{'format': 'csv'} }}"> {{ 'csv_export'|trans:{}:'platform' }} </a></li>
            </ul>
        </div>
    </div>
    <div align="center" class="action-bar">
        <div class="panel-body">
            <clarolinesearch on-search="uc._onSearch" fields="uc.fields"></clarolinesearch>
        </div>
    </div>
    <div>
        <dtable options="uc.dataTableOptions" rows="uc.users" class="material" on-page="uc.paging(offset, size)" selected="uc.selected"></dtable>
    </div>
</div>
