<div data-ui-tree="treeOptions">
    <ol class="tree" data-ui-tree-nodes="" data-ng-model="path.steps" data-nodrop>
        <li data-ui-tree-node="" data-ng-repeat="step in path.steps" data-ng-include="'{{ asset('bundles/innovapath/angularjs/Step/Partial/tree.html') }}'" onload="isRootNode = ($index == 0)"></li>
    </ol>
</div>