/* app css stylesheet */
.modal-backdrop {
    z-index: 1;
}

.panel-path-editor {
    position: relative;
}

.editor-buttons {
    margin: 6px;
    position: absolute;
    top: 0;
    right: 0;
}

.panel-path-editor .panel > .table {
	margin-top: -1px;
}

.preview-step h3 {
    font-size: 16px;
    margin: 4px 0;
    line-height: 20px;
}

li {
    list-style: none;
}

.tree-item {
    cursor: pointer;
    line-height: 24px;
}

.top-toolbar .divider {
    display: inline-block;
    line-height: 28px;
    font-size: 24px;
    padding: 0 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#zone li{
    position:relative;
}

ul {
    min-height: 5px;
}

form {
    margin: 0 0 5px;
}

.placeholder {
    background: #CCCCCC;
    min-height: 10px;
    border: 1px dashed #010101;
    margin-bottom: 15px;
}

.btn-templates {
    position: fixed;
    left: -42px;
    top: 172px;
    margin: 0;
    
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg); 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

table td.actions {
    text-align: right !important;
}

table td.icon {
    width: 24px;
    text-align: center !important;
}

.preview-step .icons {
    text-align: center;
    background-color: #FFFFFF;
    margin: 10px auto;
    border-radius: 3px;
    padding: 6px;
    border: 1px solid rgb(227, 227, 227);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    min-height: 32px;
}

.preview-step .icons img {
    margin: 0 6px;
}

.preview-step p {
	margin: 0;
}

.preview-step .icons .duration {
    line-height: 24px;
    font-size: 16px;
    padding: 3px 8px;
    padding-left: 26px;
    background: url("../images/icons/time.png") no-repeat 6px center rgb(245, 245, 245);
    display: inline-block;
    border: 1px solid rgb(227, 227, 227);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}

.preview-step .picture {
    text-align: center;
}

.preview-step .panel-heading {
	position: relative;
}

.excluded-resource {
    text-decoration: line-through;
    color: #999;
}

.parent-resources-count {
    font-size: 12px;
    color: rgb(51, 51, 51) !important;
    font-weight: normal;
}

.preview-step .panel-heading a:hover,
.panel-documents .panel-heading a:hover,
.panel-tools .panel-heading a:hover {
    text-decoration: none;
}

.indent {
    padding-right: 8px;
}

.step-buttons {
    margin: 2px;
    position: absolute;
    top: 0;
    right: 0;
}

.preview-step {
    position: relative;
}

.tree {
    padding-left: 0;
}

.tree a:hover,
.tree a:focus,
.tree a:active {
    text-decoration: none;
}

.step-name {
    margin-left: 4px;
}

#templates-sidebar {
    margin-top: 50px;
}

#templates-sidebar h2 {
    font-size: 18px;
    margin: 4px 0;
    line-height: 22px;
    font-weight: normal;
}

.tree-item {
    padding: 2px 8px;
    border-radius: 4px;
}

.tree-item:hover {
    background-color: rgb(235, 235, 235);
}

input.form-control.ng-invalid {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.form-control.ng-invalid:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

input.form-control.ng-valid {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.form-control.ng-valid:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

.preview-step .panel:last-child {
    margin-bottom: 0;
}

#panel-documents .panel-collapse .table,
#panel-tools .panel-collapse .table {
    margin-bottom: 0;
}

.active-step,
.active-step:hover,
.active-step:focus,
.active-step:active {
    background-color: rgb(66, 139, 202);
    color: white;
}

.panel-path-editor .tooltip-inner {
	white-space: nowrap;
}