.badge_list .node-thumbnail .thumbnail {
  width: 150px;
  height: 110px;
}
.badge_list .node-thumbnail .thumbnail .node-name {
  color: #333333;
  text-decoration: none;
}
.badge_list .node-thumbnail .thumbnail:hover {
  color: #333333;
  text-decoration: none;
}
.badge_list .node-thumbnail .add_button {
  height: 110px;
  width: 150px;
  border: 3px dashed #8F8F8F;
  padding-top: 20px;
}
.badge_list .node-thumbnail .add_button:hover {
  background-color: #f5f5f5;
  border-color: #428bca;
}
.nodes {
  padding: 0;
}
.thumbnails.badge_user_list > li {
  margin-left: 5px;
}
.badge_image {
  width: 64px;
  height: 64px;
}
.badge_image_informations {
  width: 128px;
  height: 128px;
}
.badges_infos .form-group {
  margin-left: 0;
}
.badges_infos #change_image {
  position: absolute;
  top: 95px;
}
.badges_infos #current_image {
  background-color: #f5f5f5;
}
.thumbnail {
  height: 128px;
  padding-top: 20px;
}
.thumbnail > img {
  height: 64px;
}
#translationFormTabs {
  margin-bottom: 0;
  border-bottom: 0;
}
#translationFormTabs> .active > a {
  background-color: #f5f5f5;
}
.badge_translations {
  border-top: 0;
  padding-right: 32px;
}
#award_user_modal {
  min-width: 650px;
}
#award_user_modal .modal-body {
  max-height: 500px;
}
.users_container {
  max-height: 400px;
  overflow: auto;
}
ul.user_badges > li {
  padding: 0;
}
ul.user_badges > li a:hover> span {
  background-color: #333333;
}
ul.user_badges > li:hover .close {
  visibility: visible;
}
ul.user_badges > li .close {
  visibility: hidden;
  margin-top: -10px;
}
.badge_container {
  padding-left: 10px;
}
.badge_container .side_link {
  border-left: 1px solid #eee;
  text-decoration: none;
  min-width: 41px;
  text-align: center;
}
#award_form_container {
  display: none;
}
.flag {
  margin-left: 10px;
}
.form-actions {
  clear: both;
  text-align: center;
  padding: 19px 20px 20px;
}
.panel-title .breadcrumb {
  margin-bottom: 0;
  padding: 0;
}
table.no_margin {
  margin: 0;
}
.badges_rules .rules {
  border: 1px solid #ddd;
  padding-top: 15px;
  background-color: #f5f5f5;
}
.badges_rules .rules select {
  display: inline-block;
}
.badges_rules .nav-tabs {
  border-bottom: 0;
}
.badges_rules .nav-tabs #add_rule a {
  cursor: pointer;
}
.badges_rules .nav-tabs > li > a {
  margin-right: 0;
  border-radius: 4px 0 0 0;
  border-bottom: 0;
}
.badges_rules .nav-tabs > li.active > a,
.badges_rules .nav-tabs > li.active > a:hover,
.badges_rules .nav-tabs > li.active > a:focus {
  border-right-color: transparent;
  border-bottom: 1px solid #dddddd;
  background-color: #f5f5f5;
  margin-right: -1px;
  z-index: 1;
}
.badges_rules .nav-stacked {
  padding-right: 0;
}
.badges_rules .nav-stacked > li + li {
  margin-top: 0;
}
.badges_rules .rules .row {
  padding-left: 15px;
  margin-bottom: 10px;
}
.badge_infos .alert {
  margin-top: 20px;
}
