[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*#chat-room-content-panel {
    height: 60vh;
    overflow-y: scroll;
}*/

#chat-room-users-list {
    height: 60vh;
    overflow-y: auto;
    /*background-color: #D8B1B1;*/
}

/*body {
    overflow: hidden !important;
}*/

#chat-messages-panel {
    height: 60vh;
    overflow-y: auto;
    background-color: #FFFFFF;
}

.chat-room-row {
    padding-left: 15px;
    padding-right: 15px;
}

.chat-room-ban-btn {
    color: #D9534F;
}

#chat-room-video-row {
    height: 60vh;
}

.participant-stream {
    display: inline-block;
    /*width: 100px;*/
    padding: 15px;
}

.participant-video {
    width: 150px;
}

.video-selected {
    border-width: 5px;
    border-color: #5792DB;
}

.video-speaking {
    background-color: #A6E0AB;
}

#main-video-container {
    height: 60vh;
}

#main-video {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto
}