[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*#chat-room-content-panel {
    height: 60vh;
    overflow-y: scroll;
}*/

#chat-room-users-panel {
    height: 60vh;
    overflow-y: scroll;
    /*background-color: #D8B1B1;*/
}

/*body {
    overflow: hidden !important;
}*/

#chat-content {
    height: 60vh;
    overflow-y: scroll;
    background-color: #FFFFFF;
}

.chat-room-row {
    padding-left: 15px;
    padding-right: 15px;
}

.chat-room-ban-btn {
    color: #D9534F;
}