/* Level 0 */
.lvl-0 {
    background-color: #7B7B7B !important;
}
.active-step .lvl-0~.step {
    color: #4B4B4B !important;
}
.active-step .lvl-0:after {
    border-left-color: #7B7B7B !important;
}

.bg-lvl-0 {
    background-color: #7B7B7B !important;
}
.text-lvl-0 {
    color: #4B4B4B !important;
}
.border-lvl-0 {
    border-color: #4B4B4B !important;
}

/* Level 1 */
.lvl-1 {
    background-color: #4790aD !important;
}
.active-step .lvl-1~.step {
    color: #17607D !important;
}
.active-step .lvl-1:after {
    border-left-color: #4790aD !important;
}

.bg-lvl-1 {
    background-color: #4790aD !important;

}
.text-lvl-1 {
    color: #17607D !important;
}
.border-lvl-1 {
    border-color: #17607D !important;
}

/* Level 2 */
.lvl-2 {
    background-color: #8C6796 !important;
}
.active-step .lvl-2~.step {
    color: #5C3766 !important;
}
.active-step .lvl-2:after {
    border-left-color: #8C6796 !important;
}

.bg-lvl-2 {
    background-color: #8C6796 !important;
}
.text-lvl-2 {
    color: #5C3766 !important;
}
.border-lvl-2 {
    border-color: #5C3766 !important;
}

/* Level 3 */
.lvl-3 {
    background-color: #d86178 !important;
}
.active-step .lvl-3~.step {
    color: #a83148 !important;
}
.active-step .lvl-3:after {
    border-left-color: #d86178 !important;
}

.bg-lvl-3 {
    background-color: #d86178 !important;
}
.text-lvl-3 {
    color: #a83148 !important;
}
.border-lvl-3 {
    border-color: #a83148 !important;
}

/* Level 4 */
.lvl-4 {
    background-color: #FF7A40 !important;
}
.active-step .lvl-4~.step {
    color: #CF4A30 !important;
}
.active-step .lvl-4:after {
    border-left-color: #FF7A40 !important;
}

.bg-lvl-4 {
    background-color: #FF7A40 !important;
}
.text-lvl-4 {
    color: #CF4A30 !important;
}
.border-lvl-4 {
    border-color: #CF4A30 !important;
}

/* Level 5 */
.lvl-5 {
    background-color: #FDBE3E !important;
}
.active-step .lvl-5~.step {
    color: #cD8E0E !important;
}
.active-step .lvl-5:after {
    border-left-color: #FDBE3E !important;
}

.bg-lvl-5 {
    background-color: #FDBE3E !important;
}
.text-lvl-5 {
    color: #cD8E0E !important;
}
.border-lvl-5 {
    border-color: #cD8E0E !important;
}

/* Level 6 */
.lvl-6 {
    background-color: #b8d855 !important;
}
.active-step .lvl-6~.step {
    color: #88A825 !important;
}
.active-step .lvl-6:after {
    border-left-color: #b8d855 !important;
}

.bg-lvl-6 {
    background-color: #b8d855 !important;
}
.text-lvl-6 {
    color: #88A825 !important;
}
.border-lvl-6 {
    border-color: #88A825 !important;
}

/* Level 7 */
.lvl-7 {
    background-color: #47aD90 !important;
}
.active-step .lvl-7~.step {
    color: #177D60 !important;
}
.active-step .lvl-7:after {
    border-left-color: #47aD90 !important;
}

.bg-lvl-7 {
    background-color: #47aD90 !important;
}
.text-lvl-7 {
    color: #177D60 !important;
}
.border-lvl-7 {
    border-color: #177D60 !important;
}

/* Level 8 */
.lvl-8 {
    background-color: #91deea !important;
}
.active-step .lvl-8~.step {
    color: #61aeba !important;
}
.active-step .lvl-8:after {
    border-left-color: #91deea !important;
}

.bg-lvl-8 {
    background-color: #91deea !important;
}
.text-lvl-8 {
    color: #61aeba !important;
}
.border-lvl-8 {
    border-color: #61aeba !important;
}