/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 avr. 2015, 16:18:30
    Author     : ac30591h
*/

/*.AnswerImage{
     display: block;
     margin-left: auto;
     margin-right: auto; 
}*/