/*#formulaire_interactions {
	border: 2px solid #CCC;
        
}*/



/**********************************************************     editionAv  / category         */

#overlayEffect
{
	display:none;
	position:fixed;
	opacity:0.7;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background: -moz-linear-gradient(rgba(11,11,11,0.1), rgba(11,11,11,0.6)) repeat-x rgba(11,11,11,0.2);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11,11,11,0.1)), to(rgba(11,11,11,0.6))) repeat-x rgba(11,11,11,0.2);
	z-index:1;
}
#popupContainer, #popupCategory
{
	position:fixed;
	left:50%;
	top:50%;
	width:500px;
	background:url('images/body_bg.jpg') repeat-x left bottom #e5e5e5;
	border:5px solid #cecece;
	z-index:2;
	padding:10px;
	border: 1px solid rgba(33, 33, 33, 0.6);
	-moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
	-webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
}
#close, closeCategory
{
	background:url('images/x.png') no-repeat center center;
	cursor:pointer;
	width:25px;
	height:26px;
	position:fixed;
	z-index:3200;
	position:absolute;
	top:-25px;
	right:-22px;
}

.hiddenCat { display:none; }

