/** InnovaERV : pour positinner le bouton "Ajouter" au même niveau que le reste du texte **/
.addButtonToTop {
    vertical-align: top;
}

input.form-control {
	padding: 0 0 0 0;
	width:15%;
}

.direct-chat-text-color {
    background: none repeat scroll 0 0 #F39C12;
    border-color: #F39C12;
    color: #FFFFFF;
}

.direct-chat-img-you,
.direct-chat-img-others {
    font-size: 35px;
    margin-top: 5px;
}

.direct-chat-img-you {
    color: #f39c12;
}

.direct-chat-img-others {
    color: lightgrey;
    margin-left: 10px;
}
    
#delete_button_td {
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.del_btn_td {
    margin: auto;
}

.table thead > tr > th {
    vertical-align: middle;
}

.centered {
    vertical-align: middle;
    text-align: center;
}

.table thead > tr > th,
.table thead > tr > td,
.table tbody > tr > th,
.table tbody > tr > td,
.table tfoot > tr > th,
.table tfoot > tr > td {
    vertical-align: middle;
}

.sharedSpacesTable {
    table-layout: fixed;
    word-wrap: break-word;
}

.nameColumn {
    width: 120px;
}

.usernameColumn {
    width: 70px;
}

.dateColumn {
    width: 90px;
}

.typeColumn {
    width: 70px;
}
