.btn-toolbar {
  margin-bottom: 10px;
}
.search_form {
  padding-bottom: 0;
}
a.white {
  color: white;
}
article {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
article.unpublished {
  border-color: #fbeed5;
}
article.unpublished header,
article.unpublished footer {
  background-color: #f2dede;
}
article header {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  color: #333333;
  background-color: #f5f5f5;
}
article header h1 {
  margin-top: 0;
  font-size: 24px;
}
article header .post_infos {
  margin-bottom: 0;
}
article .content {
  padding: 15px;
}
article footer {
  padding: 5px 10px 5px 10px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  min-height: 30px;
}
article footer .tags {
  max-width: 50%;
  margin-bottom: 0;
}
article .highlight {
  background-color: #DFFF00;
}
.options .btn-red {
  color: #d9534f;
}
.options .btn-green {
  color: #47a447;
}
.comment_list li.unpublished {
  border: 1px dotted orange;
}
.comment_list li .panel-heading {
  padding: 5px;
}
.comment_list li .panel-body {
  padding: 10px;
}
.comment_list li .panel-body p {
  margin-bottom: 0;
}
#icap_blog_post_form label[for=icap_blog_post_form_content] {
  float: none;
}
#icap_blog_post_form .row {
  margin-bottom: 15px;
}
#icap_blog_post_form .form-actions {
  clear: both;
  text-align: center;
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tree {
  margin: 0;
  max-height: 300px;
  min-height: 20px;
  overflow-y: auto;
  padding: 10px;
}
.tree a {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}
.tree ul {
  padding-left: 20px;
}
.tree li {
  list-style-type: none;
  margin: 0px 0;
  padding: 5px 0px 0px 2px;
  position: relative;
}
.tree li::before,
.tree li::after {
  content: '';
  left: 0px;
  position: absolute;
  right: auto;
}
.tree li::before {
  border-left: 1px solid #999;
  bottom: 50px;
  height: 100%;
  top: 0;
  width: 1px;
}
.tree li::after {
  border-top: 1px solid #999;
  top: 13px;
  width: 14px;
}
.tree li span,
.tree li a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #999;
  line-height: 22px;
  padding: 2px 4px;
  text-decoration: none;
}
.tree li.parent_li > span,
.tree li.parent_li > a {
  cursor: pointer;
}
.tree li.parent_li > span:hover,
.tree li.parent_li > span:hover + ul li span,
.tree li.parent_li > span:hover + ul li a,
.tree li.parent_li > a:hover,
.tree li.parent_li > a:hover + ul li span,
.tree li.parent_li > a:hover + ul li a {
  background: #eee;
  border: 1px solid #555;
  color: #000;
}
.tree li.parent_li > span + ul li,
.tree li.parent_li > span + ul li,
.tree li.parent_li > a + ul li,
.tree li.parent_li > a + ul li {
  padding-left: 14px;
}
.tree li:last-child::before {
  height: 14px;
}
.tree > li::before,
.tree > li::after {
  border: 0;
}
