th.multi-col {
    text-align: center;
}

td.icon-cell {
    width: 60px;
    text-align: center;
}

.fa.disabled {
    cursor: default;
    opacity: 0.25;
}

ul.framework {
    padding: 20px;
}

ul.framework ul {
    padding-left: 32px;
}

ul.framework ul.dropdown-menu {
    padding-left: 0;
}

ul.framework li {
    list-style: none;
}

ul.framework li span.node-name {
    cursor: pointer;
}

ul.framework li span.node-name.selected {
    padding: 3px;
    border-radius: 2px;
    color: white;
    background-color: #428bca;
}

ul.framework li[data-type=ability] span.node-name {
    font-style: italic;
}

ul.framework li[data-type=ability] span.node-level {
    font-weight: bold;
}

ul.framework li > i {
    margin-right: 0.3em;
    font-size: 0.8em;
    color: rgba(0,0,0,0.7);
    cursor: pointer;
}

ul.framework i.empty {
    opacity: 0;
    cursor: default;
}

ul.framework table.abilities {
    margin: 0.5em auto;
    color: rgba(0,0,0,.70);
}

ul.framework table.abilities th, ul.framework table.abilities td {
    padding: 2px;
    font-weight: normal;
}

ul.framework table.abilities td.center {
    text-align: center;
}

td.competency-path ul {
    list-style: none;
    margin: 0;
    padding-left: 16px;
}