.tree {
    padding: 0;
    margin: 0;
}

.tree li {
    list-style: none;
}

.tree a:hover,
.tree a:focus,
.tree a:active {
    text-decoration: none;
    color: #333333;
}

.tree .tree-item:first-child {
    margin-top: 0;
}

.tree-item {
    cursor: pointer;
    line-height: 24px;
    position: relative;
    background-color: #FFF;
    margin: 5px 0 !important;
}

.tree-item:hover {
    background-color: rgb(240, 240, 240);
}

.lvl {
    width: 20px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 3px 0 0 3px;
    vertical-align: middle;
    margin: 0;
}

.step {
    padding: 5px 8px 5px 30px;
    border: 1px solid #CCC;
    border-left: none;
    border-radius: 3px;
    display: block;
    color: #333333;
    font-size: 16px;
    vertical-align: middle;
}

.active-step {
    background-color: rgb(240, 240, 240) !important;
}
