<div>
    <h3>{{ question.getQuestion()|raw }}</h3>
    <br>
    <div id="question-body" style="padding-left: 50px">
        <textarea class="claroline-tiny-mce"></textarea>
        
        {% if question.isCommentAllowed() %}
            <br>
            <div>
                <label>{{ 'comment'|trans({}, 'survey') }}</label>
                <textarea rows="4"></textarea>
            </div>
        {% endif %}
    </div>
</div>