{% set layout = 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% if isDesktop() %}
    {% set layout = 'ClarolineCoreBundle:Desktop:layout.html.twig' %}
{% endif %}

{% set _resource = survey %}

{% extends layout %}

{% block title %}{{ survey.getResourceNode().getName() ~ ' - ' ~ parent() | striptags | raw  }}{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ survey.getResourceNode().getName() }}</h3>
    </div>
    <div class="panel-body">
        {{ macros.flashBox() }}
        {% block panel_content %}{% endblock %}
    </div>
{% endblock %}
