{% extends "ClarolineSurveyBundle:Survey:index.html.twig" %}

{% set route = action == 'create' ? 'claro_survey_create_question' : 'claro_survey_edit_question' %}

{% block panel_content %}
    {% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}

    <form action="{{ path(route, { survey: survey.getId() }) }}"
          method="post"
          novalidate
            {{ form_enctype(form) }}>
        <div class="panel-body">
            {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" type="submit">{{ 'ok' | trans({}, 'platform' )}}</button>
        </div>
    </form>
{% endblock %}
