<h1>{{ survey.getResourceNode.getName() }}</h1>

{% if survey.getDescription() is not empty %}
    <br>
    <div class="well well-sm">
        {{ survey.getDescription()|raw }}
    </div>
{% endif %}

{% if questionRelations|length == 0 %}
    <div class="alert alert-danger" role="alert">
        {{ 'no_question'|trans({}, 'survey') }}
    </div>
{% else %}

    {% for view in questionViews %}
        <hr>
        {{ view|raw }}
    {% endfor %}
{% endif %}