
@import "/src/main/app/Resources/styles/mixins";
@import "/src/main/app/Resources/styles/variables";

@content-preview-width: 195px;
@content-preview-height: 140px;

.main-settings-container {
    .slides-form {
        .slides {
            list-style-type: none;
            padding: 0;
            margin-bottom: @component-margin-bottom;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .slide-preview {
            display: flex;
            justify-content: center;
            width: @content-preview-width;
            height: @content-preview-height;
            border: 1px solid @data-card-inner-border;
            border-radius: @thumbnail-border-radius;
            padding: 4px;
            margin: 5px;
            position: relative;
            overflow: hidden;

            .slide-actions {
                position: absolute;
                top: 0;
                right: 0;
            }

            .btn {
                padding: 4px;
                border-radius: @thumbnail-border-radius;
                border-bottom-right-radius: 0;
                border-top-left-radius: 0;
            }
        }

        .image-thumbnail {
            max-width: 100%;
            max-height: 100%;
        }

        .text-thumbnail {
            font-size: 10px;
        }
    }
}

// to move in ThemeBundle
.theme-icon-preview-container {
    display: flex;
    flex-wrap: wrap;
    margin: -2px;

    .theme-icon-preview {
        padding: 10px;
        border: 1px solid @panel-default-border;
        margin: 2px;
        font-size: 0; // avoid extra space under svg element

        .theme-icon { // to merge with .type-icon
            width: 40px;
            height: 40px;
            min-width: 40px; // for correct alignment

            &.lg {
                width: 64px;
                height: 64px;
                min-width: 64px; // for correct alignment
            }

            &.sm {
                width: 24px;
                height: 24px;
                min-width: 24px; // for correct alignment
            }
        }
    }
}

// Color Chart css
.color-chart-colors-list {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
}

.color-chart-dot {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

.color-chart-button {
    text-align: center;

    span {
        margin: 0;
    }
}

.color-palette-dot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5px;
}

.color-palette-dot-button {
    display: block;
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 50%;
    position: relative;
    border: 1px solid #ccc;

    i {
        position: relative;
        top: 2px;
    }
}

.color-palette-list-group {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 15px 15px;
    position: relative;
    top: -15px;
}
