<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

        <link rel="stylesheet" media="screen" href="../commons/bootstrap.css" />
        <link rel="stylesheet" media="screen" href="../commons/font-awesome.css" />
        <link rel="stylesheet" media="screen" href="../assets/wizards.css" />

        <title>{{ _resource.resourceNode.name }}</title>
    </head>

    <body class="scorm-export">
        <div class="container-fluid">
            {# Initialize AngularJS application #}
            <div data-ng-cloak="" data-ng-app="PathPlayerApp" class="path-player">
                <path-show
                    data-path="{{ _resource | json_encode }}"
                    data-edit-enabled="false"></path-show>
            </div>
        </div>

        <script src="../commons/jquery.min.js"></script>
        <script src="../commons/jquery-ui.min.js"></script>
        <script src="../commons/router.js"></script>
        <script src="../commons/routes.js"></script>
        <script src="../commons/translator.js"></script>

        <script src="../assets/claroline-common.js"></script>
        <script src="../assets/claroline-home.js"></script>
        <script src="../assets/tinymce.jquery.min.js"></script>
        <script src="../assets/jquery.tinymce.min.js"></script>

        <script src="../assets/commons.js"></script>
        <script src="../assets/claroline-tinymce.js"></script>

        <script src="../assets/claroline-distribution-plugin-path-player.js"></script>

        {# Translations #}
        <script src="../translations/resource.js"></script>
        <script src="../translations/home.js"></script>
        <script src="../translations/platform.js"></script>
        <script src="../translations/error.js"></script>
        <script src="../translations/validators.js"></script>
        <script src="../translations/path_wizards.js"></script>
    </body>
</html>
