<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a data-toggle="collapse" href="#panel-global">
                {{ 'step1'|trans({}, 'path_editor') }}
            </a>
        </h3>
    </div>
    
    <div id="panel-global" class="panel-body collapse in">
        {{ form_row(form.name, {
                'attr': {
                    'ng-model': 'path.name',
                    'ng-change': 'renameRootStep(); updateHistory();'
                }
            }) 
        }}
        
        {{ form_row(form.description, {
                'attr': {
                    'placeholder' : 'description_help'|trans({}, 'path_editor'),
                    'ng-model':     'path.description',
                    'ng-change':    'updateHistory();'
                }
            }) 
        }}
        
        {{ form_row(form.structure, {
                'attr': {
                    'ng-json-input': true,
                    'ng-model'     : 'path'
                }
            }) 
        }}
    </div>
</div>