<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a data-toggle="collapse" href="#panel-scenario">
                {{ 'step2'|trans({}, 'path_editor') }}
            </a>
        </h3>
    </div>
    
    <div id="panel-scenario" class="panel-body collapse in">
        <div  class="action-bar">
            <a class="btn btn-sm btn-default" pageslide="left" ps-speed="0.5" href="#templates-sidebar">
                <span class="icon-heart"></span> {{ 'open_templates'|trans({}, 'path_editor') }}
            </a>
        </div>
        
        <ul class="tree">
            <li ng-repeat="step in path.steps" ng-include="'{{ asset('bundles/innovapath/angularjs/Step/Partial/tree-item.html') }}'" onload="isRootNode = ($index == 0)"></li>
        </ul>
    </div>
</div>