<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a data-toggle="collapse" href="#panel-global">
                {{ 'step1'|trans({}, 'path_editor') }} <small>{{ 'step1_description'|trans({}, 'path_editor') }}</small>
            </a>
        </h3>
    </div>
    <div id="panel-global" class="panel-body collapse in">
        <div class="form-group">
            <label for="path-name">Name</label>
            <input ng-class="{'ng-invalid': !pathName.isUnique, 'ng-valid': pathName.isUnique}" type="text" class="form-control" ng-model="path.name" ng-change="checkNameIsUnique(); renameRootStep(); updateHistory();" />
            <p class="help-block"><span ng-class="{'text-danger': !pathName.isUnique}">Name must be unique for current Workspace.</span></p>
        </div>
    
        <div class="form-group">
            <label for="path-description">Description</label>
            <textarea ui-tinymce="tinymceOptions" class="form-control" id="path-description" ng-model="path.description" ng-change="updateHistory()"></textarea>
        </div>
    </div>
</div>