{% extends 'ClarolineCommonBundle::content_layout.html.twig' %}

{% block content %}

<div class="section" id="desktop">
    
    <h4>{{ 'desktop.desktop'|trans({}, 'ClarolineDesktopBundle') }}</h4>
    
    {% block section_content %}{% endblock %}

<div>

{% endblock %}