<div class="modal-body">
    {{ 'path_modified' | trans:{}:'path_editor' }}
    <br/>
    {{ 'save_path_changes' | trans:{}:'path_editor' }}
</div>

<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="exitAndSave()">{{ 'save_and_close' | trans:{}:'path_editor' }}</button>
    <button class="btn btn-default" data-ng-click="exit()">{{ 'discard_changes' | trans:{}:'path_editor' }}</button>
    <button class="btn btn-default cancel" data-ng-click="cancel()">{{ 'cancel' | trans:{}:'path_editor' }}</button>
</div>