{% if blog is not null %}
    <p>{{ blog.resourceNode.name }}</p>

    <div class="tag-cloud-container">
        {% include 'IcapBlogBundle:Layout:tags.html.twig' with {'blogOptions': blogOptions} %}
    </div>
{% else %}
    <p>{{ 'no_blog_selected'|trans({}, 'icap_blog') }}</p>
{% endif %}

{% block javascripts %}
    {% if blogOptions.tagCloud == 1 %}
        <script type="text/javascript" src="{{ hotAsset('dist/claroline-distribution-plugin-blog-widget-tagcanvas.js') }}" ></script>
    {% endif %}
{% endblock javascripts %}