/**
 * Style for rich editor inputs (aka TinyMCE, CodeMirror).
 */

.editor-control {
    position: relative;

    .toolbar-toggle {
        position: absolute;
        padding: 0;
        border: none;
        top: -8px;
        right: -8px;
        z-index: 1;
        line-height: 1;
        background-color: white;
        border-radius: 50%;
        color: #777;
        font-size: 18px;
    }
}
