
@import "color-picker";
@import "field";
@import "file";
@import "ip";
@import "select";
@import "text";

input[type=checkbox] {
    cursor: pointer;
}

.checkbox-with-input,
.radio-with-input {
    line-height: 34px;
    min-height: 40px;

    .radio,
    .checkbox {
        display: inline-block;
        margin: 0;
    }

    input[type=radio] {
        margin-top: 10px;
    }
}

// Fixes bootstrap that do not remove label font-weight like `.radio` and `.checkbox`
// And so do not work as expected
.radio-inline,
.checkbox-inline {
    label {
        font-weight: normal;
    }
}

// increase margin
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
    margin-left: @grid-gutter-width;
}
