.text-editor {
    text-align: justify;

    .form-control {
        // mimic TinyMCE
        height: auto;
        min-height: 160px;
        max-height: 500px;
        overflow-y: auto;

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    .mce-toolbar-grp {
        max-height: 500px;
        transition: max-height 0.6s ease-in;
    }

    &.minimal {
        .mce-toolbar-grp {
            max-height: 0;
            transition: none;
        }

        .mce-edit-area {
            border: none;
        }
    }
}
