<div class="row">
    <div class="col-md-12">
        <div class="step-container" data-ng-repeat="item in stepShowCtrl.currentStep.items">
            <!-- switch on item type -->
            <div data-ng-switch="item.type">
                <div data-ng-switch-when="application/x.choice+json">                     
                    <choice-question data-question="item"></choice-question>
                </div>
                <!--
                <div data-ng-switch-when="application/x.match+json">
                    <match-question data-step="stepShowCtrl.currentStep" data-question="item"></match-question>
                </div>
                <div data-ng-switch-when="application/x.sort+json">
                    <sort-question data-step="stepShowCtrl.currentStep" data-question="item"></sort-question>
                </div>
                <div data-ng-switch-when="application/x.cloze+json">
                    <cloze-question data-step="stepShowCtrl.currentStep" data-question="item"></cloze-question>
                </div> 
                -->
            </div>
        </div>
    </div>
</div>