<audio width="100%" controls="controls" preload='auto'>
    <source src="{{ url('claro_file_get_media', {'node': node.getId}) }}" type="{{ node.getMimeType() }}">
</audio>
<a href="{{ url('claro_resource_open', {'resourceType': node.getResourceType().getName(), 'node' : node.getId()}) }}">{{ node.getName() }}</a>
