{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block title %}{{ nonDigitalResource.resourceNode.name }}{% endblock %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ nonDigitalResource.resourceNode.name }}</h3>
		</div>
		<div class="panel-body">
			{{ nonDigitalResource.description | raw }}
		</div>
	</div>
{% endblock content %}
