
.resource-rights-simple {
    padding: @modal-inner-padding;

    .resource-rights-simple-group {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
    }

    .simple-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: floor(@grid-gutter-width / 2);
        color: @gray-light;
        border: none;
        border-radius: @border-radius-base;
        background: @modal-content-bg;

        &:focus,
        &:hover,
        &:active {
            color: @gray-light;
            background: @gray-lightest;
            box-shadow: none;
        }

        &.selected {
            font-weight: bold;
            background: @gray-lightest;
        }

        & + .simple-right {
            margin-left: 5px;
        }
    }

    .simple-right-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin-bottom: floor(@grid-gutter-width / 2);
        font-size: 40px;
        width: 80px;
        height: 80px;
        border: 2px solid @gray-light;
        border-radius: @border-radius-base;
    }

    .simple-right-label {
        font-size: @font-size-small;
        display: block;
        white-space: normal;
        max-width: 100%;
    }
}

.resource-custom-rules-info {
    color: @brand-danger;
    margin-top: @component-margin-bottom;
    margin-bottom: 0;

    .fa {
        margin-right: @icon-text-spacer;
    }
}