<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$close()">&times;</button>
        <h4> {{ fmc.title|trans:{}:'platform' }} </h4>
    </div>
    <div class="modal-body">
        <div>
            <form name="fieldForm">
                <form-field field="fmc.form.fields[0]" ng-model="fmc.model.name"></form-field>
                <form-field field="fmc.form.fields[1]" ng-model="fmc.model.is_required"></form-field>
                <form-field field="fmc.form.fields[2]" ng-model="fmc.model.type"></form-field>
                <div ng-if="(fmc.model.type === 4 || fmc.model.type === 5 || fmc.model.type === 6)">
                    <div dragula='"choice-bag"' dragula-scope="$parent" dragula-model="fmc.model.field_facet_choices">
                        <div ng-repeat="(key, choice) in fmc.model.field_facet_choices track by choice.id"
                            class="row"
                        >
                            <div>
                                <div class="col-xs-10"><form-field field="['choice', 'text']" ng-model="choice.label"></form-field></div>
                                <div><button class="btn btn-primary btn-danger btn-xs " ng-click="fmc.removeChoice(choice)">x</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10"><form-field field="['choice', 'text']" ng-model="fmc.newChoice.label"></form-field></div>
                        <div><button ng-click="fmc.addChoice()" class="btn btn-primary btn-xs btn-success">+</button></div>
                    </div>
                </div>
                <input data-ng-disabled="!fieldForm.$valid" ng-click="fmc.onSubmit(fieldForm)" type="submit" class="btn btn-primary" aria-hidden="true" value="{{ fmc.submit|trans:{}:'platform' }}"> </input>
                <button ng-click="$close()" class="btn btn-default" data-dismiss="modal" aria-hidden="true"> {{ 'cancel'|trans:{}:'platform '}} </button>
            </form>
        </div>
    </div>
</div>
