{% set interInfo = getInterTwig(interactions[p].id, 'InteractionQCM') %}
{% set inter =  interInfo['question'] %}
{{ inter.sortChoices() }}

<div class="panel-body">

    {% if (display == 'all') %}

        {% include "UJMExoBundle:Partial:correction/qcm.html.twig" %}
        {% include "UJMExoBundle:Partial:correction/interactionScore.html.twig" %}

    {% endif %}
</div>
