{% set interInfo = getInterTwig(interactions[p].id, 'InteractionMatching') %}
{% set inter =  interInfo['question'] %}
{% set tabsResponses = initTabResponseMatching(responses[p].response, inter) %}
{% set tabResponseIndex = tabsResponses[0] %}
{% set tabRightResponse = tabsResponses[1] %}

<div class="panel-body">

    {% if (display == 'all') %}

        {% include "UJMExoBundle:Partial:correction/matching.html.twig" %}
        {% include "UJMExoBundle:Partial:correction/interactionScore.html.twig" %}

    {% endif %}
</div>
