/* Additional style rules */

body
{
    background:@claroline-background;
}

/** NAVBAR **/

.navbar.navbar-inverse.navbar-fixed-top
{
    background:@claroline-topbar-background;
    border-bottom:3px solid @claroline-topbar-border;
    .box-shadow(0 1px 3px rgba(0,0,0,.25));
}

#footer {

    background: @claroline-footer-background;
    color: @claroline-footer-color;

}
