{% if log.details.comment is defined %}
    {% set eventName = 'log_published_comment' %}
    {% if log.details.comment.published == false %}
        {% set eventName = 'log_unpublished_comment' %}
    {% endif %}
    <h4>{{ eventName|trans({}, 'log') }}</h4>

    <dl class="dl-horizontal">
        <dt>{{ ('log_comment_content')|trans({}, 'log') }}</dt>
        <dd>{{ log.details.comment.comment }}</dd>
    </dl>
{% endif %}
