{% twig_js name="bootstrap_modal" %}
<div id='modal_content'>
    <div class="modal-header">
       <button id="close_dialog_button" class="close" data-dismiss="modal">×</button>
       <h3>Modal header</h3>
    </div>
    <div class="modal-body">
       HELLO WORLD
    </div>
    <div class="modal-footer">
       FOOTER
    </div>
</div>
