<div class="impersonalitation-spacer"></div>
<div class="impersonalitation-bar navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li><a>{{ 'warning_workspace_impersonation'|trans({'%role%': role|trans({}, 'platform'), '%workspace%': workspace}, 'platform') }}</a><li>
            </ul>
            <ul class="nav pull-right">
                <li><a class="impersonalitation-close" data-dismiss="alert" href="?view_as=exit">&times;</a></li>
            </ul>
        </div>
    </div>
</div>
