<div class="alert alert-block">
    <a class="close" data-dismiss="alert" href="?view_as=exit">&times;</a>
    {{ 'warning_workspace_impersonation'|trans({'%role%': role|trans({}, 'platform'), '%workspace%': workspace}, 'platform') }}
</div>