
.connection-message-modal {
    .modal-content {
        > .img-responsive {
            min-width: 100%;
        }
    }

    .modal-footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 5px @modal-inner-padding;

        .checkbox {
            flex: 1;
            margin: 0;
        }
    }

    .slide-header {
        text-align: center;
    }
}
