[data-ng-cloak] {
    display: none !important;
}

.path-editor .panel-heading {
    position: relative;
}

/* app css stylesheet */
.path-editor .panel-heading + .collapse {
    border-width: 0;
}

.path-editor .panel-heading + .collapse.in {
    border-width: 1px;
}

/* angular-ui hack https://github.com/angular-ui/bootstrap/issues/1671 */
.path-editor .panel-group .panel {
    overflow: visible;
}

.path-editor .panel-title a:hover {
    text-decoration: none;
}

.excluded-resource {
    text-decoration: line-through;
    color: #999;
}

input.form-control.ng-invalid {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.form-control.ng-invalid:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

input.form-control.ng-valid {
    border-color: #468847;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.form-control.ng-valid:focus {
    border-color: #356635;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

.tooltip {
    white-space: nowrap;
}