/* app css stylesheet */
.path-editor .panel-heading + .collapse {
    border-width: 0;
}

.path-editor .panel-heading + .collapse.in {
    border-width: 1px;
}

.path-editor .panel-title a:hover {
    text-decoration: none;
}

#templates-sidebar {
    margin-left: 40px;
}

.modal-backdrop {
    z-index: 1;
}

/*.step-resources .resource {
    margin-top: 18px;
}*/

form {
    margin: 0 0 5px;
}

.excluded-resource {
    text-decoration: line-through;
    color: #999;
}

#templates-sidebar {
    margin-top: 50px;
}

#templates-sidebar h2 {
    font-size: 18px;
    margin: 4px 0;
    line-height: 22px;
    font-weight: normal;
}

input.form-control.ng-invalid {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.form-control.ng-invalid:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

input.form-control.ng-valid {
    border-color: #468847;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.form-control.ng-valid:focus {
    border-color: #356635;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

.tooltip {
    white-space: nowrap;
}

.clickable-area {
    cursor: pointer;
}

.clickable-area:hover {
    border-color: #999;
}