.resource-inherited:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid;
    height: 20px;
    width: 20px;
    border-radius: 3px;
}

/* Level 0 */
.resource-lvl-0:before {
    border-color: #4B4B4B;
    background-color: #7B7B7B;
}

/* Level 1 */
.resource-lvl-1:before {
    border-color: #17607D;
    background-color: #4790aD;
}

/* Level 2 */
.resource-lvl-2:before {
    border-color: #5C3766;
    background-color: #8C6796;
}

/* Level 3 */
.resource-lvl-3:before {
    border-color: #a83148;
    background-color: #d86178;
}

/* Level 4 */
.resource-lvl-4:before {
    border-color: #CF4A30;
    background-color: #FF7A40;
}

/* Level 5 */
.resource-lvl-5:before {
    border-color: #cD8E0E;
    background-color: #FDBE3E;
}

/* Level 6 */
.resource-lvl-6:before {
    border-color: #88A825;
    background-color: #b8d855;
}

/* Level 7 */
.resource-lvl-7:before {
    border-color: #177D60;
    background-color: #47aD90;
}

/* Level 8 */
.resource-lvl-8:before {
    border-color: #61aeba;
    background-color: #91deea;
}