.placeholder {
    background: #CCCCCC;
    min-height: 12px;
    border: 1px dashed #010101;
    margin-bottom: 15px;
}

.step-actions {
    position: absolute;
    right: 0;
    top: 0;
}

.step-actions .btn:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.mytree-item-handler, .mytree-item-handler:hover{
    color: white;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: -2px;
    width: 32px;
    text-align: center;
    cursor: move;
}