#sidebar-left {
    z-index: 1001;     /* To prevent bootstrap navbar to pass over the sidebar */
    margin-top: 70px;  /* Same value as body padding-top */
    margin-left: 40px; /* Same value as body margin-left */
    padding: 0 10px;
}

#sidebar-left h2 {
    font-size: 18px;
    margin-top: 0;
}