/* START fix new modal width and enable use of grid system */
.step-edit .modal-dialog {
	width: auto;
}

@media (min-width: 768px) {
  .step-edit .modal-dialog {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .step-edit .modal-dialog {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .step-edit .modal-dialog {
    max-width: 1170px;
  }
}
/* END fix new modal width */

.step-edit .panel > .table {
    margin-top: -1px;
}

.step-edit .modal-footer {
	margin-top: 0;
}

.step-edit .panel-heading {
	position: relative;
}

.step-edit form {
    padding: 0;
}

.step-duration input {
    text-align: center;
}

.step-duration span {
    font-size: 16px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 5px 4px;
    vertical-align: top;
}

.step-edit table {
    margin-bottom: 0;
}