<div id="app_menu">
    <ul>
    {% for launcher in launchers %}
        <li>
            <a href="{{ path(launcher.routeId) }}">
                {{ launcher.translationKey|trans({}, launcher.application.vendorName ~ launcher.application.bundleName) }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>