/*
 * Modals.
 */

@import "generic-type-picker";

.modal-content {
    border-radius: @modal-content-border-radius;
    .box-shadow(@modal-content-box-shadow);
}

// better alignment in header
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // sometimes `modal-title` class is missing
    // so we need to grab rules from it
    h4 {
        &:extend(.modal-title);
    }

    .close {
        order: 2;
        // reset bootstrap
        margin-top: 0;
        float: none;
    }
}

.modal-icon {
    margin-right: 10px;
}

.modal-title {
    order: 1;
    flex: 1;
}

.modal-btn {
    border-radius: 0 0 @modal-content-border-radius @modal-content-border-radius;
    display: block;
    width: 100%;
    padding: 10px @modal-inner-padding;
    .font-size-modifier(16px);
}

// customize nav tabs
// todo : create a new class .modal-tabs
.modal-content .nav-tabs {
    padding: 0 @modal-inner-padding;
    border-color: @modal-header-border-color;
    background: #F5F5F5; // todo : use a var

    > li > a {
        border-radius: 0;
    }

    .active > a {
        border-color: transparent @modal-header-border-color !important;
    }
}

// customize panel groups
// we use direct child selector to avoid break the display of
// groups inside the body.
.modal-content > .panel-group {
    margin: 0;

    .panel {
        box-shadow: none; // this may be applied to all panels in modals
        border-radius: 0;
        border-left: 0;
        border-right: 0;

        + .panel {
            border-top: none;
            margin: 0;
        }
    }

    .panel-default {
        border-color: @modal-header-border-color;

        .panel-heading {
            background: #F5F5F5; // todo : use a var
        }
    }
}

// customize tables
.modal-content > .table,
.modal-content > div > .table { // allows SPA containers
    margin-bottom: 0;

    tbody {
        background: @modal-content-bg;
        border: none;
        box-shadow: none;
    }

    + .modal-body {
        border-top: 1px solid @table-border-color;
    }
}
