.tool-rights-row {
    display: flex;
    justify-content: space-between;

    .tool-rights-title {
        font-weight: bold;
    }

    .tool-rights-actions {
        display: flex;

    }

    .checkbox {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 20px;
    }
}