{% extends 'HeVinciCompetencyBundle:Competency:frameworkLayout.html.twig' %}

{% set activeTab = 'activities' %}

{% block tabContent %}
    <br>
    <table class="framework-activities table table-condensed table-bordered">
        <thead>
            <tr>
                <th>{{ 'competency_'|trans({}, 'competency') }}</th>
                <th>{{ 'activities'|trans({}, 'platform') }}</th>
                <th>{{ 'ability.required_activity_count'|trans({}, 'competency') }}</th>
            </tr>
        </thead>
        <tbody>
            {%
                include 'HeVinciCompetencyBundle:Competency:activityRow.html.twig'
                with {
                    target: framework,
                    isAbility: false
                }
        %}
        </tbody>
    </table>
{% endblock %}