{% extends 'HeVinciCompetencyBundle:Competency:layout.html.twig' %}

{#
    Note: this template is fed with NestedTreeRepository#childrenHierarchy data,
          i.e. a hierarchical array where nodes themselves are arrays.
#}

{% block title %}
    {{ parent() ~ ' - ' ~ framework.name }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs(competencyBreadcrumbs|merge([{
            name: framework.name
        }]))
    }}
{% endblock %}

{% block panelTitle %}
    {{ framework.name }}
{% endblock %}

{% block panelBody %}
    <ul class="framework">
        {%
            include 'HeVinciCompetencyBundle:Competency:competencyItem.html.twig'
            with {
                competency: framework,
                displayUntil: 1
            }
        %}
    </ul>
{% endblock %}

{% block panelFooter %}
    <button id="control-expansion"
            data-status="collapsed"
            class="btn btn-default">
        {{ 'expand_all'|trans({}, 'competency') }}
    </button>
{% endblock %}
