{% extends "UJMExoBundle:Sequence:layout.html.twig" %}

{% block meta %}
    {{ parent() }}
    {# if we want to use html5 urls set the base url here <base href="{ { path('editor_edit', {id: _resource.id}) } }"> #}
{% endblock %}


{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block content %} 
    <div class="ujm-papers-container" data-ng-app="PapersApp" data-ng-cloak="">        
        <ng-view></ng-view>
    </div>
{% endblock %}


{% block javascripts %}
    {# Load Claroline JS #}
    {{ parent() }}

    {% javascripts debug=false filter='jsmin' output='vendor/ujmexo/ujm-papers.js'
        
        '@UJMExoBundle/Resources/public/js/sequence/Common/*'
        '@UJMExoBundle/Resources/public/js/sequence/Common/Services/*'

        '@UJMExoBundle/Resources/public/js/sequence/Sequence/*'
        '@UJMExoBundle/Resources/public/js/sequence/Sequence/Controllers/*'
        '@UJMExoBundle/Resources/public/js/sequence/Sequence/Directives/*'
        '@UJMExoBundle/Resources/public/js/sequence/Sequence/Services/*'

        '@UJMExoBundle/Resources/public/js/sequence/Paper/*'
        '@UJMExoBundle/Resources/public/js/sequence/Paper/Controllers/*'
        '@UJMExoBundle/Resources/public/js/sequence/Paper/Directives/*'
        '@UJMExoBundle/Resources/public/js/sequence/Paper/Services/*'

        '@UJMExoBundle/Resources/public/js/sequence/Step/*'
        '@UJMExoBundle/Resources/public/js/sequence/Step/Controllers/*'
        '@UJMExoBundle/Resources/public/js/sequence/Step/Directives/*'
        '@UJMExoBundle/Resources/public/js/sequence/Step/Services/*'

        '@UJMExoBundle/Resources/public/js/sequence/Question/*'
        '@UJMExoBundle/Resources/public/js/sequence/Question/Controllers/*'
        '@UJMExoBundle/Resources/public/js/sequence/Question/Directives/*'
        '@UJMExoBundle/Resources/public/js/sequence/Question/Services/*'

        '@UJMExoBundle/Resources/public/js/sequence/Paper/*'
        '@UJMExoBundle/Resources/public/js/sequence/Paper/Controllers/*'
        '@UJMExoBundle/Resources/public/js/sequence/Paper/Directives/*'
        '@UJMExoBundle/Resources/public/js/sequence/Paper/Services/*'

        '@UJMExoBundle/Resources/public/js/sequence/Papers/*'
        '@UJMExoBundle/Resources/public/js/sequence/Papers/Controllers/*'
        '@UJMExoBundle/Resources/public/js/sequence/Papers/Services/*'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    
    {# Set some vars needed by Angular parts #}
    <script type="text/javascript">    
    </script>

{% endblock %}