{% extends "UJMExoBundle:Sequence:layout.html.twig" %}



{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block content %} 
    <div class="ujm-sequence-container" data-ng-app="ExercisePlayerApp" data-ng-cloak="">
        <ng-view></ng-view>
    </div>
{% endblock %}


{% block javascripts %}
    {# Load Claroline JS #}
    {{ parent() }}

    {% javascripts debug=false filter='jsmin' output='vendor/ujmexo/ujm-exo-player.js'
        
        '@UJMExoBundle/Resources/public/js/sequence/Common/*'
        '@UJMExoBundle/Resources/public/js/sequence/Common/Services/*'

        '@UJMExoBundle/Resources/public/js/sequence/Correction/*'
        '@UJMExoBundle/Resources/public/js/sequence/Correction/Controllers/*'
        '@UJMExoBundle/Resources/public/js/sequence/Correction/Directives/*'
        '@UJMExoBundle/Resources/public/js/sequence/Correction/Services/*'

        '@UJMExoBundle/Resources/public/js/sequence/Player/Shared/*'
        '@UJMExoBundle/Resources/public/js/sequence/Player/Shared/Services/*'

        '@UJMExoBundle/Resources/public/js/sequence/Player/Exercise/*'
        '@UJMExoBundle/Resources/public/js/sequence/Player/Exercise/Controllers/*'
        '@UJMExoBundle/Resources/public/js/sequence/Player/Exercise/Services/*'

        '@UJMExoBundle/Resources/public/js/sequence/Player/Question/*'
        '@UJMExoBundle/Resources/public/js/sequence/Player/Question/Controllers/*'
        '@UJMExoBundle/Resources/public/js/sequence/Player/Question/Directives/*'
        '@UJMExoBundle/Resources/public/js/sequence/Player/Question/Services/*'

        '@UJMExoBundle/Resources/public/js/sequence/Player/Step/*'
        '@UJMExoBundle/Resources/public/js/sequence/Player/Step/Controllers/*'
        '@UJMExoBundle/Resources/public/js/sequence/Player/Step/Directives/*'
        '@UJMExoBundle/Resources/public/js/sequence/Player/Step/Services/*'

        
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        
        /*window.onbeforeunload = function (e) {
            var e = e || window.event;
            var msg = Translator.trans('sequence_play_leave_confirm', {}, 'ujm_sequence');

            // For IE and Firefox
            if (e) {
                e.returnValue = msg;
            }
            //console.log('yep ' + msg);
            return msg;
        };*/

    </script>


{% endblock %}