.cloze-question-container {
    .cloze {
        > p {
            margin: 0;
        }

        .form-control {
            display: inline;
            width: inherit;

            &.has-success {
                border-color: @brand-success !important;
            }

            &.has-error {
                border-color: @brand-danger !important;;
            }
        }
    }
}