<div class="path-progression-widget panel-body text-center">
    <div class="c100 p{{ userProgression }} path-progression">
        <span>
            {% if 100 != userProgression %}
                {{ userProgression }}%
            {% else %}
                <span class="fa fa-fw fa-check"></span>
                <span class="sr-only">{{ userProgression }}%</span>
            {% endif %}
        </span>

        <div class="slice" role="presentation">
            <div class="bar" role="presentation"></div>
            <div class="fill" role="presentation"></div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-plugin-path-path-progression-widget.css') }}" />
