<div>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog"></i> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a ng-click="gc.clickNew()"> {{ 'new'|trans:{}:'platform' }} </a></li>
            <li><a ng-click="gc.clickDelete()"> {{ 'delete'|trans:{}:'platform' }} </a></li>
        </ul>
    </div>
</div>