{% extends "IcapDropzoneBundle:Drop:dropsByBase.html.twig" %}

{% block dropzone_content_drops_by_reported %}
    <a href="#" class="btn btn-default btn-xs active" data-toggle="tooltip" title=""
       data-original-title="{{ 'only reported drops'|trans({}, 'icap_dropzone') }}">{{ 'sort by reported'|trans({}, 'icap_dropzone') }}</a>
{% endblock %}

{% block dropzone_content_drops_by_paginate_part %}
        {% if pager.haveToPaginate %}
            {{
            pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
            'proximity' : 1,
            'routeName': 'icap_dropzone_drops_by_date_paginated',
            'routeParams': {'resourceId': dropzone.id}
            }
            )
            }}
        {% endif %}
{% endblock %}

{% block dropzone_content_drops_by_no_result_exception %}
    {{ 'no reported copies'|trans({},'icap_dropzone') }}
{% endblock %}