{% extends "IcapDropzoneBundle:Drop:dropsByBase.html.twig" %}

{% block dropzone_content_drops_by_default %}
            <a href="#" class="btn btn-default btn-xs active">{{ 'default sort'|trans({}, 'icap_dropzone') }}</a>
{% endblock %}