{% extends "IcapDropzoneBundle:Drop:dropsByBase.html.twig" %}
{% block dropzone_content_drops_by_user %}
        <a href="#" class="btn btn-default btn-xs active">{{ 'Sort by user'|trans({}, 'icap_dropzone') }}</a>
{% endblock %}

{% block dropzone_content_drops_by_paginate_part %}
        {% if pager.haveToPaginate %}
            {{
            pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
            'proximity' : 1,
            'routeName': 'icap_dropzone_drops_by_user_paginated',
            'routeParams': {'resourceId': dropzone.id}
            }
            )
            }}
        {% endif %}
{% endblock %}
