{# stackoverflow.com/questions/10299202/twig-for-loop-and-array-with-key #}
{# Parcours du tableau pour afficher le nombre de commentaires de l'utilisateur en train d'être traité #}
{% for key,value in nbCommentNotRead %}
    {% if drop.user.id == key %}
        <span class="badge">
        {{ value }}
        </span>
    {% endif %}
{% endfor %}
