{% extends "IcapDropzoneBundle::layout.html.twig" %}
{% block resourceBreadcrumb %}
    <li class="active"><span class="fa fa-file"></span> {{ dropzone.resourceNode.name }}</li>
{% endblock %}

{% block dropzone_content %}
    <div class="container">
        <h3>
            {{ 'Warning'|trans({}, 'icap_dropzone') }}
        </h3>
        {% include "IcapDropzoneBundle:Drop:reportDropForm.html.twig" %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}