{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'claroline_tag_admin_tool' | trans({}, 'tools') | striptags | raw }}
{% endblock %}

{% block content %}
    <div
            class="page-container tags-container"
            data-context="{{ context | json_encode | raw | escape }}"
    ></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('dist/claroline-distribution-plugin-tag-admin-tags.js') }}"></script>
{% endblock %}
