<div ng-class="rtc.field[2].error ? 'has-error' : ''">
    <label class="control-label col-sm-3" ng-if="!rtc.field[2].noLabel">
        {{ rtc.label|trans:{}:tc.translationDomain }}
    </label>
    <div ng-class="rtc.field[2].noLabel ? 'col-sm-12' : 'col-sm-9'">
        <textarea class="form-control"
                  data-ui-tinymce="rtc.getTinymceConfiguration()"
                  data-before-unload="off"
                  ng-model="rtc.ngModel"
                  name="{{ rtc.name }}"
                  ng-disabled="rtc.field[2].disabled"
        >
        </textarea>
        <help-block ng-model="rtc.ngModel" field="rtc.field"></help-block>
        <div class="help-block field-error" ng-if="rtc.field[2].error">{{ rtc.field[2].error }}</div>
    </div>
</div>
