<div {% if constant('Icap\\PortfolioBundle\\Manager\\PortfolioManager::PORTFOLIO_OPENING_MODE_VIEW') != openingMode %}data-widget {% endif %}class="panel panel-default widget-panel">
    <div class="panel-heading">
        {% if constant('Icap\\PortfolioBundle\\Manager\\PortfolioManager::PORTFOLIO_OPENING_MODE_VIEW') != openingMode %}
            {% verbatim %}{{ widget.type + '_title'|trans }}{% endverbatim %}
            <div class="widget-actions">
                {% if editMode %}
                <button class="widget-action btn btn-xs btn-danger" data-ng-class="{'btn-loading': widget.isDeleting}" data-confirm-click="delete(widget);" data-ng-if="isDeletable(widget) && !widget.isNew()">
                    <span class="loading" data-ng-if="widget.isDeleting"></span>
                    <span class="fa fa-trash-o" data-ng-if="!widget.isDeleting"></span>
                </button>
                <button class="widget-action btn btn-xs btn-primary" data-ng-click="edit(widget);" data-ng-if="!widget.isEditing() && !widget.isNew()">
                    <span class="fa fa-pencil"></span>
                </button>
                <div class="btn-group btn-group-xs" data-ng-if="!widget.isEditing() && !widget.isNew()">
                    <button class="btn btn-default dropdown-toggle" type="button" id="columnMenu" data-toggle="dropdown" data-ng-if="0 < portfolio.disposition">
                        <span class="fa fa-exchange"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="columnMenu">
                        <li role="presentation" data-ng-repeat="col in cols" data-ng-click="changeColumn(widget, col)"><a role="menuitem" tabindex="-1" href="#">{% verbatim %}{{ col }}{% endverbatim %}</a></li>
                    </ul>
                </div>
                <div class="btn-group btn-group-xs">
                    <button type="button" class="btn btn-default" data-ng-disabled="$last" data-ng-click="increaseRow(widget)"><span class="fa fa-arrow-down"></span></button>
                    <button type="button" class="btn btn-default" data-ng-disabled="1 == widget.row" data-ng-click="decreaseRow(widget)"><span class="fa fa-arrow-up"></span></button>
                </div>
                {% elseif evaluateMode %}
                <button type="button" class="widget-action btn btn-sm btn-primary" data-ng-click="evaluate(widget);"
                        data-placement="right" data-container="body" data-animation="am-flip-x"
                        data-template="templates/evaluation_form.tpl.html" data-bs-popover>
                    <span class="fa fa-quote-right"></span>
                </button>
                {% endif %}
            </div>
        {% else %}
            {% set widgetTitleKey = widget.widgetType ~ '_title' %}
            {{ widgetTitleKey|trans({}, 'icap_portfolio') }}
        {% endif %}
    </div>
    <div class="panel-body">
        {% if constant('Icap\\PortfolioBundle\\Manager\\PortfolioManager::PORTFOLIO_OPENING_MODE_VIEW') != openingMode %}
            <div data-ng-bind-html="widget.views.view | trustAsHtml"></div>
        {% else %}
            {% include 'IcapPortfolioBundle:templates:' ~ widget.widgetType ~ '.html.twig' with {'widget': widget} %}
        {% endif %}
    </div>
</div>