<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <h5 class="panel-title pull-left">{{question.title}}</h5>
        <div class="btn-group pull-right">
            <button type="button" role="button" class="btn btn-default fa" data-toggle="tooltip" data-container="body" data-ng-class="{' fa-arrow-circle-down':clozeQuestionCtrl.isCollapsed, ' fa-arrow-circle-up':!clozeQuestionCtrl.isCollapsed}" data-ng-click="clozeQuestionCtrl.isCollapsed = !clozeQuestionCtrl.isCollapsed" title="{{ 'question_panel_hide'|trans:{}:'ujm_sequence' }}"></button>
            <button type="button" role="button" class="btn btn-danger fa fa-trash" data-toggle="tooltip" data-container="body" data-ng-click="selfRemove()" title="{{ 'question_remove'|trans:{}:'ujm_sequence' }}"></button>
        </div>
    </div>
    <div class="panel-body" ng-hide="clozeQuestionCtrl.isCollapsed">       
        <!-- Question meta row -->
        <div data-ng-if="question.meta" class="form-inline question-row row-bordered">
            <!-- meta authors -->
            <div data-ng-repeat="(metaKey, metaValue) in clozeQuestionCtrl.question.meta">                
                <div data-ng-if="metaKey === 'authors'">
                    <strong>{{ 'meta_authors'|trans:{}:'ujm_sequence' }}:</strong>
                    <ul>
                        <li data-ng-repeat="author in metaValue"> 
                            <span data-ng-if="author.name"> {{ 'meta_author_name'|trans:{}:'ujm_sequence' }}: {{author.name}}</span>
                            <span data-ng-if="author.status"> - {{ 'meta_author_status'|trans:{}:'ujm_sequence' }}: {{author.status}}</span>
                            <span data-ng-if="author.email"> - {{ 'meta_author_mail'|trans:{}:'ujm_sequence' }}: {{author.email}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- meta others -->
            <div data-ng-if="clozeQuestionCtrl.questionHasOtherMeta()">
                <strong>{{ 'meta_others'|trans:{}:'ujm_sequence' }}:</strong>
                <ul>
                    <li data-ng-repeat="(metaKey, metaValue) in question.meta" data-ng-if="metaKey !== 'authors'">
                        <span data-ng-if="metaKey === 'license'"><strong>{{ 'meta_licence'|trans:{}:'ujm_sequence' }}:</strong> {{metaValue}}</span>
                        <span data-ng-if="metaKey === 'created'"><strong>{{ 'meta_created'|trans:{}:'ujm_sequence' }}:</strong> {{metaValue}}</span>
                        <span data-ng-if="metaKey === 'modified'"><strong>{{ 'meta_updated'|trans:{}:'ujm_sequence' }}:</strong> {{metaValue}}</span>
                        <span data-ng-if="metaKey === 'description'"><strong>{{ 'meta_description'|trans:{}:'ujm_sequence' }}:</strong> {{metaValue}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Question hints row -->
        <div data-ng-if="clozeQuestionCtrl.question.hints" class="form-inline question-row row-bordered">
            <div class="form-group">
                <label>{{ 'question_hints'|trans:{}:'ujm_sequence' }}:</label>
                <ul>
                    <li data-ng-repeat="hint in clozeQuestionCtrl.question.hints">
                        Text: {{hint.text}}, Penalty: {{hint.penalty}}
                    </li>  
                </ul>
            </div>
        </div>
        <!-- Question objects row -->
        <div data-ng-if="clozeQuestionCtrl.question.objects" class="form-inline question-row row-bordered">
            <div class="form-group">
                <label>{{ 'question_objects'|trans:{}:'ujm_sequence' }}:</label>
                <div data-ng-repeat="object in clozeQuestionCtrl.question.objects">
                    <div data-ng-if="object.type === 'rich-text'" ng-bind-html="object.data"></div>
                    <div data-ng-if="object.type === 'simple-text'">
                        {{object.data}}
                    </div>

                    <div data-ng-if="object.type === 'web-image'">
                        <img data-ng-src="{{object.url}}" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Question resources row -->
        <div data-ng-if="clozeQuestionCtrl.question.resources" class="form-inline question-row row-bordered">
            <div class="form-group">
                <label>{{ 'question_resources'|trans:{}:'ujm_sequence' }}:</label>
                <div data-ng-repeat="resource in clozeQuestionCtrl.question.resources">
                    <ul>
                        <li data-ng-if="resource.type === 'link'"><a data-ng-href="{{resource.url}}" target="_blank">{{resource.title}}</a></li>
                    </ul>                    
                </div>
            </div>
        </div>               
        <!-- Question feedback row -->
        <div data-ng-if="clozeQuestionCtrl.question.feedback" class="question-row">
            <label><strong>{{ 'question_global_feedback'|trans:{}:'ujm_sequence' }}:</strong></label>
            <p>{{clozeQuestionCtrl.question.feedback}}</p>
        </div>
        <!-- Question cloze text row -->
        <div data-ng-if="clozeQuestionCtrl.question.text" class="question-row">
            <div class="form-inline choice-item-col"> 
                <div class="form-group"> 
                    <label>{{ 'question_cloze_text'|trans:{}:'ujm_sequence' }}:</label>                   
                    <div data-ng-bind-html="clozeQuestionCtrl.formatedClozeText | unsafe"></div>
                </div>
            </div>
        </div>
        <!-- Question solution row -->
        <div data-ng-if="clozeQuestionCtrl.question.solutions" class="question-row">
            <div class="form"> 
                <label>{{ 'question_solutions'|trans:{}:'ujm_sequence' }}:</label>
                <ul>
                    <li data-ng-repeat="solution in clozeQuestionCtrl.question.solutions | orderBy:'holeId'">
                        <!-- answers -->
                        <div> 
                            <label>{{ 'question_solution_answers'|trans:{}:'ujm_sequence' }}:</label>
                            <ul>
                                <li data-ng-repeat="answer in solution.answers">
                                    {{answer}}
                                </li>
                            </ul>
                        </div>
                        <!-- score -->
                        <div> 
                            <label>{{ 'question_solution_score'|trans:{}:'ujm_sequence' }}:</label>
                            <span>
                                {{solution.score}}
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
