<div class="panel panel-default" id="question-{{question.id}}">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">
            <span>{{graphicQuestionCtrl.question.title}}</span>            
        </h4>
        <div class="btn-group  pull-right">
            <a class="btn btn-default fa fa-chevron-down" id="question-toggle-{{graphicQuestionCtrl.question.id}}" data-ng-click="graphicQuestionCtrl.toggleDetails(question.id)"></a>
        </div>
    </div>
    <div class="panel-body" id="question-body-{{graphicQuestionCtrl.question.id}}">
        <div class="row">
            <div class="col-md-12">
                <div data-ng-bind-html="question.invite | unsafe"></div>   
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                {{graphicQuestionCtrl.question.description}}   
            </div>
        </div>
        <hr/>        
        <!-- setpoint row -->
        <div class="row">
            <div class="col-md-12"> 
                <div class="alert alert-info">
                    <ul>
                        <li>{{ 'graphic_setpoint_first'|trans:{}:'ujm_sequence' }}</li>
                        <li>{{ 'graphic_setpoint_second'|trans:{}:'ujm_sequence' }}</li>
                        <li>{{ 'graphic_setpoint_third'|trans:{}:'ujm_sequence' }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr/>
        <!-- draggable objects row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li data-ng-repeat="coord in graphicQuestionCtrl.question.coords">
                        <img class="crosshair draggable" id="crosshair_{{coord.id}}" src="{{graphicQuestionCtrl.getAssetsDir()}}/bundles/ujmexo/images/graphic/answer.png" />
                    </li>
                    <li><button data-ng-click="graphicQuestionCtrl.resetAnswers()" class="btn btn-default fa fa-refresh" title="{{ 'graphic_reset_answers'|trans:{}:'ujm_sequence' }}"></button></li>
                </ul>
            </div>
        </div>
        <!-- document row -->
        <div class="row">
            <div class="col-md-12">
                <div class="droppable-container">
                    <img id="document-img" alt="{{graphicQuestionCtrl.question.document.label}}" width="{{graphicQuestionCtrl.question.width}}" height="{{graphicQuestionCtrl.question.height}}" src="{{graphicQuestionCtrl.getAssetsDir()}}{{graphicQuestionCtrl.question.document.url}}" />  
                </div>
            </div>
        </div>

        <div data-ng-if="graphicQuestionCtrl.question.hints">
            <hr/>
            <!-- Question hints row -->
            <div class="form-inline">
                <div class="form-group">
                    <div data-ng-repeat="hint in graphicQuestionCtrl.question.hints" style="margin-bottom: 10px;">                        
                        <div data-ng-if="!graphicQuestionCtrl.hintIsUsed(hint.id)">
                            <button type="button" role="button" class="btn btn-default fa fa-eye" title="{{ 'question_hint_show_title'|trans:{}:'ujm_sequence' }}" data-ng-click="graphicQuestionCtrl.showHint(hint.id)" id="hint-{{hint.id}}"> {{ 'question_hint_label'|trans:{}:'ujm_sequence' }} {{$index + 1}}</button>
                        </div>
                    </div>
                    <div data-ng-repeat="used in graphicQuestionCtrl.usedHints">
                        <h4>{{used}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
