<div class="row">
    <div class="col-md-12">
        <h4>{{ matchQuestionCtrl.question.title }}</h4>
        
        <div id="divReset">
            <input type="button" name="resetAll"  id="resetAll" value="Reset" class="btn btn-primary">
        </div>
        
        <center>
            <table>
                <tr>
                    <td>
                        <match-question-proposal proposal="{{proposal.data}}" data-ng-repeat="proposal in matchQuestionCtrl.question.firstSet" id="draggable_{{proposal.id}}" class="origin"></match-question-proposal>
                    </td>
                    <td style="padding: 50px;"></td>
                    <td>
                        <match-question-proposal proposal="{{proposal.data}}" data-ng-repeat="proposal in matchQuestionCtrl.question.secondSet" id="droppable_{{proposal.id}}" class="droppable" style="text-align: right;"></match-question-proposal>
                    </td>
                </tr>
            </table>
        </center>
        
    </div>
</div>
