<div class="workspace-group">
    {% for workspace in workspaces %}
        <span class="workspace-whole-element">
            <span class="label label-success workspace-element"
                workspace-id="{{ workspace.getId() }}"
            >
                <i class="icon-book"></i>
                {{ workspace.getName() }}
                <small>({{ workspace.getCode() }})</small>
                &nbsp;
                <i class="icon-remove-sign pointer-hand remove-workspace-btn"></i>
            </span>
            &nbsp;
        </span>
    {% endfor %}
</div>
<br>
<button type="button" class="btn btn-default add-workspace-btn">
    {{ 'add_workspace'|trans({}, 'platform') }}
</button>