<div class="workspace-tag-group">
    {% for tag in tags %}
        <span class="tag-whole-element">
            <span class="label label-danger tag-element"
                workspace-tag-id="{{ tag.getId() }}"
            >
                <span class="open-tag-btn pointer-hand">
                    {{ tag.getName() }}
                </span>
                &nbsp;
                <i class="icon-pencil pointer-hand edit-tag-btn"></i>
                &nbsp;
                <i class="icon-remove-sign pointer-hand remove-tag-btn"></i>
            </span>
            &nbsp;
        </span>
    {% endfor %}
</div>
<br>
<button type="button" class="btn btn-default create-tag-btn ">
    {{ 'create_subcategory'|trans({}, 'platform') }}
</button>
<button type="button" class="btn btn-default add-tag-btn ">
    {{ 'add_subcategory'|trans({}, 'platform') }}
</button>
