// Used by home tabs and home
.alert-default {
    background: @gray-lighter;
    border: 1px solid lighten(@gray, 50%);
    &, a {
        color: @gray;
    }

    .btn-link {
        color: @gray-light;
    }
}

.alert-claroline-danger,
.alert-email-confirm {
    width: 100%;
    position: fixed;
    z-index: 10000; /* @todo: somehow find a "good" z-index */
    top: 35px;
    text-align: center;
}