// Used by home tabs and home
.alert-default {
    background: @gray-lighter;
    border: 1px solid lighten(@gray, 50%);
    &, a {
        color: @gray;
    }

    .btn-link {
        color: @gray-light;
    }
}

.alert-fixed {
    width: 94%;
    position: fixed;
    z-index: 10000; /* @todo: somehow find a "good" z-index */
    top: 65px;
    left: 3%;
    text-align: center;
}

.alert-claroline-danger {
    .alert-fixed;
    top: 35px;
}

.alert-email-confirm {
    .alert-fixed;
    top: 35px;
}