.breadcrumb {
    margin: @breadcrumb-margin-vertical @breadcrumb-margin-horizontal;
    font-size: @breadcrumb-font-size;
    text-transform: @breadcrumb-text-transform;

    .box-shadow(@breadcrumb-box-shadow);
    .border-radius(@breadcrumb-border-radius);


    > li {
        + li:before {
            // by default, bootstrap adds a nbsp after the separator
            // this is not needed because there is an horizontal padding
            // and this breaks the display (the space after the separator is larger than the one before)
            content: "@{breadcrumb-separator}";
        }
    }
}
