.dropdown-menu {
    box-shadow: @dropdown-menu-box-shadow;
    border-radius: @dropdown-menu-border-radius;

    .dropdown-link-danger {
        color: @brand-danger;
    }
}

// todo : check why this is needed
/*.dropdown-menu li label,
.nav.nav-tabs .dropdown li i {
    font-weight: normal !important;
    display: block;
    padding: 5px 15px;
    margin: 0;
    cursor: pointer;

    &:hover, &.active {
        color:@dropdown-link-hover-color;
        background:@dropdown-link-hover-bg;
    }
}*/
