iframe {
    border: none;
    padding: 0;
    width: 100%;
}

html.iframe,
body.iframe {
    margin: 0 !important;
    padding: 0 !important;
    height: auto;
    max-width: 100%;
    background-color: transparent;
}

html.claroline-app-iframe,
html.claroline-app-iframe body {
    /*height: 100%;*/
}

html.iframe {
    overflow: hidden;
}

body.iframe {
    overflow: auto;
    /*overflow-y: auto;*/

    // Hide some UI parts when rendered in an iframe (mostly for Path and Activities)
    // This should not be done here
    .carousel-control, // but why ?
    /*
        We keep it for now as sometimes the query param that permits to avoid server rendering is loosen in symfony
        requests forwarding
    */
    #top_bar,
    #left-bar,
    .footer-container,
    .breadcrumb,
    .menu-xs,
    /* end compatibility */

    .page-header {
        display: none !important;
    }

    // Remove content padding and margin
    // (also remove it from the grid container)
    .app-content {
        padding: 0;
        margin: 0;
    }
}
