.list-group {
    // why ? and where can I see it ?
    // This is maybe for the header of the sidebar
    .list-group-item.disabled {
        padding: 8px 15px !important;
        color: @panel-default-text;
        font-size: (@font-size-base * 1.125);
        background: @panel-default-heading-bg;
    }
}

.list-group-values {
    .list-group-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;

        .value {
            color: #777;
            font-weight: normal;
        }
    }
}
