.list-group {
    // why ? and where can I see it ?
    // This is maybe for the header of the sidebar
    .list-group-item.disabled {
        padding: 8px 15px !important;
        color: @panel-default-text;
        font-size: (@font-size-base * 1.125);
        background: @panel-default-heading-bg;
    }

    .list-group-item-variant(selected; @state-info-bg; @state-info-text);
}

.list-group-values {
    .list-group-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;

        .value {
            color: #777;
            font-weight: normal;
        }
    }
}

.checkbox.list-group-item {
    margin-top: 0;

    // Hover state
    &:not(.list-group-item-selected):hover,
    &:not(.list-group-item-selected):focus {
        color: @list-group-link-hover-color;
        background-color: @list-group-hover-bg;
    }
}
