.list-group {
    // why ? and where can I see it ?
    // This is maybe for the header of the sidebar
    .list-group-item.disabled {
        padding: 8px 15px !important;
        color: @panel-default-text;
        font-size: (@font-size-base * 1.125);
        background: @panel-default-heading-bg;
    }
}
