.please-wait {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: @zindex-modal;
    display: none;
    text-align: center;
    background-color: @loader-bg;
    color: @loader-color;
    font-size: @loader-font-size;
    padding: @loader-padding;
    border-radius: @loader-border-radius;
    border: 1px solid @loader-border;
    width: 200px;

    .box-shadow(@loader-box-shadow);
}

.loading-row {
    height: 100px;
    text-align: center !important;
    line-height: 80px;
}

.loading {
    background: transparent url("../../bundles/clarolinecore/images/loading.gif") no-repeat;
    width: 16px;
    height: 16px;
    margin: 0 0 10px 0;
}

// Angular loading bar
#loading-bar .bar {
    top: @navbar-height + 5px !important;
}
#loading-bar-spinner {
    top: @navbar-height + 15px !important;
}