.metric-card {
    padding: @panel-body-padding;
    text-align: center;
    background: #eee;
    border-radius: 6px;
    //margin-bottom: @component-margin-bottom;

    .metric-card-gauge {
        .gauge-border-empty  {
            fill: white;
        }
    }

    .metric-card-title {
        margin-bottom: 0;
    }
}
