.nav {
    > .active > a {
        outline: none;
    }
}

// more configurable nav-tabs
.nav-tabs > li {
    > a {
        color: @nav-tabs-link-color;
        margin-right: @nav-spacing;
        border-radius: @nav-tabs-border-radius @nav-tabs-border-radius 0 0; // make border radius configurable
    }
}

// adds more vars to configure nav-pills behavior
// Also rewrite the space between navs to create it the same way `.nav-tabs`
// this fixes a wrong left alignment when tabs breaks on multi-lines
.nav-pills > li {
    > a {
        color: @nav-pills-link-color;
        background: @nav-pills-link-bg;
        margin-right: @nav-spacing; // create space between tabs
    }

    &:last-child > a {
        margin-right: 0;
    }

    + li > a {
        margin-left: 0; // removes default bootstrap behavior
    }
}

// rewrite stacked pills to use new vars and spacing
.nav-stacked > li {
    > a {
        margin-top: @nav-spacing; // use new var for v-spacing
        margin-right: 0; // horizontal spacing is not needed in this case
    }

    + li, // removes default bootstrap behavior
    &:first-child > a {
        margin-top: 0;
    }
}

// lateral nav like in the profile
.lateral-nav {
    padding: 0;
    margin-bottom: @component-margin-bottom;

    .lateral-nav-actions {
        > .btn {
            padding: 0;
        }
    }

}

.lateral-link {
    display: block;
    text-align: left;
    padding: 10px 15px;
    border: 1px solid transparent;
    color: @text-color;
    background: #ebebeb;
    text-decoration: none;
    border-radius: @border-radius-base;

    > .fa {
    margin-right: @icon-text-spacer;
    }

    &.active {
        background: @summary-bg;
        color: @summary-link-active-color;
        padding-right: 30px;
        margin-right: floor(-@grid-gutter-width / 2);
        border-top-right-radius: @grid-gutter-width;
        border-bottom-right-radius: @grid-gutter-width;

        .box-shadow(@summary-box-shadow);
    }

    +.lateral-link {
        margin-top: 5px;
    }
}

.lateral-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
