.pagination-container {
    .pagination + .results-per-page,
    .pagination-condensed + .results-per-page {
        margin-left: 10px;
    }
}

.results-per-page {
    display: inline-block;
    .btn {
        .pagination-btn-variant();

        .fa {
            margin-left: @icon-text-spacer;
        }
    }

    .dropdown-menu {
        min-width: 100%;
        text-align: right;
    }
}

// new widget
.pagination-condensed {
    .btn {
        .pagination-btn-variant();

        &.btn-next {
            font-weight: bold;
            .fa {
                margin-left: @icon-text-spacer;
            }
        }
    }

    // customize page selector dropdown
    .dropdown-menu {
        min-width: 100%;

        // fix height if there is lots of pages
        max-height: 220px;
        overflow: auto;
    }
}

.pagination {
    margin: 0;

    ul {
        .pagination;
    }
}
