.panel {
    margin-bottom: @panel-margin-bottom; // change the bootstrap @line-height-computed var
    .box-shadow(@panel-box-shadow); // just override bootstrap to use a var.

    .panel-heading {
        position: relative; // used to create an absolute button bar in the right corner
    }

    .panel-body img {
        max-width: 100%;
    }

    // Changes some components behaviors when they are inside a panel
    > table thead tr td,
    > table tbody tr td,
    > table thead tr th,
    > table tbody tr th,
    > table tr td,
    > table tr th,
    .workspace-list-pager > table tr td,
    .workspace-list-pager > table tr th {
        padding-right: 14px !important;
        padding-left: 14px !important;
    }

    form > .list-group {
        margin-bottom: 0;
        > .list-group-item {
            border-left: none;
            border-right: none;
            border-bottom: none;
            .border-top-radius(0);
            .border-bottom-radius(0);
        }
    }

    // remove box-shadow of some components when contained in a panel
    .panel,
    .breadcrumb, // this should not happen
    .table > tbody {
         .box-shadow(none);
     }

    .table > tbody {
        border: none;
    }
}

.panel-group {
    > div, // allow containers (some SPA requires additional containers, cf. quizzes editor)
    .panel {
        + div, // allow containers (some SPA requires additional containers, cf. quizzes editor)
        + .panel {
            margin-top: @panel-group-panel-margin; // use a var
        }
    }

    .panel-title > a {
        display: block; // make the click zone fill the parent block
        cursor: pointer; // the <a> tag to toggle the panel has no href, so the cursor do not change properly
    }

    .panel-title.opened {
        color: @brand-primary;
        font-weight: bold;
    }
}