
.slider {
    position: relative;
    overflow: visible;
    height: 8px;

    .progress-bar {
        transition: none !important; // to avoid delay when user change value
    }
}

.slider-cursor {
    position: absolute;
    top: -6px; // TODO : calculate
    margin-left: -8px;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    border: 1px solid @brand-primary;

    .box-shadow(@box-shadow-base);
}
