/**
 * Styles for summary
 *
 * ATTENTION : the current styles are set to only display the summary in the app menu.
 */


.summary {
    margin: 0;
    padding: 0;

    .step-children {
        padding-left: @summary-lvl-indent !important;
    }
}

.summary-link-container {
    list-style: none;
    font-size: @summary-font;
    font-style: @summary-font-style;
}

.summary-link {
    background-color: @summary-link-bg;
    display: flex;
    align-items: center;

    &:hover {
        background-color: @summary-link-hover-bg;
    }

    &.active,
    &:focus {
        color: @summary-link-active-color;
        background: @summary-link-active-bg;
    }
}

.summary-link-actions {
    white-space: nowrap; // avoid buttons to be displayed in column
}

.btn-summary-primary,
.btn-summary {
    border: none;
    font-size: @summary-font; // required to override default button size
    color: @summary-link-color;
    padding: floor(@grid-gutter-width / 2) 0;

    &:hover {
        color: @summary-link-hover-color;
        background: @summary-link-hover-bg;
    }

    &:focus,
    &:active,
    &.active {
        &,
        &:hover,
        &:focus {
            color: @summary-link-active-color;
            background: @summary-link-active-bg;
        }
    }

    &[disabled],
    &.disabled {
        // avoid focus or hover effect on disabled
        &,
        &:hover,
        &:focus {
            color: @summary-link-disabled-color;
            background: @summary-link-disabled-bg;
        }

        // preserve active state on disabled (because active links are disabled)
        &.active {
            &,
            &:hover,
            &:focus {
                color: @summary-link-active-color;
                background: @summary-link-active-bg;
                opacity: 1;
            }
        }
    }
}

.btn-summary-primary {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: @grid-gutter-width;
    padding-right: 5px;

    .action-icon {
        flex-shrink: 0;
    }

    .action-subscript {
        margin-left: auto;
    }
}

.btn-summary {
    padding-left: 5px;
    padding-right: 5px;
}
