/**
 * Styles for summary
 */


.summary {
    margin: 0;
    padding: 0;

    .step-children {
        padding-left: @summary-lvl-indent !important;
    }
}

.summary-link-container {
    list-style: none;
    font-size: @summary-font;
    font-style: italic; // TODO : use a var

    .active {
        .step-progression {
            color: @summary-link-active-color !important; // override status color
        }
    }

    .btn-summary {
        .btn-link;
    }

    a,
    button,
    .btn-summary {
        font-size: @summary-font; // required to override default button size
        color: @summary-link-color;
        padding: floor(@grid-gutter-width / 2) 0;

        &:hover {
            color: @summary-link-hover-color;
            background: @summary-link-hover-bg;
        }

        &.active,
        &:active,
        &:focus {
            color: @summary-link-active-color;
            background: @summary-link-active-bg;
        }
    }
}

.summary-link {
    background-color: @summary-link-bg;
    display: flex;
    align-items: center;

    &:hover {
        background-color: @summary-link-hover-bg;
    }

    > a,
    > button {
        border: none;
        flex: 1;
        display: flex;
        align-items: center;
        padding: floor(@grid-gutter-width / 2) 0 floor(@grid-gutter-width / 2) 30px;
    }
}

.summary-link-actions {
    white-space: nowrap; // avoid buttons to be displayed in column

    .btn-summary {
        padding: 2px;
    }
}
