.tag-cloud-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;

  .btn-link {
    padding: 0;
  }

  .tag-cloud {
    border: 0;
    padding-right: 6px;
  }
}
