.treeview li ul
{
    margin: 0 0 0 22px;
}

.treeview li
{

    list-style: none;
    user-select: none;
}

.treeview-hidden {
    display:none;
}

.treeview-pointer {
    cursor: pointer;
}

.treeview-button-common
{
    display: inline-block;
    margin: 2px 0 0;
    width: 13px;
    height: 13px;
    text-align: center;
    font-size: 8px;
    line-height: 13px;
    transform: translatex(-15px);
    position: absolute;
}

.treeview-content {
    padding-left: 5px;
}
