
// Sizing

$font-size-root: 18px;
$font-weight-base: 300;

// Colors
//$primary:   #148AC7; // #046d8a
//$success:   #4f7302;
//$secondary: #C51162;
//$info:      #335768;
//$warning:   #ED9E2F;
//$danger:    #bf0404;
//$progression: #C51162;

//$gray

// colors for SVG theme icons
//$icon-primary-color: $primary;
//$icon-secondary-color: $gray-900;

// Fonts

//$font-family-sans-serif: "Roboto", Arial, sans-serif;
//$headings-font-family:   "Nunito", Arial, sans-serif;


// Shadows

$enable-shadows: true;

//$box-shadow: null;
//$box-shadow-sm: null;
//$box-shadow-lg: null;

//$btn-box-shadow: null;


// Rounding

$enable-rounded: true;

//$border-radius: null;
//$border-radius-sm: null;
//$border-radius-lg: null;

// make some components fully rounded
//$btn-border-radius:    $border-radius-pill;
//$btn-border-radius-sm: $border-radius-pill;
//$btn-border-radius-lg: $border-radius-pill;

//$badge-border-radius:  $border-radius-pill;
