/**
 * Default Claroline theme.
 */

@import "../../../../../main/app/Resources/styles/index";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

/*.claroline-app body {
  background-color: @body-bg; // fallback to body color if theme has no image
  background-image: url("@{images-path}bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}*/

// customize theme
@import "variables";
