.tool-rights-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .tool-rights-title {
        font-weight: bold;
    }

    .tool-rights-actions {
        display: flex;

    }

    .checkbox {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 20px;
    }
}
