{% extends "ClarolineCoreBundle:Administration\\Facet:facetModalForm.html.twig" %}

{% block form %}
    <form role="form" class="form-horizontal" action="{{ path('claro_admin_field_facet_create', {'facet': facet.getId()}) }}" method="post" {{ form_enctype(form) }} id="form_field_creation">
        <div class="modal-body">
            {{ form_widget(form) }}
        </div>
        <div class="modal-footer">
            <button id="submit-field-creation-form" class="btn btn-primary" aria-hidden="true">{{ 'create'|trans({}, 'platform') }}</button>
        </div>
    </form>
{% endblock %}