<div class="alert-fixed">
    <div uib-alert class="alert col-md-12" data-ng-repeat="alert in vm.alerts" data-dismiss-on-timeout="3000" data-type="{{alert.type}}" data-close="vm.closeAlert($index)">{{alert.msg | trans:{}:'platform'}}</div>
</div>
<form class="form-horizontal" autocomplete="false" id="form_user_config" name="user_config" novalidate>
    <div id="claroline_external_synchronization_source_form">
        <div class="form-group row">
            <label class="control-label col-md-3 required"
                   for="claroline_external_synchronization_source_table_name">
                {{ 'user_table_name' | trans:{}:'claro_external_user_group' }}
            </label>
            <div class="col-md-9">
                <select name="claroline_external_synchronization_source_table_name"
                        data-ng-disabled="vm.is_request_pending"
                        id="claroline_external_synchronization_source_table_name"
                        class="form-control"
                        data-ng-model="vm.sourceConfig.user_config.table"
                        data-ng-change="vm.tableChange()"
                        data-ng-options="option for option in vm.tableNames"
                        required="required">
                    <option value="">-- {{ 'choose_table' | trans:{}:'claro_external_user_group' }} --</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-3 required"
                   for="claroline_external_synchronization_source_field_id">
                {{ 'id_field_name' | trans:{}:'claro_external_user_group' }}
            </label>
            <div class="col-md-9">
                <select name="claroline_external_synchronization_source_field_id"
                        data-ng-disabled="!vm.sourceConfig.user_config.table || vm.is_request_pending || !vm.tableFieldNames.length"
                        id="claroline_external_synchronization_source_field_id"
                        class="form-control"
                        data-ng-model="vm.sourceConfig.user_config.fields.id"
                        data-ng-options="option for option in vm.tableFieldNames"
                        required="required">
                    <option value="">-- {{ 'choose_field' | trans:{}:'claro_external_user_group' }} --</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-3 required"
                   for="claroline_external_synchronization_source_field_username">
                {{ 'username_field_name' | trans:{}:'claro_external_user_group' }}
            </label>
            <div class="col-md-9">
                <select name="claroline_external_synchronization_source_field_username"
                        data-ng-disabled="!vm.sourceConfig.user_config.table || vm.is_request_pending || !vm.tableFieldNames.length"
                        id="claroline_external_synchronization_source_field_username"
                        class="form-control"
                        data-ng-model="vm.sourceConfig.user_config.fields.username"
                        data-ng-options="option for option in vm.tableFieldNames"
                        required="required">
                    <option value="">-- {{ 'choose_field' | trans:{}:'claro_external_user_group' }} --</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-3 required"
                   for="claroline_external_synchronization_source_field_first_name">
                {{ 'first_name_field_name' | trans:{}:'claro_external_user_group' }}
            </label>
            <div class="col-md-9">
                <select name="claroline_external_synchronization_source_field_first_name"
                        data-ng-disabled="!vm.sourceConfig.user_config.table || vm.is_request_pending || !vm.tableFieldNames.length"
                        id="claroline_external_synchronization_source_field_first_name"
                        class="form-control"
                        data-ng-model="vm.sourceConfig.user_config.fields.first_name"
                        data-ng-options="option for option in vm.tableFieldNames"
                        required="required">
                    <option value="">-- {{ 'choose_field' | trans:{}:'claro_external_user_group' }} --</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-3 required"
                   for="claroline_external_synchronization_source_field_last_name">
                {{ 'last_name_field_name' | trans:{}:'claro_external_user_group' }}
            </label>
            <div class="col-md-9">
                <select name="claroline_external_synchronization_source_field_last_name"
                        data-ng-disabled="!vm.sourceConfig.user_config.table || vm.is_request_pending || !vm.tableFieldNames.length"
                        id="claroline_external_synchronization_source_field_last_name"
                        class="form-control"
                        data-ng-model="vm.sourceConfig.user_config.fields.last_name"
                        data-ng-options="option for option in vm.tableFieldNames"
                        required="required">
                    <option value="">-- {{ 'choose_field' | trans:{}:'claro_external_user_group' }} --</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-3 required"
                   for="claroline_external_synchronization_source_field_email">
                {{ 'email_field_name' | trans:{}:'claro_external_user_group' }}
            </label>
            <div class="col-md-9">
                <select name="claroline_external_synchronization_source_field_email"
                        data-ng-disabled="!vm.sourceConfig.user_config.table || vm.is_request_pending || !vm.tableFieldNames.length"
                        id="claroline_external_synchronization_source_field_email"
                        class="form-control"
                        data-ng-model="vm.sourceConfig.user_config.fields.email"
                        data-ng-options="option for option in vm.tableFieldNames"
                        required="required">
                    <option value="">-- {{ 'choose_field' | trans:{}:'claro_external_user_group' }} --</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-3"
                   for="claroline_external_synchronization_source_field_code">
                {{ 'admin_code_field_name' | trans:{}:'claro_external_user_group' }}
            </label>
            <div class="col-md-9">
                <select name="claroline_external_synchronization_source_field_code"
                        data-ng-disabled="!vm.sourceConfig.user_config.table || vm.is_request_pending || !vm.tableFieldNames.length"
                        id="claroline_external_synchronization_source_field_code"
                        class="form-control"
                        data-ng-model="vm.sourceConfig.user_config.fields.code"
                        data-ng-options="option for option in vm.tableFieldNames">
                    <option value="">-- {{ 'choose_field' | trans:{}:'claro_external_user_group' }} --</option>
                </select>
            </div>
        </div>

    <div class="form-group row">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-primary"
                    data-ng-click="vm.save()"
                    data-ng-disabled="user_config.$invalid">
                {{ 'save' | trans:{}:'platform' }}
            </button>
            <button class="btn btn-default"
                    data-ng-click="vm.cancel()">
                {{ 'cancel' | trans:{}:'platform' }}
            </button>
        </div>
    </div>
</form>