{% for group in groups %}
    <tr>
        <td><input class="checkbox_group_name" id="checkbox_group_{{group.getId()}}" type="checkbox" value="{{group.getId()}}" id="checkbox_user_{{group.getId()}}">{{group.getName()}}</input></td>
    </tr>
{% endfor %}
