{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block section_content %}
<ul class="breadcrumb">
    <li>
        <li>
            <a href="#" class="breadcrumb-link">
                Home
            </a>
        </li>
    </li>
        </ul>
<div class="welcome-home">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum vestibulum mauris. Curabitur blandit blandit scelerisque. Aenean vitae diam eget dolor viverra sodales. Nulla facilisi. Praesent ullamcorper bibendum eleifend. Pellentesque tincidunt, turpis ac sodales euismod, risus lacus malesuada lorem, vel iaculis leo dui at erat. Duis quis neque tortor.</p>

<p>Aenean tempus libero id mi dignissim in dignissim turpis cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed volutpat congue mauris rhoncus mattis. Donec malesuada tristique tortor laoreet posuere. Quisque vestibulum tempus lobortis. Cras sed felis ligula, interdum pharetra metus. Vestibulum volutpat massa quis quam lacinia et lacinia nulla pellentesque. Maecenas eget tempor tortor.</p>

<p>Curabitur vehicula egestas magna, vel convallis sapien consequat sed. Fusce ornare viverra risus, auctor scelerisque orci egestas id. Proin sollicitudin nulla ut nunc rutrum bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed sit amet imperdiet dui. Vivamus sit amet nulla mi. In diam sapien, malesuada eu aliquet non, tincidunt at justo. Praesent ut libero non sem feugiat viverra. Morbi lacus sem, malesuada sed molestie ac, molestie sed dui.</p>

<p>Duis imperdiet cursus arcu, vel luctus mauris ultricies faucibus. In posuere sodales leo in elementum. Sed ornare, nisi in malesuada dapibus, purus sem tincidunt urna, quis mattis metus tellus id felis. Aenean fringilla lobortis pulvinar. Cras varius neque sed mi fringilla posuere. Vivamus nec metus vitae augue luctus sodales ornare sit amet leo. Fusce ornare, turpis eget consectetur auctor, ligula ligula porttitor nibh, sagittis consectetur lorem sem a felis. Sed ac tincidunt purus. Nullam sed erat eget est mattis tempor eu a libero. Phasellus a consectetur sem. Nullam aliquet felis et mi fermentum eu scelerisque orci dapibus. Proin interdum nunc at lorem placerat tempus.</p>

<p>Aenean vulputate fringilla porta. Praesent sed volutpat lectus. Curabitur quam magna, aliquam in mollis ut, dapibus vitae lectus. Curabitur egestas dolor sollicitudin lacus egestas condimentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed aliquam dignissim est, quis luctus est bibendum et. Curabitur aliquet porttitor lectus sit amet aliquet. Donec tortor sapien, porttitor a dignissim vitae, ornare sed eros. Quisque dapibus, tellus nec elementum suscipit, mauris nibh gravida urna, sit amet consequat sem lorem at justo. Praesent fermentum suscipit neque, sed mollis lectus iaculis eu. Aliquam placerat facilisis turpis, cursus placerat mauris commodo ut. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse id sapien ipsum. Integer dui odio, lacinia vel aliquam nec, ultrices non nisi. Vivamus vel quam leo, id rhoncus ligula. Aliquam erat volutpat.</p>
</div>
{% endblock %}
