{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block sectionHeader %}
    {% if not is_path_mode %}
        <div class="row-fluid">
            <div class="span12">
                <h2 class="section-header">
                    {{ workspace.getName() }}
                    <span class="workspace-code">({{ workspace.getCode() }})</span>
                </h2>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if not is_path_mode %}
        {% render "ClarolineCoreBundle:Workspace:renderToolList" with {'workspaceId': workspace.getId()} %}
    {% endif %}
    <div class="section-content">
         {% block section_content %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('[rel=tooltip]').tooltip();
    </script>
{% endblock %}