<div class="tool-list">
    {% for tool in tools %}
        <div class="workspace-toolbox-item">
            <a href="{{ path('claro_workspace_open_tool',
                   {'workspaceId': workspace.getId(), 'toolName': tool.getName()}) }}"
               id="{{ tool.getName() }}-link"
               data-original-title="{{ tool.getName()|trans({}, 'tools') }}"
               data-placement="right">
               <img src="{{ asset(tool.getIcon()) }}" />
            </a>
        </div>
    {% endfor %}
</div>