{% extends 'ClarolineCoreBundle:Workspace:base_template.html.twig' %}
{% block section_content %}
    <div id="div_WS_show">
    {{workspace.getName()}}: {{ 'workspace'|trans({}, 'platformTranslation') }}
    {% if is_granted(workspace.getManagerRole().getName()) %}
        | <a href ="{{path('claro_workspace_show_user_list_workspace', {'id':workspace.getId()})}}" id="link_workspace_users"> {{ 'add_user'|trans({}, 'platformTranslation') }} </a>
    {% endif %}
    </div>
{% endblock %}