stfalcon_tinymce:
    include_jquery: false
    tinymce_jquery: true
    selector: '.deprecated-tinymce'
    use_callback_tinymce_init: true
    external_plugins:
        imagemanager:
            url: 'asset[bundles/clarolinecore/js/tinymce/config.js]'
    tinymce_buttons:
        ressourceLinker: # Id of the first button
            title: 'Resource Linker'
            image: null
        fullscreenToggle: # Put in fullscreen in avanced mode
            title : 'toggle'
            image : null
    theme:
        simple: # deprecated: use "advanced" theme instead
            theme: 'modern'
            invalid_elements: '@[onclick|onunload|onclick|ondblclick|onmousedown|onmouseup|onmouseover|onmousemove|onmouseout|onfocus|onblur|onkeypress|onkeydown|onkeyup|onsubmit|onreset|onselect|onchange],script'
            menubar: false
            toolbar1: 'bold italic underline | ressourceLinker | alignleft aligncenter alignright alignjustify | fullscreenToggle'
        medium: # deprecated: use "advanced" theme instead
            theme: 'modern'
            invalid_elements: '@[onclick|onunload|onclick|ondblclick|onmousedown|onmouseup|onmouseover|onmousemove|onmouseout|onfocus|onblur|onkeypress|onkeydown|onkeyup|onsubmit|onreset|onselect|onchange],script'
            plugins:
                - ' -ressourceLinker fullscreen, emoticons code autolink lists link image charmap print preview hr anchor pagebreak'
                - 'searchreplace wordcount visualblocks visualchars  fullscreen'
                - 'insertdatetime media nonbreaking save table contextmenu directionality'
            menubar: false
            toolbar1: 'bold,italic,underline,undo,redo,removeformat cleanup code | ressourceLinker | fullscreenToggle '
            toolbar2: 'alignleft aligncenter alignright alignjustify | emoticons lists link image charmap print preview hr anchor pagebreak '
            relative_urls : false
        advanced:
            theme: 'modern'
            invalid_elements: '@[onclick|onunload|onclick|ondblclick|onmousedown|onmouseup|onmouseover|onmousemove|onmouseout|onfocus|onblur|onkeypress|onkeydown|onkeyup|onsubmit|onreset|onselect|onchange],script'
            plugins:
                - '-ressourceLinker -fullscreenToggle advlist autolink lists link image charmap print preview hr anchor pagebreak'
                - 'searchreplace wordcount visualblocks visualchars code fullscreen'
                - 'insertdatetime media nonbreaking save table contextmenu directionality'
                - 'emoticons template paste textcolor'
            menubar: false
            toolbar1: 'alignleft aligncenter alignright alignjustify | bold italic | link ressourceLinker | preview fullscreenToggle '
            toolbar2: "styleselect | forecolor backcolor emoticons | stfalcon | media image charmap | table contextmenu directionality "
            toolbar3: "undo redo | hr anchor pagebreak nonbreaking | searchreplace wordcount visualblocks visualchars code | print"
            image_advtab: true
