<div class="panel-body" >
<h1>Débug</h1>
{{ vm.deck.id }}
{{ vm.deckNode.name }}
<pre>
{{ vm.deck }}
</pre>

<pre>
{{ vm.noteTypes }}
</pre>

<pre>
{{ vm.newCards.length }}
</pre>

<pre>
{{ vm.learningCards }}
</pre>

<hr/>

  <table class="table table-condensed table-bordered"
         data-ng-if="vm.learningCards.length > 0 ||
         vm.newCards.length > 0">
    <thead>
      <tr>
        <th>{{ 'new_cards'|trans:'flashcard' }}</th>
        <th>{{ 'card_failed'|trans:'flashcard' }}</th>
        <th>{{ 'card_to_review'|trans:'flashcard' }}</th>
        <!--
        <th colspan="2" data-ng-if="!vm.isReadOnly"></th>
        -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ vm.newCards.length }}</td>
        <td></td>
        <td>{{ vm.learningCards.length }}</td>
        <!--
        <td style="text-align: center" data-ng-if="!vm.isReadOnly">
          <a href="#"
             aria-label="{{ 'edit'|trans }}"
             onclick="return false"
             style="outline: 0"
             data-uib-tooltip="{{ 'edit'|trans }}"
             data-ng-if="result.markId"
             data-ng-click="vm.displayEditionForm(result)">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td style="text-align: center" data-ng-if="!vm.isReadOnly">
          <a href="#"
             aria-label="{{ 'delete'|trans }}"
             onclick="return false"
             style="outline: 0"
             data-uib-tooltip="{{ 'delete'|trans }}"
             data-ng-if="result.markId"
             data-ng-click="vm.confirmDeletion(result)">
            <i class="fa fa-remove"></i>
          </a>
        </td>
        -->
      </tr>
    </tbody>
  </table>

  <div class="alert alert-info"
       data-ng-if="vm.learningCards.length == 0 &&
       vm.newCards.length == 0">
    <i class="fa fa-info-circle"></i>
    {{ 'deck.empty'|trans:'flashcard' }}
  </div>
</div>

<div class="panel-footer" data-ng-if="!vm.isReadOnly">
  <button class="btn btn-primary"
          data-ng-click="">
    {{ 'default_parameters'|trans:'flashcard' }}
  </button>
  <button class="btn btn-primary"
          data-ng-click="">
    {{ 'parameters'|trans:'flashcard' }}
  </button>
  <button class="btn btn-primary"
          data-ng-click="">
    {{ 'cards.show'|trans:'flashcard' }}
  </button>
  <a class="btn btn-primary"
     href="#/study">
    {{ 'study.begin'|trans:'flashcard' }}
  </a>
  <button class="btn btn-primary"
          data-ng-click="vm.displayNoteCreationForm()">
    {{ 'cards.add'|trans:'flashcard' }}
  </button>
</div>
