<div class="panel-body" >
  <h1>Débug</h1>
  <pre>
  {{ vm.newCards.length }}
  </pre>

  <pre>
  {{ vm.learningCards }}
  </pre>

  <pre>
  {{ vm.sessions }}
  </pre>

  <hr/>

  <div class="text-center">
    {{ vm.currentCard }}
    <div ng-repeat="question in vm.questions">
      <span class="h2">{{ question.field_label.name }} : </span>
      <span class="h2">{{ question.value }}</span>
    </div>
    <hr/>
    <div ng-repeat="answer in vm.answers">
      <span class="h2">{{ answer.field_label.name }} : </span>
      <span class="h2">{{ answer.value }}</span>
    </div>
  </div>

  <div class="alert alert-info"
       data-ng-if="vm.learningCards.length == 0 &&
       vm.newCards.length == 0">
    <i class="fa fa-info-circle"></i>
    {{ 'deck.empty'|trans:'flashcard' }}
  </div>
</div>

<div class="panel-footer" data-ng-if="!vm.isReadOnly">
  <a class="btn btn-primary"
     href="#/">
    {{ 'study.stop'|trans:'flashcard' }}
  </a>
  <button class="btn btn-primary"
          data-ng-click="vm.showAnswers()">
    {{ 'show_answer'|trans:'flashcard' }}
  </button>
</div>
