<div class="modal fade" id="unawardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'unaward_modal_title'|trans({}, 'icap_badge') }}</h4>
            </div>
            <div class="modal-body">

                <label><input type="checkbox" id="unawardAlreadyAwarded" /> {{ 'unaward_modal_option_all_users'|trans({}, 'icap_badge') }}</label>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel'|trans({}, 'platform') }}</button>
                <button id="unawardAction"  class="btn btn-primary">{{ 'OK'|trans({}, 'platform') }}</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        var $form = $('form#badge-edit');
        var url = $form.attr('action');
        var baseUrl = url.split("?")[0];

        $('#unawardAction').on('click', function(event) {
            event.preventDefault();

            // Always strip out query string params so they don't show twice in the URL in case of double click
            $form.attr('action', baseUrl);

            // If checkbox is checked, add a query string param
            if ($('#unawardAlreadyAwarded').is(':checked')) {
                $form.attr('action', $form.attr('action') + '?unawardBadge=true');
            }

            // Add hash
            $form.attr('action', $form.attr('action') + '#!edit');

            $form.submit();
        });
    });
</script>