{% extends 'IcapLessonBundle:Lesson:layout.html.twig' %}
{% block lesson_content %}
    <div class='panel panel-default' id='chapter_content'>
        {% include "IcapLessonBundle:Lesson:newChapterForm.html.twig"%}
    </div>
{% endblock %}