<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ _resource.resourceNode.name ~ '.pdf' }}</title>
    {% stylesheets debug=false filter='less' output='bundles/icaplesson/css/pdf.css'
    "@IcapLessonBundle/Resources/views/less/pdf.less"
    %}
    <link rel="stylesheet" type="text/css" href="{{ app.request.getSchemeAndHttpHost() ~ asset_url }}"/>
    {% endstylesheets %}
</head>
<body>
<div class="page-header">
    <h1>{{ _resource.resourceNode.name }}</h1>
</div>

{% if tree is not empty and tree[0] is not empty and tree[0].__children is not empty %}
    <div class="pdf-contents" style="margin-top:15px;">
        <div class="pdf-contents-inner well">
            <div class="pdf-contents-title">
                {{ 'chapter_list_header'|trans({}, 'icap_lesson') }}
            </div>
            {% include "IcapLessonBundle:Lesson:lessonContents.pdf.twig" with {'chapters' : tree[0].__children, 'delimeter' : '.', 'rootId' : tree[0].id} %}
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="lesson-chapters">
        {% include "IcapLessonBundle:Lesson:lessonChapters.pdf.twig" with {'chapters' : tree[0].__children, 'lessonId' : _resource.id} %}
    </div>
{% endif %}
</body>
</html>