<header>
    <h1>
        <a href="%platform_url%">
            <img src="%platform_logo%" alt="Logo" />
            %platform_name%

            <small>
                %platform_secondary_name%
            </small>
        </a>
    </h1>
</header>

<main>
    Bonjour %current_user_first_name%,

    <p>
        %content%
    </p>
</main>

<footer>
    Powered by %platform_name%
</footer>
