<p>You asked to reset your password. If you did not ask for it, please just ignore this message.</p>

<div>Your username is %username%</div>

<a href="%password_reset_link%">
    Click here to reinitialize your password
</a>
