@media (max-width: 1024px) {
    .resource-manager, .creator {
        .navbar {

            > ul > li {
                float: left;
            }

            > .navbar-nav,
            > .navbar-form {
                margin: 0;
                border: none;
            }
        }
    }
}

.resource-manager {
    position: relative;

    .navbar {
        /*margin: 0;*/

        label,
        input[type=checkbox] {
            margin: 0; // this makes the navbar taller and breaks the display (items are not correctly v-centered)
        }

        a.disabled {
            &,
            &:hover {
                color: lighten(@gray-light, 20%);
            }

            .caret {
                visibility: hidden;
            }
        }

        .nav > li > a {
            cursor: pointer; // needed because a tags have no href
        }
    }

    .filters {
        background: #fff;
        border: 1px solid @gray-lighter;
        .box-shadow(0 1px 3px rgba(0,0,0,.25));
        border-radius: @border-radius-base;
        z-index: (@zindex-modal-background - 11);

        .row {
            position: relative;
        }

        .filters-arrow {
            border-color: transparent transparent #fff transparent;
            border-style: solid;
            border-width: 10px;
            height: 0;
            width: 0;
            position: absolute;
            top: -23px;
            right: 27px;
            z-index: (@zindex-modal-background - 9);
        }

        .filters-arrow-border {
            border-color: transparent transparent @gray-lighter transparent;
            border-style: solid;
            border-width: 10px;
            height: 0;
            width: 0;
            position: absolute;
            top: -24px;
            right: 27px;
            z-index: (@zindex-modal-background - 10);
        }
    }

    .resources {
        margin: 0;
        padding: 0 0 10px 0;

        &.dropzone {
            padding-bottom: 50px;
        }
    }

    .results {
        padding-left: 20px;

        table {
            margin-top: 20px;

            /* see bootstrap's breadcrumb.less */
            td span.result-breadcrumb {
                &+span.result-breadcrumb:before {
                    content: "/\00a0";
                    padding: 0 5px;
                    color: @breadcrumb-color;
                }
            }
        }

        .checkbox-column {
            width: 18px;
        }
    }
}

/************/
/**  ZOOM  **/
/************/

/** In this case is not posible to use css3 scale property **/

@resourceElementWidth: 71;
@resourceElementHeight: 80;
@resourceThumbnailWidth: 100;
@resourceThumbnailHeight: 150;

.nodes{
    .node-zoom(@width, @height, @percent)
    {
        width: unit(round((@width * @percent)/ 100), px);
        height: unit(round((@height * @percent) / 100), px);
    }

    .node-zoom-rules(@size, @font-size, @line-height)
    {
        .node-thumbnail.zoom@{size}
        {
            .node-zoom(@resourceThumbnailWidth, @resourceThumbnailHeight, @size);

            .node-element {
                .node-zoom(@resourceElementWidth, @resourceElementHeight, @size);
            }

            .node-name {
                font-size: @font-size;
            }
        }
    }

    .node-zoom-rules(50, 7px, 10px);
    .node-zoom-rules(75, 10px, 15px);
    .node-zoom-rules(100, 12px, 18px);
    .node-zoom-rules(125, 16px, 18px);
    .node-zoom-rules(150, 18px, 20px);
    .node-zoom-rules(200, 20px, 28px);

    .node-thumbnail {

        &.ui-state-default {
            border: none;
            background: none;
            .node-name:not(.text-muted) {
                font-weight: normal;
                color: @gray-dark;
            }
        }

        .node-element {
            background-position: center center;
            background-size: auto 100% ;
            background-repeat: no-repeat;
            padding: 0px;
            margin: 5px 0 5px 15%;
            cursor: pointer;
            &.unpublished {
                opacity: 0.5;
                filter: grayscale(100%);
            }
        }

        .checkbox-left {
            float: left;
        }

        input[type=checkbox] {
            vertical-align: top;
            margin-left: 0;
        }

        .node-name {
            display: block;
            text-align: center;
            overflow: hidden;
            word-wrap: break-word;
        }

        .dropdown-toggle {
            color: #000;
        }
    }

    .node-rights-form
    {
        margin: 0 10px 10px 10px;

        input.pull-right
        {
            margin-bottom: 10px;
        }
    }

    .node-thumbnail
    {
        display: inline-block;
        margin: 10px 0 0 10px;
        padding: 0;
        vertical-align: top;
        position: relative;
    }
}

.dropzone {
    border-style: dotted;
    min-height: 100px;

    &-text {
        font-size: 15px;
        font-weight: bold;
        font-family: @font-family-base;
        text-align: center;
        margin-top: -30px;
        line-height: 30px;
    }
}

.resources-progress-bar {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.resources-progress-bar > div {
    font-weight: bold;
    margin: auto;
    position: relative;
    width: 80%;
    top: 50%;
}

/* Widget-tree style */
.widget-tree {
    padding: 10px;
}

.widget-tree > ul {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.widget-tree li {
    list-style-type: none;
    margin: 0;
    padding: 10px 5px 0 5px;
    position: relative;
}

.widget-tree li::before,
.widget-tree li::after {
    content: '';
    left: -20px;
    position: absolute;
    right: auto;
}

.widget-tree li::before {
    border-left: 1px solid @gray-light;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px;
}

.widget-tree li::after {
    border-top: 1px solid @gray-light;
    height: 20px;
    top: 25px;
    width: 25px;
}

.widget-tree li span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid @gray-light;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 8px;
    text-decoration: none;
}

.widget-tree li span.empty {
    color: @gray;
    font-style: italic;
    border: none;
}

.widget-tree > ul > li::before,
.widget-tree > ul > li::after {
    border:0
}

.widget-tree li.widget-tree-parent-node > span,
.widget-tree li.widget-tree-parent-node a {
    cursor: pointer;
}

.widget-tree li:last-child::before {
    height: 30px;
}

.widget-tree li.widget-tree-parent-node > span:hover{
    background: @gray-lighter;
    border:1px solid @gray;
}
