plugin:
    tools:
        - name: evaluation
          class: award
          is_displayable_in_workspace: true
          is_displayable_in_desktop: true
          tool_rights:
              - name: show_evaluations

    data_sources:
        - name: resource_attempts
          type: list
          context: [ workspace, desktop ]
          tags: [ activity, content ]

        - name: resource_evaluations
          type: list
          context: [ workspace, desktop ]
          tags: [ activity, content ]

        - name: workspace_evaluations
          type: list
          context: [ activity, workspace, desktop ]
          tags: [ content ]

    templates:
        - name: workspace_participation_certificate
          type: pdf
          placeholders:
              - workspace_name
              - workspace_code
              - workspace_description
              - workspace_poster
              - user_first_name
              - user_last_name
              - user_username
              - evaluation_duration
              - evaluation_status
              - evaluation_datetime
              - evaluation_date
              - evaluation_time

        - name: workspace_success_certificate
          type: pdf
          placeholders:
              - workspace_name
              - workspace_code
              - workspace_description
              - workspace_poster
              - user_first_name
              - user_last_name
              - user_username
              - evaluation_duration
              - evaluation_status
              - evaluation_datetime
              - evaluation_date
              - evaluation_time
              - evaluation_score
              - evaluation_score_max
