<form class="form-horizontal widget-content-config-form"
      action="{{ path('icap_badge_badge_usage_update_config', {'widgetInstance': instance.id}) }}"
      method="post"
      novalidate
>
    <div class="panel-body">
        {{ form_widget(form) }}
    </div>
</form>
