<form
<p>{{ 'Do you want to valid all drop started but not validated yet ?'|trans({},'icap_dropzone') }}</p>

<div class="panel panel-default">
    <div class="panel-body"><p class="text-muted">
            <span class="fa fa-info-circle"></span> {{ 'dropzone_startedNotValidatedYet_infos'|trans({},'icap_dropzone') }}
        </p>
    </div>
</div>
