{% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}
<form class="form-horizontal widget-content-config-form" id="rss-reader-form"
      action="{{ path('claro_rss_config_update', {'widget': config.getId()}) }} "
      method="post" {{ form_enctype(form) }}
>
    <div class="panel-body">
        {{ form_widget(form) }}
    </div>
</form>