name: Docker Compose Actions Workflow

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - name: Build the stack
        # run: docker-compose up # remove -d in order to see the build output in gh actions for debugging - you'll need to cancel the run manually once it's done
        run: docker-compose -f docker-compose.prod.yml up -d
      - name: Test 127.0.0.1
        run: |
          docker run \
          --network container:claroline-web \
          curlimages/curl -s \
          --connect-timeout 30 \
          --max-time 600 \
          --retry 20 \
          --retry-delay 30 \
          --retry-max-time 600 \
          --retry-all-errors \
          http://127.0.0.1/

