<form method="post" class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">{{ 'exercise_player_panel_title'|trans:{}:'exercise_player' }}</h3>
            <div class="btn-group pull-right">
                <button type="button" role="button" class="btn btn-default fa" data-toggle="tooltip" data-container="body" data-ng-class="{'fa-arrow-circle-down':playerEditCtrl.isCollapsed, 'fa-arrow-circle-up':!playerEditCtrl.isCollapsed}" data-ng-click="playerEditCtrl.isCollapsed = !playerEditCtrl.isCollapsed" title="{{ 'exercise_player_panel_hide'|trans:{}:'exercise_player' }}"></button>
                <button class="btn btn-default fa fa-save" data-toggle="tooltip" data-container="body" title="{{ 'exercise_player_save'|trans:{}:'exercise_player' }}" data-ng-click="playerEditCtrl.update()"></button>
            </div>
        </div>
        <div class="panel-body" ng-hide="playerEditCtrl.isCollapsed">
            <div class="form-group row">
                <label class="control-label col-md-3" for="name">{{ 'exercise_player_name'|trans:{}:'exercise_player' }}</label>
                <div class="col-md-9">
                    <input id="name" name="name" class="form-control" type="text" data-ng-model="player.name" required="required" />
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3" for="player_description">{{ 'exercise_player_description'|trans:{}:'exercise_player' }}</label>
                <div class="col-md-9">
                    <textarea id="player_description" name="description" data-ui-tinymce="playerEditCtrl.tinymceOptions" class="form-control" type="text" data-ng-model="player.description" ></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3" for="startDate">{{ 'exercise_player_start_date'|trans:{}:'exercise_player' }}</label>
                <div class="col-md-9">
                    <input type="text" id="startDate" name="startDate" class="form-control" data-datepicker-popup="yyyy-MM-dd" data-ng-model="player.startDate" is-open="playerEditCtrl.startDateIsOpened" datepicker-options="playerEditCtrl.dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3" for="endDate">{{ 'exercise_player_end_date'|trans:{}:'exercise_player' }}</label>
                <div class="col-md-9">
                    <input type="text" id="endDate" name="endDate" class="form-control" data-datepicker-popup="yyyy-MM-dd" data-ng-model="player.endDate" is-open="playerEditCtrl.endDateIsOpened" datepicker-options="playerEditCtrl.dateOptions" date-disabled="disabled(date, mode)" ng-required="false" />
                </div>
            </div>
        </div>

    </div>
</form>