{% extends 'ClarolineCommonBundle::content_layout.html.twig' %}

{% block content %}

<div class="section" id="administration">
    
    <h4>{{ 'admin.administration'|trans({}, 'ClarolineAdminBundle') }}</h4>
    
    {% block section_content %}{% endblock %}

<div>

{% endblock %}