{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block title %}{{ 'desktop' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block content %}
    {% block section_panel %}
        <div class="panel panel-default">
            {% block section_content %}{% endblock %}
        </div>
    {% endblock %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        {% if app.user and
              app.user.getOptions() is not empty and
              app.user.getOptions().getDesktopBackgroundColor() is not empty
        %}
            body {
                background-color: {{ app.user.getOptions().getDesktopBackgroundColor() }};
            }
        {% endif %}
    </style>
{% endblock %}
