
// FIXME: this is ugly to do it like it
// if there are additional containers, I'm fucked and it may be required by some other components too
.page-content > .data-details {
    &:first-child {
        margin-top: @component-margin-bottom;
    }
}

.data-details-empty {
    color: @input-color-placeholder;
    font-style: italic;
}

.embedded-details-section {
    .primary-section {
        // removes panel styles
        box-shadow: none;
        border: none;
        border-radius: 0;
        margin-bottom: 0;
    }

    .sections {
        margin: 0;

        .panel {
            box-shadow: none; // this may be applied to all panels in modals
            border-radius: 0;
            border-left: 0;
            border-right: 0;

            + .panel {
                border-top: none;
                margin: 0;
            }
        }
    }
}
